###
### counter_${MOTION_CAMERA}
###

- id: motion_counter_${MOTION_CAMERA}
  alias: motion_counter_${MOTION_CAMERA}
  initial_state: on
  trigger:
    platform: state
    entity_id: sensor.motion_event_end
  condition:
    - condition: template
      value_template: >
        {{ is_state('binary_sensor.motion_end_state','on') and state_attr('motion_event_end','camera') == "${MOTION_CAMERA}" }}
  action:
    - service: counter.increment
      entity_id: counter.motion_end_counter_${MOTION_CAMERA}

- id: motion_annotated_counter_${MOTION_CAMERA}
  alias: motion_annotated_counter_${MOTION_CAMERA}
  initial_state: on
  trigger:
    platform: state
    entity_id: binary_sensor.motion_annotated_${MOTION_CAMERA}
  condition:
    - condition: template
      value_template: >-
        {{ is_state('binary_sensor.motion_annotated_${MOTION_CAMERA}','on') }}
  action:
    - service: counter.increment
      entity_id: counter.motion_annotated_counter_${MOTION_CAMERA}

- id: motion_detected_counter_${MOTION_CAMERA}
  alias: motion_detected_counter_${MOTION_CAMERA}
  initial_state: on
  trigger:
    platform: state
    entity_id: binary_sensor.motion_detected_${MOTION_CAMERA}
  condition:
    - condition: template
      value_template: >-
        {{ is_state('binary_sensor.motion_annotated_${MOTION_CAMERA}','on') }}
  action:
    - service: counter.increment
      entity_id: counter.motion_detected_counter_${MOTION_CAMERA}

- id: motion_detected_entity_counter_${MOTION_CAMERA}
  alias: motion_detected_entity_counter_${MOTION_CAMERA}
  initial_state: on
  trigger:
    platform: state
    entity_id: binary_sensor.motion_detected_entity_${MOTION_CAMERA}
  condition:
    - condition: template
      value_template: >-
        {{ is_state('binary_sensor.motion_detected_entity_${MOTION_CAMERA}','on') }}
  action:
    - service: counter.increment
      entity_id: counter.motion_detected_entity_counter_${MOTION_CAMERA}
