- platform: template
  sensors:
    motion_${MOTION_CAMERA}:
      entity_id:
        - sensor.motion_event_end
      value_template: >
        {% if states.sensor.motion_event_end is defined 
              and states.sensor.motion_event_end.state is defined 
              and states.sensor.motion_event_end.attributes.event.camera is defined %}
          {{ states.sensor.motion_event_end.state == 'True' and states.sensor.motion_event_end.attributes.camera == "${MOTION_CAMERA}" }}
        {% else %}False{% endif %}
    motion_annotated_${MOTION_CAMERA}:
      entity_id:
        - sensor.motion_event_annotated
      value_template: >
        {% if states.sensor.event_annotated is defined 
              and states.sensor.motion_event_annotated.state is defined 
              and states.sensor.motion_event_annotated.attributes is defined 
              and states.sensor.motion_annotated_event.attributes.event is defined 
              and states.sensor.motion_event_annotated.attributes.event.camera is defined %}
          {{ states.sensor.motion_event_annotated.state == 'True' and states.sensor.motion_event_annotated.attributes.event.camera == "${MOTION_CAMERA}" }}
        {% else %}False{% endif %}
    motion_detected_${MOTION_CAMERA}:
      entity_id:
        - sensor.motion_event_annotated
      value_template: >
        {% if states.sensor.event_annotated is defined 
              and states.sensor.motion_event_annotated.state is defined 
              and states.sensor.motion_detected_count is defined 
              and states.sensor.motion_detected_count.state is defined 
              and states.sensor.motion_detected_count.state|int is number
              and states.sensor.motion_event_annotated.attributes is defined 
              and states.sensor.motion_event_annotated.attributes.event is defined 
              and states.sensor.motion_event_annotated.attributes.event.camera is defined %}
          {{ states.sensor.motion_event_annotated.state == 'True' and states.sensor.motion_detected_count.state|int > 0 and states.sensor.motion_event_annotated.attributes.event.camera == "${MOTION_CAMERA}" }}
        {% else %}False{% endif %}
    motion_detected_entity_${MOTION_CAMERA}:
      entity_id:
        - sensor.motion_event_annotated
      value_template: >
        {% if states.sensor.event_detected_entity is defined 
              and states.sensor.motion_event_annotated.state is defined 
              and states.sensor.motion_detected_entity_count is defined 
              and states.sensor.motion_detected_entity_count.state is defined 
              and states.sensor.motion_detected_entity_count.state|int is number
              and states.sensor.motion_event_annotated.attributes is defined 
              and states.sensor.motion_event_annotated.attributes.event is defined 
              and states.sensor.motion_event_annotated.attributes.event.camera is defined %}
          {{ states.sensor.motion_event_annotated.state == 'True' and states.sensor.motion_detected_entity_count.state|int > 0 and states.sensor.motion_event_annoated.attributes.event.camera == "${MOTION_CAMERA}" }}
        {% else %}False{% endif %}
