###
### highlow BINARY_SENSOR (low, high, low_persistent, high_persistent)
###
### Example:
###  - PKG="${PKG}"
###  - SENSOR="${SENSOR}"
###  - ITEM="${ITEM}"
###  + Produces:
###	> binary_sensor.${PKG}_${SENSOR}_${ITEM}_count_low
###	> binary_sensor.${PKG}_${SENSOR}_${ITEM}_count_high
###	> binary_sensor.${PKG}_${SENSOR}_${ITEM}_count_low_persistent
###	> binary_sensor.${PKG}_${SENSOR}_${ITEM}_count_high_persistent
###
### External dependencies:
###  - sensor.${PKG}_${SENSOR}_$(ITEM} (platform: template)
###  - sensor.${PKG}_${SENSOR}_$(ITEM}_statistics (platform: statistics)
###
### Control dependencies:
###  - input_number.${PKG}_${SENSOR}_$(ITEM}_deviation
###

## highlow
- platform: template
  sensors:
    # low
    ${PKG}_${SENSOR}_${ITEM}_low:
      entity_id:
        - sensor.${PKG}_${SENSOR}_${ITEM}
        - sensor.${PKG}_${SENSOR}_${ITEM}_statistics
        - input_number.${PKG}_${SENSOR}_${ITEM}_deviation
      value_template: >-
        {% if states.sensor.${PKG}_${SENSOR}_${ITEM} is defined
           and states.sensor.${PKG}_${SENSOR}_${ITEM}.state is defined
           and states.sensor.${PKG}_${SENSOR}_${ITEM}.state|float is number
           and states.sensor.${PKG}_${SENSOR}_${ITEM}_statistics is defined
           and states.input_number.${PKG}_${SENSOR}_${ITEM}_deviation is defined
           and states.input_number.${PKG}_${SENSOR}_${ITEM}_deviation.state is defined
           and states.input_number.${PKG}_${SENSOR}_${ITEM}_deviation.state|float is number
           and states.sensor.${PKG}_${SENSOR}_${ITEM}_statistics.attributes is defined
           and states.sensor.${PKG}_${SENSOR}_${ITEM}_statistics.attributes.standard_deviation is defined
           and states.sensor.${PKG}_${SENSOR}_${ITEM}_statistics.attributes.standard_deviation|float is number
           and states.sensor.${PKG}_${SENSOR}_${ITEM}_statistics.attributes.standard_deviation|float > 0 %}
          {{ (((states.sensor.${PKG}_${SENSOR}_${ITEM}_statistics.state|float) - (states.sensor.${PKG}_${SENSOR}_${ITEM}.state|float)) / (states.sensor.${PKG}_${SENSOR}_${ITEM}_statistics.attributes.standard_deviation|float) > (states.input_number.${PKG}_${SENSOR}_${ITEM}_deviation.state|float)) }}
        {%- else -%}false{%- endif -%}
      icon_template: >
          mdi:emoticon-sad
    # high
    ${PKG}_${SENSOR}_${ITEM}_high:
      entity_id:
        - sensor.${PKG}_${SENSOR}_${ITEM}
        - sensor.${PKG}_${SENSOR}_${ITEM}_statistics
        - input_number.${PKG}_${SENSOR}_${ITEM}_deviation
      value_template: >-
        {% if states.sensor.${PKG}_${SENSOR}_${ITEM} is defined
           and states.sensor.${PKG}_${SENSOR}_${ITEM}.state is defined
           and states.sensor.${PKG}_${SENSOR}_${ITEM}.state|float is number
           and states.input_number.${PKG}_${SENSOR}_${ITEM}_deviation is defined
           and states.input_number.${PKG}_${SENSOR}_${ITEM}_deviation.state is defined
           and states.input_number.${PKG}_${SENSOR}_${ITEM}_deviation.state|float is number
           and states.sensor.${PKG}_${SENSOR}_${ITEM}_statistics is defined
           and states.sensor.${PKG}_${SENSOR}_${ITEM}_statistics.attributes is defined
           and states.sensor.${PKG}_${SENSOR}_${ITEM}_statistics.attributes.standard_deviation is defined
           and states.sensor.${PKG}_${SENSOR}_${ITEM}_statistics.attributes.standard_deviation|float is number
           and states.sensor.${PKG}_${SENSOR}_${ITEM}_statistics.attributes.standard_deviation|float > 0 %}
          {{ (((states.sensor.${PKG}_${SENSOR}_${ITEM}.state|float) - (states.sensor.${PKG}_${SENSOR}_${ITEM}_statistics.state|float)) / (states.sensor.${PKG}_${SENSOR}_${ITEM}_statistics.attributes.standard_deviation|float)) > (states.input_number.${PKG}_${SENSOR}_${ITEM}_deviation.state|float) }}
        {%- else -%}false{%- endif -%}
      icon_template: >-
          mdi:emoticon-happy
    # low_persistent
    ${PKG}_${SENSOR}_${ITEM}_low_persistent:
      entity_id:
        - sensor.${PKG}_${SENSOR}_${ITEM}
        - sensor.${PKG}_${SENSOR}_${ITEM}_statistics
        - sensor.${PKG}_${SENSOR}_${ITEM}_stdev_statistics
        - input_number.${PKG}_${SENSOR}_${ITEM}_deviation
      value_template: >-
        {% if states.sensor.${PKG}_${SENSOR}_${ITEM} is defined 
           and states.sensor.${PKG}_${SENSOR}_${ITEM}.state is defined 
           and states.sensor.${PKG}_${SENSOR}_${ITEM}.state|float is number
           and states.sensor.${PKG}_${SENSOR}_${ITEM}_statistics is defined
           and states.sensor.${PKG}_${SENSOR}_${ITEM}_statistics.state is defined
           and states.sensor.${PKG}_${SENSOR}_${ITEM}_statistics.state|float is number
           and states.input_number.${PKG}_${SENSOR}_${ITEM}_deviation is defined
           and states.input_number.${PKG}_${SENSOR}_${ITEM}_deviation.state is defined
           and states.input_number.${PKG}_${SENSOR}_${ITEM}_deviation.state|float is number
           and states.sensor.${PKG}_${SENSOR}_${ITEM}_stdev_statistics is defined 
           and states.sensor.${PKG}_${SENSOR}_${ITEM}_stdev_statistics.state|float is number
           and states.sensor.${PKG}_${SENSOR}_${ITEM}_stdev_statistics.state|float > 0 %}
            {{ (((states.sensor.${PKG}_${SENSOR}_${ITEM}_statistics.state|float) - (states.sensor.${PKG}_${SENSOR}_${ITEM}.state|float)) / (states.sensor.${PKG}_${SENSOR}_${ITEM}_stdev_statistics.state|float) > (states.input_number.${PKG}_${SENSOR}_${ITEM}_deviation.state|float)) }}
        {%- else -%}false{%- endif -%}
      icon_template: >
          mdi:emoticon-sad
    ${PKG}_${SENSOR}_${ITEM}_high_persistent:
      entity_id:
        - sensor.${PKG}_${SENSOR}_${ITEM}
        - sensor.${PKG}_${SENSOR}_${ITEM}_stdev_statistics
        - input_number.${PKG}_${SENSOR}_${ITEM}_deviation
      value_template: >-
        {% if states.sensor.${PKG}_${SENSOR}_${ITEM} is defined 
           and states.sensor.${PKG}_${SENSOR}_${ITEM}.state is defined 
           and states.sensor.${PKG}_${SENSOR}_${ITEM}.state|float is number
           and states.sensor.${PKG}_${SENSOR}_${ITEM}_statistics is defined
           and states.sensor.${PKG}_${SENSOR}_${ITEM}_statistics.state is defined
           and states.sensor.${PKG}_${SENSOR}_${ITEM}_statistics.state|float is number
           and states.input_number.${PKG}_${SENSOR}_${ITEM}_deviation is defined
           and states.input_number.${PKG}_${SENSOR}_${ITEM}_deviation.state is defined
           and states.input_number.${PKG}_${SENSOR}_${ITEM}_deviation.state|float is number
           and states.sensor.${PKG}_${SENSOR}_${ITEM}_stdev_statistics is defined 
           and states.sensor.${PKG}_${SENSOR}_${ITEM}_stdev_statistics.state|float is number
           and states.sensor.${PKG}_${SENSOR}_${ITEM}_stdev_statistics.state|float > 0 %}
          {{ (((states.sensor.${PKG}_${SENSOR}_${ITEM}.state|float) - (states.sensor.${PKG}_${SENSOR}_${ITEM}_statistics.state|float)) / (states.sensor.${PKG}_${SENSOR}_${ITEM}_stdev_statistics.state|float)) > (states.input_number.${PKG}_${SENSOR}_${ITEM}_deviation.state|float) }}
        {%- else -%}false{%- endif -%}
      icon_template: >-
          mdi:emoticon-happy
