- platform: template
  sensors:
    motion_${MOTION_CAMERA}:
      entity_id:
        - sensor.motion_event_end
      value_template: >
        {{ 
          ( states.sensor.motion_event_end.state == 'True' )
          and
          ( states.sensor.motion_event_end.attributes.camera == "${MOTION_CAMERA}" )
        }}
    motion_annotated_${MOTION_CAMERA}:
      entity_id:
        - binary_sensor.motion_${MOTION_CAMERA}
      value_template: >
        {{ 
           ( states.binary_sensor.motion_${MOTION_CAMERA}.state == 'on' )
           and
           ( states.sensor.motion_annotated_count.state|int > 0 )
           and
           ( states.sensor.motion_event_annotated.attributes.event.camera == "${MOTION_CAMERA}" )
        }}
    motion_detected_${MOTION_CAMERA}:
      entity_id:
        - sensor.motion_event_annotated
      value_template: >
        {{ 
           ( states.binary_sensor.motion_annotated_${MOTION_CAMERA}.state == 'on' )
           and
           ( states.sensor.motion_detected_count.state|int > 0 )
           and
           ( states.sensor.motion_event_detected.attributes.event.camera == "${MOTION_CAMERA}" )
        }}
    motion_detected_entity_${MOTION_CAMERA}:
      entity_id:
        - sensor.motion_event_annotated
      value_template: >
        {{ 
           ( states.binary_sensor.motion_detected_${MOTION_CAMERA}.state == 'on' )
           and
           ( states.sensor.motion_detected_entity_count.state|int > 0 )
           and
           ( states.sensor.motion_event_detected.attributes.event.camera == "${MOTION_CAMERA}" )
        }}
