###
### motion_${MOTION_CAMERA} BINARY_SENSOR
###

- platform: template
  sensors:
    motion_${MOTION_CAMERA}:
      entity_id:
        - sensor.motion_event_end
      value_template: >
        {% if states.sensor.motion_event_end != none %}
          {{ states.sensor.motion_event_end.attributes.camera == "${MOTION_CAMERA}" }}
        {% else %}null{% endif %}

- platform: template
  sensors:
    motion_annotated_${MOTION_CAMERA}:
      entity_id:
        - sensor.motion_event_annotated
      value_template: >
        {% if states.sensor.motion_event_annotated != none %}
          {{ states.sensor.motion_event_annotated.attributes.event.camera == "${MOTION_CAMERA}" }}
        {% else %}null{% endif %}

- platform: template
  sensors:
    motion_detected_${MOTION_CAMERA}:
      entity_id:
        - binary_sensor.motion_annotated_${MOTION_CAMERA}
        - sun.sun
      value_template: >
        {% if states.sensor.motion_detected_count != none and states.sensor.motion_detected_camera != none %}
          {{
            states.sensor.motion_detected_count.state|int > 0 
            and
            states.sensor.motion_detected_ago_${MOTION_CAMERA}.state != 'null'
            and
            states.sensor.motion_detected_ago_${MOTION_CAMERA}.state|int < states.input_number.motion_detected_ago.state|int
          }}
        {% else %}null{% endif %}

- platform: template
  sensors:
    motion_detected_entity_${MOTION_CAMERA}:
      entity_id:
        - binary_sensor.motion_detected_${MOTION_CAMERA}
        - sun.sun
      value_template: >
        {% if states.sensor.motion_detected_entity_count != none and states.sensor.motion_detected_entity_camera != none %}
          {{
            states.sensor.motion_detected_entity_count.state|int > 0
            and
            states.sensor.motion_detected_ago_${MOTION_CAMERA}.state != 'null'
            and
            states.sensor.motion_detected_entity_ago_${MOTION_CAMERA}.state|int < states.input_number.motion_detected_entity_ago.state|int
          }}
        {% else %}null{% endif %}
