###
### motion_${MOTION_CAMERA} BINARY_SENSOR
###

- platform: template
  sensors:
    motion_annotated_${MOTION_CAMERA}:
      entity_id:
        - sensor.motion_event_annotated_${MOTION_CAMERA}
      value_template: >
        {% if states.sensor.motion_event_annotated_${MOTION_CAMERA} != none %}
          {{ states.sensor.motion_event_annotated_${MOTION_CAMERA}.state|lower == 'true' }}
        {% else %}null{% endif %}

- platform: template
  sensors:
    motion_detected_${MOTION_CAMERA}:
      entity_id:
        - binary_sensor.motion_annotated_${MOTION_CAMERA}
        - sun.sun
      value_template: >
        {% if states.sensor.motion_event_annotated_${MOTION_CAMERA} != none 
              and states.binary_sensor.motion_annotated_${MOTION_CAMERA}.state == 'on' %}
          {{ states.sensor.motion_event_annotated_${MOTION_CAMERA}.attributes.count|int > 0 }}
        {% else %}null{% endif %}

- platform: template
  sensors:
    motion_detected_entity_${MOTION_CAMERA}:
      entity_id:
        - binary_sensor.motion_detected_${MOTION_CAMERA}
        - sun.sun
      value_template: >
        {% if states.sensor.motion_event_annotated_${MOTION_CAMERA} != none 
              and states.binary_sensor.motion_annotated_${MOTION_CAMERA}.state == 'on'
              and states.sensor.motion_detected_entity_count_${MOTION_CAMERA} != none %}
          {{ states.sensor.motion_detected_entity_count_${MOTION_CAMERA}.state|int > 0 }}
        {% else %}null{% endif %}
