- platform: template
  sensors:
    motion_${MOTION_CAMERA}:
      entity_id:
        - sensor.motion_end_event
      value_template: >
        {{ states.sensor.motion_end_event.attributes.camera == "${MOTION_CAMERA}" }}
