###
## motion/camera.event_image.yaml.tmpl
###

# per image
- platform: mqtt
  name: motion_event_image
  topic: '${MOTION_GROUP}/${MOTION_CLIENT}/+/image'

- platform: mqtt
  name: motion_event_cropped
  topic: '${MOTION_GROUP}/${MOTION_CLIENT}/+/image-cropped'
