###
### ${MOTION_CAMERA} cameras
###
- platform: mjpeg
  mjpeg_url: http://${MOTION_CAMERA}.${MOTION_TLD}/img/video.mjpeg
  still_image_url: http://${MOTION_CAMERA}.${MOTION_TLD}/img/snapshot.cgi
  name: motion_live_${MOTION_CAMERA}
  username: !secret wcv80n-username
  password: !secret wcv80n-password
- platform: mqtt
  name: motion_current_${MOTION_CAMERA}
  topic: '${MOTION_GROUP}/+/${MOTION_CAMERA}/image'
- platform: mqtt
  name: motion_image_${MOTION_CAMERA}
  topic: '${MOTION_GROUP}/+/${MOTION_CAMERA}/image/end'
- platform: mqtt
  name: motion_average_${MOTION_CAMERA}
  topic: '${MOTION_GROUP}/+/${MOTION_CAMERA}/image-average'
- platform: mqtt
  name: motion_blend_${MOTION_CAMERA}
  topic: '${MOTION_GROUP}/+/${MOTION_CAMERA}/image-blend'
- platform: mqtt
  name: motion_animated_mask_${MOTION_CAMERA}
  topic: '${MOTION_GROUP}/+/${MOTION_CAMERA}/image-animated-mask'
- platform: mqtt
  name: motion_composite_${MOTION_CAMERA}
  topic: '${MOTION_GROUP}/+/${MOTION_CAMERA}/image-composite'
- platform: mqtt
  name: motion_animated_${MOTION_CAMERA}
  topic: '${MOTION_GROUP}/+/${MOTION_CAMERA}/image-animated'
- platform: mqtt
  name: motion_annotated_${MOTION_CAMERA}
  topic: '${MOTION_GROUP}/+/${MOTION_CAMERA}/image/end/+'
- platform: mqtt
  name: motion_cropped_${MOTION_CAMERA}
  topic: '${MOTION_GROUP}/+/${MOTION_CAMERA}/image-cropped'

# annotated
- platform: generic
  name: motion_annotated_${MOTION_CAMERA}
  verify_ssl: false
  still_image_url: >-
    {{ states.sensor.motion_base_url.state + '/local/images/motion_annotated-${MOTION_CAMERA}.jpg' }}
# detected
- platform: generic
  name: motion_detected_${MOTION_CAMERA}
  verify_ssl: false
  still_image_url: >-
    {{ states.sensor.motion_base_url.state + '/local/images/motion_detected-${MOTION_CAMERA}.jpg' }}
# detected_entity
- platform: generic
  name: motion_detected_entity_${MOTION_CAMERA}
  verify_ssl: false
  still_image_url: >-
    {{ states.sensor.motion_base_url.state + '/local/images/motion_detected_entity-${MOTION_CAMERA}.jpg' }}
