##
## end CAMERA
##

# per event
- platform: mqtt
  name: motion_event_average
  topic: '${MOTION_GROUP}/${MOTION_CLIENT}/+/image-average'
- platform: mqtt
  name: motion_event_blend
  topic: '${MOTION_GROUP}/${MOTION_CLIENT}/+/image-blend'
- platform: mqtt
  name: motion_event_animated_mask
  topic: '${MOTION_GROUP}/${MOTION_CLIENT}/+/image-animated-mask'
- platform: mqtt
  name: motion_event_composite
  topic: '${MOTION_GROUP}/${MOTION_CLIENT}/+/image-composite'
- platform: mqtt
  name: motion_event_animated
  topic: '${MOTION_GROUP}/${MOTION_CLIENT}/+/image-animated'
- platform: mqtt
  name: motion_event_end
  topic: '${MOTION_GROUP}/${MOTION_CLIENT}/+/image/end'

# per image
- platform: mqtt
  name: motion_image_last
  topic: '${MOTION_GROUP}/${MOTION_CLIENT}/+/image'

- platform: mqtt
  name: motion_image_cropped
  topic: '${MOTION_GROUP}/${MOTION_CLIENT}/+/image-cropped'

- platform: generic
  name: motion_end_picture
  verify_ssl: false
  limit_refetch_to_url_change: true
  still_image_url: >-
    {% set p = states('sensor.motion_end_picture') %}
    {% if p != 'unknown' and p != 'null' and p|length > 0 %}
      {{ p }}
    {% else %}{{ states('sensor.motion_nosignal_picture') }}{% endif %}
