###
### detected_entity_${MOTION_CAMERA} COUNTER
###

motion_detected_entity_${MOTION_CAMERA}_counter:
  name: motion_detected_entity_${MOTION_CAMERA}_counter
  initial: 0
  step: 1
  icon: mdi:counter
