##
## motion/sensor.camera_found.yaml
##

- platform: mqtt
  name: motion_status_camera_found
  state_topic: '${MOTION_GROUP}/${MOTION_CLIENT}/+/status/found'
  qos: 2
  expire_after: 30
  force_update: True
  json_attributes:
    - device
    - camera
    - date
    - status
  value_template: >
    {% if value_json is defined %}True{% else %}null{% endif %}

## counter
- platform: template
  sensors:
    motion_status_camera_found_counter:
      friendly_name: Total annotations
      entity_id:
        - sensor.motion_status_camera_found_entity_count
      unit_of_measurement: count
      value_template: >
        {% if states('counter.motion_status_camera_found_counter') != 'unknown' %}
          {{ states('counter.motion_status_camera_found_counter')|int }}
        {%- else -%}null{%- endif -%}

## counter
- platform: template
  sensors:
    motion_status_camera_found_counter_mean:
      friendly_name: status_camera_found counter avg
      entity_id:
        - sensor.motion_status_camera_found_counter_statistics
      unit_of_measurement: count
      value_template: >-
        {% if states('sensor.motion_status_camera_found_counter_statistics') != 'unknown' %}
          {{ states.sensor.motion_status_camera_found_counter_statistics.state|float }}
        {%- else -%}null{%- endif -%}
    motion_status_camera_found_counter_min_value:
      friendly_name: status_camera_found counter min
      entity_id:
        - sensor.motion_status_camera_found_counter_statistics
      unit_of_measurement: count
      value_template: >-
        {% if states('sensor.motion_status_camera_found_counter_statistics') != 'unknown' %}
          {{ states.sensor.motion_status_camera_found_counter_statistics.attributes.min_value|int }}
        {%- else -%}null{%- endif -%}
    motion_status_camera_found_counter_max_value:
      friendly_name: status_camera_found counter max
      entity_id:
        - sensor.motion_status_camera_found_counter_statistics
      unit_of_measurement: count
      value_template: >-
        {% if states('sensor.motion_status_camera_found_counter_statistics') != 'unknown' %}
          {{ states.sensor.motion_status_camera_found_counter_statistics.attributes.max_value|int }}
        {%- else -%}null{%- endif -%}
    motion_status_camera_found_counter_stdev:
      friendly_name: status_camera_found counter stdev
      entity_id:
        - sensor.motion_status_camera_found_counter_statistics
      unit_of_measurement: count
      value_template: >
        {% if states('sensor.motion_status_camera_found_counter_statistics') != 'unknown' %}
          {{ states.sensor.motion_status_camera_found_counter_statistics.attributes.standard_deviation|float }}
        {%- else -%}null{%- endif -%}
    motion_status_camera_found_counter_change:
      friendly_name: status_camera_found counter change
      entity_id:
        - sensor.motion_status_camera_found_counter_statistics
      unit_of_measurement: count
      value_template: >
        {% if states('sensor.motion_status_camera_found_counter_statistics') != 'unknown' %}
          {{ states.sensor.motion_status_camera_found_counter_statistics.attributes.change|float }}
        {%- else -%}null{%- endif -%}

# counter
- platform: statistics
  name: motion_status_camera_found_counter_statistics
  entity_id: sensor.motion_status_camera_found_counter
  sampling_size: 1000
  max_age:
    hours: 72
- platform: statistics
  name: motion_status_camera_found_counter_stdev_statistics
  entity_id: sensor.motion_status_camera_found_counter_stdev
  sampling_size: 1000
  max_age:
    hours: 72
