###
# ${MOTION_CAMERA}
###

motion_${MOTION_CAMERA}:
  name: Motion ${MOTION_CAMERA}
  view: true
  icon: mdi:${MOTION_CAMERA_ICON}
  control: hidden
  entities:
    - group.motion_${MOTION_CAMERA}_cameras
    - group.motion_${MOTION_CAMERA}_sensors
    - group.motion_${MOTION_CAMERA}_graphs

motion_${MOTION_CAMERA}_graphs:
  name: motion_${MOTION_CAMERA}_graphs
  control: hidden
  entities:
    - history_graph.motion_camera_${MOTION_CAMERA}

motion_${MOTION_CAMERA}_sensors:
  name: motion_${MOTION_CAMERA}_sensors
  control: hidden
  entities:
    - sensor.motion_status_camera_found_when_${MOTION_CAMERA}
    - sensor.motion_status_camera_lost_when_${MOTION_CAMERA}
    #
    - binary_sensor.motion_detected_entity_${MOTION_CAMERA}
    - binary_sensor.motion_detected_${MOTION_CAMERA}
    - binary_sensor.motion_annotated_${MOTION_CAMERA}
    #
    - sensor.motion_detected_entity_counter_${MOTION_CAMERA}
    - sensor.motion_detected_counter_${MOTION_CAMERA}
    - sensor.motion_annotated_counter_${MOTION_CAMERA}
    #
    #- counter.motion_detected_entity_counter_${MOTION_CAMERA}
    #- counter.motion_detected_counter_${MOTION_CAMERA}
    #- counter.motion_annotated_counter_${MOTION_CAMERA}
    #
    - sensor.motion_detected_entity_ago_${MOTION_CAMERA}
    - sensor.motion_detected_ago_${MOTION_CAMERA}
    - sensor.motion_annotated_ago_${MOTION_CAMERA}

motion_${MOTION_CAMERA}_cameras:
  name: motion_${MOTION_CAMERA}_cameras
  control: hidden
  entities:
    - camera.motion_live_${MOTION_CAMERA}
    - camera.motion_detected_entity_image_${MOTION_CAMERA}
    - camera.motion_detected_image_${MOTION_CAMERA}
    - camera.motion_annotated_image_${MOTION_CAMERA}
    - camera.motion_end_image_${MOTION_CAMERA}
    - camera.motion_event_end_${MOTION_CAMERA}
    - camera.motion_event_animated_mask_${MOTION_CAMERA}
    - camera.motion_event_animated_${MOTION_CAMERA}
    - camera.motion_event_average_${MOTION_CAMERA}
    - camera.motion_event_blend_${MOTION_CAMERA}
    - camera.motion_event_composite_${MOTION_CAMERA}
