###
### ${MOTION_CAMERA} sensors
###

## MOTION_CAMERA FOUND - '${MOTION_GROUP}/+/${MOTION_CAMERA}/status/found'
- platform: mqtt
  name: motion_found_${MOTION_CAMERA}
  state_topic: '${MOTION_GROUP}/+/${MOTION_CAMERA}/status/found'
  expire_after: 1
  force_update: true
  json_attributes:
    - device
    - camera
    - date
    - status
  value_template: >
    {% if value_json is defined %}true{% else %}null{% endif %}

## MOTION_CAMERA LOST - '${MOTION_GROUP}/+/${MOTION_CAMERA}/status/lost' 
- platform: mqtt
  name: motion_lost_${MOTION_CAMERA}
  state_topic: '${MOTION_GROUP}/+/${MOTION_CAMERA}/status/lost'
  expire_after: 1
  force_update: true
  json_attributes:
    - device
    - camera
    - date
    - status
  value_template: >
    {% if value_json is defined %}true{% else %}null{% endif %}

## EVENT IMAGE - motion/+/${MOTION_CAMERA}/event/image
- platform: mqtt
  name: motion_image_${MOTION_CAMERA}
  qos: 1
  state_topic: '${MOTION_GROUP}/+/${MOTION_CAMERA}/event/image'
  expire_after: 1
  force_update: true
  json_attributes:
    - device
    - camera
    - type
    - date
    - seqno
    - event
    - id
    - center
    - width
    - height
    - size
    - noise
  value_template: >
    {% if value_json is defined %}true{% else %}null{% endif %}

## START EVENT
- platform: mqtt
  name: motion_start_${MOTION_CAMERA}
  qos: 1
  state_topic: '${MOTION_GROUP}/+/${MOTION_CAMERA}/event/start'
  expire_after: 1
  force_update: true
  json_attributes:
    - device
    - camera
    - event
    - start
  value_template: >
    {% if value_json is defined %}true{% else %}null{% endif %}

## END EVENT
- platform: mqtt
  name: motion_end_${MOTION_CAMERA}
  qos: 1
  state_topic: '${MOTION_GROUP}/+/${MOTION_CAMERA}/event/end'
  expire_after: 1
  force_update: true
  json_attributes:
    - device
    - camera
    - event
    - start
    - end
    - elapsed
    - date
  value_template: >
    {% if value_json is defined %}true{% else %}null{% endif %}

## ANNOTATED EVENT
- platform: mqtt
  name: motion_annotated_${MOTION_CAMERA}
  state_topic: '${MOTION_GROUP}/+/${MOTION_CAMERA}/event/end/+'
  expire_after: 1
  force_update: true
  json_attributes:
    - timestamp
    - date
    - time
    - count
    - event
    - info
    - detected
  value_template: >
    {% if value_json is defined %}
      {% if value_json.count|int > 0 %}true{% else %}null{% endif %}
    {% else %}null{% endif %}
