##
## annotated SENSOR
##

- platform: mqtt
  name: motion_event_annotated
  state_topic: '${MOTION_GROUP}/${MOTION_CLIENT}/+/event/end/+'
  qos: 2
  expire_after: 1
  force_update: True
  json_attributes:
    - timestamp
    - date
    - time
    - count
    - event
    - info
    - detected
  value_template: >
    {% if value_json is defined %}True{% else %}False{% endif %}

## human readable status
- platform: template
  sensors:
    motion_annotated_status:
      friendly_name: Annotated
      entity_id:
        - sensor.motion_event_annotated
        - sensor.motion_annotated_entity_list
        - sensor.motion_annotated_ago
      value_template: >-
        {% set entities = states('sensor.motion_annotated_entity_list') %}
        {% set count = state_attr('sensor.motion_count_annotated','count')|int %}
        {% set event = state_attr('sensor.motion_event_annotated','event') %}
        {% if event != none and event|length > 0 and event != 'null' %}
          {% set device = event.device %}
          {% set camera = event.camera %}
          {% set elapsed = event.elapsed %}
          {% set end = event.end %}
          {% set ago = now().timestamp()|int - end %}
          {% if elapsed > 0 %} {{ elapsed }} {% else %} zero {% endif %} second(s);
          {% if count > 0 %}{{ count }} entity(s): {{ entities -}};{% else %}nothing;{% endif %}
          {{ device -}}/{{- camera }};
          {{ ago }} second(s) ago
        {% else %}No status{% endif %}

## timing
- platform: template
  sensors:
    motion_annotated_date:
      entity_id:
        - sensor.motion_event_annotated
      unit_of_measurement: seconds
      value_template: >-
        {% if states.sensor.motion_event_annotated != none and state_attr('sensor.motion_event_annotated','event') != none %}
          {% set date = states.sensor.motion_event_annotated.attributes.event.end|int %}
          {% if date > 0 %}{{ date }}{% else %}null{% endif %}
        {% else %}null{% endif %}
    # human readable
    motion_annotated_when:
      friendly_name: Annotated at
      entity_id:
        - sensor.motion_annotated_date
      value_template: >-
        {% set s = states('sensor.motion_annotated_date')|int %}
        {% if s > 0 %} {{ s|timestamp_custom("%a %b %d ~ %I:%M %p") }} {% else %}never{% endif %}

    # ago
    motion_annotated_ago:
      friendly_name: Annotated ago
      entity_id:
        - sensor.motion_annotated_date
        - sun.sun
      unit_of_measurement: seconds
      value_template: >
        {% if states.sensor.motion_annotated_date != none
              and states.sensor.motion_annotated_date.state != 'null'
              and states.sensor.motion_annotated_date.state|int > 0 %}
          {{ (now().timestamp()|int) - (states('sensor.motion_annotated_date')|int) }}
        {%- else -%}null{%- endif -%}
    # statistics
    motion_annotated_ago_mean:
      friendly_name: Annotated ago avg
      entity_id:
        - sensor.motion_annotated_ago_statistics
      unit_of_measurement: seconds
      value_template: >-
        {% if states('sensor.motion_annotated_ago_statistics') != 'unknown' %}
          {{ states.sensor.motion_annotated_ago_statistics.state|float }}
        {%- else -%}null{%- endif -%}
    motion_annotated_ago_min_value:
      friendly_name: Annotated ago min
      entity_id:
        - sensor.motion_annotated_ago_statistics
      unit_of_measurement: seconds
      value_template: >-
        {% if states('sensor.motion_annotated_ago_statistics') != 'unknown' %}
          {{ states.sensor.motion_annotated_ago_statistics.attributes.min_value|int }}
        {%- else -%}null{%- endif -%}
    motion_annotated_ago_max_value:
      friendly_name: Annotated ago max
      entity_id:
        - sensor.motion_annotated_ago_statistics
      unit_of_measurement: seconds
      value_template: >-
        {% if states('sensor.motion_annotated_ago_statistics') != 'unknown' %}
          {{ states.sensor.motion_annotated_ago_statistics.attributes.max_value|int }}
        {%- else -%}null{%- endif -%}
    motion_annotated_ago_stdev:
      friendly_name: Annotated ago stdev
      entity_id:
        - sensor.motion_annotated_ago_statistics
      unit_of_measurement: seconds
      value_template: >
        {% if states('sensor.motion_annotated_ago_statistics') != 'unknown' %}
          {{ states.sensor.motion_annotated_ago_statistics.attributes.standard_deviation|float }}
        {%- else -%}null{%- endif -%}
    motion_annotated_ago_change_rate:
      friendly_name: Annotated ago change
      entity_id:
        - sensor.motion_annotated_ago_statistics
      unit_of_measurement: seconds
      value_template: >
        {% if states('sensor.motion_annotated_ago_statistics') != 'unknown' %}
          {{ states.sensor.motion_annotated_ago_statistics.attributes.change_rate|float }}
        {%- else -%}null{%- endif -%}

    ## elapsed
    motion_annotated_elapsed:
      friendly_name: Annotated elapsed
      entity_id:
        - sensor.motion_event_annotated
      unit_of_measurement: seconds
      value_template: >
        {% if state_attr('sensor.motion_event_annotated','event') != none
              and states.sensor.motion_event_annotated.attributes.event.elapsed|int is number
              and states.sensor.motion_event_annotated.attributes.event.elapsed|int > 0 %}
          {{ states.sensor.motion_event_annotated.attributes.event.elapsed|int }}
        {% else %}null{% endif %}
    # statistics
    motion_annotated_elapsed_mean:
      friendly_name: Annotated elapsed avg
      entity_id:
        - sensor.motion_annotated_elapsed_statistics
      unit_of_measurement: seconds
      value_template: >-
        {% if states('sensor.motion_annotated_elapsed_statistics') != 'unknown' %}
          {{ states.sensor.motion_annotated_elapsed_statistics.state|float }}
        {%- else -%}null{%- endif -%}
    motion_annotated_elapsed_min_value:
      friendly_name: Annotated elapsed min
      entity_id:
        - sensor.motion_annotated_elapsed_statistics
      unit_of_measurement: seconds
      value_template: >-
        {% if states('sensor.motion_annotated_elapsed_statistics') != 'unknown' %}
          {{ states.sensor.motion_annotated_elapsed_statistics.attributes.min_value|int }}
        {%- else -%}null{%- endif -%}
    motion_annotated_elapsed_max_value:
      friendly_name: Annotated elapsed max
      entity_id:
        - sensor.motion_annotated_elapsed_statistics
      unit_of_measurement: seconds
      value_template: >-
        {% if states('sensor.motion_annotated_elapsed_statistics') != 'unknown' %}
          {{ states.sensor.motion_annotated_elapsed_statistics.attributes.max_value|int }}
        {%- else -%}null{%- endif -%}
    motion_annotated_elapsed_stdev:
      friendly_name: Annotated elapsed stdev
      entity_id:
        - sensor.motion_annotated_elapsed_statistics
      unit_of_measurement: seconds
      value_template: >
        {% if states('sensor.motion_annotated_elapsed_statistics') != 'unknown' %}
          {{ states.sensor.motion_annotated_elapsed_statistics.attributes.standard_deviation|float }}
        {%- else -%}null{%- endif -%}
    motion_annotated_elapsed_change_rate:
      friendly_name: Annotated elapsed change
      entity_id:
        - sensor.motion_annotated_elapsed_statistics
      unit_of_measurement: seconds
      value_template: >
        {% if states('sensor.motion_annotated_elapsed_statistics') != 'unknown' %}
          {{ states.sensor.motion_annotated_elapsed_statistics.attributes.change_rate|float }}
        {%- else -%}null{%- endif -%}

    ## delay 
    motion_annotated_delay:
      friendly_name: Annotated delay
      entity_id:
        - sensor.motion_event_annotated
      unit_of_measurement: seconds
      value_template: >
        {% if states.sensor.motion_event_annotated != none and state_attr('sensor.motion_event_annotated','event') != none %}
          {{ now().timestamp()|int - states.sensor.motion_event_annotated.attributes.event.date|int }}
        {% else %}null{% endif %}
    # statistics
    motion_annotated_delay_mean:
      friendly_name: Annotated delay avg
      entity_id:
        - sensor.motion_annotated_delay_statistics
      unit_of_measurement: seconds
      value_template: >-
        {% if states('sensor.motion_annotated_delay_statistics') != 'unknown' %}
          {{ states.sensor.motion_annotated_delay_statistics.state|float }}
        {%- else -%}null{%- endif -%}
    motion_annotated_delay_min_value:
      friendly_name: Annotated delay min
      entity_id:
        - sensor.motion_annotated_delay_statistics
      unit_of_measurement: seconds
      value_template: >-
        {% if states('sensor.motion_annotated_delay_statistics') != 'unknown' %}
          {{ states.sensor.motion_annotated_delay_statistics.attributes.min_value|int }}
        {%- else -%}null{%- endif -%}
    motion_annotated_delay_max_value:
      friendly_name: Annotated delay max
      entity_id:
        - sensor.motion_annotated_delay_statistics
      unit_of_measurement: seconds
      value_template: >-
        {% if states('sensor.motion_annotated_delay_statistics') != 'unknown' %}
          {{ states.sensor.motion_annotated_delay_statistics.attributes.max_value|int }}
        {%- else -%}null{%- endif -%}
    motion_annotated_delay_stdev:
      friendly_name: Annotated delay stdev
      entity_id:
        - sensor.motion_annotated_delay_statistics
      unit_of_measurement: seconds
      value_template: >
        {% if states('sensor.motion_annotated_delay_statistics') != 'unknown' %}
          {{ states.sensor.motion_annotated_delay_statistics.attributes.standard_deviation|float }}
        {%- else -%}null{%- endif -%}
    motion_annotated_delay_change_rate:
      friendly_name: Annotated delay change
      entity_id:
        - sensor.motion_annotated_delay_statistics
      unit_of_measurement: seconds
      value_template: >
        {% if states('sensor.motion_annotated_delay_statistics') != 'unknown' %}
          {{ states.sensor.motion_annotated_delay_statistics.attributes.change_rate|float }}
        {%- else -%}null{%- endif -%}

## entity counter
- platform: template
  sensors:
    motion_annotated_entity_count:
      friendly_name: Annotated entity count
      entity_id:
        - sensor.motion_event_annotated
      unit_of_measurement: entities
      value_template: >-
        {% if states.sensor.motion_event_annotated != none
              and state_attr('sensor.motion_event_annotated','detected') != none
              and states.sensor.motion_event_annotated.attributes.count|int > 0 %}
          {% for detected in states.sensor.motion_event_annotated.attributes.detected %}
            {% if detected.entity == states.sensor.motion_detect_entity.state and detected.count|int > 0 %}
              {{ detected.count }}
            {% endif %}
          {% endfor %}
        {% else %}null{% endif %}

## counting annotated (events)
- platform: template
  sensors:
    motion_annotated_counter:
      friendly_name: Total annotations
      entity_id:
        - counter.motion_annotated_counter
      unit_of_measurement: count
      value_template: >
        {% if states('counter.motion_annotated_counter') != 'unknown' %}
          {{ states('counter.motion_annotated_counter')|int }}
        {%- else -%}null{%- endif -%}
    # derived detected counter statistics
    motion_annotated_counter_mean:
      friendly_name: Annotated counter avg
      entity_id:
        - sensor.motion_annotated_counter_statistics
      unit_of_measurement: count
      value_template: >-
        {% if states('sensor.motion_annotated_counter_statistics') != 'unknown' %}
          {{ states.sensor.motion_annotated_counter_statistics.state|float }}
        {%- else -%}null{%- endif -%}
    motion_annotated_counter_min_value:
      friendly_name: Annotated counter min
      entity_id:
        - sensor.motion_annotated_counter_statistics
      unit_of_measurement: count
      value_template: >-
        {% if states('sensor.motion_annotated_counter_statistics') != 'unknown' %}
          {{ states.sensor.motion_annotated_counter_statistics.attributes.min_value|int }}
        {%- else -%}null{%- endif -%}
    motion_annotated_counter_max_value:
      friendly_name: Annotated counter max
      entity_id:
        - sensor.motion_annotated_counter_statistics
      unit_of_measurement: count
      value_template: >-
        {% if states('sensor.motion_annotated_counter_statistics') != 'unknown' %}
          {{ states.sensor.motion_annotated_counter_statistics.attributes.max_value|int }}
        {%- else -%}null{%- endif -%}
    motion_annotated_counter_stdev:
      friendly_name: Annotated counter stdev
      entity_id:
        - sensor.motion_annotated_counter_statistics
      unit_of_measurement: count
      value_template: >
        {% if states('sensor.motion_annotated_counter_statistics') != 'unknown' %}
          {{ states.sensor.motion_annotated_counter_statistics.attributes.standard_deviation|float }}
        {%- else -%}null{%- endif -%}
    motion_annotated_counter_change_rate:
      friendly_name: Annotated counter change
      entity_id:
        - sensor.motion_annotated_counter_statistics
      unit_of_measurement: count
      value_template: >
        {% if states('sensor.motion_annotated_counter_statistics') != 'unknown' %}
          {{ states.sensor.motion_annotated_counter_statistics.attributes.change_rate|float }}
        {%- else -%}null{%- endif -%}

# percent of motion events which were annotated
- platform: template
  sensors:
    motion_annotated_percent:
      friendly_name: Annotated percent
      entity_id:
        - counter.motion_end_counter
        - counter.motion_annotated_counter
      unit_of_measurement: '%'
      value_template: >-
        {% if states('counter.motion_annotated_counter')|int > 0 and states('counter.motion_end_counter')|int > 0 %}
          {{  ( states.counter.motion_annotated_counter.state|int / states.counter.motion_end_counter.state|int ) * 100.0 }}
        {%- else -%}null{%- endif -%}
    # derived annotated percent statistics
    motion_annotated_percent_mean:
      friendly_name: Annotated percent avg
      entity_id:
        - sensor.motion_annotated_percent_statistics
      unit_of_measurement: '%'
      value_template: >-
        {% if states('sensor.motion_annotated_percent_statistics') != 'unknown' %}
          {{ states.sensor.motion_annotated_percent_statistics.state|float }}
        {%- else -%}null{%- endif -%}
    motion_annotated_percent_min_value:
      friendly_name: Annotated percent min
      entity_id:
        - sensor.motion_annotated_percent_statistics
      unit_of_measurement: '%'
      value_template: >-
        {% if states('sensor.motion_annotated_percent_statistics') != 'unknown' %}
          {{ states.sensor.motion_annotated_percent_statistics.attributes.min_value|float }}
        {%- else -%}null{%- endif -%}
    motion_annotated_percent_max_value:
      friendly_name: Annotated percent max
      entity_id:
        - sensor.motion_annotated_percent_statistics
      unit_of_measurement: '%'
      value_template: >-
        {% if states('sensor.motion_annotated_percent_statistics') != 'unknown' %}
          {{ states.sensor.motion_annotated_percent_statistics.attributes.max_value|float }}
        {%- else -%}null{%- endif -%}
    motion_annotated_percent_stdev:
      friendly_name: Annotated percent stdev
      entity_id:
        - sensor.motion_annotated_percent_statistics
      unit_of_measurement: '%'
      value_template: >
        {% if states('sensor.motion_annotated_percent_statistics') != 'unknown' %}
          {{ states.sensor.motion_annotated_percent_statistics.attributes.standard_deviation|float }}
        {%- else -%}null{%- endif -%}
    motion_annotated_percent_change_rate:
      friendly_name: Annotated percent change
      entity_id:
        - sensor.motion_annotated_percent_statistics
      unit_of_measurement: '%'
      value_template: >
        {% if states('sensor.motion_annotated_percent_statistics') != 'unknown' %}
          {{ states.sensor.motion_annotated_percent_statistics.attributes.change_rate|float }}
        {%- else -%}null{%- endif -%}
# annotated percent
- platform: statistics
  name: motion_annotated_percent_statistics
  entity_id: sensor.motion_annotated_percent
  sampling_size: 100
  max_age:
    hours: 24
- platform: statistics
  name: motion_annotated_percent_stdev_statistics
  entity_id: sensor.motion_annotated_percent_stdev
  sampling_size: 100
  max_age:
    hours: 24

## count
- platform: template
  sensors:
    motion_annotated_count:
      friendly_name: Annotated count
      entity_id:
        - sensor.motion_event_annotated
      unit_of_measurement: entities
      value_template: >
        {% if state_attr('sensor.motion_event_annotated','count') != none %}
          {{ state_attr('sensor.motion_event_annotated','count')|int }}
        {% else %}null{% endif %}
    ## derived attributes from statistics
    motion_annotated_count_mean:
      friendly_name: Annotated count avg
      entity_id:
        - sensor.motion_annotated_count_statistics
      unit_of_measurement: entities
      value_template: >-
        {% if states('sensor.motion_annotated_count_statistics') != 'unknown' %}
          {{ states.sensor.motion_annotated_count_statistics.state|float }}
        {%- else -%}null{%- endif -%}
    motion_annotated_count_min_value:
      friendly_name: Annotated count min
      entity_id:
        - sensor.motion_annotated_count_statistics
      unit_of_measurement: entities
      value_template: >-
        {% if states('sensor.motion_annotated_count_statistics') != 'unknown' %}
          {{ states.sensor.motion_annotated_count_statistics.attributes.min_value|int }}
        {%- else -%}null{%- endif -%}
    motion_annotated_count_max_value:
      friendly_name: Annotated count max
      entity_id:
        - sensor.motion_annotated_count_statistics
      unit_of_measurement: entities
      value_template: >-
        {% if states('sensor.motion_annotated_count_statistics') != 'unknown' %}
          {{ states.sensor.motion_annotated_count_statistics.attributes.max_value|int }}
        {%- else -%}null{%- endif -%}
    motion_annotated_count_stdev:
      friendly_name: Annotated count stdev
      entity_id:
        - sensor.motion_annotated_count_statistics
      unit_of_measurement: entities
      value_template: >
        {% if states('sensor.motion_annotated_count_statistics') != 'unknown' %}
          {{ states.sensor.motion_annotated_count_statistics.attributes.standard_deviation|float }}
        {%- else -%}null{%- endif -%}
    motion_annotated_count_change_rate:
      friendly_name: Annotated count change
      entity_id:
        - sensor.motion_annotated_count_statistics
      unit_of_measurement: entities
      value_template: >
        {% if states('sensor.motion_annotated_count_statistics') != 'unknown' %}
          {{ states.sensor.motion_annotated_count_statistics.attributes.change_rate|float }}
        {%- else -%}null{%- endif -%}

    ## attributes
    motion_annotated_device:
      friendly_name: Annotated device
      entity_id:
        - sensor.motion_annotated_counter
      value_template: >-
        {% if state_attr('sensor.motion_event_annotated','event') != none %}
          {{ states.sensor.motion_event_annotated.attributes.event.device }}
        {% else %}null{% endif %}
    motion_annotated_camera:
      friendly_name: Annotated camera
      entity_id:
        - sensor.motion_annotated_counter
      value_template: >-
        {% if state_attr('sensor.motion_event_annotated','event') != none %}
          {{ states.sensor.motion_event_annotated.attributes.event.camera }}
        {% else %}null{% endif %}
    motion_annotated_detected:
      friendly_name: Annotated detected
      entity_id:
        - sensor.motion_event_annotated
      value_template: >-
        {% if state_attr('sensor.motion_event_annotated','detected') != none %}
          {{ states.sensor.motion_event_annotated.attributes.detected }}
        {% else %}null{% endif %}

    ## entity_list
    motion_annotated_entity_list:
      friendly_name: Annotated entity list
      entity_id:
        - sensor.motion_event_annotated
      value_template: >-
        {% if states.sensor.motion_event_annotated != none
              and state_attr('sensor.motion_event_annotated','count') != none
              and states.sensor.motion_event_annotated.attributes.count|int > 0 %}
          {% for detected in states.sensor.motion_event_annotated.attributes.detected %}
            {%- if loop.first -%}{%- else -%},{%- endif -%}
            {{- detected.entity -}}
          {% endfor %}
        {% else %}null{% endif %}

# picture
- platform: template
  sensors:
    motion_annotated_picture:
      friendly_name: Annotated picture
      entity_id:
        - sensor.motion_event_annotated
      value_template: >-
        {% set bu = states('sensor.motion_base_url') %}
        {% set c = states.sensor.motion_event_annotated.attributes.event.camera %}
        {% if bu != 'unknown' and c|lower != none and c != 'unknown' and c|length > 0 %}
          {% if states('input_boolean.motion_snapshot') == 'on' %}
            {{ bu + '/local/images/motion_annotated-' + c + '.jpg' }}
          {% else %}
            {% set ep = state_attr('camera.motion_event_annotated_' + c,'entity_picture') %}
            {% if ep != 'unknown' and ep != 'null' and ep|length > 0 %}
              {{ bu + ep }}
            {% else %}
              {{ states('sensor.motion_nosignal_picture') }}
            {% endif %}
          {% endif %}
        {% else %}{{ states('sensor.motion_testsignal_picture') }}{% endif %}

## statistics

# counter
- platform: statistics
  name: motion_annotated_counter_statistics
  entity_id: sensor.motion_annotated_counter
  sampling_size: 100
  max_age:
    hours: 24
- platform: statistics
  name: motion_annotated_counter_stdev_statistics
  entity_id: sensor.motion_annotated_counter_stdev
  sampling_size: 100
  max_age:
    hours: 24
# entity count
- platform: statistics
  name: motion_annotated_count_statistics
  entity_id: sensor.motion_annotated_count
  sampling_size: 100
  max_age:
    hours: 24
- platform: statistics
  name: motion_annotated_count_stdev_statistics
  entity_id: sensor.motion_annotated_count_stdev
  sampling_size: 100
  max_age:
    hours: 24
- platform: statistics
  name: motion_annotated_count_statistics
  entity_id: sensor.motion_annotated_count
  sampling_size: 100
  max_age:
    hours: 24
- platform: statistics
  name: motion_annotated_count_stdev_statistics
  entity_id: sensor.motion_annotated_count_stdev
  sampling_size: 100
  max_age:
    hours: 24
# seconds ago
- platform: statistics
  name: motion_annotated_ago_statistics
  entity_id: sensor.motion_annotated_ago
  sampling_size: 100
  max_age:
    hours: 24
- platform: statistics
  name: motion_annotated_ago_stdev_statistics
  entity_id: sensor.motion_annotated_ago_stdev
  sampling_size: 100
  max_age:
    hours: 24
# seconds elapsed
- platform: statistics
  name: motion_annotated_elapsed_statistics
  entity_id: sensor.motion_annotated_elapsed
  sampling_size: 100
  max_age:
    hours: 24
- platform: statistics
  name: motion_annotated_elapsed_stdev_statistics
  entity_id: sensor.motion_annotated_elapsed_stdev
  sampling_size: 100
  max_age:
    hours: 24
# seconds delay
- platform: statistics
  name: motion_annotated_delay_statistics
  entity_id: sensor.motion_annotated_delay
  sampling_size: 100
  max_age:
    hours: 24
- platform: statistics
  name: motion_annotated_delay_stdev_statistics
  entity_id: sensor.motion_annotated_delay_stdev
  sampling_size: 100
  max_age:
    hours: 24

## history_stats

#- platform: history_stats
#  name: motion_annotated_count_today
#  entity_id: binary_sensor.motion_annotated
#  state: 'on'
#  type: count
#  start: '{{ now().replace(hour=0).replace(minute=0).replace(second=0) }}'
#  end: '{{ now() }}'
#
#- platform: history_stats
#  name: motion_annotated_ratio_today
#  entity_id: binary_sensor.motion_annotated
#  state: 'on'
#  type: ratio
#  start: '{{ now().replace(hour=0).replace(minute=0).replace(second=0) }}'
#  end: '{{ now() }}'
