[
  {
    "name": "local",
    "mjpeg_url": "http://127.0.0.1:8090/1",
    "icon": "glass-wine",
    "username": "username",
    "password": "password"
  },
  {
    "name": "shed",
    "mjpeg_url": "http://127.0.0.1:8090/2",
    "icon": "window-shutter-open",
    "username": "username",
    "password": "password"
  },
  {
    "name": "dogpond",
    "mjpeg_url": "http://127.0.0.1:8090/3",
    "icon": "car",
    "username": "username",
    "password": "password"
  },
  {
    "name": "pondview",
    "mjpeg_url": "http://127.0.0.1:8090/4",
    "icon": "waves",
    "username": "username",
    "password": "password"
  }
]
