[
  {
    "name": "local",
    "device": "/dev/video0",
    "mjpeg_url": "http://127.0.0.1:8090/1",
    "still_image_url": "",
    "icon": "raspberry-pi",
    "username": "username",
    "password": "password"
  },
  {
    "name": "pondview",
    "url": "mjpeg://www.dcmartin.com:8897",
    "mjpeg_url": "http://127.0.0.1:8090/2",
    "still_image_url": "",
    "icon": "waves",
    "username": "",
    "password": ""
  },
  {
    "name": "${MOTION_CAMERA}",
    "url": "ftpd:///share/ftp/${MOTION_CAMERA}",
    "mjpeg_url": "http://${MOTION_DEVICE}.${DOMAIN_NAME}/img/video.mjpeg",
    "still_image_url": "http://${MOTION_DEVICE}.${DOMAIN_NAME}/img/snapshot.cgi",
    "icon": "texture-box",
    "username": "!secret webcam-username",
    "password": "!secret webcam-password"
  }
]
