###
# mobile.yaml.tmpl
###

- id: ${MOBILE_DEVICE}_charging
  alias: ${MOBILE_DEVICE} - Charging
  description: ''
  trigger:
  - platform: time_pattern
    seconds: /60
  condition:
  - condition: or
    conditions:
    - condition: state
      entity_id: sensor.${MOBILE_DEVICE}_battery
      state: Charging
    - condition: state
      entity_id: sensor.${MOBILE_DEVICE}_battery
      state: Full
  action:
  - data:
      message: request_location_update
    service: notify.mobile_app_mike_s_iphone_xs
  mode: single

- id: ${MOBILE_DEVICE}_driving
  alias: ${MOBILE_DEVICE} - Driving
  description: ''
  trigger:
  - platform: time_pattern
    seconds: /60
  condition:
  - condition: state
    entity_id: sensor.${MOBILE_DEVICE}_activity
    state: Automotive
  - condition: not
    conditions:
    - condition: state
      entity_id: sensor.${MOBILE_DEVICE}_battery
      state: Charging
    - condition: state
      entity_id: sensor.${MOBILE_DEVICE}_battery
      state: Full
    - condition: template
      value_template: >-
        {{ state_attr('sensor.${MOBILE_DEVICE}_battery','Low Power Mode') }}
  action:
  - data:
      message: request_location_update
    service: notify.mobile_app_mike_s_iphone_xs
  mode: single

- id: ${MOBILE_DEVICE}_lowpower
  alias: ${MOBILE_DEVICE} - Low Power
  description: ''
  trigger:
  - minutes: /10
    platform: time_pattern
  condition:
  - condition: not
    conditions:
    - condition: state
      entity_id: sensor.${MOBILE_DEVICE}_battery
      state: Charging
    - condition: state
      entity_id: sensor.${MOBILE_DEVICE}_battery
      state: Full
  - condition: template
    value_template: >-
      {{ state_attr('sensor.${MOBILE_DEVICE}_battery','Low Power Mode') }}
  action:
  - data:
      message: request_location_update
    service: notify.mobile_app_mike_s_iphone_xs
  mode: single

- id: ${MOBILE_DEVICE}_other
  alias: ${MOBILE_DEVICE} - Other
  description: ''
  trigger:
  - platform: time_pattern
    minutes: /10
  condition:
  - condition: not
    conditions:
    - condition: state
      entity_id: sensor.${MOBILE_DEVICE}_activity
      state: Automotive
    - condition: state
      entity_id: sensor.${MOBILE_DEVICE}_battery
      state: Charging
    - condition: state
      entity_id: sensor.${MOBILE_DEVICE}_battery
      state: Full
    - condition: template
      value_template: >-
        {{ state_attr('sensor.${MOBILE_DEVICE}_battery','Low Power Mode') }}
  action:
  - data:
      message: request_location_update
    service: notify.mobile_app_mike_s_iphone_xs
  mode: single
