###
# mobile.yaml.tmpl
###

- id: ${MOBILE_DEVICE}_charging
  alias: ${MOBILE_DEVICE} - Charging
  description: ''
  trigger:
  - platform: time_pattern
    seconds: /60
  condition:
  - condition: or
    conditions:
    - condition: state
      entity_id: sensor.${MOBILE_DEVICE}_battery
      state: Charging
    - condition: state
      entity_id: sensor.${MOBILE_DEVICE}_battery
      state: Full
  action:
  - data:
      message: request_location_update
    service: notify.mobile_app_mike_s_iphone_xs
  mode: single

- id: ${MOBILE_DEVICE}_driving
  alias: ${MOBILE_DEVICE} - Driving
  description: ''
  trigger:
  - platform: time_pattern
    seconds: /60
  condition:
  - condition: state
    entity_id: sensor.${MOBILE_DEVICE}_activity
    state: Automotive
  - condition: not
    conditions:
    - condition: state
      entity_id: sensor.${MOBILE_DEVICE}_battery
      state: Charging
    - condition: state
      entity_id: sensor.${MOBILE_DEVICE}_battery
      state: Full
    - condition: template
      value_template: >-
        {{ state_attr('sensor.${MOBILE_DEVICE}_battery','Low Power Mode') }}
  action:
  - data:
      message: request_location_update
    service: notify.mobile_app_mike_s_iphone_xs
  mode: single

- id: ${MOBILE_DEVICE}_lowpower
  alias: ${MOBILE_DEVICE} - Low Power
  description: ''
  trigger:
  - minutes: /10
    platform: time_pattern
  condition:
  - condition: not
    conditions:
    - condition: state
      entity_id: sensor.${MOBILE_DEVICE}_battery
      state: Charging
    - condition: state
      entity_id: sensor.${MOBILE_DEVICE}_battery
      state: Full
  - condition: template
    value_template: >-
      {{ state_attr('sensor.${MOBILE_DEVICE}_battery','Low Power Mode') }}
  action:
  - data:
      message: request_location_update
    service: notify.mobile_app_mike_s_iphone_xs
  mode: single

- id: ${MOBILE_DEVICE}_other
  alias: ${MOBILE_DEVICE} - Other
  description: ''
  trigger:
  - platform: time_pattern
    minutes: /10
  condition:
  - condition: not
    conditions:
    - condition: state
      entity_id: sensor.${MOBILE_DEVICE}_activity
      state: Automotive
    - condition: state
      entity_id: sensor.${MOBILE_DEVICE}_battery
      state: Charging
    - condition: state
      entity_id: sensor.${MOBILE_DEVICE}_battery
      state: Full
    - condition: template
      value_template: >-
        {{ state_attr('sensor.${MOBILE_DEVICE}_battery','Low Power Mode') }}
  action:
  - data:
      message: request_location_update
    service: notify.mobile_app_mike_s_iphone_xs
  mode: single

##Dynamic notification that is sent to my app when the garage opens. Presents a button to close the garage I can tap from my phone or watch. 

- id: "1582037867237"
  alias: Dynamic Notification - Garage Close
  description: ""
  trigger:
    - entity_id: cover.linear_nortek_security_control_llc_gd00z_4_garage_door_opener_remote_controller_barrier_state_label
      from: closed
      platform: state
      to: open
  condition:
    - condition: state
      entity_id: person.clayton
      state: home
  action:
    - data:
        data:
          push:
            category: Garage_close
        message: Do you want to close it?
        title: The garage is open!
      service: notify.claysdevices
  mode: single


##This automation is triggered of of the action_fired event from the automation above and closes the garage and send a confirmation notification to the app.

- id: "1581992235560"
  alias: Actionable Notification - Close Garage
  description: ""
  trigger:
    - event_data:
        actionName: Garage_close
      event_type: ios.notification_action_fired
      platform: event
  condition: []
  action:
    - entity_id: cover.linear_nortek_security_control_llc_gd00z_4_garage_door_opener_remote_controller_barrier_state_label
      service: cover.close_cover
    - data:
        message: Ok, the garage will be closed
        title: You got it
      service: notify.claysdevices
  mode: single
