consul-url: ${CONSUL_URL}
couchdb-url: ${COUCHDB_URL}
digits-url: ${DIGITS_URL}
edgex-url: ${EDGEX_URL}
grafana-url: ${GRAFANA_URL}
netdata-url: ${NETDATA_URL}
exchange-apikey: ${EXCHANGE_APIKEY} 
exchange-api-status: ${EXCHANGE_URL}/v1/admin/status
exchange-api-version: ${EXCHANGE_URL}/v1/admin/version
exchange-username: ${EXCHANGE_ORG}/${EXCHANGE_ORG_ADMIN}
ha-local-or-remote: local
ha-ip: ${HOST_IPADDR}
ha-name: ${HOST_NAME}
ha-port: ${HOST_PORT}
ha-theme: red
ha-timezone: America/Los_Angeles
ha-url: http://${HOST_NAME}:${HOST_PORT}
hznmonitor-exchange: ${HZMONITOR_URL}/cgi-bin/exchange
hznmonitor-nodes: ${HZNMONITOR_URL}/cgi-bin/nodes
hznmonitor-patterns: ${HZNMONITOR_URL}/cgi-bin/patterns
hznmonitor-services: ${HZNMONITOR_URL}/cgi-bin/services
hznmonitor-url: ${HZNMONITOR_URL}/
influxdb-host: ${INFLUXDB_HOST}
influxdb-password: ${INFLUXDB_PASSWORD}
mqtt-broker: ${MQTT_HOST}
mqtt-password: ${MQTT_PASSWORD}
mqtt-port: ${MQTT_PORT}
mqtt-username: ${MQTT_USERNAME}
webcam-password: ${WEBCAM_PASSWORD}
webcam-username: ${WEBCAM_USERNAME}
