base-url: http://horizon-vm.local:3092
consul-url: http://consul.dcmartin.com:8500/ui
couchdb-url: http://couchdb.dcmartin.com:5984/_utils
digits-url: http://digits.dcmartin.com:5000/
edgex-url: http://edgex.dcmartin.com:4000
exchange-api-status: http://exchange.dcmartin.com:3090/v1/admin/status
exchange_api: whocares
exchange_auth: dcmartin/dcmartin
grafana-url: http://grafana.dcmartin.com:3000
ha-name: horizon-vm.local
ha-timezone: America/Los_Angeles
hznmonitor-exchange: http://hznmonitor.dcmartin.com:3094/cgi-bin/exchange
hznmonitor: http://hznmonitor.dcmartin.com:3094/
hznmonitor-nodes: http://hznmonitor.dcmartin.com:3094/cgi-bin/nodes
hznmonitor-patterns: http://hznmonitor.dcmartin.com:3094/cgi-bin/patterns
hznmonitor-services: http://hznmonitor.dcmartin.com:3094/cgi-bin/services
influxdb-host: exchange.dcmartin.com
influxdb-password: ask4it
mqtt-broker: mqtt.dcmartin.com
mqtt-password: password
mqtt-port: 1883
mqtt-username: username
netdata: http://horizon-vm.local:19999/
server-port: 3092
