consul-url: ${CONSUL_URL}
couchdb-url: ${COUCHDB_URL}
digits-url: ${DIGITS_URL}
edgex-url: ${EDGEX_URL}
grafana-url: ${GRAFANA_URL}
netdata-url: ${NETDATA_URL}
exchange-apikey: ${EXCHANGE_APIKEY} 
exchange-api-status: ${EXCHANGE_URL}/v1/admin/status
exchange-api-version: ${EXCHANGE_URL}/v1/admin/version
exchange-username: ${EXCHANGE_ORG}/${EXCHANGE_ORG_ADMIN}
ha-local-or-remote: local
ha-ip: ${HOST_IPADDR}
ha-name: ${HOST_NAME}
ha-port: ${HOST_PORT}
ha-theme: ${HOST_THEME}
ha-timezone: America/Los_Angeles
ha-url: http://${HOST_NAME}:${HOST_PORT}
hznmonitor-exchange: ${HZNMONITOR_URL}/cgi-bin/exchange
hznmonitor-nodes: ${HZNMONITOR_URL}/cgi-bin/nodes
hznmonitor-patterns: ${HZNMONITOR_URL}/cgi-bin/patterns
hznmonitor-services: ${HZNMONITOR_URL}/cgi-bin/services
hznmonitor-url: ${HZNMONITOR_URL}/
influxdb-host: ${INFLUXDB_HOST}
influxdb-password: ${INFLUXDB_PASSWORD}
mqtt-broker: ${MQTT_HOST}
mqtt-password: ${MQTT_PASSWORD}
mqtt-port: ${MQTT_PORT}
mqtt-username: ${MQTT_USERNAME}
webcam-password: ${WEBCAM_PASSWORD}
webcam-username: ${WEBCAM_USERNAME}
# nmap-tracker
nmap-tracker-hosts: ${HOST_NETWORK}/${HOST_NETWORK_MASK}
nmap-tracker-exclude: ${HOST_IPADDR}
# startup
internet-automations: ${AUTOMATION_internet}
startup-automations: ${AUTOMATION_startup}
sdr2msghub-automations: ${AUTOMATION_sdr2msghub}
yolo2msghub-automations: ${AUTOMATION_yolo2msghub}
highlow-automations: ${AUTOMATION_highlow}
# logger
logger-default: ${LOGGER_DEFAULT}
logger-automation: info
logger-binary_sensor: warn
logger-camera: warn
logger-components: warn
logger-core: warn
logger-loader: warn
logger-mqtt-sensor: error
logger-recorder-util: warn
logger-recorder: warn
logger-sensor: warn
logger-setup: warn
logger-statistics-sensor: fatal
logger-template-sensor: warn
logger-template-binary_sensor: error
##
internet-scan-interval: ${INTERNET_SCAN_INTERVAL}
##
motion-snapshot: false
