{
  "DOMAIN_NAME": "${DOMAIN_NAME}",
  "HOST_INTERFACE": "${HOST_INTERFACE}",
  "HOST_IPADDR": "${HOST_IPADDR}",
  "HOST_LATITUDE": "${HOST_LATITUDE}",
  "HOST_LONGITUDE": "${HOST_LONGITUDE}",
  "HOST_NAME": "${HOST_NAME}",
  "HOST_NETWORK": "${HOST_NETWORK}",
  "HOST_NETWORK_MASK": "${HOST_NETWORK_MASK}",
  "HOST_PORT": "${HOST_PORT}",
  "HOST_THEME": "${HOST_THEME}",
  "HOST_TIMEZONE": "${HOST_TIMEZONE}",
  "INFLUXDB_DATABASE": "${INFLUXDB_DATABASE}",
  "INFLUXDB_HOST": "${INFLUXDB_HOST}",
  "INFLUXDB_PASSWORD": "${INFLUXDB_PASSWORD}",
  "INFLUXDB_USERNAME": "${INFLUXDB_USERNAME}",
  "INTERNET_SCAN_INTERVAL": "${INTERNET_SCAN_INTERVAL}",
  "INTRANET_SCAN_INTERVAL": "${INTRANET_SCAN_INTERVAL}",
  "IPERF_HOST": "${IPERF_HOST}",
  "JUPYTER_URL": "${JUPYTER_URL}",
  "LOGGER_AUTOMATION": "${LOGGER_AUTOMATION}",
  "LOGGER_DEFAULT": "${LOGGER_DEFAULT}",
  "LOGGER_MQTT": "${LOGGER_MQTT}",
  "MARIADB_HOST": "${MARIADB_HOST}",
  "MARIADB_PASSWORD": "${MARIADB_PASSWORD}",
  "MOTIONCAM_PASSWORD": "${MOTIONCAM_PASSWORD}",
  "MOTIONCAM_USERNAME": "${MOTIONCAM_USERNAME}",
  "MOTION_ALPR_DETECTED_AGO": "${MOTION_ALPR_DETECTED_AGO}",
  "MOTION_ALPR_DETECTED_DEVIATION": "${MOTION_ALPR_DETECTED_DEVIATION}",
  "MOTION_ALPR_DETECTED_NOTIFY": "${MOTION_ALPR_DETECTED_NOTIFY}",
  "MOTION_ALPR_DETECTED_SPEAK": "${MOTION_ALPR_DETECTED_SPEAK}",
  "MOTION_ALPR_DETECTED_TUNE": "${MOTION_ALPR_DETECTED_TUNE}",
  "MOTION_ANNOTATED_AGO": "${MOTION_ANNOTATED_AGO}",
  "MOTION_CAMERA_RESTART": "${MOTION_CAMERA_RESTART}",
  "MOTION_CAMERA_ANY": "${MOTION_CAMERA_ANY}",
  "MOTION_CLIENT": "${MOTION_CLIENT}",
  "MOTION_DETECTED_AGO": "${MOTION_DETECTED_AGO}",
  "MOTION_DETECTED_ANIMAL_AGO": "${MOTION_DETECTED_ANIMAL_AGO}",
  "MOTION_DETECTED_ANIMAL_DEVIATION": "${MOTION_DETECTED_ANIMAL_DEVIATION}",
  "MOTION_DETECTED_ANIMAL_ENTITY": "${MOTION_DETECTED_ANIMAL_ENTITY}",
  "MOTION_DETECTED_ANIMAL_NOTIFY": "${MOTION_DETECTED_ANIMAL_NOTIFY}",
  "MOTION_DETECTED_ANIMAL_SPEAK": "${MOTION_DETECTED_ANIMAL_SPEAK}",
  "MOTION_DETECTED_ANIMAL_TUNE": "${MOTION_DETECTED_ANIMAL_TUNE}",
  "MOTION_DETECTED_ENTITY": "${MOTION_DETECTED_ENTITY}",
  "MOTION_DETECTED_ENTITY_AGO": "${MOTION_DETECTED_ENTITY_AGO}",
  "MOTION_DETECTED_ENTITY_DEVIATION": "${MOTION_DETECTED_ENTITY_DEVIATION}",
  "MOTION_DETECTED_ENTITY_NOTIFY": "${MOTION_DETECTED_ENTITY_NOTIFY}",
  "MOTION_DETECTED_ENTITY_SPEAK": "${MOTION_DETECTED_ENTITY_SPEAK}",
  "MOTION_DETECTED_ENTITY_TUNE": "${MOTION_DETECTED_ENTITY_TUNE}",
  "MOTION_DETECTED_PERSON_AGO": "${MOTION_DETECTED_PERSON_AGO}",
  "MOTION_DETECTED_PERSON_DEVIATION": "${MOTION_DETECTED_PERSON_DEVIATION}",
  "MOTION_DETECTED_PERSON_ENTITY": "${MOTION_DETECTED_PERSON_ENTITY}",
  "MOTION_DETECTED_PERSON_NOTIFY": "${MOTION_DETECTED_PERSON_NOTIFY}",
  "MOTION_DETECTED_PERSON_SPEAK": "${MOTION_DETECTED_PERSON_SPEAK}",
  "MOTION_DETECTED_PERSON_TUNE": "${MOTION_DETECTED_PERSON_TUNE}",
  "MOTION_DETECTED_VEHICLE_AGO": "${MOTION_DETECTED_VEHICLE_AGO}",
  "MOTION_DETECTED_VEHICLE_DEVIATION": "${MOTION_DETECTED_VEHICLE_DEVIATION}",
  "MOTION_DETECTED_VEHICLE_ENTITY": "${MOTION_DETECTED_VEHICLE_ENTITY}",
  "MOTION_DETECTED_VEHICLE_NOTIFY": "${MOTION_DETECTED_VEHICLE_NOTIFY}",
  "MOTION_DETECTED_VEHICLE_SPEAK": "${MOTION_DETECTED_VEHICLE_SPEAK}",
  "MOTION_DETECTED_VEHICLE_TUNE": "${MOTION_DETECTED_VEHICLE_TUNE}",
  "MOTION_DETECT_ENTITY": "${MOTION_DETECT_ENTITY}",
  "MOTION_DEVICE": "${MOTION_DEVICE}",
  "MOTION_EXPIRE_AFTER": "${MOTION_EXPIRE_AFTER}",
  "MOTION_FACE_DETECTED_AGO": "${MOTION_FACE_DETECTED_AGO}",
  "MOTION_FACE_DETECTED_DEVIATION": "${MOTION_FACE_DETECTED_DEVIATION}",
  "MOTION_FACE_DETECTED_NOTIFY": "${MOTION_FACE_DETECTED_NOTIFY}",
  "MOTION_FACE_DETECTED_SPEAK": "${MOTION_FACE_DETECTED_SPEAK}",
  "MOTION_FACE_DETECTED_TUNE": "${MOTION_FACE_DETECTED_TUNE}",
  "MOTION_FORCE_UPDATE": "${MOTION_FORCE_UPDATE}",
  "MOTION_APP": "${MOTION_APP}",
  "MOTION_SITE": "${MOTION_SITE}",
  "MOTION_GROUP": "${MOTION_GROUP}",
  "MOTION_LOG_LEVEL": "${MOTION_LOG_LEVEL}",
  "MOTION_MEDIA_MASK": "${MOTION_MEDIA_MASK}",
  "MOTION_MEDIA_SAVE": "${MOTION_MEDIA_SAVE}",
  "MOTION_NOTIFY_SMARTPHONE": "${MOTION_NOTIFY_SMARTPHONE}",
  "MOTION_OVERVIEW_APIKEY": "${MOTION_OVERVIEW_APIKEY}",
  "MOTION_OVERVIEW_IMAGE": "${MOTION_OVERVIEW_IMAGE}",
  "MOTION_OVERVIEW_MODE": "${MOTION_OVERVIEW_MODE}",
  "MOTION_OVERVIEW_ZOOM": "${MOTION_OVERVIEW_ZOOM}",
  "MOTION_POSE_DETECTED_AGO": "${MOTION_POSE_DETECTED_AGO}",
  "MOTION_POSE_DETECTED_DEVIATION": "${MOTION_POSE_DETECTED_DEVIATION}",
  "MOTION_POSE_DETECTED_NOTIFY": "${MOTION_POSE_DETECTED_NOTIFY}",
  "MOTION_POSE_DETECTED_SPEAK": "${MOTION_POSE_DETECTED_SPEAK}",
  "MOTION_POSE_DETECTED_TUNE": "${MOTION_POSE_DETECTED_TUNE}",
  "MOTION_REPOSITORY": "${MOTION_REPOSITORY}",
  "MOTION_ROUTER_NAME": "${MOTION_ROUTER_NAME}",
  "MOTION_TWILIO_NAME": "${MOTION_TWILIO_NAME}",
  "MOTION_TWILIO_NUMBER": "${MOTION_TWILIO_NUMBER}",
  "MOTION_TWILIO_SID": "${MOTION_TWILIO_SID}",
  "MOTION_TWILIO_TOKEN": "${MOTION_TWILIO_TOKEN}",
  "MOTION_USER": "${MOTION_USER}",
  "MOTION_PRIMARY": "${MOTION_PRIMARY}",
  "MOTION_SECONDARY": "${MOTION_SECONDARY}",
  "MOTION_TERTIARY": "${MOTION_TERTIARY}",
  "MOTION_USER_DEVICE": "${MOTION_USER_DEVICE}",
  "MOTION_PRIMARY_DEVICE": "${MOTION_PRIMARY_DEVICE}",
  "MOTION_SECONDARY_DEVICE": "${MOTION_SECONDARY_DEVICE}",
  "MOTION_TERTIARY_DEVICE": "${MOTION_TERTIARY_DEVICE}",
  "MOTION_W3W_APIKEY": "${MOTION_W3W_APIKEY}",
  "MOTION_W3W_EMAIL": "${MOTION_W3W_EMAIL}",
  "MOTION_W3W_WORDS": "${MOTION_W3W_WORDS}",
  "MOTION_YOLO_CONFIG": "${MOTION_YOLO_CONFIG}",
  "MOTION_YOLO_IP": "${MOTION_YOLO_IP}",
  "MQTT_HOST": "${MQTT_HOST}",
  "MQTT_PASSWORD": "${MQTT_PASSWORD}",
  "MQTT_PORT": "${MQTT_PORT}",
  "MQTT_USERNAME": "${MQTT_USERNAME}",
  "NETCAM_PASSWORD": "${NETCAM_PASSWORD}",
  "NETCAM_USERNAME": "${NETCAM_USERNAME}",
  "NETDATA_URL": "${NETDATA_URL}",
  "OMADA_PASSWORD": "${OMADA_PASSWORD}",
  "OMADA_URL": "${OMADA_URL}",
  "OMADA_USERNAME": "${OMADA_USERNAME}",
  "TPLINK_DISCOVERY": "${TPLINK_DISCOVERY}",
  "UPTIMEROBOT_RSSURL": "${UPTIMEROBOT_RSSURL}",
  "timestamp": "${TIMESTAMP}"
}
