[
  {
    "name": "local",
    "top": 50,
    "left": 50,
    "type": "local",
    "mjpeg_url": "http://127.0.0.1:8090/1",
    "icon": "cctv",
    "username": "username",
    "password": "password",
    "w3w": []
  }
]
