##
# vehicle_alpr
##

- id: motion_${MOTION_CAMERA}_vehicle_alpr_counter
  alias: motion_${MOTION_CAMERA}_vehicle_alpr_counter
  initial_state: on
  mode: single
  trigger:
    platform: state
    entity_id: binary_sensor.motion_${MOTION_CAMERA}_vehicle_alpr
  condition:
    condition: and
    conditions:
      - condition: template
        value_template: >
          {{ trigger.to_state.state != trigger.from_state.state }}
      - condition: template
        value_template: >-
          {{ is_state('binary_sensor.motion_${MOTION_CAMERA}_vehicle_alpr','on') }}
  action:
    - service: counter.increment
      entity_id: counter.motion_${MOTION_CAMERA}_vehicle_alpr_counter

- id: motion_${MOTION_CAMERA}_vehicle_alpr_snapshot
  alias: motion_${MOTION_CAMERA}_vehicle_alpr_snapshot
  initial_state: on
  trigger:
    - platform: state
      entity_id: counter.motion_${MOTION_CAMERA}_vehicle_alpr_counter
  condition:
    condition: and
    conditions:
      - condition: template
        value_template: >-
          {% set s = states('camera.motion_${MOTION_CAMERA}_event_annotated') %}
          {% if s|lower != 'none' and s|lower != 'unavailable' and s|lower != 'unknown' %}
            {% set ep = state_attr('camera.motion_${MOTION_CAMERA}_event_annotated','entity_picture') %}
            {{ ep|lower != 'none' and ep|lower != 'unavailable' and ep|lower != 'none' and ep|lower != 'unknown' }}
          {% else %}false{% endif %}
  action:
    - service: camera.snapshot
      data_template:
        entity_id: >-
          {{ 'camera.motion_${MOTION_CAMERA}_event_annotated' }}
        filename: >-
          {{ '/config/www/images/motion/${MOTION_CAMERA}/vehicle_alpr.jpg' }}
    - service: camera.snapshot
      data_template:
        entity_id: >-
          {{ 'camera.motion_${MOTION_CAMERA}_event_animated' }}
        filename: >-
          {{ '/config/www/images/motion/${MOTION_CAMERA}/vehicle_alpr_animated.gif' }}
    - service: camera.snapshot
      data_template:
        entity_id: >-
          {{ 'camera.motion_${MOTION_CAMERA}_event_animated_mask' }}
        filename: >-
          {{ '/config/www/images/motion/${MOTION_CAMERA}/vehicle_alpr_animated_mask.gif' }}
    - service: local_file.update_file_path
      data_template:
        entity_id: >-
          {{ 'camera.motion_vehicle_alpr_animated_mask' }}
        file_path: >-
          {{ '/config/www/images/motion/${MOTION_CAMERA}/vehicle_alpr_animated_mask.gif' }}
    - service: local_file.update_file_path
      data_template:
        entity_id: >-
          {{ 'camera.motion_vehicle_alpr_animated' }}
        file_path: >-
          {{ '/config/www/images/motion/${MOTION_CAMERA}/vehicle_alpr_animated.gif' }}
    - service: local_file.update_file_path
      data_template:
        entity_id: >-
          {{ 'camera.motion_vehicle_alpr' }}
        file_path: >-
          {{ '/config/www/images/motion/${MOTION_CAMERA}/vehicle_alpr.jpg' }}
    - service: camera.snapshot
      data_template:
        entity_id: >-
          {{ 'camera.motion_${MOTION_CAMERA}_alpr_detected' }}
        filename: >-
          {{ '/config/www/images/motion/${MOTION_CAMERA}/vehicle_alpr_detected.jpg' }}
    - service: local_file.update_file_path
      data_template:
        entity_id: >-
          {{ 'camera.motion_vehicle_alpr_detected' }}
        file_path: >-
          {{ '/config/www/images/motion/${MOTION_CAMERA}/vehicle_alpr_detected.jpg' }}
