###
# motion/automation.intranet.yaml.tmpl
###

- id: intranet_publish
  alias: intranet_publish
  initial_state: on
  trigger:
    platform: state
    entity_id: binary_sensor.intranet_test
  condition:
    - condition: template
      value_template: >
        {{ states('binary_sensor.intranet_test') == 'on' and states('sensor.intranet_test') is not none )}}
  action:
    - service: mqtt.publish
      data_template:
        topic: '${MOTION_GROUP}/${MOTION_DEVICE}/intranet'
        retain: false
        payload: >
          {{ states.sensor.intranet_test.attributes }}
