###
# motion/automation.internet.yaml.tmpl
###

- id: internet_publish
  alias: internet_publish
  initial_state: on
  trigger:
    platform: state
    entity_id: binary_sensor.internet_test
  condition:
    - condition: template
      value_template: >
        {{ states('binary_sensor.internet_test') == 'on' and states('sensor.internet_test') is not none }}
  action:
    - service: mqtt.publish
      data_template:
        topic: '${MOTION_GROUP}/${MOTION_DEVICE}/internet'
        retain: false
        payload_template: >-
          {{ states.sensor.internet_test.attributes }}
        qos: 2
        retain: false
