###
## motion/binary_sensor.webcam.yaml.tmpl
###

- platform: template
  sensors:
    motion_status_camera_${MOTION_CAMERA}:
      friendly_name: ${MOTION_CAMERA} status_camera
      entity_id:
        - sensor.motion_status_camera_lost_date_${MOTION_CAMERA}
        - sensor.motion_status_camera_found_date_${MOTION_CAMERA}
      value_template: >
        {% set lost = states('sensor.motion_status_camera_lost_date_${MOTION_CAMERA}') %}
        {% if lost is not none and lost != 'null' %}
          {% set found = states('sensor.motion_status_camera_found_date_${MOTION_CAMERA}') %}
          {% if found is none or found == 'null' %}False{% else %}{{ found|int >= lost|int }}{% endif %}
        {% else %}True{% endif %}

- platform: template
  sensors:
    motion_status_camera_lost_${MOTION_CAMERA}:
      friendly_name: ${MOTION_CAMERA} status_camera_lost
      entity_id:
        - sensor.motion_status_camera_lost_${MOTION_CAMERA}
      value_template: >
        {{ states('sensor.motion_status_camera_lost_${MOTION_CAMERA}')|lower == 'true' }}

- platform: template
  sensors:
    motion_status_camera_found_${MOTION_CAMERA}:
      friendly_name: ${MOTION_CAMERA} status_camera_found
      entity_id:
        - sensor.motion_status_camera_found_${MOTION_CAMERA}
      value_template: >
        {{ states('sensor.motion_status_camera_found_${MOTION_CAMERA}')|lower == 'true' }}

## end
- platform: template
  sensors:
    motion_end_${MOTION_CAMERA}:
      friendly_name: ${MOTION_CAMERA} end
      entity_id:
        - sensor.motion_event_end_${MOTION_CAMERA}
      value_template: >
        {{ states('sensor.motion_event_end_${MOTION_CAMERA}')|lower == 'true' }}

- platform: template
  sensors:
    motion_end_expired_${MOTION_CAMERA}:
      entity_id:
        - sensor.motion_end_ago_${MOTION_CAMERA}
        - input_number.motion_end_ago
      value_template: >-
        {{ states('sensor.motion_end_ago_${MOTION_CAMERA}')|int > states('input_number.motion_end_ago')|int }}

## annotated
- platform: template
  sensors:
    motion_annotated_${MOTION_CAMERA}:
      friendly_name: ${MOTION_CAMERA} annotated
      entity_id:
        - sensor.motion_event_annotated_${MOTION_CAMERA}
      value_template: >
        {{ states('sensor.motion_event_annotated_${MOTION_CAMERA}')|lower == 'true' }}

- platform: template
  sensors:
    motion_annotated_expired_${MOTION_CAMERA}:
      entity_id:
        - sensor.motion_annotated_ago_${MOTION_CAMERA}
        - input_number.motion_annotated_ago
      value_template: >-
        {{ states('sensor.motion_annotated_ago_${MOTION_CAMERA}')|int > states('input_number.motion_annotated_ago')|int }}

## detected
- platform: template
  sensors:
    motion_detected_${MOTION_CAMERA}:
      entity_id:
        - counter.motion_annotated_counter_${MOTION_CAMERA}
      friendly_name: Detected 
      value_template: >-
        {% set count = state_attr('sensor.motion_event_annotated_${MOTION_CAMERA}','count') %}
        {% if count is not none and count|lower != 'unknown' and count != 'null' %}
          {{ count|int > 0 }}
        {% else %}null{% endif %}

- platform: template
  sensors:
    motion_detected_expired_${MOTION_CAMERA}:
      entity_id:
        - sensor.motion_detected_ago_${MOTION_CAMERA}
        - input_number.motion_detected_ago
      value_template: >-
        {{ states('sensor.motion_detected_ago_${MOTION_CAMERA}')|int > states('input_number.motion_detected_ago')|int }}

## detected entity
- platform: template
  sensors:
    motion_detected_entity_${MOTION_CAMERA}:
      entity_id:
        - counter.motion_annotated_counter_${MOTION_CAMERA}
      friendly_name: Detected entity
      value_template: >-
        {% set detected = state_attr('sensor.motion_event_annotated_${MOTION_CAMERA}','detected') %}
        {% set count = detected|selectattr('entity','==',states('sensor.motion_detect_entity'))|map(attribute='count')|sum %}
        {% if count is not none and count|lower != 'unknown' and count != 'null' %}
          {{ count|int > 0 }}
        {% else %}null{% endif %}

- platform: template
  sensors:
    motion_detected_entity_expired_${MOTION_CAMERA}:
      entity_id:
        - sensor.motion_detected_entity_ago_${MOTION_CAMERA}
        - input_number.motion_detected_entity_ago
      value_template: >-
        {{ states('sensor.motion_detected_entity_ago_${MOTION_CAMERA}')|int > states('input_number.motion_detected_entity_ago')|int }}

## complete
- platform: template
  sensors:
    motion_complete_${MOTION_CAMERA}:
      friendly_name: ${MOTION_CAMERA} complete
      entity_id:
        - sensor.motion_complete_${MOTION_CAMERA}
      value_template: >
        {% set d = states('sensor.motion_complete_${MOTION_CAMERA}')|int %}
        {{ d > 0 and d < states('input_number.motion_complete')|int }}

###
## person
###

- platform: template
  sensors:
    motion_detected_person_${MOTION_CAMERA}:
      friendly_name: Detected person
      entity_id:
        - binary_sensor.motion_detected_${MOTION_CAMERA}
        - sensor.motion_detected_ago_${MOTION_CAMERA}
      value_template: >-
        {% if states.sensor.motion_event_annotated_${MOTION_CAMERA}|lower != 'none'
              and states.sensor.motion_detected_person_${MOTION_CAMERA}.state|lower != 'unknown'
              and states.sensor.motion_detected_person_${MOTION_CAMERA}.state|lower != 'none'
              and states.sensor.motion_detected_person_${MOTION_CAMERA}.state|from_json != 'null'
              and states.sensor.motion_detected_person_${MOTION_CAMERA}.state|from_json is iterable %}
          {{ states.sensor.motion_detected_person_${MOTION_CAMERA}.state|from_json|sum|int > 0 }}
        {% else %}null{% endif %}

###
## vehicle
###

- platform: template
  sensors:
    motion_detected_vehicle_${MOTION_CAMERA}:
      friendly_name: Detected vehicle
      entity_id:
        - binary_sensor.motion_detected_${MOTION_CAMERA}
        - sensor.motion_detected_ago_${MOTION_CAMERA}
      value_template: >-
        {% if states.sensor.motion_event_annotated_${MOTION_CAMERA}|lower != 'none'
              and states.sensor.motion_detected_vehicle_${MOTION_CAMERA}.state|lower != 'none'
              and states.sensor.motion_detected_vehicle_${MOTION_CAMERA}.state|lower != 'unknown'
              and states.sensor.motion_detected_vehicle_${MOTION_CAMERA}.state|from_json != 'null'
              and states.sensor.motion_detected_vehicle_${MOTION_CAMERA}.state|from_json is iterable %}
          {{ states.sensor.motion_detected_vehicle_${MOTION_CAMERA}.state|from_json|sum|int > 0 }}
        {% else %}null{% endif %}

###
## animal
###

- platform: template
  sensors:
    motion_detected_animal_${MOTION_CAMERA}:
      friendly_name: Detected animal
      entity_id:
        - binary_sensor.motion_detected_${MOTION_CAMERA}
        - sensor.motion_detected_ago_${MOTION_CAMERA}
      value_template: >-
        {% if states.sensor.motion_event_annotated_${MOTION_CAMERA}|lower != 'none'
              and states.sensor.motion_detected_animal_${MOTION_CAMERA}.state|lower != 'none'
              and states.sensor.motion_detected_animal_${MOTION_CAMERA}.state|lower != 'unknown'
              and states.sensor.motion_detected_animal_${MOTION_CAMERA}.state|from_json != 'null'
              and states.sensor.motion_detected_animal_${MOTION_CAMERA}.state|from_json is iterable %}
          {{ states.sensor.motion_detected_animal_${MOTION_CAMERA}.state|from_json|sum|int > 0 }}
        {% else %}null{% endif %}

###
## face
###

- platform: template
  sensors:
    motion_face_${MOTION_CAMERA}:
      friendly_name: ${MOTION_CAMERA} face
      entity_id:
        - sensor.motion_event_face_${MOTION_CAMERA}
      value_template: >
        {{ states('sensor.motion_event_face_${MOTION_CAMERA}')|lower == 'true' }}

- platform: template
  sensors:
    motion_face_expired_${MOTION_CAMERA}:
      entity_id:
        - sensor.motion_face_ago_${MOTION_CAMERA}
        - input_number.motion_face_ago
      value_template: >-
        {{ states('sensor.motion_face_ago_${MOTION_CAMERA}')|int > states('input_number.motion_face_ago')|int }}

###
## face_detected
###

- platform: template
  sensors:
    motion_face_detected_${MOTION_CAMERA}:
      entity_id:
        - counter.motion_annotated_counter_${MOTION_CAMERA}
      friendly_name: Detected
      value_template: >-
        {% set count = state_attr('sensor.motion_event_annotated_${MOTION_CAMERA}','count') %}
        {% if count is not none and count|lower != 'unknown' and count != 'null' %}
          {{ count|int > 0 }}
        {% else %}null{% endif %}

- platform: template
  sensors:
    motion_face_detected_expired_${MOTION_CAMERA}:
      entity_id:
        - sensor.motion_face_detected_ago_${MOTION_CAMERA}
        - input_number.motion_face_detected_ago
      value_template: >-
        {{ states('sensor.motion_face_detected_ago_${MOTION_CAMERA}')|int > states('input_number.motion_face_detected_ago')|int }}
