###
# group/webcam-${MOTION_CAMERA}.yaml
###

motion_${MOTION_CAMERA}:
  name: Status ${MOTION_CAMERA}
  view: true
  icon: mdi:${MOTION_CAMERA_ICON}
#  control: hidden
  entities:
    - group.motion_${MOTION_CAMERA}_brief
    - group.motion_${MOTION_CAMERA}_summary
    - group.motion_${MOTION_CAMERA}_pictures

motion_${MOTION_CAMERA}_pictures:
  name: ${MOTION_CAMERA} pictures
#  control: hidden
  entities:
    - camera.motion_live_${MOTION_CAMERA}
    #- camera.motion_event_annotated_${MOTION_CAMERA}
    #- camera.motion_event_end_${MOTION_CAMERA}
    - camera.motion_event_animated_${MOTION_CAMERA}
    #- camera.motion_event_animated_mask_${MOTION_CAMERA}
    #- camera.motion_event_composite_${MOTION_CAMERA}
    - camera.motion_detected_entity_picture_${MOTION_CAMERA}
    - camera.motion_detected_picture_${MOTION_CAMERA}
    - camera.motion_annotated_picture_${MOTION_CAMERA}
    #- camera.motion_end_picture_${MOTION_CAMERA}

motion_${MOTION_CAMERA}_brief:
  name: motion_${MOTION_CAMERA}_brief
#  control: hidden
  entities:
    - sensor.motion_status_camera_${MOTION_CAMERA}
    - binary_sensor.motion_status_camera_${MOTION_CAMERA}
    - sensor.motion_detected_entity_status_${MOTION_CAMERA}
    - sensor.motion_detected_status_${MOTION_CAMERA}
    - sensor.motion_annotated_status_${MOTION_CAMERA}
    - sensor.motion_end_status_${MOTION_CAMERA}
    - sensor.motion_annotated_delay_${MOTION_CAMERA}_mean
    - binary_sensor.motion_status_camera_found_${MOTION_CAMERA}
    - sensor.motion_status_camera_found_when_${MOTION_CAMERA}
    - sensor.motion_status_camera_found_counter_${MOTION_CAMERA}
    - binary_sensor.motion_status_camera_lost_${MOTION_CAMERA}
    - sensor.motion_status_camera_lost_when_${MOTION_CAMERA}
    - sensor.motion_status_camera_lost_counter_${MOTION_CAMERA}

motion_${MOTION_CAMERA}_summary:
  name: motion_${MOTION_CAMERA}_summary
#  control: hidden
  entities:
    - binary_sensor.motion_detected_entity_${MOTION_CAMERA}
    - sensor.motion_detected_entity_when_${MOTION_CAMERA}
    - sensor.motion_detected_entity_count_${MOTION_CAMERA}
    - sensor.motion_detected_entity_counter_${MOTION_CAMERA}
    - binary_sensor.motion_detected_${MOTION_CAMERA}
    - sensor.motion_detected_when_${MOTION_CAMERA}
    - sensor.motion_detected_count_${MOTION_CAMERA}
    - sensor.motion_detected_counter_${MOTION_CAMERA}
    - binary_sensor.motion_annotated_${MOTION_CAMERA}
    - sensor.motion_annotated_when_${MOTION_CAMERA}
    - sensor.motion_annotated_count_${MOTION_CAMERA}
    - sensor.motion_annotated_count_entity_${MOTION_CAMERA}
    - sensor.motion_annotated_counter_${MOTION_CAMERA}
    - sensor.motion_annotated_percent_${MOTION_CAMERA}
    - sensor.motion_annotated_when_${MOTION_CAMERA}
    - sensor.motion_annotated_count_${MOTION_CAMERA}
    - sensor.motion_annotated_count_entity_${MOTION_CAMERA}
    - sensor.motion_annotated_list_${MOTION_CAMERA}
    - sensor.motion_annotated_delay_${MOTION_CAMERA}
    - sensor.motion_annotated_ago_${MOTION_CAMERA}
    - binary_sensor.motion_end_${MOTION_CAMERA}
    - sensor.motion_end_when_${MOTION_CAMERA}
    - sensor.motion_end_counter_${MOTION_CAMERA}
    - sensor.motion_end_ago_${MOTION_CAMERA}
    - counter.motion_complete_counter_${MOTION_CAMERA}
    - sensor.motion_complete_${MOTION_CAMERA}
    - binary_sensor.motion_complete_${MOTION_CAMERA}
