###
# intranet_test
###

- platform: command_line
  command: iperf3 -t 1 -c ${INTRANET_IPERF3_HOST} -J | jq '{"host":"${INTRANET_IPERF3_HOST}","date":.start.timestamp.timesecs,"send":.end.sum_sent.bits_per_second,"receive":.end.sum_received.bits_per_second}'
  name: intranet_test
  scan_interval: !secret intranet-scan-interval
  command_timeout: 60
  json_attributes:
    - date
    - send
    - receive
  value_template: >
    {%- if value_json is defined -%}
      {{ value_json.date | timestamp_custom("%a %b %d @ %I:%M %p") }}
    {%- else -%}null{%- endif -%}
