###
# homeassistant/sensor/${MOTION_ROUTER_NAME}.yaml
###

- platform: template
  sensors:
    ${MOTION_ROUTER_NAME}_b_received:
      friendly_name: Bits received
      value_template: >-
        {{ states('sensor.${MOTION_ROUTER_NAME}_b_received') }}
    ${MOTION_ROUTER_NAME}_b_sent:
      friendly_name: Bit sent
      value_template: >-
        {{ states('sensor.${MOTION_ROUTER_NAME}_b_sent') }}
    ${MOTION_ROUTER_NAME}_p_received:
      friendly_name: Packets received
      value_template: >-
        {{ states('sensor.${MOTION_ROUTER_NAME}_packets_received') }}
    ${MOTION_ROUTER_NAME}_p_sent:
      friendly_name: Packets sent
      value_template: >-
        {{ states('sensor.${MOTION_ROUTER_NAME}_packets_sent') }}
    ${MOTION_ROUTER_NAME}_kbs_received:
      friendly_name: Kbps received
      value_template: >-
        {{ states('sensor.${MOTION_ROUTER_NAME}_kib_s_received') }}
    ${MOTION_ROUTER_NAME}_kbs_sent:
      friendly_name: Kps sent
      value_template: >-
        {{ states('sensor.${MOTION_ROUTER_NAME}_kib_s_sent') }}
    ${MOTION_ROUTER_NAME}_pss_received:
      friendly_name: Packets received/s
      value_template: >-
        {{ states('sensor.${MOTION_ROUTER_NAME}_packets_s_received') }}
    ${MOTION_ROUTER_NAME}_pss_sent:
      friendly_name: Packets sent/s
      value_template: >-
        {{ states('sensor.${MOTION_ROUTER_NAME}_packets_s_sent') }}
