##
## motion/sensor.camera_found.yaml
##

- platform: mqtt
  name: motion_status_camera_found
  state_topic: '${MOTION_GROUP}/${MOTION_CLIENT}/+/status/found'
  qos: 2
  expire_after: 30
  force_update: True
  json_attributes:
    - device
    - camera
    - date
    - status
  value_template: >
    {% if value_json is defined %}True{% else %}null{% endif %}
