motion_detected_copy_${MOTION_CAMERA}: >-
  cp -f /config/www/images/motion_annotated-${MOTION_CAMERA}.jpg /config/www/images/motion_detected-${MOTION_CAMERA}.jpg

motion_detected_entity_copy_${MOTION_CAMERA}: >-
  cp -f /config/www/images/motion_annotated-${MOTION_CAMERA}.jpg /config/www/images/motion_detected_entity-${MOTION_CAMERA}.jpg
