###
# homeassistant/template/detected_entity.yaml
###

- unique_id: motion_${MOTION_CAMERA}_entity_detected_count_measurement
  trigger:
    - platform: state
      entity_id: 'sensor.motion_${MOTION_CAMERA}_detected_entity_count'
  sensor:
    - name: 'motion_${MOTION_CAMERA}_entity_detected_count_measurement'
      state_class: 'measurement'
      device_class: 'power_factor'
      unit_of_measurement: '%'
      state: >-
        {% set s = states('sensor.motion_${MOTION_CAMERA}_detected_entity_count') %}
        {% if s|lower != 'none' and s|lower != 'uknown' and s|lower != 'unavailable' and s|lower != 'null' %}
          {{ s|int(0) }}
        {% else %}None{% endif %}

- unique_id: motion_${MOTION_CAMERA}_entity_detected_ago_measurement
  trigger:
    - platform: state
      entity_id: 'sensor.motion_${MOTION_CAMERA}_detected_entity_ago'
  sensor:
    - name: 'motion_${MOTION_CAMERA}_entity_detected_ago_measurement'
      state_class: 'measurement'
      device_class: 'power_factor'
      unit_of_measurement: '%'
      state: >-
        {% set s = states('sensor.motion_${MOTION_CAMERA}_detected_entity_ago') %}
        {% if s|lower != 'none' and s|lower != 'uknown' and s|lower != 'unavailable' and s|lower != 'null' %}
          {{ s|int(0) }}
        {% else %}None{% endif %}
