###
# homeassistant/template/detected_person.yaml
###

- unique_id: motion_${MOTION_CAMERA}_person_count_measurement
  trigger:
    - platform: time_pattern
      minutes: '/1'
  sensor:
    - name: 'motion_${MOTION_CAMERA}_person_count_measurement'
      state_class: 'measurement'
      unit_of_measurement: '👱'
      state: >-
        {{ states('sensor.motion_${MOTION_CAMERA}_detected_person_count') }}
