[
  {
    "name": "local",
    "top": 10,
    "left": 10,
    "type": "local",
    "mjpeg_url": "http://127.0.0.1:8090/1",
    "icon": "cctv",
    "username": "username",
    "password": "password",
    "w3w": []
  },
  {
    "name": "rtsp",
    "top": 20,
    "left": 20,
    "type": "netcam",
    "mjpeg_url": "http://127.0.0.1:8090/2",
    "icon": "webcam",
    "username": "username",
    "password": "password",
    "w3w": []
  },
  {
    "name": "mjpeg",
    "top": 30,
    "left": 30,
    "type": "netcam",
    "mjpeg_url": "http://127.0.0.1:8090/3",
    "icon": "camera-outline",
    "username": "username",
    "password": "password",
    "w3w": []
  },
  {
    "name": "jpeg",
    "top": 40,
    "left": 40,
    "mjpeg_url": "http://127.0.0.1:8090/4",
    "icon": "camera",
    "username": "username",
    "password": "password",
    "w3w": []
  }
]
