[
  {
    "name": "local",
    "mjpeg_url": "http://127.0.0.1:8090/1",
    "icon": "cctv",
    "username": "username",
    "password": "password"
  },
  {
    "name": "rtsp",
    "mjpeg_url": "http://127.0.0.1:8090/2",
    "icon": "webcam",
    "username": "username",
    "password": "password"
  },
  {
    "name": "mjpeg",
    "mjpeg_url": "http://127.0.0.1:8090/3",
    "icon": "camera-outline",
    "username": "username",
    "password": "password"
  },
  {
    "name": "jpeg",
    "mjpeg_url": "http://127.0.0.1:8090/4",
    "icon": "camera",
    "username": "username",
    "password": "password"
  }
]
