{
  "subview": "true",
  "title": "Devices (<deviceclass>)",
  "path": "<deviceclass>",
  "icon": "",
  "type": "sidebar",
  "badges": [],
  "cards": [
    {
      "type": "horizontal-stack",
      "view_layout": {
        "position": "sidebar"
      },
      "cards": [
        {
          "type": "button",
          "name": "",
          "icon": "mdi:view-dashboard",
          "icon_height": "32px",
          "tap_action": {
            "action": "navigate",
            "navigation_path": "/"
          }
        },
        {
          "type": "button",
          "name": " ",
          "icon": "mdi:message-badge",
          "show_state": false,
          "entity": "binary_sensor.motion_alarm_<deviceclass>",
          "icon_height": "32px",
          "tap_action": {
            "action": "navigate",
            "navigation_path": "/lovelace-primary/<deviceclass>"
          }
        },
        {
          "type": "button",
          "name": "",
          "icon": "mdi:devices",
          "icon_height": "32px",
          "tap_action": {
            "action": "navigate",
            "navigation_path": "/notify-devices"
          }
        },
        {
          "type": "button",
          "name": "",
          "icon": "mdi:home-heart",
          "icon_height": "32px",
          "tap_action": {
            "action": "navigate",
            "navigation_path": "/notify-system/"
          }
        },
        {
          "type": "button",
          "name": "",
          "icon": "mdi:home-search",
          "icon_height": "32px",
          "tap_action": {
            "action": "call-service",
            "service": "automation.trigger",
            "target": {
              "entity_id": "automation.motion_device_<deviceclass>_rescan"
            },
            "confirmation": {
              "text": "Scan for <deviceclass>?",
              "exemptions": null
            }
          }
        }
      ]
    },
    {
      "type": "conditional",
      "view_layout": {
        "position": "main"
      },
      "conditions": [
        {
          "entity": "binary_sensor.motion_device_<deviceclass>_exist",
          "state_not": "unknown"
        }
      ],
      "card": {
        "type": "markdown",
        "title": "",
        "entity_id": "binary_sensor.motion_device_<deviceclass>_exist",
        "content": "{{ state_attr(\"binary_sensor.motion_device_<deviceclass>_exist\",\"markdown\") }}"
      }
    },
    {
      "type": "vertical-stack",
      "view_layout": {
        "position": "main"
      },
      "title": "",
      "cards": [
        {
          "type": "entities",
          "title": "Alarms",
          "show_header_toggle": false,
          "entities": [
            {
              "type": "conditional",
              "conditions": [
                {
                  "entity": "binary_sensor.motion_device_<deviceclass>_low",
                  "state": "on"
                }
              ],
              "row": {
                "entity": "binary_sensor.motion_device_<deviceclass>_low",
                "name": "Below limit",
                "secondary_info": "last-updated",
                "icon": "mdi:speedometer-slow",
                "type": "attribute",
                "attribute": "details",
                "tap_action": {
                  "action": "call-service",
                  "service": "automation.trigger",
                  "target": {
                    "entity_id": "automation.motion_device_<deviceclass>_low_notify"
                  }
                }
              }
            },
            {
              "type": "conditional",
              "conditions": [
                {
                  "entity": "binary_sensor.motion_device_<deviceclass>_high",
                  "state": "on"
                }
              ],
              "row": {
                "entity": "binary_sensor.motion_device_<deviceclass>_high",
                "name": "Above limit",
                "secondary_info": "last-updated",
                "icon": "mdi:speedometer",
                "type": "attribute",
                "attribute": "details",
                "tap_action": {
                  "action": "call-service",
                  "service": "automation.trigger",
                  "target": {
                    "entity_id": "automation.motion_device_<deviceclass>_high_notify"
                  }
                }
              }
            },
            {
              "type": "conditional",
              "conditions": [
                {
                  "entity": "binary_sensor.motion_device_<deviceclass>_good",
                  "state": "on"
                }
              ],
              "row": {
                "entity": "binary_sensor.motion_device_<deviceclass>_good",
                "name": "Good",
                "secondary_info": "last-updated",
                "icon": "mdi:thumb-up",
                "type": "attribute",
                "attribute": "details",
                "tap_action": {
                  "action": "call-service",
                  "service": "automation.trigger",
                  "target": {
                    "entity_id": "automation.motion_device_<deviceclass>_good_notify"
                  }
                }
              }
            },
            {
              "type": "conditional",
              "conditions": [
                {
                  "entity": "binary_sensor.motion_device_<deviceclass>_bad",
                  "state": "on"
                }
              ],
              "row": {
                "entity": "binary_sensor.motion_device_<deviceclass>_bad",
                "name": "Bad",
                "secondary_info": "last-updated",
                "icon": "mdi:alert",
                "type": "attribute",
                "attribute": "details",
                "tap_action": {
                  "action": "call-service",
                  "service": "automation.trigger",
                  "target": {
                    "entity_id": "automation.motion_device_<deviceclass>_bad_notify"
                  }
                }
              }
            },
            {
              "type": "conditional",
              "conditions": [
                {
                  "entity": "binary_sensor.motion_device_<deviceclass>_activity",
                  "state": "on"
                }
              ],
              "row": {
                "entity": "binary_sensor.motion_device_<deviceclass>_activity",
                "name": "Activity",
                "secondary_info": "last-updated",
                "icon": "mdi:motion-sensor",
                "type": "attribute",
                "attribute": "details",
                "tap_action": {
                  "action": "call-service",
                  "service": "automation.trigger",
                  "target": {
                    "entity_id": "automation.motion_device_<deviceclass>_activity_notify"
                  }
                }
              }
            },
            {
              "type": "conditional",
              "conditions": [
                {
                  "entity": "binary_sensor.motion_device_<deviceclass>_unavailable",
                  "state": "on"
                }
              ],
              "row": {
                "entity": "binary_sensor.motion_device_<deviceclass>_unavailable",
                "name": "Unavailable",
                "secondary_info": "last-updated",
                "icon": "mdi:home-minus",
                "type": "attribute",
                "attribute": "details",
                "tap_action": {
                  "action": "call-service",
                  "service": "automation.trigger",
                  "target": {
                    "entity_id": "automation.motion_device_<deviceclass>_unavailable_notify"
                  }
                }
              }
            },
            {
              "type": "conditional",
              "conditions": [
                {
                  "entity": "binary_sensor.motion_device_<deviceclass>_missing",
                  "state": "on"
                }
              ],
              "row": {
                "entity": "binary_sensor.motion_device_<deviceclass>_missing",
                "name": "Missing",
                "secondary_info": "last-updated",
                "icon": "mdi:cancel",
                "type": "attribute",
                "attribute": "details",
                "tap_action": {
                  "action": "call-service",
                  "service": "automation.trigger",
                  "target": {
                    "entity_id": "automation.motion_device_<deviceclass>_missing_notify"
                  }
                }
              }
            }
          ]
        }
      ]
    },
    {
      "type": "conditional",
      "conditions": [
        {
          "entity": "binary_sensor.motion_device_<deviceclass>_exist",
          "state_not": "unknown"
        }
      ],
      "card": {
        "view_layout": {
          "position": "sidebar"
        },
        "type": "vertical-stack",
        "title": "",
        "cards": [
          {
            "type": "conditional",
            "conditions": [
              {
                "entity": "binary_sensor.motion_device_<deviceclass>_status",
                "state_not": "unknown"
              }
            ],
            "card": {
              "type": "vertical-stack",
              "cards": [
                {
                  "title": "",
                  "type": "entities",
                  "entities": [
                    {
                      "type": "conditional",
                      "conditions": [
                        {
                          "entity": "binary_sensor.motion_device_<deviceclass>",
                          "state_not": "unknown"
                        },
                        {
                          "entity": "binary_sensor.motion_device_<deviceclass>_bad",
                          "state": "on"
                        }
                      ],
                      "row": {
                        "entity": "binary_sensor.motion_device_<deviceclass>",
                        "secondary_info": "last-updated"
                      }
                    },
                    {
                      "entity": "binary_sensor.motion_device_<deviceclass>",
                      "name": "Total",
                      "type": "attribute",
                      "icon": "mdi:counter",
                      "attribute": "total",
                      "tap_action": {
                        "action": "call-service",
                        "service": "automation.trigger",
                        "target": {
                          "entity_id": "automation.motion_device_<deviceclass>_rescan"
                        },
                        "confirmation": {
                          "text": "Rescan for <deviceclass> sensors?"
                        }
                      }
                    },
                    {
                      "entity": "binary_sensor.motion_device_<deviceclass>_exist",
                      "name": "Required",
                      "type": "attribute",
                      "icon": "mdi:check",
                      "attribute": "required",
                      "tap_action": {
                        "action": "call-service",
                        "service": "automation.trigger",
                        "target": {
                          "entity_id": "automation.motion_device_<deviceclass>_required_on"
                        }
                      },
                      "hold_action": {
                        "action": "call-service",
                        "service": "automation.trigger",
                        "target": {
                          "entity_id": "automation.motion_device_<deviceclass>_required_off"
                        },
                        "confirmation": {
                          "text": "Turn OFF requirement for <deviceclass> sensors?"
                        }
                      }
                    },
                    {
                      "entity": "binary_sensor.motion_device_<deviceclass>_exist",
                      "name": "Unit of measurement",
                      "icon": "mdi:speedometer-medium",
                      "type": "attribute",
                      "attribute": "unit_of_measurement"
                    },
                    {
                      "entity": "binary_sensor.motion_device_<deviceclass>_exist",
                      "name": "Alarm",
                      "type": "attribute",
                      "icon": "mdi:alarm",
                      "attribute": "alarm",
                      "tap_action": {
                        "action": "call-service",
                        "service": "automation.trigger",
                        "target": {
                          "entity_id": "automation.motion_device_<deviceclass>_alarm_on"
                        }
                      },
                      "hold_action": {
                        "action": "call-service",
                        "service": "automation.trigger",
                        "target": {
                          "entity_id": "automation.motion_device_<deviceclass>_alarm_off"
                        },
                        "confirmation": {
                          "text": "Turn OFF <deviceclass> alarms?"
                        }
                      }
                    },
                    {
                      "entity": "binary_sensor.motion_device_<deviceclass>_exist",
                      "name": "Good",
                      "type": "attribute",
                      "icon": "mdi:thumb-up",
                      "attribute": "good",
                      "tap_action": {
                        "action": "call-service",
                        "service": "automation.trigger",
                        "target": {
                          "entity_id": "automation.motion_device_<deviceclass>_good_on"
                        }
                      },
                      "hold_action": {
                        "action": "call-service",
                        "service": "automation.trigger",
                        "target": {
                          "entity_id": "automation.motion_device_<deviceclass>_good_off"
                        },
                        "confirmation": {
                          "text": "Turn OFF <deviceclass> good alarm?"
                        }
                      }
                    },
                    {
                      "entity": "binary_sensor.motion_device_<deviceclass>_exist",
                      "name": "Bad",
                      "type": "attribute",
                      "icon": "mdi:thumb-down",
                      "attribute": "bad",
                      "tap_action": {
                        "action": "call-service",
                        "service": "automation.trigger",
                        "target": {
                          "entity_id": "automation.motion_device_<deviceclass>_bad_on"
                        }
                      },
                      "hold_action": {
                        "action": "call-service",
                        "service": "automation.trigger",
                        "target": {
                          "entity_id": "automation.motion_device_<deviceclass>_bad_off"
                        },
                        "confirmation": {
                          "text": "Turn OFF <deviceclass> bad alarm?"
                        }
                      }
                    },
                    {
                      "entity": "binary_sensor.motion_device_<deviceclass>_exist",
                      "name": "High",
                      "type": "attribute",
                      "icon": "mdi:speedometer",
                      "attribute": "high",
                      "tap_action": {
                        "action": "call-service",
                        "service": "automation.trigger",
                        "target": {
                          "entity_id": "automation.motion_device_<deviceclass>_high_on"
                        }
                      },
                      "hold_action": {
                        "action": "call-service",
                        "service": "automation.trigger",
                        "target": {
                          "entity_id": "automation.motion_device_<deviceclass>_high_off"
                        },
                        "confirmation": {
                          "text": "Turn OFF <deviceclass> high alarm?"
                        }
                      }
                    },
                    {
                      "entity": "binary_sensor.motion_device_<deviceclass>_exist",
                      "name": "Low",
                      "type": "attribute",
                      "icon": "mdi:speedometer-slow",
                      "attribute": "low",
                      "tap_action": {
                        "action": "call-service",
                        "service": "automation.trigger",
                        "target": {
                          "entity_id": "automation.motion_device_<deviceclass>_low_on"
                        }
                      },
                      "hold_action": {
                        "action": "call-service",
                        "service": "automation.trigger",
                        "target": {
                          "entity_id": "automation.motion_device_<deviceclass>_low_off"
                        },
                        "confirmation": {
                          "text": "Turn OFF <deviceclass> low alarm?"
                        }
                      }
                    },
                    {
                      "entity": "binary_sensor.motion_device_<deviceclass>_exist",
                      "name": "Activity",
                      "type": "attribute",
                      "icon": "mdi:motion-sensor",
                      "attribute": "activity",
                      "tap_action": {
                        "action": "call-service",
                        "service": "automation.trigger",
                        "target": {
                          "entity_id": "automation.motion_device_<deviceclass>_activity_on"
                        }
                      },
                      "hold_action": {
                        "action": "call-service",
                        "service": "automation.trigger",
                        "target": {
                          "entity_id": "automation.motion_device_<deviceclass>_activity_off"
                        },
                        "confirmation": {
                          "text": "Turn OFF <deviceclass> activity alarm?"
                        }
                      }
                    },
                    {
                      "entity": "binary_sensor.motion_device_<deviceclass>_exist",
                      "name": "Spike (high)",
                      "type": "attribute",
                      "icon": "mdi:arrow-up",
                      "attribute": "high_spike",
                      "tap_action": {
                        "action": "call-service",
                        "service": "automation.trigger",
                        "target": {
                          "entity_id": "automation.motion_device_<deviceclass>_high_spike_on"
                        }
                      },
                      "hold_action": {
                        "action": "call-service",
                        "service": "automation.trigger",
                        "target": {
                          "entity_id": "automation.motion_device_<deviceclass>_high_spike_off"
                        },
                        "confirmation": {
                          "text": "Turn OFF <deviceclass> high_spike alarm?"
                        }
                      }
                    },
                    {
                      "entity": "binary_sensor.motion_device_<deviceclass>_exist",
                      "name": "Spike (low)",
                      "type": "attribute",
                      "icon": "mdi:arrow-down",
                      "attribute": "low_spike",
                      "tap_action": {
                        "action": "call-service",
                        "service": "automation.trigger",
                        "target": {
                          "entity_id": "automation.motion_device_<deviceclass>_low_spike_on"
                        }
                      },
                      "hold_action": {
                        "action": "call-service",
                        "service": "automation.trigger",
                        "target": {
                          "entity_id": "automation.motion_device_<deviceclass>_low_spike_off"
                        },
                        "confirmation": {
                          "text": "Turn OFF <deviceclass> low_spike alarm?"
                        }
                      }
                    },
                    {
                      "entity": "binary_sensor.motion_device_<deviceclass>",
                      "name": "Devices",
                      "icon": "mdi:devices",
                      "type": "attribute",
                      "attribute": "ids"
                    },
                    {
                      "type": "conditional",
                      "conditions": [
                        {
                          "entity": "binary_sensor.motion_device_<deviceclass>_unavailable",
                          "state": "on"
                        }
                      ],
                      "row": {
                        "entity": "binary_sensor.motion_device_<deviceclass>_unavailable",
                        "name": "Unavailable",
                        "icon": "mdi:network-off",
                        "type": "attribute",
                        "attribute": "details"
                      }
                    },
                    {
                      "type": "conditional",
                      "conditions": [
                        {
                          "entity": "binary_sensor.motion_device_<deviceclass>_bad",
                          "state": "on"
                        }
                      ],
                      "row": {
                        "entity": "binary_sensor.motion_device_<deviceclass>_bad",
                        "name": "Detected",
                        "type": "attribute",
                        "attribute": "details"
                      }
                    }
                  ]
                }
              ]
            }
          },
          {
            "type": "conditional",
            "conditions": [
              {
                "entity": "binary_sensor.motion_device_<deviceclass>_measurement",
                "state": "on"
              }
            ],
            "card": {
              "type": "vertical-stack",
              "cards": [
                {
                  "title": "",
                  "type": "entities",
                  "entities": [
                    {
                      "type": "conditional",
                      "conditions": [
                        {
                          "entity": "sensor.motion_device_<deviceclass>",
                          "state_not": "none"
                        }
                      ],
                      "row": {
                        "secondary_info": "last-updated",
                        "entity": "sensor.motion_device_<deviceclass>"
                      }
                    },
                    {
                      "type": "conditional",
                      "conditions": [
                        {
                          "entity": "binary_sensor.motion_device_<deviceclass>_low",
                          "state": "on"
                        }
                      ],
                      "row": {
                        "entity": "binary_sensor.motion_device_<deviceclass>_low",
                        "name": "Below limit",
                        "icon": "mdi:alert-minus",
                        "type": "attribute",
                        "attribute": "details"
                      }
                    },
                    {
                      "type": "conditional",
                      "conditions": [
                        {
                          "entity": "binary_sensor.motion_device_<deviceclass>_high",
                          "state": "on"
                        }
                      ],
                      "row": {
                        "entity": "binary_sensor.motion_device_<deviceclass>_high",
                        "name": "Above limit",
                        "icon": "mdi:alert-plus",
                        "type": "attribute",
                        "attribute": "details"
                      }
                    },
                    {
                      "type": "conditional",
                      "conditions": [
                        {
                          "entity": "sensor.motion_device_<deviceclass>",
                          "state_not": "none"
                        }
                      ],
                      "row": {
                        "entity": "sensor.motion_device_<deviceclass>",
                        "name": "Minimum",
                        "type": "attribute",
                        "attribute": "min"
                      }
                    },
                    {
                      "type": "conditional",
                      "conditions": [
                        {
                          "entity": "sensor.motion_device_<deviceclass>",
                          "state_not": "none"
                        }
                      ],
                      "row": {
                        "entity": "sensor.motion_device_<deviceclass>",
                        "name": "Maximum",
                        "type": "attribute",
                        "attribute": "max"
                      }
                    },
                    {
                      "type": "conditional",
                      "conditions": [
                        {
                          "entity": "binary_sensor.motion_device_<deviceclass>_low",
                          "state_not": "none"
                        }
                      ],
                      "row": {
                        "entity": "input_number.motion_device_<deviceclass>_low",
                        "name": "Low <deviceclass>"
                      }
                    },
                    {
                      "type": "conditional",
                      "conditions": [
                        {
                          "entity": "binary_sensor.motion_device_<deviceclass>_high",
                          "state_not": "none"
                        }
                      ],
                      "row": {
                        "entity": "input_number.motion_device_<deviceclass>_high",
                        "name": "High <deviceclass>"
                      }
                    },
                    {
                      "type": "conditional",
                      "conditions": [
                        {
                          "entity": "input_number.motion_device_<deviceclass>_stdev",
                          "state_not": "none"
                        },
                        {
                          "entity": "input_number.motion_device_<deviceclass>_stdev",
                          "state_not": "unknown"
                        }
                      ],
                      "row": {
                        "entity": "input_number.motion_device_<deviceclass>_stdev",
                        "name": "Spike detection"
                      }
                    }
                  ]
                }
              ]
            }
          },
          {
            "type": "horizontal-stack",
            "cards": [
              {
                "type": "conditional",
                "conditions": [
                  {
                    "entity": "binary_sensor.motion_device_<deviceclass>_toggle",
                    "state": "on"
                  }
                ],
                "card": {
                  "type": "button",
                  "name": "Toggle",
                  "icon": "mdi:toggle-switch",
                  "icon_height": "32px",
                  "tap_action": {
                    "action": "call-service",
                    "service": "automation.trigger",
                    "target": {
                      "entity_id": "automation.motion_device_<deviceclass>_toggle"
                    }
                  }
                }
              },
              {
                "type": "conditional",
                "conditions": [
                  {
                    "entity": "binary_sensor.motion_device_<deviceclass>_turn_off",
                    "state": "on"
                  }
                ],
                "card": {
                  "type": "button",
                  "name": "Off",
                  "icon": "mdi:light-switch-off",
                  "icon_height": "32px",
                  "tap_action": {
                    "action": "call-service",
                    "service": "automation.trigger",
                    "target": {
                      "entity_id": "automation.motion_device_<deviceclass>_turn_off"
                    }
                  }
                }
              },
              {
                "type": "conditional",
                "conditions": [
                  {
                    "entity": "binary_sensor.motion_device_<deviceclass>_turn_on",
                    "state": "on"
                  }
                ],
                "card": {
                  "type": "button",
                  "name": "On",
                  "icon": "mdi:light-switch",
                  "icon_height": "32px",
                  "tap_action": {
                    "action": "call-service",
                    "service": "automation.trigger",
                    "target": {
                      "entity_id": "automation.motion_device_<deviceclass>_turn_on"
                    }
                  }
                }
              },
              {
                "type": "conditional",
                "conditions": [
                  {
                    "entity": "binary_sensor.motion_device_<deviceclass>_self_test",
                    "state": "on"
                  }
                ],
                "card": {
                  "type": "button",
                  "name": "Self test",
                  "icon": "mdi:progress-check",
                  "icon_height": "32px",
                  "tap_action": {
                    "action": "call-service",
                    "service": "automation.trigger",
                    "target": {
                      "entity_id": "automation.motion_device_<deviceclass>_self_test"
                    }
                  }
                }
              },
              {
                "type": "conditional",
                "conditions": [
                  {
                    "entity": "binary_sensor.motion_device_<deviceclass>_mute",
                    "state": "on"
                  }
                ],
                "card": {
                  "type": "button",
                  "name": "Mute",
                  "icon": "mdi:volume-off",
                  "icon_height": "32px",
                  "tap_action": {
                    "action": "call-service",
                    "service": "automation.trigger",
                    "target": {
                      "entity_id": "automation.motion_device_<deviceclass>_mute"
                    }
                  }
                }
              },
              {
                "type": "conditional",
                "conditions": [
                  {
                    "entity": "binary_sensor.motion_device_<deviceclass>_unmute",
                    "state": "on"
                  }
                ],
                "card": {
                  "type": "button",
                  "name": "Unmute",
                  "icon": "mdi:volume-high",
                  "icon_height": "32px",
                  "tap_action": {
                    "action": "call-service",
                    "service": "automation.trigger",
                    "target": {
                      "entity_id": "automation.motion_device_<deviceclass>_unmute"
                    }
                  }
                }
              },
              {
                "type": "conditional",
                "conditions": [
                  {
                    "entity": "binary_sensor.motion_device_<deviceclass>_update",
                    "state": "on"
                  }
                ],
                "card": {
                  "type": "button",
                  "name": "Update",
                  "icon": "mdi:update",
                  "icon_height": "32px",
                  "tap_action": {
                    "action": "call-service",
                    "service": "automation.trigger",
                    "target": {
                      "entity_id": "automation.motion_device_<deviceclass>_update"
                    }
                  }
                }
              },
              {
                "type": "conditional",
                "conditions": [
                  {
                    "entity": "binary_sensor.motion_device_<deviceclass>_restart",
                    "state": "on"
                  }
                ],
                "card": {
                  "type": "button",
                  "name": "Restart",
                  "icon": "mdi:restart",
                  "icon_height": "32px",
                  "tap_action": {
                    "action": "call-service",
                    "service": "automation.trigger",
                    "target": {
                      "entity_id": "automation.motion_device_<deviceclass>_restart"
                    }
                  }
                }
              }
            ]
          }
        ]
      },
      "view_layout": {
        "position": "sidebar"
      }
    },
    {
      "type": "conditional",
      "conditions": [
        {
          "entity": "binary_sensor.motion_device_<deviceclass>_exist",
          "state": "off"
        },
        {
          "entity": "binary_sensor.motion_device_<deviceclass>_required",
          "state": "on"
        }
      ],
      "card": {
        "type": "vertical-stack",
        "view_layout": {
          "position": "sidebar"
        },
        "cards": [
          {
            "title": "Required <deviceclass> missing",
            "type": "glance",
            "entities": []
          },
          {
            "type": "button",
            "name": "Rescan",
            "icon": "mdi:redo",
            "icon_height": "32px",
            "tap_action": {
              "action": "call-service",
              "service": "automation.trigger",
              "target": {
                "entity_id": "automation.motion_device_<deviceclass>_rescan"
              }
            }
          }
        ]
      },
      "view_layout": {
        "position": "sidebar"
      }
    },
    {
      "type": "horizontal-stack",
      "title": "",
      "view_layout": {
        "position": "main"
      },
      "cards": [
        {
          "type": "conditional",
          "conditions": [
            {
              "entity": "binary_sensor.motion_device_<deviceclass>_high_spike",
              "state_not": "none"
            },
            {
              "entity": "binary_sensor.motion_device_<deviceclass>_low_spike",
              "state_not": "none"
            }
          ],
          "card": {
            "title": "Range",
            "chart_type": "line",
            "period": "hour",
            "days_to_show": 30,
            "type": "statistics-graph",
            "entities": [
              {
                "name": "High",
                "entity": "sensor.motion_device_<deviceclass>_high_spike"
              },
              {
                "name": "Low",
                "entity": "sensor.motion_device_<deviceclass>_low_spike"
              }
            ],
            "stat_types": [
              "min",
              "mean",
              "max"
            ]
          }
        }
      ]
    }
  ]
}
