{
  "version": 1,
  "key": "energy",
  "data": {
    "energy_sources": [
      {
        "type": "grid",
        "flow_from": [
          {
            "stat_energy_from": "sensor.motion_powerwall_site_import",
            "stat_cost": null,
            "entity_energy_from": "sensor.motion_powerwall_site_import",
            "entity_energy_price": null,
            "number_energy_price": null
          }
        ],
        "flow_to": [
          {
            "stat_energy_to": "sensor.motion_powerwall_site_export",
            "stat_compensation": null,
            "entity_energy_to": "sensor.motion_powerwall_site_export",
            "entity_energy_price": null,
            "number_energy_price": null
          }
        ],
        "cost_adjustment_day": 0
      },
      {
        "type": "battery",
        "stat_energy_from": "sensor.motion_powerwall_battery_export",
        "stat_energy_to": "sensor.motion_powerwall_battery_import"
      },
      {
        "type": "solar",
        "stat_energy_from": "sensor.motion_powerwall_load_export",
        "config_entry_solar_forecast": null
      }
    ],
    "device_consumption": []
  }
}
