{
  "data": {
    "config": {
      "title": "Motion Ã👁 on ${HOST_NAME} [ǽ]",
      "views": [
        {
          "icon": "mdi:account-supervisor",
          "panel": false,
          "path": "home",
          "theme": "",
          "title": "HOME",
          "badges": [],
          "cards": [
            {
              "cards": [
                {
                  "type": "picture-elements",
                  "camera_image": "camera.motion_detected_person_animated",
                  "elements": [
                    {
                      "type": "state-label",
                      "entity": "sensor.motion_person_activity_level",
                      "prefix": "",
                      "style": {
                        "top": "10%",
                        "left": "15%",
                        "font-size": "150%",
                        "color": "cyan"
                      }
                    },
                    {
                      "type": "state-label",
                      "entity": "sensor.motion_person_activity_metrics",
                      "style": {
                        "top": "10%",
                        "left": "80%",
                        "font-size": "100%",
                        "color": "cyan"
                      }
                    },
                    {
                      "type": "conditional",
                      "conditions": [
                        {
                          "entity": "sensor.motion_detected_person_camera",
                          "state": "null"
                        }
                      ],
                      "elements": [
                        {
                          "type": "image",
                          "camera_image": "camera.motion_nosignal_animated",
                          "style": {
                            "top": "0%",
                            "left": "0%",
                            "width": "200%",
                            "height": "200%"
                          }
                        },
                        {
                          "type": "state-label",
                          "entity": "sensor.motion_detected_person_status",
                          "prefix": "Person: ",
                          "style": {
                            "top": "75%",
                            "left": "50%",
                            "font-size": "200%",
                            "color": "cyan"
                          }
                        }
                      ]
                    },
                    {
                      "type": "conditional",
                      "conditions": [
                        {
                          "entity": "sensor.motion_detected_person_camera",
                          "state_not": "null"
                        }
                      ],
                      "elements": [
                        {
                          "type": "state-label",
                          "entity": "sensor.motion_detected_person_camera",
                          "prefix": "Person at ",
                          "style": {
                            "top": "75%",
                            "left": "50%",
                            "font-size": "200%",
                            "color": "cyan"
                          }
                        },
                        {
                          "type": "state-label",
                          "entity": "sensor.motion_detected_person_when",
                          "style": {
                            "top": "90%",
                            "left": "50%",
                            "font-size": "100%",
                            "color": "cyan"
                          }
                        },
                        {
                          "type": "state-label",
                          "entity": "sensor.motion_detected_person_ago_relative",
                          "prefix": "Ago: ",
                          "style": {
                            "top": "95%",
                            "left": "50%",
                            "font-size": "80%",
                            "color": "cyan"
                          }
                        }
                      ]
                    }
                  ]
                },
                {
                  "type": "picture-elements",
                  "camera_image": "camera.motion_detected_animated",
                  "elements": [
                    {
                      "type": "conditional",
                      "conditions": [
                        {
                          "entity": "sensor.motion_detected_camera",
                          "state_not": "null"
                        }
                      ],
                      "elements": [
                        {
                          "type": "state-label",
                          "entity": "sensor.motion_detected_camera",
                          "prefix": "Detection at ",
                          "style": {
                            "top": "75%",
                            "left": "50%",
                            "font-size": "200%",
                            "color": "magenta"
                          }
                        },
                        {
                          "type": "state-label",
                          "entity": "sensor.motion_detected_list",
                          "style": {
                            "top": "83%",
                            "left": "50%",
                            "font-size": "100%",
                            "color": "magenta"
                          }
                        },
                        {
                          "type": "state-label",
                          "entity": "sensor.motion_detected_when",
                          "style": {
                            "top": "90%",
                            "left": "50%",
                            "font-size": "100%",
                            "color": "magenta"
                          }
                        },
                        {
                          "type": "state-label",
                          "entity": "sensor.motion_detected_ago_relative",
                          "prefix": "Ago: ",
                          "style": {
                            "top": "95%",
                            "left": "50%",
                            "font-size": "80%",
                            "color": "magenta"
                          }
                        }
                      ]
                    },
                    {
                      "type": "conditional",
                      "conditions": [
                        {
                          "entity": "sensor.motion_detected_camera",
                          "state": "null"
                        }
                      ],
                      "elements": [
                        {
                          "type": "image",
                          "camera_image": "camera.motion_nosignal_animated",
                          "style": {
                            "top": "0%",
                            "left": "0%",
                            "width": "200%",
                            "height": "200%"
                          }
                        },
                        {
                          "type": "state-label",
                          "entity": "sensor.motion_detected_status",
                          "prefix": "Detection: ",
                          "style": {
                            "top": "75%",
                            "left": "50%",
                            "font-size": "200%",
                            "color": "magenta"
                          }
                        }
                      ]
                    }
                  ]
                }
              ],
              "type": "vertical-stack"
            },
            {
              "cards": [
                {
                  "type": "glance",
                  "entities": [
                    {
                      "name": "Add-On",
                      "entity": "binary_sensor.motion_camera_count_${MOTION_DEVICE}"
                    },
                    {
                      "name": "Camera(s)",
                      "entity": "binary_sensor.motion_status_camera"
                    },
                    {
                      "name": "Σ 🚫 📷",
                      "entity": "sensor.motion_status_camera_count_offline_${MOTION_DEVICE}"
                    },
                    {
                      "name": "Σ 📷",
                      "entity": "sensor.motion_camera_count"
                    }
                  ],
                  "show_name": true
                },
                {
                  "entities": [
                    {
                      "entity": "sensor.motion_detected_person_status_today"
                    },
                    {
                      "entity": "sensor.motion_detected_person_camera"
                    },
                    {
                      "entity": "sensor.motion_detected_person_ago_relative"
                    },
                    {
                      "entity": "binary_sensor.motion_detected_person_threshold_tune"
                    },
                    {
                      "name": "Last person detection: β",
                      "entity": "sensor.motion_detected_person_confidence"
                    },
                    {
                      "name": "Tuned person detection: β",
                      "entity": "sensor.motion_detected_person_threshold_tune"
                    },
                    {
                      "name": "Average person detection: β",
                      "entity": "sensor.motion_detected_person_confidence_mean"
                    },
                    {
                      "name": "Smartphone connection status",
                      "entity": "sensor.motion_person_online_status"
                    },
                    {
                      "entity": "sensor.motion_detected_status"
                    },
                    {
                      "entity": "sensor.motion_annotated_percent"
                    },
                    {
                      "entity": "sensor.motion_camera_status"
                    },
                    {
                      "entity": "sensor.internet_good"
                    },
                    {
                      "entity": "sensor.internet_metrics"
                    },
                    {
                      "entity": "sensor.intranet_good"
                    },
                    {
                      "entity": "sensor.intranet_metrics"
                    }
                  ],
                  "show_header_toggle": false,
                  "title": "Dashboard",
                  "type": "entities"
                }
              ],
              "type": "vertical-stack"
            },
            {
              "cards": [
                {
                  "type": "picture-elements",
                  "camera_image": "camera.motion_detected_vehicle_animated",
                  "elements": [
                    {
                      "type": "state-label",
                      "entity": "sensor.motion_vehicle_activity_level",
                      "prefix": "",
                      "style": {
                        "top": "10%",
                        "left": "15%",
                        "font-size": "150%",
                        "color": "gold"
                      }
                    },
                    {
                      "type": "state-label",
                      "entity": "sensor.motion_vehicle_activity_metrics",
                      "style": {
                        "top": "10%",
                        "left": "80%",
                        "font-size": "100%",
                        "color": "gold"
                      }
                    },
                    {
                      "type": "conditional",
                      "conditions": [
                        {
                          "entity": "sensor.motion_detected_vehicle_camera",
                          "state_not": "null"
                        }
                      ],
                      "elements": [
                        {
                          "type": "state-label",
                          "entity": "sensor.motion_detected_vehicle_camera",
                          "prefix": "Vehicle at ",
                          "style": {
                            "top": "75%",
                            "left": "50%",
                            "font-size": "200%",
                            "color": "gold"
                          }
                        },
                        {
                          "type": "state-label",
                          "entity": "sensor.motion_detected_vehicle_when",
                          "style": {
                            "top": "90%",
                            "left": "50%",
                            "font-size": "100%",
                            "color": "gold"
                          }
                        },
                        {
                          "type": "state-label",
                          "entity": "sensor.motion_detected_vehicle_ago_relative",
                          "prefix": "Ago: ",
                          "style": {
                            "top": "95%",
                            "left": "50%",
                            "font-size": "80%",
                            "color": "gold"
                          }
                        }
                      ]
                    },
                    {
                      "type": "conditional",
                      "conditions": [
                        {
                          "entity": "sensor.motion_detected_vehicle_camera",
                          "state": "null"
                        }
                      ],
                      "elements": [
                        {
                          "type": "image",
                          "camera_image": "camera.motion_nosignal_animated",
                          "style": {
                            "top": "0%",
                            "left": "0%",
                            "width": "200%",
                            "height": "200%"
                          }
                        },
                        {
                          "type": "state-label",
                          "entity": "sensor.motion_detected_vehicle_status",
                          "prefix": "Vehicle: ",
                          "style": {
                            "top": "75%",
                            "left": "50%",
                            "font-size": "200%",
                            "color": "gold"
                          }
                        }
                      ]
                    }
                  ]
                },
                {
                  "type": "picture-elements",
                  "image": "/local/images/no-signal.gif",
                  "camera_image": "camera.motion_detected_animal_animated",
                  "elements": [
                    {
                      "type": "state-label",
                      "entity": "sensor.motion_animal_activity_level",
                      "prefix": "",
                      "style": {
                        "top": "10%",
                        "left": "15%",
                        "font-size": "150%",
                        "color": "chartreuse"
                      }
                    },
                    {
                      "type": "state-label",
                      "entity": "sensor.motion_animal_activity_metrics",
                      "style": {
                        "top": "10%",
                        "left": "80%",
                        "font-size": "100%",
                        "color": "chartreuse"
                      }
                    },
                    {
                      "type": "conditional",
                      "conditions": [
                        {
                          "entity": "sensor.motion_detected_animal_camera",
                          "state_not": "null"
                        }
                      ],
                      "elements": [
                        {
                          "type": "state-label",
                          "entity": "sensor.motion_detected_animal_camera",
                          "prefix": "Animal at ",
                          "style": {
                            "top": "75%",
                            "left": "50%",
                            "font-size": "200%",
                            "color": "chartreuse"
                          }
                        },
                        {
                          "type": "state-label",
                          "entity": "sensor.motion_detected_animal_when",
                          "style": {
                            "top": "90%",
                            "left": "50%",
                            "font-size": "100%",
                            "color": "chartreuse"
                          }
                        },
                        {
                          "type": "state-label",
                          "entity": "sensor.motion_detected_animal_ago_relative",
                          "prefix": "Ago: ",
                          "style": {
                            "top": "95%",
                            "left": "50%",
                            "font-size": "80%",
                            "color": "chartreuse"
                          }
                        }
                      ]
                    },
                    {
                      "type": "conditional",
                      "conditions": [
                        {
                          "entity": "sensor.motion_detected_animal_camera",
                          "state": "null"
                        }
                      ],
                      "elements": [
                        {
                          "type": "image",
                          "camera_image": "camera.motion_nosignal_animated",
                          "style": {
                            "top": "0%",
                            "left": "0%",
                            "width": "200%",
                            "height": "200%"
                          }
                        },
                        {
                          "type": "state-label",
                          "entity": "sensor.motion_detected_animal_status",
                          "prefix": "Animal: ",
                          "style": {
                            "top": "75%",
                            "left": "50%",
                            "font-size": "200%",
                            "color": "chartreuse"
                          }
                        }
                      ]
                    }
                  ]
                }
              ],
              "type": "vertical-stack"
            }
          ]
        },
        {
          "badges": [],
          "cards": [
            {
              "type": "picture-elements",
              "elements": [
                {
                  "type": "state-label",
                  "entity": "sensor.time",
                  "prefix": "LIVE: ",
                  "style": {
                    "top": "10%",
                    "left": "15%",
                    "font-size": "125%",
                    "color": "yellow"
                  }
                },
                {
                  "type": "state-label",
                  "entity": "sensor.date",
                  "style": {
                    "top": "10%",
                    "left": "85%",
                    "font-size": "125%",
                    "color": "yellow"
                  }
                },
                {
                  "type": "state-label",
                  "entity": "sensor.motion_camera_name_selected",
                  "style": {
                    "top": "90%",
                    "left": "50%",
                    "font-size": "200%",
                    "color": "yellow"
                  }
                }
              ],
              "camera_image": "camera.motion_camera_selected_live"
            },
            {
              "entities": [
                {
                  "entity": "sensor.motion_annotated_percent"
                },
                {
                  "entity": "sensor.motion_face_percent"
                },
                {
                  "entity": "sensor.motion_alpr_percent"
                },
                {
                  "entity": "sensor.motion_detect_entity"
                },
                {
                  "entity": "sensor.motion_camera_name_selected"
                },
                {
                  "entity": "sensor.motion_person_activity_level"
                },
                {
                  "entity": "sensor.motion_person_activity_metrics"
                },
                {
                  "entity": "sensor.motion_vehicle_activity_level"
                },
                {
                  "entity": "sensor.motion_vehicle_activity_metrics"
                },
                {
                  "entity": "sensor.motion_animal_activity_level"
                },
                {
                  "entity": "sensor.motion_animal_activity_metrics"
                },
                {
                  "entity": "sensor.internet_good"
                },
                {
                  "entity": "sensor.intranet_good"
                }
              ],
              "show_header_toggle": false,
              "title": "Current",
              "type": "entities"
            },
            {
              "entities": [
                "sensor.motion_detected_person_status",
                "sensor.motion_detected_vehicle_status",
                "sensor.motion_detected_animal_status",
                "sensor.motion_detected_entity_status",
                "sensor.motion_detected_status",
                "sensor.motion_annotated_status",
                "sensor.motion_end_status",
                "sensor.motion_face_detected_status",
                "sensor.motion_alpr_detected_status",
                "sensor.motion_person_face_status",
                "sensor.motion_vehicle_alpr_status"
              ],
              "show_header_toggle": false,
              "title": "Status",
              "type": "entities"
            },
            {
              "cards": [
                {
                  "aspect_ratio": "0%",
                  "camera_image": "camera.motion_detected_person",
                  "entities": [
                    {
                      "entity": "binary_sensor.motion_detected_person"
                    },
                    {
                      "entity": "sensor.motion_detected_person_device"
                    },
                    {
                      "entity": "sensor.motion_detected_person_camera"
                    },
                    {
                      "entity": "sensor.motion_detected_person_count"
                    },
                    {
                      "entity": "sensor.motion_detected_person_when"
                    }
                  ],
                  "title": "Last Person",
                  "type": "picture-glance"
                },
                {
                  "aspect_ratio": "0%",
                  "camera_image": "camera.motion_detected",
                  "entities": [
                    {
                      "entity": "binary_sensor.motion_detected"
                    },
                    {
                      "entity": "sensor.motion_detected_device"
                    },
                    {
                      "entity": "sensor.motion_detected_camera"
                    },
                    {
                      "entity": "sensor.motion_detected_count"
                    },
                    {
                      "entity": "sensor.motion_detected_when"
                    }
                  ],
                  "title": "Last Detection",
                  "type": "picture-glance"
                },
                {
                  "aspect_ratio": "0%",
                  "camera_image": "camera.motion_detected_vehicle",
                  "entities": [
                    {
                      "entity": "binary_sensor.motion_detected_vehicle"
                    },
                    {
                      "entity": "sensor.motion_detected_vehicle_device"
                    },
                    {
                      "entity": "sensor.motion_detected_vehicle_camera"
                    },
                    {
                      "entity": "sensor.motion_detected_vehicle_count"
                    },
                    {
                      "entity": "sensor.motion_detected_vehicle_when"
                    }
                  ],
                  "title": "Last Vehicle",
                  "type": "picture-glance"
                },
                {
                  "aspect_ratio": "0%",
                  "camera_image": "camera.motion_detected_animal",
                  "entities": [
                    {
                      "entity": "binary_sensor.motion_detected_animal"
                    },
                    {
                      "entity": "sensor.motion_detected_animal_device"
                    },
                    {
                      "entity": "sensor.motion_detected_animal_camera"
                    },
                    {
                      "entity": "sensor.motion_detected_animal_count"
                    },
                    {
                      "entity": "sensor.motion_detected_animal_when"
                    }
                  ],
                  "title": "Last Animal",
                  "type": "picture-glance"
                }
              ],
              "type": "vertical-stack"
            },
            {
              "cards": [
                {
                  "aspect_ratio": "0%",
                  "camera_image": "camera.motion_face_detected",
                  "entities": [
                    {
                      "entity": "binary_sensor.motion_face_detected"
                    },
                    {
                      "entity": "sensor.motion_face_detected_camera"
                    }
                  ],
                  "entity": "camera.motion_face_detected",
                  "title": "Face",
                  "type": "picture-glance"
                },
                {
                  "aspect_ratio": "0%",
                  "camera_image": "camera.motion_person_face",
                  "entities": [
                    {
                      "entity": "binary_sensor.motion_person_face"
                    },
                    {
                      "entity": "sensor.motion_person_face_camera"
                    }
                  ],
                  "entity": "camera.motion_person_face",
                  "title": "Person Face",
                  "type": "picture-glance"
                },
                {
                  "aspect_ratio": "0%",
                  "camera_image": "camera.motion_alpr_detected",
                  "entities": [
                    {
                      "entity": "binary_sensor.motion_alpr_detected"
                    },
                    {
                      "entity": "sensor.motion_alpr_detected_camera"
                    }
                  ],
                  "entity": "camera.motion_alpr_detected",
                  "title": "Plate",
                  "type": "picture-glance"
                },
                {
                  "aspect_ratio": "0%",
                  "camera_image": "camera.motion_vehicle_alpr",
                  "entities": [
                    {
                      "entity": "binary_sensor.motion_vehicle_alpr"
                    },
                    {
                      "entity": "sensor.motion_vehicle_alpr_camera"
                    }
                  ],
                  "entity": "camera.motion_vehicle_alpr",
                  "title": "Vehicle plate",
                  "type": "picture-glance"
                }
              ],
              "type": "vertical-stack"
            }
          ],
          "icon": "mdi:developer-board",
          "path": "developer",
          "title": "Developer"
        },
        {
          "badges": [],
          "cards": [
            {
              "cards": [
                {
                  "aspect_ratio": "0%",
                  "camera_image": "camera.motion_camera_selected_live",
                  "entities": [
                    {
                      "entity": "binary_sensor.motion_detected_entity"
                    },
                    {
                      "entity": "binary_sensor.motion_detected"
                    },
                    {
                      "entity": "binary_sensor.motion_annotated"
                    }
                  ],
                  "entity": "camera.motion_camera_selected_live",
                  "title": "Selected Live",
                  "type": "picture-glance"
                },
                {
                  "entities": [
                    "input_select.motion_camera_name",
                    "input_boolean.motion_camera_autoselect",
                    "sensor.motion_camera_name_selected",
                    "input_select.motion_camera_name_options"
                  ],
                  "show_header_toggle": false,
                  "title": "Selection",
                  "type": "entities"
                }
              ],
              "type": "vertical-stack"
            },
            {
              "cards": [
                {
                  "aspect_ratio": "0%",
                  "camera_image": "camera.motion_camera_selected_detected_animated",
                  "entities": [
                    {
                      "entity": "sensor.motion_annotated_when"
                    },
                    {
                      "entity": "sensor.motion_annotated_ago"
                    },
                    {
                      "entity": "sensor.motion_annotated_count"
                    },
                    {
                      "entity": "sensor.motion_annotated_counter"
                    }
                  ],
                  "entity": "camera.motion_camera_selected_detected_animated",
                  "title": "Detected animated",
                  "type": "picture-glance"
                },
                {
                  "aspect_ratio": "0%",
                  "camera_image": "camera.motion_camera_selected_detected",
                  "entities": [
                    {
                      "entity": "sensor.motion_detected_when"
                    },
                    {
                      "entity": "sensor.motion_detected_ago"
                    },
                    {
                      "entity": "sensor.motion_detected_count"
                    },
                    {
                      "entity": "sensor.motion_detected_counter"
                    }
                  ],
                  "entity": "camera.motion_camera_selected_detected",
                  "title": "Last Detected",
                  "type": "picture-glance"
                }
              ],
              "type": "vertical-stack"
            },
            {
              "cards": [
                {
                  "aspect_ratio": "0%",
                  "camera_image": "camera.motion_camera_selected_detected_person",
                  "entities": [
                    {
                      "entity": "binary_sensor.motion_detected_person"
                    },
                    {
                      "entity": "sensor.motion_detected_person_camera"
                    }
                  ],
                  "entity": "camera.motion_camera_selected_detected_person",
                  "title": "Person",
                  "type": "picture-glance"
                },
                {
                  "aspect_ratio": "0%",
                  "camera_image": "camera.motion_camera_selected_detected_vehicle",
                  "entities": [
                    {
                      "entity": "binary_sensor.motion_detected_vehicle"
                    },
                    {
                      "entity": "sensor.motion_detected_vehicle_camera"
                    }
                  ],
                  "entity": "camera.motion_camera_selected_detected_vehicle",
                  "title": "Vehicle",
                  "type": "picture-glance"
                },
                {
                  "aspect_ratio": "0%",
                  "camera_image": "camera.motion_camera_selected_detected_animal",
                  "entities": [
                    {
                      "entity": "binary_sensor.motion_detected_animal"
                    },
                    {
                      "entity": "sensor.motion_detected_animal_camera"
                    }
                  ],
                  "entity": "camera.motion_camera_selected_detected_animal",
                  "title": "Animal",
                  "type": "picture-glance"
                }
              ],
              "type": "vertical-stack"
            }
          ],
          "icon": "mdi:menu-open",
          "path": "selected_view",
          "title": "SELECTED"
        },
        {
          "icon": "mdi:ip-network",
          "path": "network",
          "title": "NETWORK",
          "badges": [],
          "cards": [
            {
              "entities": [
                {
                  "entity": "sensor.internet_good"
                },
                {
                  "entity": "sensor.internet_receive"
                },
                {
                  "entity": "sensor.internet_send"
                },
                {
                  "entity": "binary_sensor.internet_test"
                },
                {
                  "entity": "sensor.internet_ago"
                },
                {
                  "entity": "counter.internet_counter"
                },
                {
                  "entity": "input_number.internet_deviation"
                }
              ],
              "show_header_toggle": false,
              "title": "Internet",
              "type": "entities"
            },
            {
              "cards": [
                {
                  "entity": "sensor.netdata_network_receive",
                  "graph": "line",
                  "hours_to_show": 12,
                  "icon": "mdi:ip-network",
                  "name": "Network IN",
                  "type": "sensor"
                },
                {
                  "detail": 2,
                  "entity": "sensor.netdata_network_send",
                  "graph": "line",
                  "hours_to_show": 12,
                  "icon": "mdi:ip-network-outline",
                  "name": "Network OUT",
                  "type": "sensor"
                }
              ],
              "type": "vertical-stack"
            },
            {
              "entities": [
                {
                  "entity": "sensor.intranet_good"
                },
                {
                  "entity": "sensor.intranet_receive"
                },
                {
                  "entity": "sensor.intranet_send"
                },
                {
                  "entity": "binary_sensor.intranet_test"
                },
                {
                  "entity": "sensor.intranet_ago"
                },
                {
                  "entity": "sensor.intranet_counter"
                },
                {
                  "entity": "sensor.intranet_iperf_host"
                },
                {
                  "entity": "input_number.intranet_deviation"
                }
              ],
              "show_header_toggle": false,
              "title": "Intranet",
              "type": "entities"
            },
            {
              "entities": [
                "sensor.internet_receive_mean",
                "sensor.internet_receive_min_value",
                "sensor.internet_receive_max_value"
              ],
              "hours_to_show": 24,
              "refresh_interval": 30,
              "title": "Internet Receive",
              "type": "history-graph"
            },
            {
              "entities": [
                "sensor.internet_send_mean",
                "sensor.internet_send_min_value",
                "sensor.internet_send_max_value"
              ],
              "hours_to_show": 24,
              "refresh_interval": 30,
              "title": "Internet Send",
              "type": "history-graph"
            },
            {
              "entities": [
                "sensor.intranet_receive_mean",
                "sensor.intranet_receive_min_value",
                "sensor.intranet_receive_max_value",
                "sensor.intranet_send_mean",
                "sensor.intranet_send_min_value",
                "sensor.intranet_send_max_value"
              ],
              "hours_to_show": 24,
              "refresh_interval": 30,
              "title": "Intranet Link",
              "type": "history-graph"
            }
          ]
        },
        {
          "icon": "mdi:raspberry-pi",
          "path": "system",
          "title": "SYSTEM",
          "badges": [],
          "cards": [
            {
              "cards": [
                {
                  "detail": 2,
                  "entity": "sensor.netdata_cpu",
                  "graph": "line",
                  "hours_to_show": 12,
                  "icon": "mdi:chip",
                  "name": "System CPU",
                  "type": "sensor",
                  "unit": "%"
                },
                {
                  "detail": 2,
                  "entity": "sensor.netdata_ram",
                  "graph": "line",
                  "hours_to_show": 12,
                  "icon": "mdi:memory",
                  "name": "System RAM",
                  "type": "sensor",
                  "unit": "%"
                },
                {
                  "entity": "sensor.motion_storage_used_${MOTION_DEVICE}",
                  "max": 100,
                  "min": 0,
                  "name": "System DASD",
                  "severity": {
                    "green": 0,
                    "red": 95,
                    "yellow": 75
                  },
                  "type": "gauge",
                  "unit": "%"
                }
              ],
              "type": "vertical-stack"
            },
            {
              "cards": [
                {
                  "entity": "sensor.motion_status_camera_offline_percent_${MOTION_DEVICE}",
                  "max": 100,
                  "min": 0,
                  "name": "Add-on camera off-line",
                  "severity": {
                    "green": 0,
                    "red": 50,
                    "yellow": 20
                  },
                  "type": "gauge",
                  "unit": "%"
                },
                {
                  "type": "entities",
                  "entities": [
                    {
                      "entity": "sensor.motion_group"
                    },
                    {
                      "entity": "sensor.motion_device"
                    },
                    {
                      "entity": "sensor.motion_client"
                    },
                    {
                      "entity": "sensor.motion_camera_count"
                    },
                    {
                      "entity": "sensor.motion_config_camera_count_${MOTION_DEVICE}"
                    },
                    {
                      "entity": "sensor.motion_config_camera_count_local_${MOTION_DEVICE}"
                    },
                    {
                      "entity": "sensor.motion_config_camera_count_netcam_${MOTION_DEVICE}"
                    },
                    {
                      "entity": "sensor.motion_config_camera_count_mqtt_${MOTION_DEVICE}"
                    },
                    {
                      "entity": "sensor.motion_config_camera_count_ftpd_${MOTION_DEVICE}"
                    },
                    {
                      "entity": "sensor.motion_config_camera_count_direct_${MOTION_DEVICE}"
                    },
                    {
                      "entity": "sensor.motion_config_mqtt_broker_${MOTION_DEVICE}"
                    },
                    {
                      "entity": "sensor.motion_config_mqtt_port_${MOTION_DEVICE}"
                    },
                    {
                      "entity": "sensor.motion_config_mqtt_username_${MOTION_DEVICE}"
                    },
                    {
                      "entity": "sensor.motion_config_mqtt_password_${MOTION_DEVICE}"
                    },
                    {
                      "entity": "sensor.motion_storage_used_${MOTION_DEVICE}"
                    },
                    {
                      "entity": "sensor.motion_storage_available_${MOTION_DEVICE}"
                    },
                    {
                      "entity": "sensor.motion_status_camera_count_${MOTION_DEVICE}"
                    },
                    {
                      "entity": "sensor.motion_status_camera_offline_percent_${MOTION_DEVICE}_mean"
                    },
                    {
                      "entity": "sensor.motion_status_camera_offline_percent_${MOTION_DEVICE}_min_value"
                    },
                    {
                      "entity": "sensor.motion_status_camera_offline_percent_${MOTION_DEVICE}_max_value"
                    },
                    {
                      "entity": "sensor.motion_status_camera_offline_percent_${MOTION_DEVICE}_stdev"
                    },
                    {
                      "entity": "sensor.motion_status_camera_offline_percent_${MOTION_DEVICE}_change"
                    },
                    {
                      "entity": "sensor.motion_status_camera_offline_${MOTION_DEVICE}"
                    }
                  ],
                  "title": "Motion Add-On"
                }
              ],
              "type": "vertical-stack"
            },
            {
              "entities": [
                {
                  "entity": "sensor.motion_mqtt_broker"
                },
                {
                  "entity": "sensor.motion_mqtt_port"
                },
                {
                  "name": "Total sent",
                  "entity": "sensor.motion_mqtt_publish_messages_sent"
                },
                {
                  "name": "Messages sent (1m)",
                  "entity": "sensor.motion_mqtt_load_messages_sent_1min"
                },
                {
                  "name": "Messages sent (5m)",
                  "entity": "sensor.motion_mqtt_load_messages_sent_5min"
                },
                {
                  "name": "Messages sent (15m)",
                  "entity": "sensor.motion_mqtt_load_messages_sent_15min"
                }
              ],
              "show_header_toggle": false,
              "title": "MQTT",
              "type": "entities"
            },
            {
              "entities": [
                {
                  "entity": "sensor.motion_yolo_ip"
                },
                {
                  "entity": "sensor.motion_yolo_start_when"
                },
                {
                  "entity": "sensor.motion_yolo_test_when"
                },
                {
                  "entity": "sensor.motion_yolo_test_ago"
                },
                {
                  "entity": "sensor.motion_yolo_test_mqtt_broker"
                },
                {
                  "entity": "sensor.motion_yolo_test_mqtt_port"
                },
                {
                  "entity": "sensor.motion_yolo_test_mqtt_username"
                },
                {
                  "entity": "sensor.motion_yolo_test_mqtt_password"
                },
                {
                  "entity": "sensor.motion_yolo_config"
                },
                {
                  "entity": "sensor.motion_yolo_entity"
                },
                {
                  "entity": "sensor.motion_yolo_threshold"
                },
                {
                  "entity": "sensor.motion_yolo_scale"
                },
                {
                  "entity": "sensor.motion_service_yolo_when"
                },
                {
                  "entity": "sensor.motion_service_yolo_model"
                },
                {
                  "entity": "sensor.motion_service_yolo_entity"
                },
                {
                  "entity": "sensor.motion_service_yolo_version"
                },
                {
                  "entity": "sensor.motion_service_yolo_threshold"
                },
                {
                  "entity": "sensor.motion_service_yolo_scale"
                },
                {
                  "entity": "sensor.motion_service_yolo_topic"
                },
                {
                  "entity": "sensor.motion_service_yolo_hostname"
                }
              ],
              "show_header_toggle": false,
              "title": "YOLO",
              "type": "entities"
            },
            {
              "entities": [
                "sensor.last_boot",
                "sensor.netdata_cpu",
                "sensor.netdata_ram",
                "sensor.load_15m",
                "sensor.load_5m",
                "sensor.load_1m",
                "sensor.memory_free",
                "sensor.motion_base_url"
              ],
              "show_header_toggle": false,
              "title": "System",
              "type": "entities"
            },
            {
              "entities": [
                "sensor.motion_domain_sensor_count",
                "sensor.motion_domain_camera_count",
                "sensor.motion_domain_counter_count",
                "sensor.motion_domain_automation_count",
                "sensor.motion_domain_group_count",
                "sensor.motion_domain_binary_sensor_count",
                "sensor.motion_domain_input_boolean_count",
                "sensor.motion_domain_input_number_count",
                "sensor.motion_domain_input_text_count",
                "sensor.motion_domain_input_select_count"
              ],
              "show_header_toggle": false,
              "title": "Components",
              "type": "entities"
            }
          ]
        },
        {
          "badges": [],
          "cards": [
            {
              "entities": [
                {
                  "name": "Detect at all cameras",
                  "entity": "input_select.motion_detect_entity"
                }
              ],
              "show_header_toggle": false,
              "title": "Detect entity",
              "type": "entities"
            },
            {
              "entities": [
                {
                  "entity": "sensor.motion_detected_person_threshold"
                },
                {
                  "entity": "input_boolean.motion_detected_person_tune"
                },
                {
                  "entity": "input_number.motion_detected_person_percent"
                },
                {
                  "entity": "input_number.motion_detected_person_percent_deviation"
                },
                {
                  "entity": "sensor.motion_detected_vehicle_threshold"
                },
                {
                  "entity": "input_boolean.motion_detected_vehicle_tune"
                },
                {
                  "entity": "input_number.motion_detected_vehicle_percent"
                },
                {
                  "entity": "input_number.motion_detected_vehicle_percent_deviation"
                },
                {
                  "entity": "sensor.motion_detected_animal_threshold"
                },
                {
                  "entity": "input_boolean.motion_detected_animal_tune"
                },
                {
                  "entity": "input_number.motion_detected_animal_percent"
                },
                {
                  "entity": "input_number.motion_detected_animal_percent_deviation"
                }
              ],
              "show_header_toggle": false,
              "title": "Tune",
              "type": "entities"
            },
            {
              "type": "vertical-stack",
              "cards": [
                {
                  "type": "entities",
                  "entities": [
                    {
                      "entity": "input_select.motion_overview_mode"
                    },
                    {
                      "entity": "input_text.motion_overview_image"
                    },
                    {
                      "entity": "binary_sensor.motion_overview_apikey"
                    },
                    {
                      "entity": "input_number.motion_overview_zoom"
                    }
                  ],
                  "title": "Overview"
                },
                {
                  "type": "map",
                  "entities": [
                    {
                      "entity": "zone.home"
                    }
                  ],
                  "hours_to_show": 0,
                  "default_zoom": 19
                },
                {
                  "aspect_ratio": "0%",
                  "camera_image": "camera.motion_overview",
                  "entities": [
                    {
                      "entity": "input_select.motion_overview_mode"
                    },
                    {
                      "entity": "input_text.motion_overview_image"
                    },
                    {
                      "entity": "input_number.motion_overview_zoom"
                    },
                    {
                      "entity": "binary_sensor.motion_overview_apikey"
                    }
                  ],
                  "title": "Overview",
                  "type": "picture-glance"
                }
              ]
            },
            {
              "entities": [
                {
                  "entity": "input_boolean.motion_detected_person_notify"
                },
                {
                  "entity": "input_boolean.motion_detected_entity_notify"
                },
                {
                  "entity": "input_boolean.motion_status_camera_notify"
                },
                {
                  "entity": "input_boolean.motion_detected_person_speak"
                },
                {
                  "entity": "automation.motion_detected_person_speak"
                },
                {
                  "entity": "input_select.motion_media_player_name"
                }
              ],
              "show_header_toggle": false,
              "title": "Notify",
              "type": "entities",
              "state_color": true
            },
            {
              "entities": [
                {
                  "entity": "input_boolean.motion_media_mask"
                },
                {
                  "entity": "input_boolean.motion_media_save"
                }
              ],
              "show_header_toggle": false,
              "title": "Media",
              "type": "entities"
            }
          ],
          "icon": "mdi:cog",
          "path": "settings_view",
          "title": "SETTINGS"
        },
        {
          "panel": true,
          "badges": [],
          "cards": [
            {
              "elements": [],
              "title": "OVERVIEW",
              "image": "/local/images/no-signal.jpg",
              "camera_image": "camera.motion_overview",
              "type": "picture-elements"
            },
            {
              "entities": [
                "binary_sensor.motion_status_camera",
                "sensor.motion_status_camera_found_name",
                "sensor.motion_status_camera_lost_name"
              ],
              "hours_to_show": 1,
              "refresh_interval": 30,
              "title": "Cameras",
              "type": "history-graph"
            },
            {
              "entities": [
                "sensor.date",
                "sensor.time",
                "sensor.motion_status_camera_ratio",
                "group.motion_status_camera"
              ],
              "show_header_toggle": false,
              "title": "Current",
              "type": "entities"
            }
          ],
          "icon": "mdi:cctv",
          "path": "motion_live",
          "title": "LIVE"
        }
      ]
    }
  },
  "key": "lovelace",
  "version": 1
}
