{
  "data": {
    "config": {
      "title": "${MOTION_APP} - Animal (🐄)",
      "views": [
        {
          "title": "Animal",
          "path": "animal",
          "icon": "mdi:cow",
          "badges": [],
          "cards": [
            {
              "cards": [
                {
                  "type": "picture-elements",
                  "camera_image": "camera.motion_detected_animal",
                  "elements": [
                    {
                      "type": "state-label",
                      "entity": "sensor.motion_detected_animal_activity_level",
                      "prefix": "",
                      "style": {
                        "top": "10%",
                        "left": "15%",
                        "font-size": "150%",
                        "color": "chartreuse"
                      }
                    },
                    {
                      "type": "state-label",
                      "entity": "sensor.motion_detected_animal_ago_status",
                      "prefix": "Ago: ",
                      "style": {
                        "top": "10%",
                        "left": "80%",
                        "font-size": "150%",
                        "color": "chartreuse"
                      }
                    },
                    {
                      "type": "conditional",
                      "conditions": [
                        {
                          "entity": "sensor.motion_detected_animal_where",
                          "state": "Pending"
                        }
                      ],
                      "elements": [
                        {
                          "type": "image",
                          "camera_image": "camera.motion_nosignal_animated",
                          "style": {
                            "top": "50%",
                            "left": "50%",
                            "width": "100%",
                            "height": "100%"
                          }
                        },
                        {
                          "type": "state-label",
                          "entity": "sensor.motion_detected_animal_when",
                          "prefix": "Animal: ",
                          "style": {
                            "top": "50%",
                            "left": "50%",
                            "font-size": "200%",
                            "color": "chartreuse"
                          }
                        }
                      ]
                    },
                    {
                      "type": "conditional",
                      "conditions": [
                        {
                          "entity": "sensor.motion_detected_animal_where",
                          "state_not": "Pending"
                        }
                      ],
                      "elements": [
                        {
                          "type": "image",
                          "camera_image": "camera.motion_detected_animal_animated",
                          "style": {
                            "position": null,
                            "opacity": 0.4,
                            "top": "50%",
                            "left": "50%",
                            "width": "100%",
                            "height": "100%"
                          }
                        },
                        {
                          "type": "state-label",
                          "entity": "sensor.motion_detected_animal_where",
                          "prefix": "Animal at ",
                          "style": {
                            "top": "75%",
                            "left": "50%",
                            "font-size": "200%",
                            "color": "chartreuse"
                          }
                        },
                        {
                          "type": "state-label",
                          "entity": "sensor.motion_detected_animal_when",
                          "style": {
                            "top": "90%",
                            "left": "50%",
                            "font-size": "100%",
                            "color": "chartreuse"
                          }
                        },
                        {
                          "type": "state-label",
                          "entity": "sensor.motion_detected_animal_activity_metrics",
                          "prefix": "",
                          "style": {
                            "top": "95%",
                            "left": "50%",
                            "font-size": "80%",
                            "color": "chartreuse"
                          }
                        }
                      ]
                    }
                  ]
                },
                {
                  "cards": [
                    {
                      "type": "glance",
                      "entities": [
                        {
                          "name": "Activity",
                          "entity": "sensor.motion_detected_animal_activity_level"
                        },
                        {
                          "name": "Where",
                          "icon": "mdi:map-marker",
                          "entity": "sensor.motion_detected_animal_where"
                        },
                        {
                          "name": "Ago",
                          "icon": "mdi:av-timer",
                          "entity": "sensor.motion_detected_animal_ago_status"
                        },
                        {
                          "name": "Tune",
                          "icon": "mdi:tune",
                          "entity": "binary_sensor.motion_detected_animal_threshold_tune"
                        },
                        {
                          "name": "Confidence",
                          "icon": "mdi:beta",
                          "entity": "sensor.motion_detected_animal_confidence"
                        }
                      ],
                      "show_icon": true,
                      "show_state": true,
                      "show_name": true
                    },
                    {
                      "entities": [
                        {
                          "name": "Status",
                          "entity": "sensor.motion_detected_animal",
                          "type": "attribute",
                          "attribute": "status"
                        },
                        {
                          "name": "When",
                          "entity": "sensor.motion_detected_animal_when"
                        },
                        {
                          "name": "Camera",
                          "entity": "sensor.motion_detected_animal_camera"
                        },
                        {
                          "name": "Threshold",
                          "entity": "sensor.motion_detected_animal_threshold"
                        },
                        {
                          "entity": "sensor.motion_detected_animal_count_today"
                        },
                        {
                          "entity": "sensor.motion_detected_animal_time_today"
                        }
                      ],
                      "title": "ANIMAL",
                      "type": "entities"
                    },
                    {
                      "title": "Animal confidence (β) (24h)",
                      "hours_to_show": 24,
                      "refresh_interval": 30,
                      "type": "history-graph",
                      "entities": [
                        {
                          "entity": "sensor.motion_detected_animal_confidence"
                        },
                        {
                          "entity": "sensor.motion_detected_animal_threshold"
                        },
                        {
                          "entity": "sensor.motion_detected_animal_confidence_mean"
                        },
                        {
                          "entity": "sensor.motion_detected_animal_confidence_confirmed_mean"
                        }
                      ]
                    },
                    {
                      "title": "Animal confirmed (%) (24h)",
                      "hours_to_show": 24,
                      "refresh_interval": 30,
                      "type": "history-graph",
                      "entities": [
                        {
                          "entity": "sensor.motion_detected_animal_confirmed_percent"
                        },
                        {
                          "entity": "sensor.motion_detected_animal_confirmed_percent_mean"
                        },
                        {
                          "entity": "sensor.motion_detected_animal_confirmed_percent_min"
                        },
                        {
                          "entity": "sensor.motion_detected_animal_confirmed_percent_max"
                        }
                      ]
                    }
                  ],
                  "type": "vertical-stack"
                }
              ],
              "type": "vertical-stack"
            },
            {
              "cards": [
                {
                  "detail": 2,
                  "entity": "sensor.motion_detected_animal_count",
                  "graph": "line",
                  "hours_to_show": 24,
                  "name": "Last animal count (Σ) (24h)",
                  "type": "sensor"
                },
                {
                  "entities": [
                    {
                      "entity": "sensor.motion_detected_animal_count_mean"
                    },
                    {
                      "entity": "sensor.motion_detected_animal_count_stdev"
                    },
                    {
                      "entity": "sensor.motion_detected_animal_count_stdev_mean"
                    },
                    {
                      "entity": "sensor.motion_detected_animal_count_stdev_stdev"
                    },
                    {
                      "entity": "sensor.motion_detected_animal_count_stdev_change"
                    },
                    {
                      "entity": "sensor.motion_detected_animal_count_change"
                    },
                    {
                      "entity": "sensor.motion_detected_animal_count_change_mean"
                    },
                    {
                      "entity": "sensor.motion_detected_animal_count_change_stdev"
                    },
                    {
                      "entity": "sensor.motion_detected_animal_count_change_change"
                    }
                  ],
                  "hours_to_show": 24,
                  "refresh_interval": 30,
                  "title": "Animal count (Σ) (24h)",
                  "type": "history-graph"
                },
                {
                  "entities": [
                    {
                      "entity": "sensor.motion_detected_animal_counts_1m_mean"
                    },
                    {
                      "entity": "sensor.motion_detected_animal_counts_1m_delta"
                    },
                    {
                      "entity": "sensor.motion_detected_animal_counts_5m_mean"
                    },
                    {
                      "entity": "sensor.motion_detected_animal_counts_5m_delta"
                    },
                    {
                      "entity": "sensor.motion_detected_animal_counts_15m_mean"
                    },
                    {
                      "entity": "sensor.motion_detected_animal_counts_15m_delta"
                    },
                    {
                      "entity": "sensor.motion_detected_animal_counts_30m_mean"
                    },
                    {
                      "entity": "sensor.motion_detected_animal_counts_30m_delta"
                    }
                  ],
                  "hours_to_show": 24,
                  "refresh_interval": 30,
                  "title": "Animal count (∀Σ) (24h)",
                  "type": "history-graph"
                },
                {
                  "entities": [
                    {
                      "entity": "sensor.motion_detected_animal_counts"
                    },
                    {
                      "entity": "sensor.motion_detected_animal_counts_24h_mean"
                    }
                  ],
                  "hours_to_show": 24,
                  "refresh_interval": 30,
                  "title": "",
                  "type": "history-graph"
                }
              ],
              "type": "vertical-stack"
            },
            {
              "cards": [
                {
                  "detail": 2,
                  "entity": "sensor.motion_detected_animal_ago",
                  "graph": "line",
                  "hours_to_show": 24,
                  "name": "Last animal ago (⧖) (24h)",
                  "type": "sensor"
                },
                {
                  "entities": [
                    {
                      "entity": "sensor.motion_detected_animal_ago_mean"
                    },
                    {
                      "entity": "sensor.motion_detected_animal_ago_stdev"
                    },
                    {
                      "entity": "sensor.motion_detected_animal_ago_stdev_mean"
                    },
                    {
                      "entity": "sensor.motion_detected_animal_ago_stdev_stdev"
                    },
                    {
                      "entity": "sensor.motion_detected_animal_ago_stdev_change"
                    },
                    {
                      "entity": "sensor.motion_detected_animal_ago_change"
                    },
                    {
                      "entity": "sensor.motion_detected_animal_ago_change_mean"
                    },
                    {
                      "entity": "sensor.motion_detected_animal_ago_change_stdev"
                    },
                    {
                      "entity": "sensor.motion_detected_animal_ago_change_change"
                    }
                  ],
                  "hours_to_show": 24,
                  "refresh_interval": 30,
                  "title": "Animal ago (⧖) (24h)",
                  "type": "history-graph"
                },
                {
                  "entities": [
                    {
                      "entity": "sensor.motion_detected_animal_agos_1m_mean"
                    },
                    {
                      "entity": "sensor.motion_detected_animal_agos_1m_delta"
                    },
                    {
                      "entity": "sensor.motion_detected_animal_agos_5m_mean"
                    },
                    {
                      "entity": "sensor.motion_detected_animal_agos_5m_delta"
                    },
                    {
                      "entity": "sensor.motion_detected_animal_agos_15m_mean"
                    },
                    {
                      "entity": "sensor.motion_detected_animal_agos_15m_delta"
                    },
                    {
                      "entity": "sensor.motion_detected_animal_agos_30m_mean"
                    },
                    {
                      "entity": "sensor.motion_detected_animal_agos_30m_delta"
                    }
                  ],
                  "hours_to_show": 24,
                  "refresh_interval": 30,
                  "title": "Animal ago (∀⧖) (24h)",
                  "type": "history-graph"
                },
                {
                  "entities": [
                    {
                      "entity": "sensor.motion_detected_animal_agos_min"
                    },
                    {
                      "entity": "sensor.motion_detected_animal_agos"
                    },
                    {
                      "entity": "sensor.motion_detected_animal_agos_24h_mean"
                    }
                  ],
                  "hours_to_show": 24,
                  "refresh_interval": 30,
                  "title": "",
                  "type": "history-graph"
                },
                {
                  "entities": [
                    {
                      "entity": "sensor.motion_animal_nominal_ratio_1d"
                    },
                    {
                      "entity": "sensor.motion_animal_low_ratio_1d"
                    },
                    {
                      "entity": "sensor.motion_animal_high_ratio_1d"
                    },
                    {
                      "entity": "sensor.motion_animal_increasing_ratio_1d"
                    },
                    {
                      "entity": "sensor.motion_animal_decreasing_ratio_1d"
                    }
                  ],
                  "hours_to_show": 24,
                  "refresh_interval": 30,
                  "title": "Animal activity level (24h)",
                  "type": "history-graph"
                },
                {
                  "entities": [
                    {
                      "entity": "sensor.motion_animal_nominal_ratio_1w"
                    },
                    {
                      "entity": "sensor.motion_animal_low_ratio_1w"
                    },
                    {
                      "entity": "sensor.motion_animal_high_ratio_1w"
                    },
                    {
                      "entity": "sensor.motion_animal_increasing_ratio_1w"
                    },
                    {
                      "entity": "sensor.motion_animal_decreasing_ratio_1w"
                    }
                  ],
                  "hours_to_show": 24,
                  "refresh_interval": 300,
                  "title": "Animal activity level (1w)",
                  "type": "history-graph"
                }
              ],
              "type": "vertical-stack"
            },
            {
              "entities": [
                "sensor.motion_detected_animal_ago_mean"
              ],
              "hours_to_show": 24,
              "refresh_interval": 30,
              "title": "Animal ago mean (⧖μ) (24h)",
              "type": "history-graph"
            },
            {
              "entities": [
                "sensor.motion_detected_animal_count_mean"
              ],
              "hours_to_show": 24,
              "refresh_interval": 30,
              "title": "Animal count mean (Σμ) (24h)",
              "type": "history-graph"
            }
          ]
        },
        {
          "title": "Map",
          "path": "map",
          "icon": "mdi:map",
          "panel": true,
          "badges": [],
          "cards": [
            {
              "type": "horizontal-stack",
              "cards": [
                {
                  "type": "vertical-stack",
                  "cards": [
                    {
                      "type": "horizontal-stack",
                      "cards": [
                        {
                          "type": "picture-elements",
                          "elements": [
                            {
                              "type": "state-icon",
                              "entity": "sensor.motion_camera_detected_animal_unknown_count",
                              "style": {
                                "top": "20%",
                                "left": "50%",
                                "font-size": "100%",
                                "color": "black"
                              }
                            },
                            {
                              "type": "state-label",
                              "entity": "sensor.motion_camera_detected_animal_unknown_count",
                              "style": {
                                "top": "60%",
                                "left": "50%",
                                "font-size": "150%",
                                "color": "black"
                              }
                            }
                          ],
                          "image": "/local/images/unknown-signal.png"
                        },
                        {
                          "type": "picture-elements",
                          "elements": [
                            {
                              "type": "state-icon",
                              "entity": "sensor.motion_camera_detected_animal_null_count",
                              "style": {
                                "top": "20%",
                                "left": "50%",
                                "font-size": "100%",
                                "color": "black"
                              }
                            },
                            {
                              "type": "state-label",
                              "entity": "sensor.motion_camera_detected_animal_null_count",
                              "style": {
                                "top": "60%",
                                "left": "50%",
                                "font-size": "150%",
                                "color": "black"
                              }
                            }
                          ],
                          "image": "/local/images/null-signal.png"
                        },
                        {
                          "type": "picture-elements",
                          "elements": [
                            {
                              "type": "state-icon",
                              "entity": "sensor.motion_camera_detected_animal_none_count",
                              "style": {
                                "top": "20%",
                                "left": "50%",
                                "font-size": "100%",
                                "color": "black"
                              }
                            },
                            {
                              "type": "state-label",
                              "entity": "sensor.motion_camera_detected_animal_none_count",
                              "style": {
                                "top": "60%",
                                "left": "50%",
                                "font-size": "150%",
                                "color": "black"
                              }
                            }
                          ],
                          "image": "/local/images/none-signal.png"
                        },
                        {
                          "type": "picture-elements",
                          "elements": [
                            {
                              "type": "state-icon",
                              "entity": "sensor.motion_camera_detected_animal_verylow_count",
                              "style": {
                                "top": "20%",
                                "left": "50%",
                                "font-size": "100%",
                                "color": "black"
                              }
                            },
                            {
                              "type": "state-label",
                              "entity": "sensor.motion_camera_detected_animal_verylow_count",
                              "style": {
                                "top": "60%",
                                "left": "50%",
                                "font-size": "150%",
                                "color": "black"
                              }
                            }
                          ],
                          "image": "/local/images/verylow-signal.png"
                        },
                        {
                          "type": "picture-elements",
                          "elements": [
                            {
                              "type": "state-icon",
                              "entity": "sensor.motion_camera_detected_animal_low_count",
                              "style": {
                                "top": "20%",
                                "left": "50%",
                                "font-size": "100%",
                                "color": "black"
                              }
                            },
                            {
                              "type": "state-label",
                              "entity": "sensor.motion_camera_detected_animal_low_count",
                              "style": {
                                "top": "60%",
                                "left": "50%",
                                "font-size": "150%",
                                "color": "black"
                              }
                            }
                          ],
                          "image": "/local/images/low-signal.png"
                        },
                        {
                          "type": "picture-elements",
                          "elements": [
                            {
                              "type": "state-icon",
                              "entity": "sensor.motion_camera_detected_animal_nominal_count",
                              "style": {
                                "top": "20%",
                                "left": "50%",
                                "font-size": "100%",
                                "color": "black"
                              }
                            },
                            {
                              "type": "state-label",
                              "entity": "sensor.motion_camera_detected_animal_nominal_count",
                              "style": {
                                "top": "60%",
                                "left": "50%",
                                "font-size": "150%",
                                "color": "black"
                              }
                            }
                          ],
                          "image": "/local/images/nominal-signal.png"
                        },
                        {
                          "type": "picture-elements",
                          "elements": [
                            {
                              "type": "state-icon",
                              "entity": "sensor.motion_camera_detected_animal_high_count",
                              "style": {
                                "top": "20%",
                                "left": "50%",
                                "font-size": "100%",
                                "color": "black"
                              }
                            },
                            {
                              "type": "state-label",
                              "entity": "sensor.motion_camera_detected_animal_high_count",
                              "style": {
                                "top": "60%",
                                "left": "50%",
                                "font-size": "150%",
                                "color": "black"
                              }
                            }
                          ],
                          "image": "/local/images/high-signal.png"
                        },
                        {
                          "type": "picture-elements",
                          "elements": [
                            {
                              "type": "state-icon",
                              "entity": "sensor.motion_camera_detected_animal_veryhigh_count",
                              "style": {
                                "top": "20%",
                                "left": "50%",
                                "font-size": "100%",
                                "color": "black"
                              }
                            },
                            {
                              "type": "state-label",
                              "entity": "sensor.motion_camera_detected_animal_veryhigh_count",
                              "style": {
                                "top": "60%",
                                "left": "50%",
                                "font-size": "150%",
                                "color": "black"
                              }
                            }
                          ],
                          "image": "/local/images/veryhigh-signal.png"
                        }
                      ]
                    },
                    {
                      "type": "map",
                      "default_zoom": 20,
                      "hours_to_show": 72,
                      "entities": []
                    }
                  ]
                },
                {
                  "type": "vertical-stack",
                  "cards": [
                    {
                      "type": "history-graph",
                      "title": "Level",
                      "hours_to_show": 48,
                      "refresh_interval": 30,
                      "entities": []
                    },
                    {
                      "type": "history-graph",
                      "title": "Rank",
                      "hours_to_show": 48,
                      "refresh_interval": 30,
                      "entities": []
                    }
                  ]
                }
              ]
            }
          ]
        }
      ]
    }
  },
  "key": "lovelace",
  "version": 1
}
