{
  "version": 1,
  "key": "lovelace",
  "data": {
    "config": {
      "icon": "mdi:home",
      "title": "Motion Ã👁 (${HOST_NAME})",
      "views": [
        {
          "icon": "mdi:home",
          "panel": false,
          "path": "home",
          "theme": "",
          "title": "HOME",
          "badges": [],
          "cards": [
            {
              "type": "horizontal-stack",
              "cards": [
                {
                  "type": "vertical-stack",
                  "cards": [
                    {
                      "type": "conditional",
                      "conditions": [
                        {
                          "entity": "binary_sensor.motion_status_mqtt",
                          "state": "off"
                        }
                      ],
                      "card": {
                        "type": "glance",
                        "entities": [
                          {
                            "name": "Messaging",
                            "entity": "binary_sensor.motion_status_mqtt_active"
                          },
                          {
                            "name": "Ago",
                            "entity": "sensor.motion_status_mqtt_ago"
                          },
                          {
                            "name": "Host",
                            "entity": "sensor.motion_mqtt_broker"
                          },
                          {
                            "name": "Port",
                            "entity": "sensor.motion_mqtt_port"
                          },
                          {
                            "name": "Status",
                            "entity": "sensor.motion_status_mqtt"
                          }
                        ],
                        "show_icon": true,
                        "show_value": true,
                        "show_name": true,
                        "title": ""
                      }
                    },
                    {
                      "type": "glance",
                      "entities": [
                        {
                          "name": "👱 level",
                          "entity": "sensor.motion_person_activity_level"
                        },
                        {
                          "entity": "sensor.motion_person_device_ago"
                        },
                        {
                          "name": "👱 user",
                          "icon": "mdi:account",
                          "entity": "sensor.motion_person"
                        },
                        {
                          "name": "👱 📱",
                          "icon": "mdi:cellphone",
                          "entity": "sensor.motion_person_device"
                        },
                        {
                          "name": "👱 🏠",
                          "entity": "binary_sensor.motion_person_home"
                        }
                      ],
                      "show_icon": true,
                      "show_name": true
                    },
                    {
                      "type": "glance",
                      "entities": [
                        {
                          "name": "📷 last",
                          "icon": "mdi:map-marker",
                          "entity": "sensor.motion_detected_person_where"
                        },
                        {
                          "name": "📷 most",
                          "icon": "mdi:map-marker",
                          "entity": "sensor.motion_detected_person_camera_most"
                        },
                        {
                          "name": "📷 often",
                          "icon": "mdi:map-marker",
                          "entity": "sensor.motion_detected_person_camera_often"
                        },
                        {
                          "name": "👱 ago",
                          "icon": "mdi:av-timer",
                          "entity": "sensor.motion_detected_person_ago_relative"
                        },
                        {
                          "name": "👱 ago μ",
                          "icon": "mdi:av-timer",
                          "entity": "sensor.motion_detected_person_ago_mean"
                        }
                      ],
                      "show_icon": true,
                      "show_name": true
                    },
                    {
                      "type": "glance",
                      "title": "",
                      "show_icon": true,
                      "show_state": true,
                      "show_name": true,
                      "entities": [
                        {
                          "name": "Wake-up",
                          "entity": "sensor.motion_schedule_wake_detected_time"
                        },
                        {
                          "name": "Mean",
                          "entity": "sensor.motion_schedule_wake_detected_mean_time"
                        },
                        {
                          "name": "History",
                          "entity": "sensor.motion_schedule_wake_detected_days"
                        },
                        {
                          "name": "Interval",
                          "entity": "sensor.motion_alarm_wake_interval"
                        },
                        {
                          "name": "Alert",
                          "entity": "binary_sensor.motion_schedule_wake_undetected"
                        }
                      ]
                    },
                    {
                      "hours_to_show": 24,
                      "refresh_interval": 30,
                      "title": "Home & Away",
                      "type": "history-graph",
                      "entities": [
                        {
                          "entity": "sensor.motion_person_home_ratio_1d"
                        },
                        {
                          "entity": "sensor.motion_person_away_ratio_1d"
                        },
                        {
                          "entity": "sensor.motion_person_home_ratio_1w"
                        },
                        {
                          "entity": "sensor.motion_person_away_ratio_1w"
                        }
                      ]
                    },
                    {
                      "type": "conditional",
                      "conditions": [
                        {
                          "entity": "sensor.motion_person_activity_level",
                          "state_not": "Nominal"
                        }
                      ],
                      "card": {
                        "type": "vertical-stack",
                        "cards": [
                          {
                            "hours_to_show": 2,
                            "refresh_interval": 30,
                            "title": "Person ago (⧖); last 2 hours",
                            "type": "history-graph",
                            "entities": [
                              {
                                "entity": "sensor.motion_detected_person_ago"
                              },
                              {
                                "entity": "sensor.motion_detected_person_ago_mean"
                              }
                            ]
                          },
                          {
                            "hours_to_show": 2,
                            "refresh_interval": 30,
                            "title": "Person count (Σ); last 2 hours",
                            "type": "history-graph",
                            "entities": [
                              {
                                "entity": "sensor.motion_detected_person_count"
                              },
                              {
                                "entity": "sensor.motion_detected_person_count_mean"
                              }
                            ]
                          },
                          {
                            "show_header_toggle": false,
                            "title": "Metrics",
                            "type": "entities",
                            "entities": [
                              {
                                "entity": "sensor.motion_person_activity_metrics"
                              }
                            ]
                          }
                        ]
                      }
                    },
                    {
                      "type": "conditional",
                      "conditions": [
                        {
                          "entity": "binary_sensor.motion_addon_status",
                          "state": "off"
                        }
                      ],
                      "card": {
                        "type": "vertical-stack",
                        "cards": [
                          {
                            "hours_to_show": 2,
                            "refresh_interval": 30,
                            "title": "Status ago ⧖ (2h)",
                            "type": "history-graph",
                            "entities": [
                              {
                                "entity": "sensor.motion_addon_status_ago"
                              },
                              {
                                "entity": "sensor.motion_addon_status_ago_mean"
                              }
                            ]
                          },
                          {
                            "show_header_toggle": false,
                            "title": "Add-on",
                            "type": "entities",
                            "entities": [
                              {
                                "entity": "sensor.motion_addon_config_ago"
                              },
                              {
                                "entity": "sensor.motion_addon_config_ipaddr"
                              },
                              {
                                "entity": "sensor.motion_addon_status_camera_offline"
                              },
                              {
                                "entity": "binary_sensor.motion_addon_camera_restart"
                              }
                            ]
                          }
                        ]
                      }
                    },
                    {
                      "type": "conditional",
                      "conditions": [
                        {
                          "entity": "binary_sensor.internet_slow_persistent",
                          "state": "on"
                        }
                      ],
                      "card": {
                        "type": "vertical-stack",
                        "cards": [
                          {
                            "entities": [
                              {
                                "entity": "sensor.internet_good"
                              },
                              {
                                "entity": "sensor.internet_receive"
                              },
                              {
                                "entity": "sensor.internet_receive_mean"
                              },
                              {
                                "entity": "sensor.internet_ago"
                              },
                              {
                                "entity": "sensor.internet_receive_standard_deviation"
                              }
                            ],
                            "show_header_toggle": false,
                            "title": "Internet",
                            "type": "entities"
                          }
                        ]
                      }
                    }
                  ]
                }
              ]
            },
            {
              "type": "vertical-stack",
              "cards": [
                {
                  "type": "vertical-stack",
                  "cards": [
                    {
                      "elements": [],
                      "title": "",
                      "image": "/local/images/no-signal.jpg",
                      "camera_image": "camera.motion_overview",
                      "type": "picture-elements"
                    }
                  ]
                },
                {
                  "type": "vertical-stack",
                  "cards": [
                    {
                      "type": "conditional",
                      "conditions": [
                        {
                          "entity": "binary_sensor.motion_status_yolo",
                          "state_not": "on"
                        },
                        {
                          "entity": "binary_sensor.motion_status_yolo",
                          "state_not": "null"
                        },
                        {
                          "entity": "binary_sensor.motion_status_yolo",
                          "state_not": "unknown"
                        }
                      ],
                      "card": {
                        "type": "entities",
                        "icon": "mdi:eye",
                        "title": "YOLO disconnected",
                        "entities": []
                      }
                    },
                    {
                      "type": "conditional",
                      "conditions": [
                        {
                          "entity": "binary_sensor.motion_status_face",
                          "state_not": "on"
                        },
                        {
                          "entity": "binary_sensor.motion_status_face",
                          "state_not": "null"
                        },
                        {
                          "entity": "binary_sensor.motion_status_face",
                          "state_not": "unknown"
                        }
                      ],
                      "card": {
                        "type": "entities",
                        "icon": "mdi:face",
                        "title": "FACE disconnected",
                        "entities": []
                      }
                    },
                    {
                      "type": "conditional",
                      "conditions": [
                        {
                          "entity": "binary_sensor.motion_status_alpr",
                          "state_not": "on"
                        },
                        {
                          "entity": "binary_sensor.motion_status_alpr",
                          "state_not": "null"
                        },
                        {
                          "entity": "binary_sensor.motion_status_alpr",
                          "state_not": "unknown"
                        }
                      ],
                      "card": {
                        "type": "entities",
                        "icon": "mdi:license",
                        "title": "ALPR disconnected",
                        "entities": []
                      }
                    }
                  ]
                },
                {
                  "type": "vertical-stack",
                  "cards": [
                    {
                      "type": "conditional",
                      "conditions": [
                        {
                          "entity": "sensor.motion_person_location",
                          "state_not": "none"
                        },
                        {
                          "entity": "sensor.motion_person_location",
                          "state_not": "unavailable"
                        }
                      ],
                      "card": {
                        "type": "map",
                        "entities": [
                          {
                            "entity": "zone.home"
                          },
                          {
                            "entity": "sensor.motion_person_location"
                          }
                        ],
                        "default_zoom": 18,
                        "hours_to_show": 72
                      }
                    }
                  ]
                }
              ]
            },
            {
              "type": "vertical-stack",
              "cards": [
                {
                  "type": "conditional",
                  "conditions": [
                    {
                      "entity": "sensor.motion_person_device",
                      "state_not": "unknown"
                    },
                    {
                      "entity": "sensor.motion_person_device",
                      "state_not": "none"
                    },
                    {
                      "entity": "sensor.motion_person_device",
                      "state_not": "null"
                    },
                    {
                      "entity": "sensor.motion_person_device",
                      "state_not": "unavailable"
                    }
                  ],
                  "card": {
                    "type": "vertical-stack",
                    "cards": [
                      {
                        "hours_to_show": 24,
                        "refresh_interval": 30,
                        "title": "Activity",
                        "type": "history-graph",
                        "entities": [
                          {
                            "entity": "sensor.motion_person_stationary_ratio_1d"
                          },
                          {
                            "entity": "sensor.motion_person_walking_ratio_1d"
                          },
                          {
                            "entity": "sensor.motion_person_running_ratio_1d"
                          },
                          {
                            "entity": "sensor.motion_person_cycling_ratio_1d"
                          },
                          {
                            "entity": "sensor.motion_person_automotive_ratio_1d"
                          },
                          {
                            "entity": "sensor.motion_person_stationary_ratio_1w"
                          },
                          {
                            "entity": "sensor.motion_person_walking_ratio_1w"
                          },
                          {
                            "entity": "sensor.motion_person_running_ratio_1w"
                          },
                          {
                            "entity": "sensor.motion_person_cycling_ratio_1w"
                          },
                          {
                            "entity": "sensor.motion_person_automotive_ratio_1w"
                          }
                        ]
                      },
                      {
                        "hours_to_show": 24,
                        "refresh_interval": 30,
                        "title": "Distance",
                        "type": "history-graph",
                        "entities": [
                          {
                            "entity": "sensor.motion_person_distance"
                          },
                          {
                            "entity": "sensor.motion_person_distance_mean_1d"
                          },
                          {
                            "entity": "sensor.motion_person_distance_mean_1w"
                          }
                        ]
                      }
                    ]
                  }
                },
                {
                  "type": "conditional",
                  "conditions": [
                    {
                      "entity": "sensor.motion_person_device",
                      "state_not": "unknown"
                    },
                    {
                      "entity": "sensor.motion_person_device",
                      "state_not": "none"
                    },
                    {
                      "entity": "sensor.motion_person_device",
                      "state_not": "null"
                    },
                    {
                      "entity": "sensor.motion_person_device",
                      "state_not": "unavailable"
                    }
                  ],
                  "card": {
                    "type": "vertical-stack",
                    "cards": [
                      {
                        "type": "conditional",
                        "conditions": [
                          {
                            "entity": "binary_sensor.motion_person_steps_1d",
                            "state_not": "off"
                          }
                        ],
                        "card": {
                          "hours_to_show": 24,
                          "refresh_interval": 30,
                          "title": "Steps",
                          "type": "history-graph",
                          "entities": [
                            {
                              "entity": "sensor.motion_person_steps"
                            },
                            {
                              "entity": "sensor.motion_person_steps_mean_1d"
                            },
                            {
                              "entity": "sensor.motion_person_steps_mean_1w"
                            },
                            {
                              "entity": "sensor.motion_person_steps_mean_1m"
                            }
                          ]
                        }
                      },
                      {
                        "type": "conditional",
                        "conditions": [
                          {
                            "entity": "binary_sensor.motion_person_pedometer_pace_1d",
                            "state_not": "off"
                          }
                        ],
                        "card": {
                          "hours_to_show": 24,
                          "refresh_interval": 30,
                          "title": "Pace",
                          "type": "history-graph",
                          "entities": [
                            {
                              "entity": "sensor.motion_person_pedometer_pace"
                            },
                            {
                              "entity": "sensor.motion_person_pedometer_pace_mean_1d"
                            },
                            {
                              "entity": "sensor.motion_person_pedometer_pace_mean_1w"
                            },
                            {
                              "entity": "sensor.motion_person_pedometer_pace_mean_1m"
                            }
                          ]
                        }
                      },
                      {
                        "type": "conditional",
                        "conditions": [
                          {
                            "entity": "binary_sensor.motion_person_floors_ascended_1d",
                            "state_not": "off"
                          }
                        ],
                        "card": {
                          "type": "history-graph",
                          "hours_to_show": 24,
                          "refresh_interval": 30,
                          "title": "Floors up",
                          "entities": [
                            {
                              "entity": "sensor.motion_person_floors_ascended_mean_1d"
                            },
                            {
                              "entity": "sensor.motion_person_floors_ascended_mean_1w"
                            },
                            {
                              "entity": "sensor.motion_person_floors_ascended_mean_1m"
                            }
                          ]
                        }
                      },
                      {
                        "type": "conditional",
                        "conditions": [
                          {
                            "entity": "binary_sensor.motion_person_floors_descended_1d",
                            "state_not": "off"
                          }
                        ],
                        "card": {
                          "hours_to_show": 24,
                          "refresh_interval": 30,
                          "title": "Floors down",
                          "type": "history-graph",
                          "entities": [
                            {
                              "entity": "sensor.motion_person_floors_descended_mean_1d"
                            },
                            {
                              "entity": "sensor.motion_person_floors_descended_mean_1w"
                            },
                            {
                              "entity": "sensor.motion_person_floors_descended_mean_1m"
                            }
                          ]
                        }
                      },
                      {
                        "type": "conditional",
                        "conditions": [
                          {
                            "entity": "binary_sensor.motion_person_steps_1d",
                            "state": "off"
                          }
                        ],
                        "card": {
                          "type": "entities",
                          "icon": "mdi:walk",
                          "title": "No steps today",
                          "entities": []
                        }
                      },
                      {
                        "type": "conditional",
                        "conditions": [
                          {
                            "entity": "binary_sensor.motion_person_floors_ascended_1d",
                            "state": "off"
                          }
                        ],
                        "card": {
                          "type": "entities",
                          "icon": "mdi:stairs-up",
                          "title": "No floors up today",
                          "entities": []
                        }
                      },
                      {
                        "type": "conditional",
                        "conditions": [
                          {
                            "entity": "binary_sensor.motion_person_floors_descended_1d",
                            "state": "off"
                          }
                        ],
                        "card": {
                          "type": "entities",
                          "icon": "mdi:stairs-down",
                          "title": "No floors down today",
                          "entities": []
                        }
                      }
                    ]
                  }
                },
                {
                  "type": "conditional",
                  "conditions": [
                    {
                      "entity": "sensor.motion_person_device_status",
                      "state": "Pending"
                    }
                  ],
                  "card": {
                    "type": "entities",
                    "icon": "mdi:cellphone",
                    "title": "Smartphone (unconfigured)",
                    "entities": [
                      "sensor.motion_person",
                      "sensor.motion_person_device"
                    ]
                  }
                },
                {
                  "type": "conditional",
                  "conditions": [
                    {
                      "entity": "sensor.motion_person_device",
                      "state": "unknown"
                    }
                  ],
                  "card": {
                    "type": "entities",
                    "icon": "mdi:cellphone",
                    "title": "Smartphone (pending)",
                    "entities": []
                  }
                }
              ]
            }
          ]
        },
        {
          "icon": "mdi:video",
          "panel": true,
          "path": "video",
          "theme": "",
          "title": "VIDEO",
          "badges": [],
          "cards": [
            {
              "cards": [
                {
                  "cards": [
                    {
                      "type": "picture-elements",
                      "camera_image": "camera.motion_detected_person_animated_mask",
                      "elements": [
                        {
                          "type": "state-label",
                          "entity": "sensor.motion_person_activity_level",
                          "prefix": "",
                          "style": {
                            "top": "10%",
                            "left": "15%",
                            "font-size": "150%",
                            "color": "cyan"
                          }
                        },
                        {
                          "type": "state-label",
                          "entity": "sensor.motion_detected_person_ago_relative",
                          "prefix": "Ago: ",
                          "style": {
                            "top": "10%",
                            "left": "80%",
                            "font-size": "150%",
                            "color": "cyan"
                          }
                        },
                        {
                          "type": "conditional",
                          "conditions": [
                            {
                              "entity": "sensor.motion_detected_person_where",
                              "state": "Pending"
                            }
                          ],
                          "elements": [
                            {
                              "type": "image",
                              "camera_image": "camera.motion_nosignal_animated",
                              "style": {
                                "top": "50%",
                                "left": "50%",
                                "width": "100%",
                                "height": "100%"
                              }
                            },
                            {
                              "type": "state-label",
                              "entity": "sensor.motion_detected_person_status",
                              "prefix": "Person: ",
                              "style": {
                                "top": "50%",
                                "left": "50%",
                                "font-size": "200%",
                                "color": "cyan"
                              }
                            }
                          ]
                        },
                        {
                          "type": "conditional",
                          "conditions": [
                            {
                              "entity": "sensor.motion_detected_person_where",
                              "state_not": "Pending"
                            }
                          ],
                          "elements": [
                            {
                              "type": "state-label",
                              "entity": "sensor.motion_detected_person_where",
                              "prefix": "Person at ",
                              "style": {
                                "top": "75%",
                                "left": "50%",
                                "font-size": "200%",
                                "color": "cyan"
                              }
                            },
                            {
                              "type": "state-label",
                              "entity": "sensor.motion_detected_person_when",
                              "style": {
                                "top": "90%",
                                "left": "50%",
                                "font-size": "100%",
                                "color": "cyan"
                              }
                            },
                            {
                              "type": "state-label",
                              "entity": "sensor.motion_person_activity_metrics",
                              "style": {
                                "top": "95%",
                                "left": "50%",
                                "font-size": "80%",
                                "color": "cyan"
                              }
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "type": "picture-elements",
                      "camera_image": "camera.motion_detected_animated_mask",
                      "elements": [
                        {
                          "type": "state-label",
                          "entity": "sensor.motion_detected_ago_relative",
                          "prefix": "Ago: ",
                          "style": {
                            "top": "10%",
                            "left": "80%",
                            "font-size": "150%",
                            "color": "magenta"
                          }
                        },
                        {
                          "type": "conditional",
                          "conditions": [
                            {
                              "entity": "sensor.motion_detected_where",
                              "state": "Pending"
                            }
                          ],
                          "elements": [
                            {
                              "type": "image",
                              "camera_image": "camera.motion_nosignal_animated",
                              "style": {
                                "top": "50%",
                                "left": "50%",
                                "width": "100%",
                                "height": "100%"
                              }
                            },
                            {
                              "type": "state-label",
                              "entity": "sensor.motion_detected_status",
                              "prefix": "Detected: ",
                              "style": {
                                "top": "50%",
                                "left": "50%",
                                "font-size": "200%",
                                "color": "magenta"
                              }
                            }
                          ]
                        },
                        {
                          "type": "conditional",
                          "conditions": [
                            {
                              "entity": "sensor.motion_detected_where",
                              "state_not": "Pending"
                            }
                          ],
                          "elements": [
                            {
                              "type": "state-label",
                              "entity": "sensor.motion_detected_where",
                              "prefix": "Detected at ",
                              "style": {
                                "top": "75%",
                                "left": "50%",
                                "font-size": "200%",
                                "color": "magenta"
                              }
                            },
                            {
                              "type": "state-label",
                              "entity": "sensor.motion_detected_list",
                              "prefix": "",
                              "style": {
                                "top": "83%",
                                "left": "50%",
                                "font-size": "100%",
                                "color": "magenta"
                              }
                            },
                            {
                              "type": "state-label",
                              "entity": "sensor.motion_detected_when",
                              "style": {
                                "top": "90%",
                                "left": "50%",
                                "font-size": "100%",
                                "color": "magenta"
                              }
                            }
                          ]
                        }
                      ]
                    }
                  ],
                  "type": "vertical-stack"
                },
                {
                  "cards": [
                    {
                      "type": "picture-elements",
                      "camera_image": "camera.motion_detected_vehicle_animated_mask",
                      "elements": [
                        {
                          "type": "state-label",
                          "entity": "sensor.motion_vehicle_activity_level",
                          "prefix": "",
                          "style": {
                            "top": "10%",
                            "left": "15%",
                            "font-size": "150%",
                            "color": "gold"
                          }
                        },
                        {
                          "type": "state-label",
                          "entity": "sensor.motion_detected_vehicle_ago_relative",
                          "prefix": "Ago: ",
                          "style": {
                            "top": "10%",
                            "left": "80%",
                            "font-size": "150%",
                            "color": "gold"
                          }
                        },
                        {
                          "type": "conditional",
                          "conditions": [
                            {
                              "entity": "sensor.motion_detected_vehicle_where",
                              "state_not": "Pending"
                            }
                          ],
                          "elements": [
                            {
                              "type": "state-label",
                              "entity": "sensor.motion_detected_vehicle_where",
                              "prefix": "Vehicle at ",
                              "style": {
                                "top": "75%",
                                "left": "50%",
                                "font-size": "200%",
                                "color": "gold"
                              }
                            },
                            {
                              "type": "state-label",
                              "entity": "sensor.motion_detected_vehicle_when",
                              "style": {
                                "top": "90%",
                                "left": "50%",
                                "font-size": "100%",
                                "color": "gold"
                              }
                            },
                            {
                              "type": "state-label",
                              "entity": "sensor.motion_vehicle_activity_metrics",
                              "style": {
                                "top": "95%",
                                "left": "50%",
                                "font-size": "80%",
                                "color": "gold"
                              }
                            }
                          ]
                        },
                        {
                          "type": "conditional",
                          "conditions": [
                            {
                              "entity": "sensor.motion_detected_vehicle_where",
                              "state": "Pending"
                            }
                          ],
                          "elements": [
                            {
                              "type": "image",
                              "camera_image": "camera.motion_nosignal_animated",
                              "style": {
                                "top": "50%",
                                "left": "50%",
                                "width": "100%",
                                "height": "100%"
                              }
                            },
                            {
                              "type": "state-label",
                              "entity": "sensor.motion_detected_vehicle_status",
                              "prefix": "Vehicle: ",
                              "style": {
                                "top": "50%",
                                "left": "50%",
                                "font-size": "200%",
                                "color": "gold"
                              }
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "type": "picture-elements",
                      "camera_image": "camera.motion_detected_animal_animated_mask",
                      "elements": [
                        {
                          "type": "state-label",
                          "entity": "sensor.motion_animal_activity_level",
                          "prefix": "",
                          "style": {
                            "top": "10%",
                            "left": "15%",
                            "font-size": "150%",
                            "color": "chartreuse"
                          }
                        },
                        {
                          "type": "state-label",
                          "entity": "sensor.motion_detected_animal_ago_relative",
                          "prefix": "Ago: ",
                          "style": {
                            "top": "10%",
                            "left": "80%",
                            "font-size": "150%",
                            "color": "chartreuse"
                          }
                        },
                        {
                          "type": "conditional",
                          "conditions": [
                            {
                              "entity": "sensor.motion_detected_animal_where",
                              "state_not": "Pending"
                            }
                          ],
                          "elements": [
                            {
                              "type": "state-label",
                              "entity": "sensor.motion_detected_animal_where",
                              "prefix": "Animal at ",
                              "style": {
                                "top": "75%",
                                "left": "50%",
                                "font-size": "200%",
                                "color": "chartreuse"
                              }
                            },
                            {
                              "type": "state-label",
                              "entity": "sensor.motion_detected_animal_when",
                              "style": {
                                "top": "90%",
                                "left": "50%",
                                "font-size": "100%",
                                "color": "chartreuse"
                              }
                            },
                            {
                              "type": "state-label",
                              "entity": "sensor.motion_animal_activity_metrics",
                              "style": {
                                "top": "95%",
                                "left": "50%",
                                "font-size": "80%",
                                "color": "chartreuse"
                              }
                            }
                          ]
                        },
                        {
                          "type": "conditional",
                          "conditions": [
                            {
                              "entity": "sensor.motion_detected_animal_where",
                              "state": "Pending"
                            }
                          ],
                          "elements": [
                            {
                              "type": "image",
                              "camera_image": "camera.motion_nosignal_animated",
                              "style": {
                                "top": "50%",
                                "left": "50%",
                                "width": "100%",
                                "height": "100%"
                              }
                            },
                            {
                              "type": "state-label",
                              "entity": "sensor.motion_detected_animal_status",
                              "prefix": "Animal: ",
                              "style": {
                                "top": "50%",
                                "left": "50%",
                                "font-size": "200%",
                                "color": "chartreuse"
                              }
                            }
                          ]
                        }
                      ]
                    }
                  ],
                  "type": "vertical-stack"
                }
              ],
              "type": "horizontal-stack"
            }
          ]
        },
        {
          "icon": "mdi:developer-board",
          "panel": false,
          "path": "status",
          "theme": "",
          "title": "STATUS",
          "badges": [],
          "cards": [
            {
              "cards": [
                {
                  "type": "vertical-stack",
                  "cards": [
                    {
                      "show_header_toggle": false,
                      "title": "Detection",
                      "type": "entities",
                      "entities": [
                        {
                          "entity": "sensor.motion_detected_person_status_today"
                        },
                        {
                          "entity": "sensor.motion_detected_vehicle_status_today"
                        },
                        {
                          "entity": "sensor.motion_detected_animal_status_today"
                        }
                      ]
                    },
                    {
                      "show_header_toggle": false,
                      "title": "",
                      "type": "entities",
                      "entities": [
                        {
                          "entity": "sensor.motion_detected_entity_status"
                        },
                        {
                          "entity": "sensor.motion_notification_notifying"
                        }
                      ]
                    },
                    {
                      "type": "picture-elements",
                      "camera_image": "camera.motion_detected_entity_animated_mask",
                      "elements": [
                        {
                          "type": "conditional",
                          "conditions": [
                            {
                              "entity": "sensor.motion_detected_entity_where",
                              "state_not": "Pending"
                            }
                          ],
                          "elements": [
                            {
                              "type": "state-label",
                              "entity": "sensor.motion_detected_entity_where",
                              "prefix": "Entity at ",
                              "style": {
                                "top": "75%",
                                "left": "50%",
                                "font-size": "200%",
                                "color": "orange"
                              }
                            },
                            {
                              "type": "state-label",
                              "entity": "sensor.motion_detected_entity_list",
                              "prefix": "",
                              "style": {
                                "top": "83%",
                                "left": "50%",
                                "font-size": "50%",
                                "color": "orange"
                              }
                            },
                            {
                              "type": "state-label",
                              "entity": "sensor.motion_detected_entity_when",
                              "style": {
                                "top": "90%",
                                "left": "50%",
                                "font-size": "100%",
                                "color": "orange"
                              }
                            },
                            {
                              "type": "state-label",
                              "entity": "sensor.motion_detected_entity_ago_relative",
                              "prefix": "Ago: ",
                              "style": {
                                "top": "10%",
                                "left": "80%",
                                "font-size": "150%",
                                "color": "orange"
                              }
                            }
                          ]
                        },
                        {
                          "type": "conditional",
                          "conditions": [
                            {
                              "entity": "sensor.motion_detected_entity_where",
                              "state": "Pending"
                            }
                          ],
                          "elements": [
                            {
                              "type": "image",
                              "camera_image": "camera.motion_nosignal_animated",
                              "style": {
                                "top": "50%",
                                "left": "50%",
                                "width": "100%",
                                "height": "100%"
                              }
                            },
                            {
                              "type": "state-label",
                              "entity": "sensor.motion_detected_entity_status",
                              "prefix": "Entity: ",
                              "style": {
                                "top": "75%",
                                "left": "50%",
                                "font-size": "200%",
                                "color": "orange"
                              }
                            }
                          ]
                        }
                      ]
                    }
                  ]
                }
              ],
              "type": "horizontal-stack"
            },
            {
              "cards": [
                {
                  "type": "vertical-stack",
                  "cards": [
                    {
                      "type": "glance",
                      "entities": [
                        {
                          "name": "Person",
                          "icon": "mdi:cctv",
                          "entity": "sensor.motion_detected_person_where"
                        },
                        {
                          "name": "Mean",
                          "icon": "mdi:beta",
                          "entity": "sensor.motion_detected_person_confidence_mean"
                        },
                        {
                          "name": "Sensitivity",
                          "icon": "mdi:sigma-lower",
                          "entity": "input_number.motion_detected_person_percent_deviation"
                        },
                        {
                          "name": "Prediction",
                          "entity": "sensor.motion_detected_person_confidence"
                        },
                        {
                          "name": "Tune",
                          "entity": "input_boolean.motion_detected_person_tune"
                        }
                      ],
                      "show_icon": true,
                      "show_name": true
                    },
                    {
                      "type": "glance",
                      "entities": [
                        {
                          "name": "Messaging",
                          "entity": "sensor.motion_status_mqtt"
                        },
                        {
                          "name": "Internet",
                          "entity": "sensor.internet_good"
                        },
                        {
                          "name": "Intranet",
                          "entity": "sensor.intranet_good"
                        },
                        {
                          "name": "Storage",
                          "entity": "sensor.motion_addon_storage_used"
                        },
                        {
                          "name": "CPU",
                          "icon": "mdi:chip",
                          "entity": "sensor.netdata_cpu"
                        }
                      ],
                      "show_icon": true,
                      "show_value": true,
                      "show_name": true
                    },
                    {
                      "type": "glance",
                      "entities": [
                        {
                          "name": "Add-On",
                          "entity": "binary_sensor.motion_addon_status"
                        },
                        {
                          "name": "Cameras",
                          "entity": "binary_sensor.motion_status_camera"
                        },
                        {
                          "name": "Entity AI",
                          "entity": "binary_sensor.motion_status_yolo"
                        },
                        {
                          "name": "Face AI",
                          "entity": "binary_sensor.motion_status_face"
                        },
                        {
                          "name": "License AI",
                          "entity": "binary_sensor.motion_status_alpr"
                        }
                      ],
                      "show_icon": true,
                      "show_name": true,
                      "show_state": true
                    },
                    {
                      "type": "glance",
                      "entities": [
                        {
                          "name": "Smartphone",
                          "icon": "mdi:cellphone",
                          "entity": "sensor.motion_person_online_status"
                        },
                        {
                          "name": "Notify",
                          "icon": "mdi:account-group",
                          "entity": "input_select.motion_smartphone_name"
                        },
                        {
                          "name": "Count",
                          "entity": "sensor.motion_camera_count"
                        },
                        {
                          "name": "Up-time",
                          "entity": "sensor.motion_status_camera_ratio"
                        },
                        {
                          "name": "Off-Line",
                          "entity": "sensor.motion_addon_status_camera_offline"
                        }
                      ],
                      "show_icon": true,
                      "show_name": true,
                      "show_state": true
                    },
                    {
                      "type": "glance",
                      "entities": [
                        {
                          "name": "Switch(s)",
                          "entity": "sensor.motion_switch_status"
                        },
                        {
                          "name": "Player(s)",
                          "entity": "sensor.motion_media_player_status"
                        },
                        {
                          "name": "Device(s)",
                          "entity": "sensor.motion_device_tracker_status"
                        },
                        {
                          "name": "Light(s)",
                          "entity": "sensor.motion_light_status"
                        }
                      ],
                      "show_icon": true,
                      "show_name": true,
                      "show_state": true
                    }
                  ]
                }
              ],
              "type": "horizontal-stack"
            },
            {
              "type": "vertical-stack",
              "cards": [
                {
                  "type": "conditional",
                  "conditions": [
                    {
                      "entity": "sensor.motion_person_device",
                      "state_not": "unknown"
                    },
                    {
                      "entity": "sensor.motion_person_device",
                      "state_not": "none"
                    },
                    {
                      "entity": "sensor.motion_person_device",
                      "state_not": "null"
                    },
                    {
                      "entity": "sensor.motion_person_device",
                      "state_not": "unavailable"
                    }
                  ],
                  "card": {
                    "type": "vertical-stack",
                    "cards": [
                      {
                        "type": "entities",
                        "icon": "mdi:cellphone",
                        "title": "Smartphone",
                        "entities": [
                          "sensor.motion_person",
                          "sensor.motion_person_device",
                          "sensor.motion_person_device_status",
                          "sensor.motion_person_ago",
                          "sensor.motion_person_device_activity",
                          "sensor.motion_person_device_geocoded_location",
                          "sensor.motion_person_device_battery",
                          "sensor.motion_person_device_last_update_trigger",
                          "sensor.motion_person_device_connection_type",
                          "sensor.motion_person_device_bssid",
                          "sensor.motion_person_device_ssid",
                          "sensor.motion_person_device_storage",
                          "sensor.motion_person_device_location",
                          "sensor.motion_person_frontmost_app",
                          "binary_sensor.motion_person_smartphone_interactive"
                        ]
                      }
                    ]
                  }
                },
                {
                  "type": "conditional",
                  "conditions": [
                    {
                      "entity": "sensor.motion_person_device_status",
                      "state": "Pending"
                    }
                  ],
                  "card": {
                    "type": "entities",
                    "icon": "mdi:cellphone",
                    "title": "Smartphone (unconfigured)",
                    "entities": [
                      "sensor.motion_person",
                      "sensor.motion_person_device"
                    ]
                  }
                },
                {
                  "type": "conditional",
                  "conditions": [
                    {
                      "entity": "sensor.motion_person_device",
                      "state": "unknown"
                    }
                  ],
                  "card": {
                    "type": "entities",
                    "icon": "mdi:cellphone",
                    "title": "Smartphone (pending)",
                    "entities": []
                  }
                }
              ]
            }
          ]
        },
        {
          "title": "Map",
          "path": "map",
          "icon": "mdi:map",
          "panel": true,
          "badges": [],
          "cards": [
            {
              "type": "horizontal-stack",
              "cards": [
                {
                  "type": "vertical-stack",
                  "cards": [
                    {
                      "type": "horizontal-stack",
                      "cards": [
                        {
                          "type": "picture-elements",
                          "elements": [
                            {
                              "type": "state-icon",
                              "entity": "binary_sensor.motion_person_home",
                              "style": {
                                "top": "20%",
                                "left": "50%",
                                "font-size": "100%",
                                "color": "black"
                              }
                            },
                            {
                              "type": "state-label",
                              "entity": "sensor.motion_person_home",
                              "style": {
                                "top": "50%",
                                "left": "50%",
                                "font-size": "200%",
                                "color": "black"
                              }
                            },
                            {
                              "type": "state-label",
                              "entity": "sensor.motion_person_location_estimated_source",
                              "style": {
                                "top": "70%",
                                "left": "50%",
                                "font-size": "125%",
                                "color": "black"
                              }
                            },
                            {
                              "type": "state-label",
                              "entity": "sensor.motion_person_location_estimated",
                              "style": {
                                "top": "85%",
                                "left": "50%",
                                "font-size": "80%",
                                "color": "black"
                              }
                            }
                          ],
                          "image": "/local/images/unknown-signal.png"
                        },
                        {
                          "type": "picture-elements",
                          "elements": [
                            {
                              "type": "state-icon",
                              "entity": "sensor.motion_person_home_ratio_1d",
                              "style": {
                                "top": "20%",
                                "left": "50%",
                                "font-size": "100%",
                                "color": "black"
                              }
                            },
                            {
                              "type": "state-label",
                              "entity": "sensor.motion_person_home_ratio_1d",
                              "style": {
                                "top": "60%",
                                "left": "50%",
                                "font-size": "150%",
                                "color": "black"
                              }
                            }
                          ],
                          "image": "/local/images/null-signal.png"
                        },
                        {
                          "type": "picture-elements",
                          "elements": [
                            {
                              "type": "state-icon",
                              "entity": "sensor.motion_camera_detected_person_none_count",
                              "style": {
                                "top": "20%",
                                "left": "50%",
                                "font-size": "100%",
                                "color": "black"
                              }
                            },
                            {
                              "type": "state-label",
                              "entity": "sensor.motion_camera_detected_person_none_count",
                              "style": {
                                "top": "60%",
                                "left": "50%",
                                "font-size": "200%",
                                "color": "black"
                              }
                            }
                          ],
                          "image": "/local/images/none-signal.png"
                        },
                        {
                          "type": "picture-elements",
                          "elements": [
                            {
                              "type": "state-icon",
                              "entity": "sensor.motion_camera_detected_person_verylow_count",
                              "style": {
                                "top": "20%",
                                "left": "50%",
                                "font-size": "100%",
                                "color": "black"
                              }
                            },
                            {
                              "type": "state-label",
                              "entity": "sensor.motion_camera_detected_person_verylow_count",
                              "style": {
                                "top": "60%",
                                "left": "50%",
                                "font-size": "200%",
                                "color": "black"
                              }
                            }
                          ],
                          "image": "/local/images/verylow-signal.png"
                        },
                        {
                          "type": "picture-elements",
                          "elements": [
                            {
                              "type": "state-icon",
                              "entity": "sensor.motion_camera_detected_person_low_count",
                              "style": {
                                "top": "20%",
                                "left": "50%",
                                "font-size": "100%",
                                "color": "black"
                              }
                            },
                            {
                              "type": "state-label",
                              "entity": "sensor.motion_camera_detected_person_low_count",
                              "style": {
                                "top": "60%",
                                "left": "50%",
                                "font-size": "200%",
                                "color": "black"
                              }
                            }
                          ],
                          "image": "/local/images/low-signal.png"
                        },
                        {
                          "type": "picture-elements",
                          "elements": [
                            {
                              "type": "state-icon",
                              "entity": "sensor.motion_camera_detected_person_nominal_count",
                              "style": {
                                "top": "20%",
                                "left": "50%",
                                "font-size": "100%",
                                "color": "black"
                              }
                            },
                            {
                              "type": "state-label",
                              "entity": "sensor.motion_camera_detected_person_nominal_count",
                              "style": {
                                "top": "60%",
                                "left": "50%",
                                "font-size": "200%",
                                "color": "black"
                              }
                            }
                          ],
                          "image": "/local/images/nominal-signal.png"
                        },
                        {
                          "type": "picture-elements",
                          "elements": [
                            {
                              "type": "state-icon",
                              "entity": "sensor.motion_camera_detected_person_high_count",
                              "style": {
                                "top": "20%",
                                "left": "50%",
                                "font-size": "100%",
                                "color": "black"
                              }
                            },
                            {
                              "type": "state-label",
                              "entity": "sensor.motion_camera_detected_person_high_count",
                              "style": {
                                "top": "60%",
                                "left": "50%",
                                "font-size": "200%",
                                "color": "black"
                              }
                            }
                          ],
                          "image": "/local/images/high-signal.png"
                        },
                        {
                          "type": "picture-elements",
                          "elements": [
                            {
                              "type": "state-icon",
                              "entity": "sensor.motion_camera_detected_person_veryhigh_count",
                              "style": {
                                "top": "20%",
                                "left": "50%",
                                "font-size": "100%",
                                "color": "black"
                              }
                            },
                            {
                              "type": "state-label",
                              "entity": "sensor.motion_camera_detected_person_veryhigh_count",
                              "style": {
                                "top": "60%",
                                "left": "50%",
                                "font-size": "200%",
                                "color": "black"
                              }
                            }
                          ],
                          "image": "/local/images/veryhigh-signal.png"
                        }
                      ]
                    },
                    {
                      "type": "horizontal-stack",
                      "cards": [
                        {
                          "title": "Sensors",
                          "type": "map",
                          "default_zoom": 20,
                          "hours_to_show": 0,
                          "entities": [
                            {
                              "entity": "binary_sensor.motion_person_home"
                            }
                          ]
                        },
                        {
                          "title": "Recent (4h)",
                          "type": "map",
                          "default_zoom": 20,
                          "hours_to_show": 4,
                          "entities": [
                            {
                              "entity": "binary_sensor.motion_person_home"
                            },
                            {
                              "entity": "sensor.motion_person_location_estimated"
                            }
                          ]
                        },
                        {
                          "title": "Smartphone (48h)",
                          "type": "map",
                          "default_zoom": 20,
                          "hours_to_show": 48,
                          "entities": [
                            {
                              "entity": "sensor.motion_person_location"
                            },
                            {
                              "entity": "binary_sensor.motion_person_home"
                            }
                          ]
                        }
                      ]
                    }
                  ]
                }
              ]
            }
          ]
        }
      ]
    }
  }
}
