{
  "data": {
    "items": [
      {
        "id": "group-card",
        "type": "module",
        "url": "/local/group-card.js"
      },
      {
        "id": "battery-strategy",
        "type": "module",
        "url": "/local/battery-strategy.js"
      }
    ]
  },
  "key": "lovelace_resources",
  "version": 1
}
