{
  "key": "lovelace",
  "version": 1,
  "data": {
    "config": {
      "title": "🎥Ã👁 on ${HOST_NAME}",
      "views": [
        {
          "title": "LIVE",
          "path": "motion_live",
          "icon": "mdi:texture-box",
          "panel": true,
          "badges": [],
          "cards": [
            {
              "camera_image": "camera.motion_overview",
              "elements": [],
              "title": "OVERVIEW",
              "type": "picture-elements"
            }
          ]
        }
      ]
    }
  }
}
