{
  "key": "lovelace",
  "version": 1,
  "data": {
    "config": {
      "title": "🎥Ã👁 on ${HOST_NAME}",
      "views": [
        {
          "title": "LIVE",
          "path": "motion_live",
          "icon": "mdi:texture-box",
          "panel": true,
          "badges": [],
          "cards": [
            {
              "type": "horizontal-stack",
              "cards": [
                {
                  "type": "vertical-stack",
                  "cards": [
                    {
                      "title": "OVERVIEW",
                      "camera_image": "camera.motion_overview",
                      "elements": [],
                      "type": "picture-elements"
                    }
                  ]
                },
                {
                  "type": "vertical-stack",
                  "cards": [
                    {
                      "title": "AGO",
                      "type": "history-graph",
                      "hours_to_show": 24,
                      "refresh_interval": 0,
                      "entities": []
                    },
                    {
                      "title": "COMPLETE",
                      "type": "history-graph",
                      "hours_to_show": 24,
                      "refresh_interval": 0,
                      "entities": []
                    },
                    {
                      "title": "RATIO",
                      "type": "history-graph",
                      "hours_to_show": 24,
                      "refresh_interval": 0,
                      "entities": []
                    }
                  ]
                }
              ]
            }
          ]
        }
      ]
    }
  }
}
