{
  "version": 1,
  "minor_version": 1,
  "key": "lovelace",
  "data": {
    "config": {
      "title": "${MOTION_APP}",
      "views": [
        {
          "path": "default_view",
          "title": "Home",
          "cards": [
            {
              "type": "conditional",
              "conditions": [
                {
                  "entity": "sensor.motion_person_smartphone",
                  "state_not": "unknown"
                },
                {
                  "entity": "sensor.motion_person_smartphone",
                  "state_not": "none"
                },
                {
                  "entity": "sensor.motion_person_smartphone",
                  "state_not": "Pending"
                },
                {
                  "entity": "sensor.motion_person",
                  "state_not": "unknown"
                },
                {
                  "entity": "sensor.motion_person",
                  "state_not": "none"
                },
                {
                  "entity": "sensor.motion_person",
                  "state_not": "Pending"
                }
              ],
              "card": {
                "type": "vertical-stack",
                "title": "",
                "cards": [
                  {
                    "type": "entities",
                    "show_header_toggle": false,
                    "title": "",
                    "entities": [
                      {
                        "name": "Owner",
                        "entity": "sensor.motion_person",
                        "secondary_info": "last-updated",
                        "type": "attribute",
                        "attribute": "name"
                      },
                      {
                        "name": "Where",
                        "icon": "mdi:home-map-marker",
                        "entity": "sensor.motion_person",
                        "type": "attribute",
                        "attribute": "status"
                      },
                      {
                        "type": "conditional",
                        "conditions": [
                          {
                            "entity": "sensor.motion_person_smartphone",
                            "state_not": "home"
                          }
                        ],
                        "row": {
                          "name": "Zone",
                          "entity": "sensor.motion_person_smartphone",
                          "icon": "mdi:map-marker-radius",
                          "type": "attribute",
                          "attribute": "zone"
                        }
                      }
                    ]
                  },
                  {
                    "type": "map",
                    "entities": [
                      {
                        "entity": "sensor.motion_person"
                      },
                      {
                        "entity": "sensor.motion_person_smartphone"
                      }
                    ],
                    "hours_to_show": 0,
                    "default_zoom": 18
                  }
                ]
              }
            },
            {
              "type": "conditional",
              "conditions": [
                {
                  "entity": "sensor.motion_person",
                  "state": "Pending"
                }
              ],
              "card": {
                "type": "entities",
                "show_header_toggle": false,
                "title": "Person pending",
                "entities": []
              }
            },
            {
              "type": "conditional",
              "conditions": [
                {
                  "entity": "sensor.motion_person",
                  "state": "unknown"
                }
              ],
              "card": {
                "type": "entities",
                "show_header_toggle": false,
                "title": "Person unknown",
                "entities": []
              }
            },
            {
              "type": "conditional",
              "conditions": [
                {
                  "entity": "sensor.motion_person",
                  "state": "none"
                }
              ],
              "card": {
                "type": "entities",
                "show_header_toggle": false,
                "title": "No person",
                "entities": []
              }
            },
            {
              "type": "conditional",
              "conditions": [
                {
                  "entity": "sensor.motion_person_smartphone",
                  "state": "Pending"
                }
              ],
              "card": {
                "type": "entities",
                "show_header_toggle": false,
                "title": "Smartphone pending",
                "entities": []
              }
            },
            {
              "type": "conditional",
              "conditions": [
                {
                  "entity": "sensor.motion_person_smartphone",
                  "state": "unknown"
                }
              ],
              "card": {
                "type": "entities",
                "show_header_toggle": false,
                "title": "Smartphone unknown",
                "entities": []
              }
            },
            {
              "type": "conditional",
              "conditions": [
                {
                  "entity": "sensor.motion_person_smartphone",
                  "state": "none"
                }
              ],
              "card": {
                "type": "entities",
                "show_header_toggle": false,
                "title": "No smartphone",
                "entities": []
              }
            }
          ]
        }
      ]
    }
  }
}
