{
  "data": {
    "config": {
      "title": "${MOTION_APP} - Vehicle (🚚)",
      "views": [
        {
          "title": "Vehicle",
          "path": "vehicle",
          "icon": "mdi:truck",
          "badges": [],
          "cards": [
            {
              "cards": [
                {
                  "type": "picture-elements",
                  "camera_image": "camera.motion_detected_vehicle",
                  "elements": [
                    {
                      "type": "state-label",
                      "entity": "sensor.motion_detected_vehicle_activity_level",
                      "prefix": "",
                      "style": {
                        "top": "10%",
                        "left": "15%",
                        "font-size": "150%",
                        "color": "gold"
                      }
                    },
                    {
                      "type": "state-label",
                      "entity": "sensor.motion_detected_vehicle_ago_status",
                      "prefix": "Ago: ",
                      "style": {
                        "top": "10%",
                        "left": "80%",
                        "font-size": "150%",
                        "color": "gold"
                      }
                    },
                    {
                      "type": "conditional",
                      "conditions": [
                        {
                          "entity": "sensor.motion_detected_vehicle_where",
                          "state": "Pending"
                        }
                      ],
                      "elements": [
                        {
                          "type": "image",
                          "camera_image": "camera.motion_nosignal_animated",
                          "style": {
                            "top": "50%",
                            "left": "50%",
                            "width": "100%",
                            "height": "100%"
                          }
                        },
                        {
                          "type": "state-label",
                          "entity": "sensor.motion_detected_vehicle_when",
                          "prefix": "Vehicle: ",
                          "style": {
                            "top": "50%",
                            "left": "50%",
                            "font-size": "200%",
                            "color": "gold"
                          }
                        }
                      ]
                    },
                    {
                      "type": "conditional",
                      "conditions": [
                        {
                          "entity": "sensor.motion_detected_vehicle_where",
                          "state_not": "Pending"
                        }
                      ],
                      "elements": [
                        {
                          "type": "image",
                          "camera_image": "camera.motion_detected_vehicle_animated",
                          "style": {
                            "position": null,
                            "opacity": 0.4,
                            "top": "50%",
                            "left": "50%",
                            "width": "100%",
                            "height": "100%"
                          }
                        },
                        {
                          "type": "state-label",
                          "entity": "sensor.motion_detected_vehicle_where",
                          "prefix": "Vehicle at ",
                          "style": {
                            "top": "75%",
                            "left": "50%",
                            "font-size": "200%",
                            "color": "gold"
                          }
                        },
                        {
                          "type": "state-label",
                          "entity": "sensor.motion_detected_vehicle_when",
                          "style": {
                            "top": "90%",
                            "left": "50%",
                            "font-size": "100%",
                            "color": "gold"
                          }
                        },
                        {
                          "type": "state-label",
                          "entity": "sensor.motion_detected_vehicle_activity_metrics",
                          "prefix": "",
                          "style": {
                            "top": "95%",
                            "left": "50%",
                            "font-size": "80%",
                            "color": "gold"
                          }
                        }
                      ]
                    }
                  ]
                },
                {
                  "cards": [
                    {
                      "type": "glance",
                      "entities": [
                        {
                          "name": "Activity",
                          "entity": "sensor.motion_detected_vehicle_activity_level"
                        },
                        {
                          "name": "Where",
                          "icon": "mdi:map-marker",
                          "entity": "sensor.motion_detected_vehicle_where"
                        },
                        {
                          "name": "Ago",
                          "icon": "mdi:av-timer",
                          "entity": "sensor.motion_detected_vehicle_ago_status"
                        },
                        {
                          "name": "Tune",
                          "icon": "mdi:tune",
                          "entity": "binary_sensor.motion_detected_vehicle_threshold_tune"
                        },
                        {
                          "name": "Confidence",
                          "icon": "mdi:beta",
                          "entity": "sensor.motion_detected_vehicle_confidence"
                        }
                      ],
                      "show_icon": true,
                      "show_state": true,
                      "show_name": true
                    },
                    {
                      "entities": [
                        {
                          "name": "Status",
                          "entity": "sensor.motion_detected_vehicle",
                          "type": "attribute",
                          "attribute": "status"
                        },
                        {
                          "name": "When",
                          "entity": "sensor.motion_detected_vehicle_when"
                        },
                        {
                          "name": "Camera",
                          "entity": "sensor.motion_detected_vehicle_camera"
                        },
                        {
                          "name": "Threshold",
                          "entity": "sensor.motion_detected_vehicle_threshold"
                        },
                        {
                          "entity": "sensor.motion_detected_vehicle_count_today"
                        },
                        {
                          "entity": "sensor.motion_detected_vehicle_time_today"
                        }
                      ],
                      "title": "VEHICLE",
                      "type": "entities"
                    },
                    {
                      "title": "Vehicle confidence (β) (24h)",
                      "hours_to_show": 24,
                      "refresh_interval": 30,
                      "type": "history-graph",
                      "entities": [
                        {
                          "entity": "sensor.motion_detected_vehicle_confidence"
                        },
                        {
                          "entity": "sensor.motion_detected_vehicle_threshold"
                        },
                        {
                          "entity": "sensor.motion_detected_vehicle_confidence_mean"
                        },
                        {
                          "entity": "sensor.motion_detected_vehicle_confidence_confirmed_mean"
                        }
                      ]
                    },
                    {
                      "title": "Vehicle confirmed (%) (24h)",
                      "hours_to_show": 24,
                      "refresh_interval": 30,
                      "type": "history-graph",
                      "entities": [
                        {
                          "entity": "sensor.motion_detected_vehicle_confirmed_percent"
                        },
                        {
                          "entity": "sensor.motion_detected_vehicle_confirmed_percent_mean"
                        },
                        {
                          "entity": "sensor.motion_detected_vehicle_confirmed_percent_min"
                        },
                        {
                          "entity": "sensor.motion_detected_vehicle_confirmed_percent_max"
                        }
                      ]
                    }
                  ],
                  "type": "vertical-stack"
                }
              ],
              "type": "vertical-stack"
            },
            {
              "cards": [
                {
                  "detail": 2,
                  "entity": "sensor.motion_detected_vehicle_count",
                  "graph": "line",
                  "hours_to_show": 24,
                  "name": "Last vehicle count (Σ) (24h)",
                  "type": "sensor"
                },
                {
                  "entities": [
                    {
                      "entity": "sensor.motion_detected_vehicle_count_mean"
                    },
                    {
                      "entity": "sensor.motion_detected_vehicle_count_stdev"
                    },
                    {
                      "entity": "sensor.motion_detected_vehicle_count_stdev_mean"
                    },
                    {
                      "entity": "sensor.motion_detected_vehicle_count_stdev_stdev"
                    },
                    {
                      "entity": "sensor.motion_detected_vehicle_count_stdev_change"
                    },
                    {
                      "entity": "sensor.motion_detected_vehicle_count_change"
                    },
                    {
                      "entity": "sensor.motion_detected_vehicle_count_change_mean"
                    },
                    {
                      "entity": "sensor.motion_detected_vehicle_count_change_stdev"
                    },
                    {
                      "entity": "sensor.motion_detected_vehicle_count_change_change"
                    }
                  ],
                  "hours_to_show": 24,
                  "refresh_interval": 30,
                  "title": "Vehicle count (Σ) (24h)",
                  "type": "history-graph"
                },
                {
                  "entities": [
                    {
                      "entity": "sensor.motion_detected_vehicle_counts_1m_mean"
                    },
                    {
                      "entity": "sensor.motion_detected_vehicle_counts_1m_delta"
                    },
                    {
                      "entity": "sensor.motion_detected_vehicle_counts_5m_mean"
                    },
                    {
                      "entity": "sensor.motion_detected_vehicle_counts_5m_delta"
                    },
                    {
                      "entity": "sensor.motion_detected_vehicle_counts_15m_mean"
                    },
                    {
                      "entity": "sensor.motion_detected_vehicle_counts_15m_delta"
                    },
                    {
                      "entity": "sensor.motion_detected_vehicle_counts_30m_mean"
                    },
                    {
                      "entity": "sensor.motion_detected_vehicle_counts_30m_delta"
                    }
                  ],
                  "hours_to_show": 24,
                  "refresh_interval": 30,
                  "title": "Vehicle count (∀Σ) (24h)",
                  "type": "history-graph"
                },
                {
                  "entities": [
                    {
                      "entity": "sensor.motion_detected_vehicle_counts"
                    },
                    {
                      "entity": "sensor.motion_detected_vehicle_counts_24h_mean"
                    }
                  ],
                  "hours_to_show": 24,
                  "refresh_interval": 30,
                  "title": "",
                  "type": "history-graph"
                }
              ],
              "type": "vertical-stack"
            },
            {
              "cards": [
                {
                  "detail": 2,
                  "entity": "sensor.motion_detected_vehicle_ago",
                  "graph": "line",
                  "hours_to_show": 24,
                  "name": "Last vehicle ago (⧖) (24h)",
                  "type": "sensor"
                },
                {
                  "entities": [
                    {
                      "entity": "sensor.motion_detected_vehicle_ago_mean"
                    },
                    {
                      "entity": "sensor.motion_detected_vehicle_ago_stdev"
                    },
                    {
                      "entity": "sensor.motion_detected_vehicle_ago_stdev_mean"
                    },
                    {
                      "entity": "sensor.motion_detected_vehicle_ago_stdev_stdev"
                    },
                    {
                      "entity": "sensor.motion_detected_vehicle_ago_stdev_change"
                    },
                    {
                      "entity": "sensor.motion_detected_vehicle_ago_change"
                    },
                    {
                      "entity": "sensor.motion_detected_vehicle_ago_change_mean"
                    },
                    {
                      "entity": "sensor.motion_detected_vehicle_ago_change_stdev"
                    },
                    {
                      "entity": "sensor.motion_detected_vehicle_ago_change_change"
                    }
                  ],
                  "hours_to_show": 24,
                  "refresh_interval": 30,
                  "title": "Vehicle ago (⧖) (24h)",
                  "type": "history-graph"
                },
                {
                  "entities": [
                    {
                      "entity": "sensor.motion_detected_vehicle_agos_1m_mean"
                    },
                    {
                      "entity": "sensor.motion_detected_vehicle_agos_1m_delta"
                    },
                    {
                      "entity": "sensor.motion_detected_vehicle_agos_5m_mean"
                    },
                    {
                      "entity": "sensor.motion_detected_vehicle_agos_5m_delta"
                    },
                    {
                      "entity": "sensor.motion_detected_vehicle_agos_15m_mean"
                    },
                    {
                      "entity": "sensor.motion_detected_vehicle_agos_15m_delta"
                    },
                    {
                      "entity": "sensor.motion_detected_vehicle_agos_30m_mean"
                    },
                    {
                      "entity": "sensor.motion_detected_vehicle_agos_30m_delta"
                    }
                  ],
                  "hours_to_show": 24,
                  "refresh_interval": 30,
                  "title": "Vehicle ago (∀⧖) (24h)",
                  "type": "history-graph"
                },
                {
                  "entities": [
                    {
                      "entity": "sensor.motion_detected_vehicle_agos_min"
                    },
                    {
                      "entity": "sensor.motion_detected_vehicle_agos"
                    },
                    {
                      "entity": "sensor.motion_detected_vehicle_agos_24h_mean"
                    }
                  ],
                  "hours_to_show": 24,
                  "refresh_interval": 30,
                  "title": "",
                  "type": "history-graph"
                },
                {
                  "entities": [
                    {
                      "entity": "sensor.motion_vehicle_nominal_ratio_1d"
                    },
                    {
                      "entity": "sensor.motion_vehicle_low_ratio_1d"
                    },
                    {
                      "entity": "sensor.motion_vehicle_high_ratio_1d"
                    },
                    {
                      "entity": "sensor.motion_vehicle_increasing_ratio_1d"
                    },
                    {
                      "entity": "sensor.motion_vehicle_decreasing_ratio_1d"
                    }
                  ],
                  "hours_to_show": 24,
                  "refresh_interval": 30,
                  "title": "Vehicle activity level (24h)",
                  "type": "history-graph"
                },
                {
                  "entities": [
                    {
                      "entity": "sensor.motion_vehicle_nominal_ratio_1w"
                    },
                    {
                      "entity": "sensor.motion_vehicle_low_ratio_1w"
                    },
                    {
                      "entity": "sensor.motion_vehicle_high_ratio_1w"
                    },
                    {
                      "entity": "sensor.motion_vehicle_increasing_ratio_1w"
                    },
                    {
                      "entity": "sensor.motion_vehicle_decreasing_ratio_1w"
                    }
                  ],
                  "hours_to_show": 24,
                  "refresh_interval": 300,
                  "title": "Vehicle activity level (1w)",
                  "type": "history-graph"
                }
              ],
              "type": "vertical-stack"
            },
            {
              "entities": [
                "sensor.motion_detected_vehicle_ago_mean"
              ],
              "hours_to_show": 24,
              "refresh_interval": 30,
              "title": "Vehicle ago mean (⧖μ) (24h)",
              "type": "history-graph"
            },
            {
              "entities": [
                "sensor.motion_detected_vehicle_count_mean"
              ],
              "hours_to_show": 24,
              "refresh_interval": 30,
              "title": "Vehicle count mean (Σμ) (24h)",
              "type": "history-graph"
            }
          ]
        },
        {
          "title": "Map",
          "path": "map",
          "icon": "mdi:map",
          "panel": true,
          "badges": [],
          "cards": [
            {
              "type": "horizontal-stack",
              "cards": [
                {
                  "type": "vertical-stack",
                  "cards": [
                    {
                      "type": "horizontal-stack",
                      "cards": [
                        {
                          "type": "picture-elements",
                          "elements": [
                            {
                              "type": "state-icon",
                              "entity": "sensor.motion_camera_detected_vehicle_unknown_count",
                              "style": {
                                "top": "20%",
                                "left": "50%",
                                "font-size": "100%",
                                "color": "black"
                              }
                            },
                            {
                              "type": "state-label",
                              "entity": "sensor.motion_camera_detected_vehicle_unknown_count",
                              "style": {
                                "top": "60%",
                                "left": "50%",
                                "font-size": "150%",
                                "color": "black"
                              }
                            }
                          ],
                          "image": "/local/images/unknown-signal.png"
                        },
                        {
                          "type": "picture-elements",
                          "elements": [
                            {
                              "type": "state-icon",
                              "entity": "sensor.motion_camera_detected_vehicle_null_count",
                              "style": {
                                "top": "20%",
                                "left": "50%",
                                "font-size": "100%",
                                "color": "black"
                              }
                            },
                            {
                              "type": "state-label",
                              "entity": "sensor.motion_camera_detected_vehicle_null_count",
                              "style": {
                                "top": "60%",
                                "left": "50%",
                                "font-size": "150%",
                                "color": "black"
                              }
                            }
                          ],
                          "image": "/local/images/null-signal.png"
                        },
                        {
                          "type": "picture-elements",
                          "elements": [
                            {
                              "type": "state-icon",
                              "entity": "sensor.motion_camera_detected_vehicle_none_count",
                              "style": {
                                "top": "20%",
                                "left": "50%",
                                "font-size": "100%",
                                "color": "black"
                              }
                            },
                            {
                              "type": "state-label",
                              "entity": "sensor.motion_camera_detected_vehicle_none_count",
                              "style": {
                                "top": "60%",
                                "left": "50%",
                                "font-size": "150%",
                                "color": "black"
                              }
                            }
                          ],
                          "image": "/local/images/none-signal.png"
                        },
                        {
                          "type": "picture-elements",
                          "elements": [
                            {
                              "type": "state-icon",
                              "entity": "sensor.motion_camera_detected_vehicle_verylow_count",
                              "style": {
                                "top": "20%",
                                "left": "50%",
                                "font-size": "100%",
                                "color": "black"
                              }
                            },
                            {
                              "type": "state-label",
                              "entity": "sensor.motion_camera_detected_vehicle_verylow_count",
                              "style": {
                                "top": "60%",
                                "left": "50%",
                                "font-size": "150%",
                                "color": "black"
                              }
                            }
                          ],
                          "image": "/local/images/verylow-signal.png"
                        },
                        {
                          "type": "picture-elements",
                          "elements": [
                            {
                              "type": "state-icon",
                              "entity": "sensor.motion_camera_detected_vehicle_low_count",
                              "style": {
                                "top": "20%",
                                "left": "50%",
                                "font-size": "100%",
                                "color": "black"
                              }
                            },
                            {
                              "type": "state-label",
                              "entity": "sensor.motion_camera_detected_vehicle_low_count",
                              "style": {
                                "top": "60%",
                                "left": "50%",
                                "font-size": "150%",
                                "color": "black"
                              }
                            }
                          ],
                          "image": "/local/images/low-signal.png"
                        },
                        {
                          "type": "picture-elements",
                          "elements": [
                            {
                              "type": "state-icon",
                              "entity": "sensor.motion_camera_detected_vehicle_nominal_count",
                              "style": {
                                "top": "20%",
                                "left": "50%",
                                "font-size": "100%",
                                "color": "black"
                              }
                            },
                            {
                              "type": "state-label",
                              "entity": "sensor.motion_camera_detected_vehicle_nominal_count",
                              "style": {
                                "top": "60%",
                                "left": "50%",
                                "font-size": "150%",
                                "color": "black"
                              }
                            }
                          ],
                          "image": "/local/images/nominal-signal.png"
                        },
                        {
                          "type": "picture-elements",
                          "elements": [
                            {
                              "type": "state-icon",
                              "entity": "sensor.motion_camera_detected_vehicle_high_count",
                              "style": {
                                "top": "20%",
                                "left": "50%",
                                "font-size": "100%",
                                "color": "black"
                              }
                            },
                            {
                              "type": "state-label",
                              "entity": "sensor.motion_camera_detected_vehicle_high_count",
                              "style": {
                                "top": "60%",
                                "left": "50%",
                                "font-size": "150%",
                                "color": "black"
                              }
                            }
                          ],
                          "image": "/local/images/high-signal.png"
                        },
                        {
                          "type": "picture-elements",
                          "elements": [
                            {
                              "type": "state-icon",
                              "entity": "sensor.motion_camera_detected_vehicle_veryhigh_count",
                              "style": {
                                "top": "20%",
                                "left": "50%",
                                "font-size": "100%",
                                "color": "black"
                              }
                            },
                            {
                              "type": "state-label",
                              "entity": "sensor.motion_camera_detected_vehicle_veryhigh_count",
                              "style": {
                                "top": "60%",
                                "left": "50%",
                                "font-size": "150%",
                                "color": "black"
                              }
                            }
                          ],
                          "image": "/local/images/veryhigh-signal.png"
                        }
                      ]
                    },
                    {
                      "type": "map",
                      "auto_fit": true,
                      "default_zoom": 20,
                      "hours_to_show": 72,
                      "entities": []
                    }
                  ]
                },
                {
                  "type": "vertical-stack",
                  "cards": [
                    {
                      "type": "history-graph",
                      "title": "Level",
                      "hours_to_show": 48,
                      "refresh_interval": 30,
                      "entities": []
                    },
                    {
                      "type": "history-graph",
                      "title": "Rank",
                      "hours_to_show": 48,
                      "refresh_interval": 30,
                      "entities": []
                    }
                  ]
                }
              ]
            }
          ]
        }
      ]
    }
  },
  "key": "lovelace",
  "version": 1
}
