{
  "data": {
    "config": {
      "title": "Motion Ã👁 on ${HOST_NAME}:ǽ",
      "views": [
        {
          "badges": [],
          "cards": [
            {
              "cards": [
                {
                  "type": "picture-elements",
                  "elements": [
                    {
                      "type": "state-label",
                      "entity": "sensor.motion_detected_person_camera",
                      "style": {
                        "top": "75%",
                        "left": "50%",
                        "font-size": "300%",
                        "color": "cyan"
                      }
                    },
                    {
                      "type": "state-label",
                      "entity": "sensor.motion_detected_person_when",
                      "prefix": "Person at ",
                      "style": {
                        "top": "90%",
                        "left": "50%",
                        "font-size": "100%",
                        "color": "cyan"
                      }
                    },
                    {
                      "type": "state-label",
                      "entity": "sensor.motion_detected_person_ago",
                      "prefix": "Ago: ",
                      "style": {
                        "top": "95%",
                        "left": "50%",
                        "font-size": "80%",
                        "color": "cyan"
                      }
                    },
                    {
                      "type": "state-label",
                      "entity": "sensor.time",
                      "style": {
                        "top": "10%",
                        "left": "10%",
                        "font-size": "150%",
                        "color": "yellow"
                      }
                    },
                    {
                      "type": "state-label",
                      "entity": "sensor.date",
                      "style": {
                        "top": "10%",
                        "left": "85%",
                        "font-size": "150%",
                        "color": "yellow"
                      }
                    }
                  ],
                  "image": "/local/images/no-signal.gif",
                  "camera_image": "camera.motion_detected_person_animated"
                },
                {
                  "type": "picture-elements",
                  "elements": [
                    {
                      "type": "state-label",
                      "entity": "sensor.motion_detected_vehicle_camera",
                      "style": {
                        "top": "75%",
                        "left": "50%",
                        "font-size": "300%",
                        "color": "gold"
                      }
                    },
                    {
                      "type": "state-label",
                      "entity": "sensor.motion_detected_vehicle_when",
                      "prefix": "Vehicle at ",
                      "style": {
                        "top": "90%",
                        "left": "50%",
                        "font-size": "100%",
                        "color": "gold"
                      }
                    },
                    {
                      "type": "state-label",
                      "entity": "sensor.motion_detected_vehicle_ago",
                      "prefix": "Ago: ",
                      "style": {
                        "top": "95%",
                        "left": "50%",
                        "font-size": "80%",
                        "color": "gold"
                      }
                    }
                  ],
                  "image": "/local/images/no-signal.gif",
                  "camera_image": "camera.motion_detected_vehicle_animated"
                },
                {
                  "type": "picture-elements",
                  "elements": [
                    {
                      "type": "state-label",
                      "entity": "sensor.motion_detected_animal_camera",
                      "style": {
                        "top": "75%",
                        "left": "50%",
                        "font-size": "300%",
                        "color": "magenta"
                      }
                    },
                    {
                      "type": "state-label",
                      "entity": "sensor.motion_detected_animal_when",
                      "prefix": "Animal at ",
                      "style": {
                        "top": "90%",
                        "left": "50%",
                        "font-size": "100%",
                        "color": "magenta"
                      }
                    },
                    {
                      "type": "state-label",
                      "entity": "sensor.motion_detected_animal_ago",
                      "prefix": "Ago: ",
                      "style": {
                        "top": "95%",
                        "left": "50%",
                        "font-size": "80%",
                        "color": "magenta"
                      }
                    }
                  ],
                  "image": "/local/images/no-signal.gif",
                  "camera_image": "camera.motion_detected_animal_animated"
                },
                {
                  "type": "picture-elements",
                  "elements": [
                    {
                      "type": "state-label",
                      "entity": "sensor.motion_detected_entity_camera",
                      "style": {
                        "top": "75%",
                        "left": "50%",
                        "font-size": "300%",
                        "color": "chartreuse"
                      }
                    },
                    {
                      "type": "state-label",
                      "entity": "sensor.motion_detected_entity_when",
                      "prefix": "Entity at ",
                      "style": {
                        "top": "90%",
                        "left": "50%",
                        "font-size": "100%",
                        "color": "chartreuse"
                      }
                    },
                    {
                      "type": "state-label",
                      "entity": "sensor.motion_detected_entity_ago",
                      "prefix": "Ago: ",
                      "style": {
                        "top": "95%",
                        "left": "50%",
                        "font-size": "80%",
                        "color": "chartreuse"
                      }
                    }
                  ],
                  "image": "/local/images/no-signal.gif",
                  "camera_image": "camera.motion_detected_animal_animated"
                }
              ],
              "type": "vertical-stack"
            },
            {
              "type": "picture-elements",
              "elements": [
                {
                  "type": "state-label",
                  "entity": "sensor.time",
                  "style": {
                    "top": "10%",
                    "left": "10%",
                    "font-size": "150%",
                    "color": "yellow"
                  }
                },
                {
                  "type": "state-label",
                  "entity": "sensor.date",
                  "style": {
                    "top": "10%",
                    "left": "85%",
                    "font-size": "150%",
                    "color": "yellow"
                  }
                },
                {
                  "type": "state-label",
                  "entity": "sensor.motion_camera_name_selected",
                  "style": {
                    "top": "90%",
                    "left": "50%",
                    "font-size": "200%",
                    "color": "cyan"
                  }
                }
              ],
              "camera_image": "camera.motion_camera_selected_live"
            },
            {
              "cards": [
                {
                  "aspect_ratio": "0%",
                  "camera_image": "camera.motion_detected_entity_animated",
                  "entities": [
                    {
                      "entity": "binary_sensor.motion_detected_entity"
                    },
                    {
                      "entity": "binary_sensor.motion_detected"
                    },
                    {
                      "entity": "binary_sensor.motion_annotated"
                    },
                    {
                      "entity": "group.motion_status_camera"
                    }
                  ],
                  "title": "Last Entity animated",
                  "type": "picture-glance"
                },
                {
                  "entities": [
                    "input_select.motion_detect_entity",
                    "sensor.motion_detect_entity",
                    "input_select.motion_camera_name",
                    "sensor.motion_camera_name_selected",
                    "input_boolean.motion_camera_autoselect",
                    "input_select.motion_camera_name_options",
                    "input_boolean.motion_media_mask",
                    "input_boolean.motion_media_save"
                  ],
                  "show_header_toggle": false,
                  "title": "Controls",
                  "type": "entities"
                }
              ],
              "type": "vertical-stack"
            },
            {
              "entities": [
                "sensor.date",
                "sensor.time",
                "sensor.motion_detected_person_ago",
                "sensor.motion_detected_vehicle_ago",
                "sensor.motion_detected_animal_ago",
                "sensor.motion_detected_entity_ago",
                "sensor.motion_detected_ago",
                "sensor.motion_annotated_ago",
                "sensor.motion_face_detected_ago",
                "sensor.motion_alpr_detected_ago",
                "sensor.motion_detected_entity_percent",
                "sensor.motion_annotated_percent",
                "sensor.motion_face_percent",
                "sensor.motion_alpr_percent"
              ],
              "show_header_toggle": false,
              "title": "Current",
              "type": "entities"
            },
            {
              "entities": [
                "sensor.motion_detected_person_status",
                "sensor.motion_detected_vehicle_status",
                "sensor.motion_detected_animal_status",
                "sensor.motion_detected_entity_status",
                "sensor.motion_detected_status",
                "sensor.motion_annotated_status",
                "sensor.motion_end_status",
                "sensor.motion_face_detected_status",
                "sensor.motion_alpr_detected_status",
                "sensor.motion_person_face_status",
                "sensor.motion_vehicle_alpr_status"
              ],
              "show_header_toggle": false,
              "title": "Status",
              "type": "entities"
            },
            {
              "cards": [
                {
                  "aspect_ratio": "0%",
                  "camera_image": "camera.motion_detected_entity",
                  "entities": [
                    {
                      "entity": "binary_sensor.motion_detected_entity"
                    },
                    {
                      "entity": "sensor.motion_detected_entity_device"
                    },
                    {
                      "entity": "sensor.motion_detected_entity_camera"
                    },
                    {
                      "entity": "sensor.motion_detected_entity_count"
                    },
                    {
                      "entity": "sensor.motion_detected_entity_when"
                    }
                  ],
                  "title": "Last Entity",
                  "type": "picture-glance"
                },
                {
                  "aspect_ratio": "0%",
                  "camera_image": "camera.motion_detected_person",
                  "entities": [
                    {
                      "entity": "binary_sensor.motion_detected_person"
                    },
                    {
                      "entity": "sensor.motion_detected_person_device"
                    },
                    {
                      "entity": "sensor.motion_detected_person_camera"
                    },
                    {
                      "entity": "sensor.motion_detected_person_count"
                    },
                    {
                      "entity": "sensor.motion_detected_person_when"
                    }
                  ],
                  "title": "Last Person",
                  "type": "picture-glance"
                },
                {
                  "aspect_ratio": "0%",
                  "camera_image": "camera.motion_detected_vehicle",
                  "entities": [
                    {
                      "entity": "binary_sensor.motion_detected_vehicle"
                    },
                    {
                      "entity": "sensor.motion_detected_vehicle_device"
                    },
                    {
                      "entity": "sensor.motion_detected_vehicle_camera"
                    },
                    {
                      "entity": "sensor.motion_detected_vehicle_count"
                    },
                    {
                      "entity": "sensor.motion_detected_vehicle_when"
                    }
                  ],
                  "title": "Last Vehicle",
                  "type": "picture-glance"
                },
                {
                  "aspect_ratio": "0%",
                  "camera_image": "camera.motion_detected_animal",
                  "entities": [
                    {
                      "entity": "binary_sensor.motion_detected_animal"
                    },
                    {
                      "entity": "sensor.motion_detected_animal_device"
                    },
                    {
                      "entity": "sensor.motion_detected_animal_camera"
                    },
                    {
                      "entity": "sensor.motion_detected_animal_count"
                    },
                    {
                      "entity": "sensor.motion_detected_animal_when"
                    }
                  ],
                  "title": "Last Animal",
                  "type": "picture-glance"
                }
              ],
              "type": "vertical-stack"
            },
            {
              "cards": [
                {
                  "detail": 2,
                  "entity": "sensor.netdata_cpu",
                  "graph": "line",
                  "hours_to_show": 12,
                  "icon": "mdi:chip",
                  "name": "System CPU",
                  "type": "sensor",
                  "unit": "%"
                },
                {
                  "detail": 2,
                  "entity": "sensor.netdata_ram",
                  "graph": "line",
                  "hours_to_show": 12,
                  "icon": "mdi:memory",
                  "name": "System RAM",
                  "type": "sensor",
                  "unit": "%"
                },
                {
                  "entity": "sensor.motion_storage_used_${MOTION_DEVICE}",
                  "max": 100,
                  "min": 0,
                  "name": "System DASD",
                  "severity": {
                    "green": 0,
                    "red": 95,
                    "yellow": 75
                  },
                  "type": "gauge",
                  "unit": "%"
                }
              ],
              "type": "vertical-stack"
            },
            {
              "cards": [
                {
                  "entity": "sensor.netdata_network_receive",
                  "graph": "line",
                  "hours_to_show": 12,
                  "icon": "mdi:ip-network",
                  "name": "Network IN",
                  "type": "sensor"
                },
                {
                  "detail": 2,
                  "entity": "sensor.netdata_network_send",
                  "graph": "line",
                  "hours_to_show": 12,
                  "icon": "mdi:ip-network-outline",
                  "name": "Network OUT",
                  "type": "sensor"
                }
              ],
              "type": "vertical-stack"
            },
            {
              "cards": [
                {
                  "detail": 2,
                  "entity": "sensor.motion_detected_entity_ago",
                  "graph": "line",
                  "hours_to_show": 12,
                  "icon": "mdi:clock",
                  "name": "Entity detected ago",
                  "type": "sensor",
                  "unit": "seconds"
                },
                {
                  "detail": 2,
                  "entity": "sensor.motion_detected_entity_count_mean",
                  "graph": "line",
                  "hours_to_show": 12,
                  "icon": "mdi:motion-sensor",
                  "name": "Entity detected mean",
                  "type": "sensor"
                }
              ],
              "type": "vertical-stack"
            }
          ],
          "icon": "mdi:home",
          "path": "default_view",
          "title": "HOME"
        },
        {
          "badges": [],
          "cards": [
            {
              "cards": [
                {
                  "aspect_ratio": "0%",
                  "camera_image": "camera.motion_camera_selected_live",
                  "entities": [
                    {
                      "entity": "binary_sensor.motion_detected_entity"
                    },
                    {
                      "entity": "binary_sensor.motion_detected"
                    },
                    {
                      "entity": "binary_sensor.motion_annotated"
                    }
                  ],
                  "entity": "camera.motion_camera_selected_live",
                  "title": "Selected Live",
                  "type": "picture-glance"
                },
                {
                  "entities": [
                    "input_select.motion_camera_name",
                    "input_boolean.motion_camera_autoselect",
                    "sensor.motion_camera_name_selected",
                    "input_select.motion_camera_name_options"
                  ],
                  "show_header_toggle": false,
                  "title": "Selection",
                  "type": "entities"
                }
              ],
              "type": "vertical-stack"
            },
            {
              "cards": [
                {
                  "aspect_ratio": "0%",
                  "camera_image": "camera.motion_camera_selected_detected_person",
                  "entities": [
                    {
                      "entity": "binary_sensor.motion_detected_person"
                    },
                    {
                      "entity": "sensor.motion_detected_person_camera"
                    }
                  ],
                  "entity": "camera.motion_camera_selected_detected_person",
                  "title": "Person",
                  "type": "picture-glance"
                },
                {
                  "aspect_ratio": "0%",
                  "camera_image": "camera.motion_camera_selected_detected_person_animated",
                  "entities": [
                    {
                      "entity": "sensor.motion_camera_name_selected"
                    }
                  ],
                  "entity": "camera.motion_camera_selected_detected_person_animated",
                  "title": "Person animated",
                  "type": "picture-glance"
                }
              ],
              "type": "vertical-stack"
            },
            {
              "cards": [
                {
                  "aspect_ratio": "0%",
                  "camera_image": "camera.motion_camera_selected_detected_vehicle",
                  "entities": [
                    {
                      "entity": "binary_sensor.motion_detected_vehicle"
                    },
                    {
                      "entity": "sensor.motion_detected_vehicle_camera"
                    }
                  ],
                  "entity": "camera.motion_camera_selected_detected_vehicle",
                  "title": "Vehicle",
                  "type": "picture-glance"
                },
                {
                  "aspect_ratio": "0%",
                  "camera_image": "camera.motion_camera_selected_detected_vehicle_animated",
                  "entities": [
                    {
                      "entity": "sensor.motion_camera_name_selected"
                    }
                  ],
                  "entity": "camera.motion_camera_selected_detected_vehicle_animated",
                  "title": "Vehicle animated",
                  "type": "picture-glance"
                }
              ],
              "type": "vertical-stack"
            },
            {
              "cards": [
                {
                  "aspect_ratio": "0%",
                  "camera_image": "camera.motion_camera_selected_detected_animal",
                  "entities": [
                    {
                      "entity": "binary_sensor.motion_detected_animal"
                    },
                    {
                      "entity": "sensor.motion_detected_animal_camera"
                    }
                  ],
                  "entity": "camera.motion_camera_selected_detected_animal",
                  "title": "Animal",
                  "type": "picture-glance"
                },
                {
                  "aspect_ratio": "0%",
                  "camera_image": "camera.motion_camera_selected_detected_animal_animated",
                  "entities": [
                    {
                      "entity": "sensor.motion_camera_name_selected"
                    }
                  ],
                  "entity": "camera.motion_camera_selected_detected_animal_animated",
                  "title": "Animal animated",
                  "type": "picture-glance"
                }
              ],
              "type": "vertical-stack"
            },
            {
              "cards": [
                {
                  "aspect_ratio": "0%",
                  "camera_image": "camera.motion_camera_selected_detected_entity",
                  "entities": [
                    {
                      "entity": "binary_sensor.motion_detected_entity"
                    },
                    {
                      "entity": "sensor.motion_detected_entity_camera"
                    }
                  ],
                  "entity": "camera.motion_camera_selected_detected_entity",
                  "title": "Entity",
                  "type": "picture-glance"
                },
                {
                  "aspect_ratio": "0%",
                  "camera_image": "camera.motion_camera_selected_detected_entity_animated",
                  "entities": [
                    {
                      "entity": "sensor.motion_camera_name_selected"
                    }
                  ],
                  "entity": "camera.motion_camera_selected_detected_entity_animated",
                  "title": "Entity animated",
                  "type": "picture-glance"
                }
              ],
              "type": "vertical-stack"
            },
            {
              "cards": [
                {
                  "aspect_ratio": "0%",
                  "camera_image": "camera.motion_camera_selected_detected",
                  "entities": [
                    {
                      "entity": "binary_sensor.motion_detected"
                    },
                    {
                      "entity": "sensor.motion_detected_camera"
                    }
                  ],
                  "entity": "camera.motion_camera_selected_detected",
                  "title": "Detected",
                  "type": "picture-glance"
                },
                {
                  "aspect_ratio": "0%",
                  "camera_image": "camera.motion_camera_selected_detected_animated",
                  "entities": [
                    {
                      "entity": "input_select.motion_camera_name"
                    },
                    {
                      "entity": "sensor.motion_camera_name_selected"
                    }
                  ],
                  "entity": "camera.motion_camera_selected_detected_animated",
                  "title": "Detected animated",
                  "type": "picture-glance"
                }
              ],
              "type": "vertical-stack"
            },
            {
              "cards": [
                {
                  "aspect_ratio": "0%",
                  "camera_image": "camera.motion_camera_selected_annotated",
                  "entities": [
                    {
                      "entity": "binary_sensor.motion_annotated"
                    },
                    {
                      "entity": "sensor.motion_annotated_camera"
                    }
                  ],
                  "entity": "camera.motion_camera_selected_annotated",
                  "title": "Annotated",
                  "type": "picture-glance"
                },
                {
                  "aspect_ratio": "0%",
                  "camera_image": "camera.motion_camera_selected_annotated_animated",
                  "entities": [
                    {
                      "entity": "input_select.motion_camera_name"
                    },
                    {
                      "entity": "sensor.motion_camera_name_selected"
                    }
                  ],
                  "entity": "camera.motion_camera_selected_annotated_animated",
                  "title": "Annotated animated",
                  "type": "picture-glance"
                }
              ],
              "type": "vertical-stack"
            }
          ],
          "icon": "mdi:menu-open",
          "path": "selected_view",
          "title": "SELECTED"
        },
        {
          "badges": [],
          "cards": [
            {
              "entities": [
                "sensor.internet_ago",
                "sensor.internet_receive",
                "sensor.internet_send"
              ],
              "show_header_toggle": false,
              "title": "internet_brief",
              "type": "entities"
            },
            {
              "entities": [
                "sensor.internet_receive",
                "sensor.internet_send",
                "binary_sensor.internet_test",
                "sensor.internet_ago",
                "counter.internet_counter"
              ],
              "show_header_toggle": false,
              "title": "internet_summary",
              "type": "entities"
            },
            {
              "entities": [
                "sensor.internet_slow_counter",
                "sensor.internet_fast_counter",
                "binary_sensor.internet_fast",
                "binary_sensor.internet_slow",
                "sensor.internet_ago"
              ],
              "show_header_toggle": false,
              "title": "Internet Details",
              "type": "entities"
            },
            {
              "entities": [
                "sensor.internet_receive",
                "sensor.internet_receive_mean",
                "sensor.internet_receive_min_value",
                "sensor.internet_receive_max_value",
                "sensor.internet_receive_stdev"
              ],
              "show_header_toggle": false,
              "title": "internet_receive",
              "type": "entities"
            },
            {
              "entities": [
                "sensor.internet_send",
                "sensor.internet_send_mean",
                "sensor.internet_send_min_value",
                "sensor.internet_send_max_value",
                "sensor.internet_send_stdev"
              ],
              "show_header_toggle": false,
              "title": "internet_send",
              "type": "entities"
            },
            {
              "entities": [
                "input_number.internet_ago",
                "automation.internet_counter",
                "automation.internet_slow_counter",
                "automation.internet_fast_counter",
                "automation.internet_slow_persistent",
                "automation.internet_fast_persistent"
              ],
              "show_header_toggle": false,
              "title": "internet_settings",
              "type": "entities"
            },
            {
              "entities": [
                "sensor.internet_receive_mean",
                "sensor.internet_receive_min_value",
                "sensor.internet_receive_max_value"
              ],
              "hours_to_show": 24,
              "refresh_interval": 30,
              "title": "Internet Receive",
              "type": "history-graph"
            },
            {
              "entities": [
                "sensor.internet_send_mean",
                "sensor.internet_send_min_value",
                "sensor.internet_send_max_value"
              ],
              "hours_to_show": 24,
              "refresh_interval": 30,
              "title": "Internet Send",
              "type": "history-graph"
            }
          ],
          "icon": "mdi:ip-network",
          "path": "internet_view",
          "title": "INTERNET"
        },
        {
          "badges": [],
          "cards": [
            {
              "entities": [
                "sensor.intranet_ago",
                "sensor.intranet_iperf_host",
                "sensor.intranet_receive",
                "sensor.intranet_send"
              ],
              "show_header_toggle": false,
              "title": "intranet_brief",
              "type": "entities"
            },
            {
              "entities": [
                "sensor.intranet_receive",
                "sensor.intranet_send",
                "binary_sensor.intranet_test",
                "sensor.intranet_ago",
                "sensor.intranet_counter"
              ],
              "show_header_toggle": false,
              "title": "intranet_summary",
              "type": "entities"
            },
            {
              "entities": [
                "sensor.intranet_slow_counter",
                "sensor.intranet_fast_counter",
                "binary_sensor.intranet_fast",
                "binary_sensor.intranet_slow",
                "sensor.intranet_ago"
              ],
              "show_header_toggle": false,
              "title": "Intranet Details",
              "type": "entities"
            },
            {
              "entities": [
                "sensor.intranet_receive",
                "sensor.intranet_receive_mean",
                "sensor.intranet_receive_min_value",
                "sensor.intranet_receive_max_value",
                "sensor.intranet_receive_stdev"
              ],
              "show_header_toggle": false,
              "title": "intranet_receive",
              "type": "entities"
            },
            {
              "entities": [
                "sensor.intranet_send",
                "sensor.intranet_send_mean",
                "sensor.intranet_send_min_value",
                "sensor.intranet_send_max_value",
                "sensor.intranet_send_stdev"
              ],
              "show_header_toggle": false,
              "title": "intranet_send",
              "type": "entities"
            },
            {
              "entities": [
                "input_number.intranet_ago",
                "automation.intranet_counter",
                "automation.intranet_slow_counter",
                "automation.intranet_fast_counter",
                "automation.intranet_slow_persistent",
                "automation.intranet_fast_persistent"
              ],
              "show_header_toggle": false,
              "title": "intranet_settings",
              "type": "entities"
            },
            {
              "entities": [
                "sensor.intranet_receive_mean",
                "sensor.intranet_receive_min_value",
                "sensor.intranet_receive_max_value",
                "sensor.intranet_send_mean",
                "sensor.intranet_send_min_value",
                "sensor.intranet_send_max_value"
              ],
              "hours_to_show": 24,
              "refresh_interval": 30,
              "title": "Intranet Link",
              "type": "history-graph"
            }
          ],
          "icon": "mdi:ip-network-outline",
          "path": "intranet_view",
          "title": "INTRANET"
        },
        {
          "badges": [],
          "cards": [
            {
              "entities": [
                "sensor.last_boot",
                "sensor.netdata_cpu",
                "sensor.netdata_ram",
                "sensor.load_15m",
                "sensor.load_5m",
                "sensor.load_1m",
                "sensor.memory_free"
              ],
              "show_header_toggle": false,
              "title": "System",
              "type": "entities"
            },
            {
              "entities": [
                "sensor.motion_mqtt_broker",
                "sensor.motion_mqtt_port"
              ],
              "show_header_toggle": false,
              "title": "MQTT",
              "type": "entities"
            },
            {
              "entities": [
                "sensor.motion_group",
                "sensor.motion_device",
                "sensor.motion_client",
                "sensor.motion_config_camera_count_${MOTION_DEVICE}",
                "input_select.motion_detect_entity",
                "sensor.motion_detect_entity",
                "input_select.motion_camera_name",
                "sensor.motion_camera_name_selected",
                "sensor.motion_device_start_camera_count",
                "sensor.motion_device_start_camera_names",
                "sensor.motion_storage_used_${MOTION_DEVICE}",
                "sensor.motion_storage_available_${MOTION_DEVICE}"
              ],
              "show_header_toggle": false,
              "title": "MOTION",
              "type": "entities"
            },
            {
              "entities": [
                "sensor.motion_yolo_test_when",
                "sensor.motion_yolo_event_when",
                "sensor.motion_yolo_test_ago",
                "sensor.motion_yolo_event_ago",
                "sensor.motion_yolo_config",
                "sensor.motion_yolo_entity",
                "sensor.motion_yolo_threshold",
                "sensor.motion_yolo_scale"
              ],
              "show_header_toggle": false,
              "title": "YOLO",
              "type": "entities"
            },
            {
              "entities": [
                "input_select.theme_select",
                "input_select.homeassistant_url",
                "input_select.motion_overview_mode",
                "input_number.motion_overview_zoom",
                "input_text.motion_overview_image",
                "sensor.motion_base_url"
              ],
              "show_header_toggle": false,
              "title": "Frontend",
              "type": "entities"
            },
            {
              "entities": [
                "sensor.intranet_iperf_host",
                "input_number.internet_deviation",
                "input_number.intranet_deviation"
              ],
              "show_header_toggle": false,
              "title": "Network monitor",
              "type": "entities"
            },
            {
              "entities": [
                "input_boolean.motion_detected_notify",
                "input_boolean.motion_reset_found",
                "input_boolean.motion_reset_lost",
                "input_boolean.motion_status_camera_notify",
                "input_boolean.motion_camera_autoselect",
                "input_boolean.motion_detected_entity_notify",
                "input_number.motion_complete"
              ],
              "show_header_toggle": false,
              "title": "Options",
              "type": "entities"
            },
            {
              "entities": [
                "input_number.motion_end_counter_deviation"
              ],
              "show_header_toggle": false,
              "title": "END",
              "type": "entities"
            },
            {
              "entities": [
                "input_number.motion_annotated_ago",
                "input_number.motion_annotated_count_deviation",
                "input_number.motion_annotated_counter_deviation",
                "input_number.motion_detected_ago",
                "input_number.motion_detected_count_deviation",
                "input_number.motion_detected_counter_deviation",
                "input_number.motion_detected_entity_ago_deviation",
                "input_number.motion_detected_entity_count_deviation",
                "input_number.motion_detected_entity_counter_deviation"
              ],
              "show_header_toggle": false,
              "title": "DETECTION",
              "type": "entities"
            },
            {
              "entities": [
                "input_number.motion_detected_person_ago",
                "input_boolean.motion_detected_person_tune",
                "sensor.motion_detected_person_threshold",
                "sensor.motion_detected_person_threshold_tune",
                "input_number.motion_detected_person_percent",
                "input_number.motion_detected_person_ago_deviation",
                "input_number.motion_detected_person_percent_deviation",
                "input_number.motion_detected_person_count_deviation",
                "input_number.motion_detected_person_counter_deviation"
              ],
              "show_header_toggle": false,
              "title": "PERSON",
              "type": "entities"
            },
            {
              "entities": [
                "input_number.motion_detected_vehicle_ago",
                "input_boolean.motion_detected_vehicle_tune",
                "input_number.motion_detected_vehicle_percent",
                "input_number.motion_detected_vehicle_percent_deviation",
                "input_number.motion_detected_vehicle_count_deviation",
                "input_number.motion_detected_vehicle_counter_deviation",
                "input_number.motion_detected_animal_ago",
                "input_boolean.motion_detected_animal_tune",
                "input_number.motion_detected_animal_percent",
                "input_number.motion_detected_animal_percent_deviation",
                "input_number.motion_detected_animal_count_deviation",
                "input_number.motion_detected_animal_counter_deviation"
              ],
              "show_header_toggle": false,
              "title": "ANIMAL/VEHICLE",
              "type": "entities"
            },
            {
              "entities": [
                "input_number.motion_face_ago",
                "input_number.motion_face_detected_ago",
                "input_number.motion_face_detected_percent"
              ],
              "show_header_toggle": false,
              "title": "FACE",
              "type": "entities"
            },
            {
              "entities": [
                "input_number.motion_alpr_ago",
                "input_number.motion_alpr_detected_ago",
                "input_number.motion_alpr_detected_percent"
              ],
              "show_header_toggle": false,
              "title": "ALPR",
              "type": "entities"
            }
          ],
          "icon": "mdi:cog",
          "path": "settings_view",
          "title": "SETTINGS"
        },
        {
          "badges": [],
          "cards": [
            {
              "entity": "camera.motion_event_animated",
              "type": "picture-entity"
            }
          ],
          "icon": "mdi:filmstrip",
          "path": "motion_animated_webcams_view",
          "title": "ANIMATED"
        },
        {
          "badges": [],
          "cards": [
            {
              "entities": [
                "binary_sensor.motion_annotated_webcams",
                "binary_sensor.motion_annotated",
                "sensor.motion_annotated_status",
                "sensor.motion_annotated_when",
                "sensor.motion_annotated_count",
                "sensor.motion_annotated_count_entity",
                "sensor.motion_annotated_counter",
                "sensor.motion_annotated_device",
                "sensor.motion_annotated_camera",
                "sensor.motion_annotated_ago",
                "sensor.motion_annotated_list",
                "sensor.motion_annotated_count",
                "sensor.motion_annotated_percent_mean"
              ],
              "show_header_toggle": false,
              "title": "motion_annotated_details",
              "type": "entities"
            },
            {
              "entities": [
                "sensor.motion_annotated_ago"
              ],
              "show_header_toggle": false,
              "title": "motion_annotated_ago",
              "hours_to_show": 24,
              "refresh_interval": 30,
              "type": "history-graph"
            },
            {
              "entities": [
                "sensor.motion_annotated_counter"
              ],
              "show_header_toggle": false,
              "title": "motion_annotated_counter",
              "hours_to_show": 24,
              "refresh_interval": 30,
              "type": "history-graph"
            },
            {
              "entities": [
                "sensor.motion_annotated_count"
              ],
              "show_header_toggle": false,
              "title": "motion_annotated_count",
              "hours_to_show": 24,
              "refresh_interval": 30,
              "type": "history-graph"
            },
            {
              "aspect_ratio": "0%",
              "camera_image": "camera.motion_event_annotated",
              "entities": [
                {
                  "entity": "binary_sensor.motion_annotated"
                },
                {
                  "entity": "binary_sensor.motion_annotated_expired"
                },
                {
                  "entity": "sensor.motion_annotated_ago"
                }
              ],
              "entity": "camera.motion_annotated",
              "title": "Motion Annotated",
              "type": "picture-glance"
            }
          ],
          "icon": "mdi:image-search",
          "path": "motion_annotated_view",
          "title": "ANNOTATED"
        },
        {
          "badges": [],
          "cards": [
            {
              "entities": [
                "binary_sensor.motion_detected_webcams",
                "binary_sensor.motion_detected",
                "sensor.motion_detected_status",
                "sensor.motion_detected_when",
                "sensor.motion_detected_count",
                "sensor.motion_detected_counter",
                "sensor.motion_detected_device",
                "sensor.motion_detected_camera",
                "sensor.motion_detected_ago",
                "sensor.motion_detected_list",
                "sensor.motion_detected_percent_mean"
              ],
              "show_header_toggle": false,
              "title": "motion_detected_details",
              "type": "entities"
            },
            {
              "entities": [
                "sensor.motion_detected_ago"
              ],
              "show_header_toggle": false,
              "title": "motion_detected_ago",
              "hours_to_show": 24,
              "refresh_interval": 30,
              "type": "history-graph"
            },
            {
              "entities": [
                "sensor.motion_detected_counter"
              ],
              "show_header_toggle": false,
              "title": "motion_detected_counter",
              "hours_to_show": 24,
              "refresh_interval": 30,
              "type": "history-graph"
            },
            {
              "entities": [
                "sensor.motion_detected_count"
              ],
              "show_header_toggle": false,
              "title": "motion_detected_count",
              "hours_to_show": 24,
              "refresh_interval": 30,
              "type": "history-graph"
            },
            {
              "aspect_ratio": "0%",
              "camera_image": "camera.motion_detected",
              "entities": [
                {
                  "entity": "binary_sensor.motion_detected"
                },
                {
                  "entity": "binary_sensor.motion_detected_expired"
                },
                {
                  "entity": "sensor.motion_detected_ago"
                },
                {
                  "entity": "binary_sensor.motion_detected_count_high"
                }
              ],
              "entity": "camera.motion_detected",
              "title": "Motion Detected",
              "type": "picture-glance"
            }
          ],
          "icon": "mdi:account-search",
          "path": "motion_detected_view",
          "title": "DETECTED"
        },
        {
          "badges": [],
          "cards": [
            {
              "entities": [
                "binary_sensor.motion_detected_entity_webcams",
                "binary_sensor.motion_detected_entity",
                "sensor.motion_detected_entity_status",
                "sensor.motion_detected_entity_when",
                "sensor.motion_detected_entity_count",
                "sensor.motion_detected_entity_counter",
                "sensor.motion_detected_entity_device",
                "sensor.motion_detected_entity_camera",
                "sensor.motion_detected_entity_ago",
                "sensor.motion_detected_entity_percent_mean",
                "input_select.motion_detect_entity"
              ],
              "show_header_toggle": false,
              "title": "motion_detected_entity_details",
              "type": "entities"
            },
            {
              "entities": [
                "sensor.motion_detected_entity_ago"
              ],
              "show_header_toggle": false,
              "title": "Entity detected ago",
              "hours_to_show": 24,
              "refresh_interval": 30,
              "type": "history-graph"
            },
            {
              "entities": [
                "sensor.motion_detected_entity_counter"
              ],
              "show_header_toggle": false,
              "title": "Entity detected counter",
              "hours_to_show": 24,
              "refresh_interval": 30,
              "type": "history-graph"
            },
            {
              "entities": [
                "sensor.motion_detected_entity_count"
              ],
              "show_header_toggle": false,
              "title": "Entity detected count",
              "hours_to_show": 24,
              "refresh_interval": 30,
              "type": "history-graph"
            },
            {
              "aspect_ratio": "0%",
              "camera_image": "camera.motion_detected_entity",
              "entities": [
                {
                  "entity": "binary_sensor.motion_detected_entity"
                },
                {
                  "entity": "binary_sensor.motion_detected_entity_expired"
                },
                {
                  "entity": "sensor.motion_detected_entity_ago"
                },
                {
                  "entity": "binary_sensor.motion_detected_count_high"
                }
              ],
              "entity": "camera.motion_detected_entity",
              "title": "Motion Detected Entity",
              "type": "picture-glance"
            }
          ],
          "icon": "mdi:motion-sensor",
          "path": "motion_detected_entity_view",
          "title": "DETECTED ENTITY"
        },
        {
          "badges": [],
          "cards": [
            {
              "cards": [
                {
                  "entity": "sensor.motion_end_camera",
                  "type": "picture-entity",
                  "name": "END",
                  "camera_image": "camera.motion_end"
                },
                {
                  "entity": "sensor.motion_end_camera",
                  "type": "picture-entity",
                  "name": "ANIMATED",
                  "camera_image": "camera.motion_end_animated"
                },
                {
                  "entity": "sensor.motion_annotated_camera",
                  "type": "picture-entity",
                  "name": "ANNOTATED",
                  "camera_image": "camera.motion_annotated"
                },
                {
                  "entity": "sensor.motion_detected_camera",
                  "type": "picture-entity",
                  "name": "DETECTED",
                  "camera_image": "camera.motion_detected"
                },
                {
                  "entity": "sensor.motion_detected_entity_camera",
                  "type": "picture-entity",
                  "name": "DETECTED ENTITY",
                  "camera_image": "camera.motion_detected_entity"
                },
                {
                  "entity": "sensor.motion_detected_entity_camera",
                  "type": "picture-entity",
                  "name": "DETECTED ENTITY MASK",
                  "camera_image": "camera.motion_detected_entity_animated_mask"
                },
                {
                  "entities": [
                    "sensor.motion_end_status",
                    "sensor.motion_annotated_status",
                    "sensor.motion_detected_status",
                    "sensor.motion_detected_entity_status"
                  ],
                  "show_header_toggle": false,
                  "title": "End, Annotated, Detected",
                  "type": "entities"
                }
              ],
              "type": "vertical-stack"
            },
            {
              "cards": [
                {
                  "entity": "sensor.motion_detected_person_camera",
                  "type": "picture-entity",
                  "name": "PERSON",
                  "camera_image": "camera.motion_detected_person"
                },
                {
                  "entity": "sensor.motion_detected_vehicle_camera",
                  "type": "picture-entity",
                  "name": "VEHICLE",
                  "camera_image": "camera.motion_detected_vehicle"
                },
                {
                  "entity": "sensor.motion_detected_animal_camera",
                  "type": "picture-entity",
                  "name": "ANIMAL",
                  "camera_image": "camera.motion_detected_animal"
                },
                {
                  "entities": [
                    "sensor.motion_detected_person_status",
                    "sensor.motion_detected_vehicle_status",
                    "sensor.motion_detected_animal_status"
                  ],
                  "show_header_toggle": false,
                  "title": "Person, Vehicle, Animal",
                  "type": "entities"
                }
              ],
              "type": "vertical-stack"
            },
            {
              "cards": [
                {
                  "entity": "sensor.motion_face_camera",
                  "type": "picture-entity",
                  "name": "FACE",
                  "camera_image": "camera.motion_face"
                },
                {
                  "entity": "sensor.motion_alpr_camera",
                  "type": "picture-entity",
                  "name": "ALPR ",
                  "camera_image": "camera.motion_alpr"
                },
                {
                  "entities": [
                    "sensor.motion_face_detected_status",
                    "sensor.motion_alpr_detected_status"
                  ],
                  "show_header_toggle": false,
                  "title": "FACE & ALPR",
                  "type": "entities"
                },
                {
                  "type": "picture-glance",
                  "title": "FACE detected",
                  "entities": [
                    {
                      "entity": "sensor.motion_face_detected_camera"
                    },
                    {
                      "entity": "sensor.motion_face_detected_ago"
                    }
                  ],
                  "camera_image": "camera.motion_face_detected"
                },
                {
                  "type": "picture-glance",
                  "title": "ALPR detected",
                  "entities": [
                    {
                      "entity": "sensor.motion_alpr_detected_camera"
                    },
                    {
                      "entity": "sensor.motion_alpr_detected_ago"
                    }
                  ],
                  "camera_image": "camera.motion_alpr_detected"
                }
              ],
              "type": "vertical-stack"
            },
            {
              "cards": [
                {
                  "entity": "sensor.motion_person_face_camera",
                  "type": "picture-entity",
                  "name": "Person w/ FACE",
                  "camera_image": "camera.motion_person_face"
                },
                {
                  "entity": "sensor.motion_vehicle_alpr_camera",
                  "type": "picture-entity",
                  "name": "Vehicle w/ ALPR",
                  "camera_image": "camera.motion_vehicle_alpr"
                },
                {
                  "entities": [
                    "sensor.motion_person_face_status",
                    "sensor.motion_vehicle_alpr_status"
                  ],
                  "show_header_toggle": false,
                  "title": "People & Vehicles",
                  "type": "entities"
                }
              ],
              "type": "vertical-stack"
            },
            {
              "entities": [
                "binary_sensor.motion_face_detected",
                "binary_sensor.motion_detected_entity",
                "binary_sensor.motion_detected",
                "binary_sensor.motion_annotated",
                "binary_sensor.motion_detected_person",
                "binary_sensor.motion_detected_vehicle",
                "binary_sensor.motion_detected_animal",
                "sensor.motion_face_detected_camera",
                "sensor.motion_detected_entity_camera",
                "sensor.motion_detected_camera",
                "sensor.motion_annotated_camera",
                "sensor.motion_face_detected_ago",
                "sensor.motion_detected_entity_ago",
                "sensor.motion_detected_ago",
                "sensor.motion_annotated_ago",
                "sensor.motion_end_ago",
                "sensor.motion_annotated_delay_mean",
                "sensor.motion_annotated_percent",
                "binary_sensor.motion_detected_person",
                "binary_sensor.motion_detected_vehicle",
                "binary_sensor.motion_detected_animal",
                "sensor.motion_annotated_counter",
                "sensor.motion_detected_counter",
                "sensor.motion_detected_entity_counter"
              ],
              "show_header_toggle": false,
              "title": "Motion Summary",
              "type": "entities"
            },
            {
              "cards": [
                {
                  "entities": [
                    "sensor.motion_end_count",
                    "sensor.motion_annotated_count",
                    "sensor.motion_detected_count",
                    "sensor.motion_detected_entity_count",
                    "sensor.motion_detected_person_count",
                    "sensor.motion_detected_vehicle_count",
                    "sensor.motion_detected_animal_count",
                    "sensor.motion_face_count",
                    "sensor.motion_face_detected_count",
                    "sensor.motion_alpr_count",
                    "sensor.motion_alpr_detected_count"
                  ],
                  "hours_to_show": 24,
                  "refresh_interval": 30,
                  "title": "Motion Count",
                  "type": "history-graph"
                },
                {
                  "entities": [
                    "sensor.motion_end_counter",
                    "sensor.motion_annotated_counter",
                    "sensor.motion_detected_counter",
                    "sensor.motion_detected_entity_counter",
                    "sensor.motion_detected_person_counter",
                    "sensor.motion_detected_vehicle_counter",
                    "sensor.motion_detected_animal_counter",
                    "sensor.motion_face_counter",
                    "sensor.motion_face_detected_counter",
                    "sensor.motion_alpr_counter",
                    "sensor.motion_alpr_detected_counter"
                  ],
                  "hours_to_show": 24,
                  "refresh_interval": 30,
                  "title": "Motion Counter",
                  "type": "history-graph"
                },
                {
                  "entities": [
                    "sensor.motion_annotated_percent",
                    "sensor.motion_detected_percent",
                    "sensor.motion_detected_entity_percent",
                    "sensor.motion_detected_person_percent",
                    "sensor.motion_detected_vehicle_percent",
                    "sensor.motion_detected_animal_percent",
                    "sensor.motion_face_percent",
                    "sensor.motion_face_detected_percent",
                    "sensor.motion_alpr_percent",
                    "sensor.motion_alpr_detected_percent",
                    "sensor.motion_person_face_percent",
                    "sensor.motion_vehicle_alpr_percent"
                  ],
                  "hours_to_show": 24,
                  "refresh_interval": 30,
                  "title": "Motion Percent",
                  "type": "history-graph"
                },
                {
                  "entities": [
                    "sensor.motion_end_ago",
                    "sensor.motion_annotated_ago",
                    "sensor.motion_detected_ago",
                    "sensor.motion_detected_entity_ago",
                    "sensor.motion_detected_person_ago",
                    "sensor.motion_detected_vehicle_ago",
                    "sensor.motion_detected_animal_ago",
                    "sensor.motion_face_detected_ago",
                    "sensor.motion_alpr_detected_ago",
                    "sensor.motion_person_face_ago",
                    "sensor.motion_vehicle_alpr_ago"
                  ],
                  "hours_to_show": 24,
                  "refresh_interval": 30,
                  "title": "Motion Ago",
                  "type": "history-graph"
                }
              ],
              "type": "vertical-stack"
            }
          ],
          "icon": "mdi:lastpass",
          "path": "motion_end_view",
          "title": "END"
        },
        {
          "badges": [],
          "cards": [
            {
              "entities": [
                "binary_sensor.motion_face_detected_webcams",
                "binary_sensor.motion_face_detected",
                "sensor.motion_face_detected_status",
                "sensor.motion_face_detected_when",
                "sensor.motion_face_detected_count",
                "sensor.motion_face_detected_counter",
                "sensor.motion_face_detected_device",
                "sensor.motion_face_detected_camera",
                "sensor.motion_face_detected_ago",
                "sensor.motion_face_percent_mean",
                "sensor.motion_face_detected_percent_mean",
                "input_number.motion_face_detected_percent"
              ],
              "show_header_toggle": false,
              "title": "motion_face_detected_details",
              "type": "entities"
            },
            {
              "aspect_ratio": "0%",
              "camera_image": "camera.motion_person_face",
              "entities": [
                {
                  "entity": "sensor.motion_person_face_camera"
                },
                {
                  "entity": "sensor.motion_person_face_ago"
                }
              ],
              "entity": "camera.motion_person_face",
              "title": "Person w/ Face",
              "type": "picture-glance"
            },
            {
              "aspect_ratio": "0%",
              "camera_image": "camera.motion_face_detected",
              "entities": [
                {
                  "entity": "sensor.motion_face_detected_camera"
                },
                {
                  "entity": "sensor.motion_face_detected_ago"
                }
              ],
              "entity": "camera.motion_face_detected",
              "title": "Face Detected",
              "type": "picture-glance"
            }
          ],
          "icon": "mdi:face",
          "path": "motion_face_detected_view",
          "title": "FACE"
        },
        {
          "badges": [],
          "cards": [
            {
              "entities": [
                "binary_sensor.motion_alpr_detected_webcams",
                "binary_sensor.motion_alpr_detected",
                "sensor.motion_alpr_detected_status",
                "sensor.motion_alpr_detected_when",
                "sensor.motion_alpr_detected_count",
                "sensor.motion_alpr_detected_counter",
                "sensor.motion_alpr_detected_device",
                "sensor.motion_alpr_detected_camera",
                "sensor.motion_alpr_detected_ago",
                "sensor.motion_alpr_percent_mean",
                "sensor.motion_alpr_detected_percent_mean",
                "input_number.motion_alpr_detected_percent"
              ],
              "show_header_toggle": false,
              "title": "motion_alpr_detected_details",
              "type": "entities"
            },
            {
              "aspect_ratio": "0%",
              "camera_image": "camera.motion_vehicle_alpr",
              "entities": [
                {
                  "entity": "binary_sensor.motion_vehicle_alpr"
                },
                {
                  "entity": "sensor.motion_vehicle_alpr_ago"
                }
              ],
              "entity": "camera.motion_vehicle_alpr",
              "title": "Vehicle w/ ALPR",
              "type": "picture-glance"
            },
            {
              "aspect_ratio": "0%",
              "camera_image": "camera.motion_alpr_detected",
              "entities": [
                {
                  "entity": "binary_sensor.motion_alpr_detected"
                },
                {
                  "entity": "binary_sensor.motion_alpr_detected_expired"
                }
              ],
              "entity": "camera.motion_alpr_detected",
              "title": "ALPR Detected",
              "type": "picture-glance"
            }
          ],
          "icon": "mdi:car-info",
          "path": "motion_alpr_detected_view",
          "title": "ALPR"
        },
        {
          "badges": [],
          "cards": [
            {
              "entities": [],
              "hours_to_show": 24,
              "refresh_interval": 30,
              "title": "Camera Status",
              "type": "history-graph"
            },
            {
              "entities": [
                "sensor.motion_status_camera_counter"
              ],
              "hours_to_show": 24,
              "refresh_interval": 30,
              "title": "Camera Status Counter",
              "type": "history-graph"
            },
            {
              "entities": [
                "sensor.motion_detected_entity_ago"
              ],
              "hours_to_show": 24,
              "refresh_interval": 30,
              "title": "entity_ago_webcams",
              "type": "history-graph"
            },
            {
              "entities": [
                "sensor.motion_detected_entity_ago_mean"
              ],
              "hours_to_show": 24,
              "refresh_interval": 30,
              "title": "entity_ago_mean_webcams",
              "type": "history-graph"
            },
            {
              "entities": [
                "sensor.motion_detected_entity_ago_stdev"
              ],
              "hours_to_show": 24,
              "refresh_interval": 30,
              "title": "entity_ago_stdev_webcams",
              "type": "history-graph"
            },
            {
              "entities": [
                "sensor.motion_detected_entity_ago_change"
              ],
              "hours_to_show": 24,
              "refresh_interval": 30,
              "title": "entity_ago_change_webcams",
              "type": "history-graph"
            },
            {
              "entities": [
                "sensor.motion_detected_entity_percent"
              ],
              "hours_to_show": 24,
              "refresh_interval": 30,
              "title": "entity_percent_webcams",
              "type": "history-graph"
            },
            {
              "entities": [
                "sensor.motion_detected_entity_counter"
              ],
              "hours_to_show": 24,
              "refresh_interval": 30,
              "title": "entity_counter_webcams",
              "type": "history-graph"
            },
            {
              "entities": [
                "sensor.motion_detected_entity_count"
              ],
              "hours_to_show": 24,
              "refresh_interval": 30,
              "title": "entity_count_webcams",
              "type": "history-graph"
            },
            {
              "entities": [
                "sensor.motion_detected_entity_count_mean"
              ],
              "hours_to_show": 24,
              "refresh_interval": 30,
              "title": "entity_count_mean_webcams",
              "type": "history-graph"
            },
            {
              "entities": [
                "sensor.motion_detected_entity_count_stdev"
              ],
              "hours_to_show": 24,
              "refresh_interval": 30,
              "title": "entity_count_stdev_webcams",
              "type": "history-graph"
            },
            {
              "entities": [
                "sensor.motion_detected_entity_count_change"
              ],
              "hours_to_show": 24,
              "refresh_interval": 30,
              "title": "entity_count_change_webcams",
              "type": "history-graph"
            },
            {
              "entities": [
                "sensor.motion_annotated_count",
                "sensor.motion_detected_count",
                "sensor.motion_face_detected_count",
                "sensor.motion_alpr_detected_count",
                "sensor.motion_detected_entity_count",
                "sensor.motion_detected_person_count",
                "sensor.motion_detected_vehicle_count",
                "sensor.motion_detected_animal_count"
              ],
              "hours_to_show": 24,
              "refresh_interval": 30,
              "title": "Motion Count",
              "type": "history-graph"
            },
            {
              "entities": [
                "sensor.motion_end_counter",
                "sensor.motion_annotated_counter",
                "sensor.motion_detected_counter",
                "sensor.motion_face_counter",
                "sensor.motion_alpr_counter",
                "sensor.motion_face_detected_counter",
                "sensor.motion_alpr_detected_counter",
                "sensor.motion_detected_entity_counter",
                "sensor.motion_detected_person_counter",
                "sensor.motion_detected_vehicle_counter",
                "sensor.motion_detected_animal_counter",
                "sensor.motion_person_face_counter",
                "sensor.motion_vehicle_alpr_counter"
              ],
              "hours_to_show": 24,
              "refresh_interval": 30,
              "title": "Motion Counter",
              "type": "history-graph"
            },
            {
              "entities": [
                "sensor.motion_annotated_percent",
                "sensor.motion_detected_percent",
                "sensor.motion_face_percent",
                "sensor.motion_alpr_percent",
                "sensor.motion_face_detected_percent",
                "sensor.motion_alpr_detected_percent",
                "sensor.motion_detected_entity_percent",
                "sensor.motion_detected_person_percent",
                "sensor.motion_detected_vehicle_percent",
                "sensor.motion_detected_animal_percent"
              ],
              "hours_to_show": 24,
              "refresh_interval": 30,
              "title": "Motion Percent",
              "type": "history-graph"
            },
            {
              "entities": [
                "sensor.motion_detected_entity_counter",
                "sensor.motion_detected_entity_counter_mean",
                "sensor.motion_detected_entity_counter_stdev",
                "sensor.motion_detected_entity_counter_stdev_statistics",
                "sensor.motion_detected_entity_counter_change"
              ],
              "hours_to_show": 24,
              "refresh_interval": 30,
              "title": "Motion entity counter",
              "type": "history-graph"
            },
            {
              "entities": [
                "sensor.motion_detected_entity_percent",
                "sensor.motion_detected_entity_percent_mean",
                "sensor.motion_detected_entity_percent_stdev",
                "sensor.motion_detected_entity_percent_stdev_statistics",
                "sensor.motion_detected_entity_percent_change"
              ],
              "hours_to_show": 24,
              "refresh_interval": 30,
              "title": "Motion entity percent",
              "type": "history-graph"
            },
            {
              "entities": [
                "sensor.motion_detected_entity_ago",
                "sensor.motion_detected_entity_ago_mean",
                "sensor.motion_detected_entity_ago_change",
                "sensor.motion_detected_entity_ago_stdev",
                "sensor.motion_detected_entity_ago_stdev_statistics",
                "sensor.motion_detected_entity_ago_stdev_change",
                "sensor.motion_detected_entity_ago_stdev_change_statistics"
              ],
              "hours_to_show": 24,
              "refresh_interval": 30,
              "title": "Motion entity ago",
              "type": "history-graph"
            },
            {
              "entities": [
                "sensor.motion_detected_person_ago",
                "sensor.motion_detected_person_ago_mean",
                "sensor.motion_detected_person_ago_change",
                "sensor.motion_detected_person_ago_stdev",
                "sensor.motion_detected_person_ago_stdev_statistics",
                "sensor.motion_detected_person_ago_stdev_change",
                "sensor.motion_detected_person_ago_change_statistics"
              ],
              "hours_to_show": 24,
              "refresh_interval": 30,
              "title": "Motion person ago",
              "type": "history-graph"
            },
            {
              "entities": [
                "sensor.motion_detected_entity_count",
                "sensor.motion_detected_entity_count_mean",
                "sensor.motion_detected_entity_count_stdev",
                "sensor.motion_detected_entity_count_stdev_statistics",
                "sensor.motion_detected_entity_count_change"
              ],
              "hours_to_show": 24,
              "refresh_interval": 30,
              "title": "Motion entity count",
              "type": "history-graph"
            }
          ],
          "icon": "mdi:file-chart",
          "path": "motion_graphs_view",
          "title": "GRAPHS"
        },
        {
          "panel": true,
          "badges": [],
          "cards": [
            {
              "elements": [],
              "title": "OVERVIEW",
              "image": "/local/images/no-signal.jpg",
              "camera_image": "camera.motion_overview",
              "type": "picture-elements"
            },
            {
              "entities": [
                "binary_sensor.motion_status_camera",
                "sensor.motion_status_camera_found_name",
                "sensor.motion_status_camera_lost_name"
              ],
              "hours_to_show": 1,
              "refresh_interval": 30,
              "title": "Cameras",
              "type": "history-graph"
            },
            {
              "entities": [
                "sensor.date",
                "sensor.time",
                "sensor.motion_status_camera_ratio",
                "group.motion_status_camera"
              ],
              "show_header_toggle": false,
              "title": "Current",
              "type": "entities"
            }
          ],
          "icon": "mdi:cctv",
          "path": "motion_live",
          "title": "LIVE"
        },
        {
          "badges": [],
          "cards": [
            {
              "entities": [
                {
                  "icon": "mdi:source-repository",
                  "type": "weblink",
                  "url": "https://github.com/dcmartin/horizon.dcmartin.com/blob/master/README.md"
                },
                {
                  "icon": "mdi:link",
                  "type": "weblink",
                  "url": "http://horizon-vm.local:3092"
                },
                {
                  "icon": "mdi:link",
                  "type": "weblink",
                  "url": "http://horizon.dcmartin.com:3092"
                }
              ],
              "show_header_toggle": false,
              "title": "info_frontend",
              "type": "entities"
            },
            {
              "entities": [
                {
                  "icon": "mdi:glasses",
                  "type": "weblink",
                  "url": "https://github.com/dcmartin/open-horizon/blob/master/sdr2msghub/README.md"
                }
              ],
              "show_header_toggle": false,
              "title": "info_sdr2msghub",
              "type": "entities"
            },
            {
              "entities": [
                {
                  "icon": "mdi:percent",
                  "type": "weblink",
                  "url": "https://github.com/dcmartin/open-horizon/blob/master/cpu/README.md"
                },
                {
                  "icon": "mdi:wan",
                  "type": "weblink",
                  "url": "https://github.com/dcmartin/open-horizon/blob/master/wan/README.md"
                },
                {
                  "icon": "mdi:eye",
                  "type": "weblink",
                  "url": "https://github.com/dcmartin/open-horizon/blob/master/yolo/README.md"
                },
                {
                  "icon": "mdi:glasses",
                  "type": "weblink",
                  "url": "https://github.com/dcmartin/open-horizon/blob/master/yolo2msghub/README.md"
                }
              ],
              "show_header_toggle": false,
              "title": "info_yolo2msghub",
              "type": "entities"
            },
            {
              "entities": [
                {
                  "icon": "mdi:motion-sensor",
                  "type": "weblink",
                  "url": "https://github.com/dcmartin/hassio-addons/blob/master/motion/README.md"
                },
                {
                  "icon": "mdi:comment-eye-outline",
                  "type": "weblink",
                  "url": "https://github.com/dcmartin/open-horizon/blob/master/yolo4motion/README.md"
                }
              ],
              "show_header_toggle": false,
              "title": "info_motion",
              "type": "entities"
            }
          ],
          "icon": "mdi:information",
          "path": "info_view",
          "title": "INFO"
        }
      ]
    }
  },
  "key": "lovelace",
  "version": 1
}
