{
  "key": "lovelace",
  "version": 1,
  "data": {
    "config": {
      "title": "${MOTION_APP} - Experimental",
      "views": [
        {
          "title": "LIVE",
          "path": "motion_live",
          "icon": "mdi:texture-box",
          "type": "sidebar",
          "badges": [],
          "cards": [
            {
              "type": "vertical-stack",
              "view_layout": {
                "position": "main"
              },
              "cards": [
                {
                  "type": "conditional",
                  "conditions": [
                    {
                      "entity": "input_select.motion_lovelace_experimental_main",
                      "state_not": "map"
                    }
                  ],
                  "card": {
                    "title": "OVERVIEW",
                    "camera_image": "camera.motion_overview",
                    "elements": [],
                    "type": "picture-elements"
                  }
                },
                {
                  "type": "conditional",
                  "conditions": [
                    {
                      "entity": "input_select.motion_lovelace_experimental_main",
                      "state": "map"
                    }
                  ],
                  "card": {
                    "title": "MAP",
                    "type": "map",
                    "default_zoom": 20,
                    "hours_to_show": 1,
                    "entities": [
                      {
                        "entity": "zone.home",
                        "tap_action": {
                          "action": "more-info"
                        },
                        "hold_action": {
                          "action": "navigate",
                          "navigation_path": "/lovelace/map"
                        }
                      }
                    ]
                  }
                }
              ]
            },
            {
              "type": "vertical-stack",
              "view_layout": {
                "position": "sidebar"
              },
              "cards": [
                {
                  "type": "glance",
                  "show_icon": true,
                  "show_name": true,
                  "entities": [
                    {
                      "name": "View",
                      "icon": "mdi:menu",
                      "entity": "input_select.motion_lovelace_experimental_main",
                      "tap_action": {
                        "action": "call-service",
                        "service": "input_select.select_next",
                        "target": {
                          "entity_id": "input_select.motion_lovelace_experimental_main"
                        }
                      },
                      "hold_action": {
                        "action": "more-info"
                      }
                    },
                    {
                      "entity": "sensor.motion_detected_person_ago"
                    },
                    {
                      "entity": "sensor.motion_detected_person_where"
                    },
                    {
                      "name": "Velocity",
                      "icon": "mdi:gauge",
                      "entity": "sensor.motion_person_detected_velocity_mean_1h"
                    },
                    {
                      "name": "Movement",
                      "icon": "mdi:gauge",
                      "entity": "sensor.motion_person_detected_movement_mean_1h"
                    }
                  ]
                },
                {
                  "type": "conditional",
                  "conditions": [
                    {
                      "entity": "input_select.motion_lovelace_experimental_main",
                      "state": "overview"
                    },
                    {
                      "entity": "input_select.motion_overview_mode",
                      "state": "local"
                    }
                  ],
                  "card": {
                    "type": "vertical-stack",
                    "cards": [
                      {
                        "title": "",
                        "type": "entities",
                        "entities": [
                          {
                            "entity": "input_select.motion_overview_mode"
                          },
                          {
                            "entity": "input_text.motion_overview_image"
                          }
                        ]
                      },
                      {
                        "type": "picture-glance",
                        "aspect_ratio": "0%",
                        "camera_image": "camera.motion_overview",
                        "entities": [
                          {
                            "entity": "input_select.motion_overview_mode"
                          },
                          {
                            "entity": "input_text.motion_overview_image"
                          }
                        ]
                      }
                    ],
                    "view_layout": {
                      "position": "sidebar"
                    }
                  }
                },
                {
                  "type": "conditional",
                  "conditions": [
                    {
                      "entity": "input_select.motion_lovelace_experimental_main",
                      "state": "overview"
                    },
                    {
                      "entity": "input_select.motion_overview_mode",
                      "state_not": "local"
                    }
                  ],
                  "card": {
                    "type": "vertical-stack",
                    "cards": [
                      {
                        "title": "",
                        "type": "entities",
                        "entities": [
                          {
                            "entity": "input_select.motion_overview_mode"
                          },
                          {
                            "entity": "input_number.motion_overview_zoom"
                          },
                          {
                            "entity": "binary_sensor.motion_overview_apikey"
                          }
                        ]
                      },
                      {
                        "type": "picture-glance",
                        "aspect_ratio": "0%",
                        "camera_image": "camera.motion_overview",
                        "entities": [
                          {
                            "entity": "input_select.motion_overview_mode"
                          },
                          {
                            "entity": "input_number.motion_overview_zoom"
                          },
                          {
                            "entity": "binary_sensor.motion_overview_apikey"
                          }
                        ]
                      }
                    ],
                    "view_layout": {
                      "position": "sidebar"
                    }
                  }
                },
                {
                  "title": "AGO",
                  "type": "history-graph",
                  "hours_to_show": 24,
                  "refresh_interval": 0,
                  "entities": [
                    {
                      "entity": "sensor.motion_detected_ago_mean"
                    }
                  ]
                },
                {
                  "type": "conditional",
                  "conditions": [
                    {
                      "entity": "sensor.motion_complete_mean",
                      "state_not": "0.0"
                    }
                  ],
                  "card": {
                    "title": "COMPLETE",
                    "type": "history-graph",
                    "hours_to_show": 24,
                    "refresh_interval": 0,
                    "entities": [
                      {
                        "entity": "sensor.motion_complete_mean"
                      }
                    ]
                  }
                },
                {
                  "type": "conditional",
                  "conditions": [
                    {
                      "entity": "sensor.motion_complete_ratio",
                      "state_not": "unknown"
                    },
                    {
                      "entity": "sensor.motion_complete_ratio",
                      "state_not": "null"
                    }
                  ],
                  "card": {
                    "title": "RATIO",
                    "type": "history-graph",
                    "hours_to_show": 24,
                    "refresh_interval": 0,
                    "entities": [
                      {
                        "entity": "sensor.motion_complete_ratio"
                      }
                    ]
                  }
                }
              ]
            }
          ]
        }
      ]
    }
  }
}
