{
  "data": {
    "items": [
      {
        "icon": "mdi:account-supervisor",
        "id": "lovelace_developer",
        "mode": "storage",
        "require_admin": true,
        "show_in_sidebar": true,
        "title": "Administrators",
        "url_path": "lovelace-developer"
      },
      {
        "icon": "mdi:test-tube",
        "id": "lovelace_experimental",
        "mode": "storage",
        "require_admin": true,
        "show_in_sidebar": true,
        "title": "Experimental",
        "url_path": "experimental"
      },
      {
        "icon": "mdi:account",
        "id": "lovelace_person",
        "mode": "storage",
        "require_admin": true,
        "show_in_sidebar": true,
        "title": "Person",
        "url_path": "person"
      },
      {
        "icon": "mdi:truck",
        "id": "lovelace_vehicle",
        "mode": "storage",
        "require_admin": true,
        "show_in_sidebar": true,
        "title": "Vehicle",
        "url_path": "vehicle"
      },
      {
        "icon": "mdi:cow",
        "id": "lovelace_animal",
        "mode": "storage",
        "require_admin": true,
        "show_in_sidebar": true,
        "title": "Animal",
        "url_path": "animal"
      }
    ]
  },
  "key": "lovelace_dashboards",
  "version": 1
}
