{
  "version": 1,
  "minor_version": 1,
  "key": "lovelace",
  "data": {
    "config": {
      "icon": "mdi:home",
      "title": "${MOTION_APP} (${HOST_NAME})",
      "views": [
        {
          "title": "RELOAD",
          "path": "reload",
          "icon": "mdi:restart",
          "badges": [],
          "cards": [
            {
              "type": "vertical-stack",
              "title": "",
              "cards": [
                {
                  "type": "conditional",
                  "conditions": [
                    {
                      "entity": "binary_sensor.motion_addon_installed",
                      "state": "on"
                    }
                  ],
                  "card": {
                    "show_header_toggle": false,
                    "type": "entities",
                    "title": "",
                    "entities": [
                      {
                        "name": "Add-on",
                        "entity": "binary_sensor.motion_addon_update",
                        "icon": "mdi:apps",
                        "type": "attribute",
                        "attribute": "title"
                      },
                      {
                        "name": "Version",
                        "entity": "binary_sensor.motion_addon_update",
                        "icon": "mdi:play-protected-content",
                        "type": "attribute",
                        "attribute": "version"
                      },
                      {
                        "name": "Started",
                        "entity": "binary_sensor.motion_addon_status",
                        "icon": "mdi:restart",
                        "type": "attribute",
                        "suffix": "ago",
                        "attribute": "relative"
                      },
                      {
                        "type": "conditional",
                        "conditions": [
                          {
                            "entity": "binary_sensor.motion_addon_update",
                            "state": "on"
                          }
                        ],
                        "row": {
                          "name": "Update",
                          "entity": "binary_sensor.motion_addon_update",
                          "icon": "mdi:download",
                          "type": "attribute",
                          "attribute": "latest",
                          "tap_action": {
                            "action": "call-service",
                            "service": "automation.trigger",
                            "target": {
                              "entity_id": "automation.motion_addon_update"
                            },
                            "confirmation": {
                              "text": "Update the ${MOTION_APP} add-on?",
                              "exemptions": null
                            }
                          }
                        }
                      },
                      {
                        "name": "Last check",
                        "entity": "sensor.motion_reload_updates",
                        "icon": "mdi:cloud-refresh",
                        "suffix": "ago",
                        "type": "attribute",
                        "attribute": "relative"
                      }
                    ]
                  }
                },
                {
                  "show_header_toggle": false,
                  "type": "entities",
                  "title": "",
                  "entities": [
                    {
                      "name": "Reload required",
                      "entity": "binary_sensor.motion_reload"
                    },
                    {
                      "type": "section",
                      "label": "Status"
                    },
                    {
                      "type": "conditional",
                      "conditions": [
                        {
                          "entity": "binary_sensor.motion_reload_enabled",
                          "state": "on"
                        }
                      ],
                      "row": {
                        "name": "Auto-update",
                        "entity": "binary_sensor.motion_reload_enabled",
                        "tap_action": {
                          "action": "call-service",
                          "service": "input_boolean.turn_off",
                          "target": {
                            "entity_id": "input_boolean.motion_reload"
                          },
                          "confirmation": {
                            "text": "Turn OFF automatic updates",
                            "exemptions": null
                          }
                        }
                      }
                    },
                    {
                      "type": "conditional",
                      "conditions": [
                        {
                          "entity": "binary_sensor.motion_reload_enabled",
                          "state": "off"
                        }
                      ],
                      "row": {
                        "name": "Auto-update",
                        "entity": "binary_sensor.motion_reload_enabled",
                        "tap_action": {
                          "action": "call-service",
                          "service": "input_boolean.turn_on",
                          "target": {
                            "entity_id": "input_boolean.motion_reload"
                          }
                        }
                      }
                    },
                    {
                      "type": "conditional",
                      "conditions": [
                        {
                          "entity": "input_boolean.motion_reload",
                          "state": "on"
                        }
                      ],
                      "row": {
                        "name": "Restarting",
                        "entity": "binary_sensor.motion_restarting"
                      }
                    },
                    {
                      "type": "conditional",
                      "conditions": [
                        {
                          "entity": "input_boolean.motion_reload",
                          "state": "on"
                        }
                      ],
                      "row": {
                        "name": "Reloaded",
                        "entity": "binary_sensor.motion_reloaded"
                      }
                    }
                  ]
                },
                {
                  "type": "conditional",
                  "conditions": [
                    {
                      "entity": "binary_sensor.motion_restarting",
                      "state": "on"
                    }
                  ],
                  "card": {
                    "type": "markdown",
                    "title": "System restarting",
                    "entity_id": "binary_sensor.motion_restarting",
                    "content": "{{ state_attr(\"binary_sensor.motion_restarting\",\"markdown\") }}"
                  }
                },
                {
                  "type": "conditional",
                  "conditions": [
                    {
                      "entity": "binary_sensor.motion_rebooting",
                      "state": "on"
                    }
                  ],
                  "card": {
                    "type": "markdown",
                    "title": "System rebooting",
                    "entity_id": "binary_sensor.motion_rebooting",
                    "content": "{{ state_attr(\"binary_sensor.motion_rebooting\",\"markdown\") }}"
                  }
                },
                {
                  "type": "conditional",
                  "conditions": [
                    {
                      "entity": "binary_sensor.motion_addon_installed",
                      "state_not": "on"
                    }
                  ],
                  "card": {
                    "type": "entities",
                    "title": "Add-on pending",
                    "entities": []
                  }
                },
                {
                  "type": "horizontal-stack",
                  "cards": [
                    {
                      "type": "conditional",
                      "conditions": [
                        {
                          "entity": "binary_sensor.motion_addon_update",
                          "state": "on"
                        },
                        {
                          "entity": "binary_sensor.motion_restarting",
                          "state": "off"
                        }
                      ],
                      "card": {
                        "type": "button",
                        "name": "Update",
                        "icon": "mdi:update",
                        "icon_height": "32px",
                        "tap_action": {
                          "action": "call-service",
                          "service": "automation.trigger",
                          "target": {
                            "entity_id": "automation.motion_addon_update"
                          },
                          "confirmation": {
                            "text": "Update the ${MOTION_APP} add-on?",
                            "exemptions": null
                          }
                        }
                      }
                    },
                    {
                      "type": "conditional",
                      "conditions": [
                        {
                          "entity": "binary_sensor.motion_addon_installed",
                          "state": "on"
                        },
                        {
                          "entity": "binary_sensor.motion_restarting",
                          "state": "off"
                        },
                        {
                          "entity": "binary_sensor.motion_rebooting",
                          "state": "off"
                        }
                      ],
                      "card": {
                        "type": "button",
                        "name": "Refresh",
                        "icon": "mdi:refresh",
                        "icon_height": "32px",
                        "tap_action": {
                          "action": "call-service",
                          "service": "automation.trigger",
                          "target": {
                            "entity_id": "automation.motion_addon_restart"
                          },
                          "confirmation": {
                            "text": "Restart the ${MOTION_APP} add-on?",
                            "exemptions": null
                          }
                        }
                      }
                    },
                    {
                      "type": "conditional",
                      "conditions": [
                        {
                          "entity": "binary_sensor.motion_addon_reload",
                          "state": "on"
                        },
                        {
                          "entity": "binary_sensor.motion_restarting",
                          "state": "off"
                        },
                        {
                          "entity": "binary_sensor.motion_rebooting",
                          "state": "off"
                        }
                      ],
                      "card": {
                        "type": "button",
                        "name": "Reload",
                        "icon": "mdi:reload-alert",
                        "icon_height": "32px",
                        "tap_action": {
                          "action": "call-service",
                          "service": "homeassistant.reload_core_config",
                          "confirmation": {
                            "text": "Add-on refreshed; reload ${MOTION_APP} configuration?",
                            "exemptions": null
                          }
                        }
                      }
                    },
                    {
                      "type": "conditional",
                      "conditions": [
                        {
                          "entity": "binary_sensor.motion_restarting",
                          "state": "off"
                        }
                      ],
                      "card": {
                        "type": "button",
                        "name": "Restart",
                        "icon": "hass:restart",
                        "icon_height": "32px",
                        "show_state": true,
                        "entity": "binary_sensor.motion_restarting",
                        "tap_action": {
                          "action": "call-service",
                          "service": "input_boolean.turn_on",
                          "target": {
                            "entity_id": "input_boolean.motion_restart"
                          },
                          "confirmation": {
                            "text": "Confirm restart ${MOTION_APP}?",
                            "exemptions": null
                          }
                        }
                      }
                    },
                    {
                      "type": "button",
                      "name": "Reboot",
                      "icon": "mdi:power",
                      "icon_height": "32px",
                      "show_state": true,
                      "entity": "binary_sensor.motion_rebooting",
                      "tap_action": {
                        "action": "call-service",
                        "service": "input_boolean.turn_on",
                        "target": {
                          "entity_id": "input_boolean.motion_reboot"
                        },
                        "confirmation": {
                          "text": "Confirm hub reboot?",
                          "exemptions": null
                        }
                      }
                    }
                  ]
                }
              ]
            }
          ]
        }
      ]
    }
  }
}
