{
  "version": 1,
  "key": "lovelace_resources",
  "data": {
    "items": [
      {
        "url": "/local/battery-strategy.js",
        "type": "module",
        "id": "battery-strategy"
      }
    ]
  }
}
