{
  "data": {
    "config": {
      "title": "motion-${HOST_NAME}",
      "views": [
        {
          "badges": [],
          "cards": [
            {
              "entities": [
                "sensor.date",
                "sensor.time"
              ],
              "show_header_toggle": false,
              "title": "datetime",
              "type": "entities"
            },
            {
              "entities": [
                "sensor.last_boot",
                "sensor.load_15m",
                "sensor.load_5m",
                "sensor.load_1m",
                "sensor.memory_free",
                "sensor.motion_storage_used_${MOTION_DEVICE}",
                "sensor.motion_storage_available_${MOTION_DEVICE}"
              ],
              "show_header_toggle": false,
              "title": "systemmonitor",
              "type": "entities"
            },
            {
              "entities": [
                "input_select.motion_camera_name",
                "input_select.motion_detect_entity",
                "sensor.motion_detected_entity_percent",
                "input_number.motion_face_detected_percent",
                "sensor.motion_face_detected_percent",
                "sensor.motion_mqtt_broker",
                "sensor.motion_mqtt_port",
                "sensor.motion_group",
                "sensor.motion_device",
                "sensor.motion_client"
              ],
              "show_header_toggle": false,
              "title": "motion_config",
              "type": "entities"
            },
            {
              "entities": [
                "sensor.motion_detected_entity_status",
                "sensor.motion_detected_entity_ago",
                "sensor.motion_detected_status",
                "sensor.motion_detected_ago",
                "sensor.motion_annotated_status",
                "sensor.motion_annotated_ago",
                "sensor.motion_end_status",
                "sensor.motion_end_ago",
                "sensor.motion_annotated_delay_mean",
                "binary_sensor.motion_detected_person",
                "binary_sensor.motion_detected_vehicle",
                "binary_sensor.motion_detected_animal",
                "sensor.motion_face_detected_status",
                "sensor.motion_face_detected_ago"
              ],
              "show_header_toggle": false,
              "title": "motion_brief",
              "type": "entities"
            },
            {
              "entities": [
                "sensor.motion_end_count",
                "sensor.motion_annotated_count",
                "sensor.motion_detected_count",
                "sensor.motion_detected_entity_count",
                "sensor.motion_face_count",
                "sensor.motion_face_detected_count"
              ],
              "hours_to_show": 24,
              "refresh_interval": 0,
              "title": "motion_count",
              "type": "history-graph"
            },
            {
              "entities": [
                "sensor.motion_end_counter",
                "sensor.motion_annotated_counter",
                "sensor.motion_detected_counter",
                "sensor.motion_detected_entity_counter",
                "sensor.motion_face_counter",
                "sensor.motion_face_detected_counter"
              ],
              "hours_to_show": 24,
              "refresh_interval": 0,
              "title": "motion_counter",
              "type": "history-graph"
            },
            {
              "entities": [
                "sensor.motion_annotated_percent",
                "sensor.motion_detected_percent",
                "sensor.motion_detected_entity_percent",
                "sensor.motion_face_percent",
                "sensor.motion_face_detected_percent"
              ],
              "hours_to_show": 24,
              "refresh_interval": 0,
              "title": "motion_percent",
              "type": "history-graph"
            },
            {
              "aspect_ratio": "0%",
              "camera_image": "camera.motion_camera_selected",
              "entities": [
                {
                  "entity": "binary_sensor.motion_detected_entity"
                },
                {
                  "entity": "sensor.motion_detected_entity_camera"
                }
              ],
              "entity": "input_select.motion_camera_name",
              "image": "https://demo.home-assistant.io/stub_config/kitchen.png",
              "title": "Detected Entity Selected",
              "type": "picture-glance"
            },
            {
              "aspect_ratio": "0%",
              "camera_image": "camera.motion_detected_entity",
              "entities": [
                {
                  "entity": "binary_sensor.motion_detected_entity"
                },
                {
                  "entity": "binary_sensor.motion_detected_entity_expired"
                },
                {
                  "entity": "sensor.motion_detected_entity_ago"
                }
              ],
              "entity": "sensor.motion_detected_entity_camera",
              "image": "https://demo.home-assistant.io/stub_config/kitchen.png",
              "title": "Detected Entity Last",
              "type": "picture-glance"
            },
            {
              "aspect_ratio": "0%",
              "camera_image": "camera.motion_detected",
              "entities": [
                {
                  "entity": "binary_sensor.motion_detected"
                },
                {
                  "entity": "binary_sensor.motion_detected_expired"
                },
                {
                  "entity": "sensor.motion_detected_ago"
                }
              ],
              "entity": "sensor.motion_detected_camera",
              "image": "https://demo.home-assistant.io/stub_config/kitchen.png",
              "title": "Detected Last",
              "type": "picture-glance"
            },
            {
              "aspect_ratio": "0%",
              "camera_image": "camera.motion_annotated",
              "entities": [
                {
                  "entity": "binary_sensor.motion_annotated"
                },
                {
                  "entity": "binary_sensor.motion_annotated_expired"
                },
                {
                  "entity": "sensor.motion_annotated_ago"
                }
              ],
              "entity": "sensor.motion_annotated_camera",
              "image": "https://demo.home-assistant.io/stub_config/kitchen.png",
              "title": "Annotated Last",
              "type": "picture-glance"
            },
            {
              "aspect_ratio": "0%",
              "camera_image": "camera.motion_face_detected",
              "entities": [
                {
                  "entity": "binary_sensor.motion_face_detected"
                },
                {
                  "entity": "binary_sensor.motion_face_detected_expired"
                },
                {
                  "entity": "sensor.motion_face_detected_ago"
                }
              ],
              "entity": "sensor.motion_face_detected_camera",
              "image": "https://demo.home-assistant.io/stub_config/kitchen.png",
              "title": "Face Detected",
              "type": "picture-glance"
            },
            {
              "aspect_ratio": "0%",
              "camera_image": "camera.motion_detected_person_face",
              "entities": [
                {
                  "entity": "binary_sensor.motion_detected_person_face"
                },
                {
                  "entity": "sensor.motion_detected_person_face_ago"
                }
              ],
              "entity": "sensor.motion_detected_person_face_camera",
              "image": "https://demo.home-assistant.io/stub_config/kitchen.png",
              "title": "Person Face Detected",
              "type": "picture-glance"
            }
          ],
          "icon": "mdi:home",
          "path": "default_view",
          "title": "HOME"
        },
        {
          "badges": [],
          "cards": [
            {
              "entities": [
                "sensor.internet_ago",
                "sensor.internet_receive",
                "sensor.internet_send"
              ],
              "show_header_toggle": false,
              "title": "internet_brief",
              "type": "entities"
            },
            {
              "entities": [
                "sensor.internet_receive",
                "sensor.internet_send",
                "binary_sensor.internet_test",
                "sensor.internet_ago",
                "counter.internet_counter"
              ],
              "show_header_toggle": false,
              "title": "internet_summary",
              "type": "entities"
            },
            {
              "entities": [
                "sensor.internet_slow_counter",
                "sensor.internet_fast_counter",
                "binary_sensor.internet_fast",
                "binary_sensor.internet_slow",
                "sensor.internet_ago"
              ],
              "show_header_toggle": false,
              "title": "Internet Details",
              "type": "entities"
            },
            {
              "entities": [
                "sensor.internet_receive",
                "sensor.internet_receive_mean",
                "sensor.internet_receive_min_value",
                "sensor.internet_receive_max_value",
                "sensor.internet_receive_stdev"
              ],
              "show_header_toggle": false,
              "title": "internet_receive",
              "type": "entities"
            },
            {
              "entities": [
                "sensor.internet_send",
                "sensor.internet_send_mean",
                "sensor.internet_send_min_value",
                "sensor.internet_send_max_value",
                "sensor.internet_send_stdev"
              ],
              "show_header_toggle": false,
              "title": "internet_send",
              "type": "entities"
            },
            {
              "entities": [
                "input_number.internet_ago",
                "automation.internet_counter",
                "automation.internet_slow_counter",
                "automation.internet_fast_counter",
                "automation.internet_slow_persistent",
                "automation.internet_fast_persistent"
              ],
              "show_header_toggle": false,
              "title": "internet_settings",
              "type": "entities"
            },
            {
              "entities": [
                "sensor.internet_receive_mean",
                "sensor.internet_receive_min_value",
                "sensor.internet_receive_max_value"
              ],
              "hours_to_show": 24,
              "refresh_interval": 30,
              "title": "Internet Receive",
              "type": "history-graph"
            },
            {
              "entities": [
                "sensor.internet_send_mean",
                "sensor.internet_send_min_value",
                "sensor.internet_send_max_value"
              ],
              "hours_to_show": 24,
              "refresh_interval": 30,
              "title": "Internet Send",
              "type": "history-graph"
            }
          ],
          "icon": "mdi:ip-network",
          "path": "internet_view",
          "title": "INTERNET"
        },
        {
          "badges": [],
          "cards": [
            {
              "entities": [
                "sensor.intranet_ago",
                "sensor.intranet_iperf_host",
                "sensor.intranet_receive",
                "sensor.intranet_send"
              ],
              "show_header_toggle": false,
              "title": "intranet_brief",
              "type": "entities"
            },
            {
              "entities": [
                "sensor.intranet_receive",
                "sensor.intranet_send",
                "binary_sensor.intranet_test",
                "sensor.intranet_ago",
                "sensor.intranet_counter"
              ],
              "show_header_toggle": false,
              "title": "intranet_summary",
              "type": "entities"
            },
            {
              "entities": [
                "sensor.intranet_slow_counter",
                "sensor.intranet_fast_counter",
                "binary_sensor.intranet_fast",
                "binary_sensor.intranet_slow",
                "sensor.intranet_ago"
              ],
              "show_header_toggle": false,
              "title": "Intranet Details",
              "type": "entities"
            },
            {
              "entities": [
                "sensor.intranet_receive",
                "sensor.intranet_receive_mean",
                "sensor.intranet_receive_min_value",
                "sensor.intranet_receive_max_value",
                "sensor.intranet_receive_stdev"
              ],
              "show_header_toggle": false,
              "title": "intranet_receive",
              "type": "entities"
            },
            {
              "entities": [
                "sensor.intranet_send",
                "sensor.intranet_send_mean",
                "sensor.intranet_send_min_value",
                "sensor.intranet_send_max_value",
                "sensor.intranet_send_stdev"
              ],
              "show_header_toggle": false,
              "title": "intranet_send",
              "type": "entities"
            },
            {
              "entities": [
                "input_number.intranet_ago",
                "automation.intranet_counter",
                "automation.intranet_slow_counter",
                "automation.intranet_fast_counter",
                "automation.intranet_slow_persistent",
                "automation.intranet_fast_persistent"
              ],
              "show_header_toggle": false,
              "title": "intranet_settings",
              "type": "entities"
            },
            {
              "entities": [
                "sensor.intranet_receive_mean",
                "sensor.intranet_receive_min_value",
                "sensor.intranet_receive_max_value",
                "sensor.intranet_send_mean",
                "sensor.intranet_send_min_value",
                "sensor.intranet_send_max_value"
              ],
              "hours_to_show": 24,
              "refresh_interval": 30,
              "title": "Intranet Link",
              "type": "history-graph"
            }
          ],
          "icon": "mdi:ip-network-outline",
          "path": "intranet_view",
          "title": "INTRANET"
        },
        {
          "badges": [],
          "cards": [
            {
              "entities": [
                "input_select.theme_select",
                "input_select.homeassistant_url",
                "sensor.motion_base_url"
              ],
              "show_header_toggle": false,
              "title": "settings_frontend",
              "type": "entities"
            },
            {
              "entities": [
                "input_number.internet_deviation"
              ],
              "show_header_toggle": false,
              "title": "settings_internet",
              "type": "entities"
            },
            {
              "entities": [
                "input_boolean.motion_camera_autoselect",
                "input_select.motion_camera_name",
                "sensor.motion_camera_name",
                "input_select.motion_detect_entity",
                "sensor.motion_detect_entity",
                "sensor.motion_device_start_camera_count",
                "sensor.motion_device_start_camera_names",
                "input_boolean.motion_detected_entity_notify",
                "input_boolean.motion_detected_notify",
                "input_boolean.motion_reset_found",
                "input_boolean.motion_reset_lost",
                "input_boolean.motion_snapshot",
                "input_boolean.motion_snapshot_save",
                "input_boolean.motion_status_camera_notify",
                "input_number.motion_complete",
                "input_number.motion_annotated_ago",
                "input_number.motion_detected_ago",
                "input_number.motion_detected_entity_ago",
                "input_number.motion_annotated_counter_deviation",
                "input_number.motion_detected_counter_deviation",
                "input_number.motion_detected_entity_counter_deviation",
                "input_number.motion_end_counter_deviation",
                "input_number.motion_annotated_count_deviation",
                "input_number.motion_detected_count_deviation",
                "input_number.motion_detected_entity_count_deviation",
                "input_number.motion_face_ago",
                "input_number.motion_face_detected_ago",
                "input_number.motion_face_detected_percent"
              ],
              "show_header_toggle": false,
              "title": "motion_settings",
              "type": "entities"
            }
          ],
          "icon": "mdi:settings",
          "path": "settings_view",
          "title": "SETTINGS"
        },
        {
          "badges": [],
          "cards": [
            {
              "entity": "camera.motion_detected_entity_animated",
              "type": "picture-entity"
            }
          ],
          "icon": "mdi:filmstrip",
          "path": "motion_animated_webcams_view",
          "title": "ANIMATED"
        },
        {
          "badges": [],
          "cards": [
            {
              "entities": [
                "binary_sensor.motion_annotated_webcams",
                "binary_sensor.motion_annotated",
                "sensor.motion_annotated_status",
                "sensor.motion_annotated_when",
                "sensor.motion_annotated_count",
                "sensor.motion_annotated_count_entity",
                "sensor.motion_annotated_counter",
                "sensor.motion_annotated_device",
                "sensor.motion_annotated_camera",
                "sensor.motion_annotated_ago",
                "sensor.motion_annotated_list",
                "sensor.motion_annotated_count",
                "sensor.motion_annotated_percent_mean"
              ],
              "show_header_toggle": false,
              "title": "motion_annotated_details",
              "type": "entities"
            },
            {
              "entities": [
                "sensor.motion_annotated_ago"
              ],
              "show_header_toggle": false,
              "title": "motion_annotated_ago",
              "hours_to_show": 24,
              "refresh_interval": 0,
              "type": "history-graph"
            },
            {
              "entities": [
                "sensor.motion_annotated_counter"
              ],
              "show_header_toggle": false,
              "title": "motion_annotated_counter",
              "hours_to_show": 24,
              "refresh_interval": 0,
              "type": "history-graph"
            },
            {
              "entities": [
                "sensor.motion_annotated_count"
              ],
              "show_header_toggle": false,
              "title": "motion_annotated_count",
              "hours_to_show": 24,
              "refresh_interval": 0,
              "type": "history-graph"
            },
            {
              "entity": "camera.motion_annotated_picture",
              "type": "picture-entity"
            }
          ],
          "icon": "mdi:image-search",
          "path": "motion_annotated_view",
          "title": "ANNOTATED"
        },
        {
          "badges": [],
          "cards": [
            {
              "entities": [
                "binary_sensor.motion_detected_webcams",
                "binary_sensor.motion_detected",
                "sensor.motion_detected_status",
                "sensor.motion_detected_when",
                "sensor.motion_detected_count",
                "sensor.motion_detected_counter",
                "sensor.motion_detected_device",
                "sensor.motion_detected_camera",
                "sensor.motion_detected_ago",
                "sensor.motion_detected_list",
                "sensor.motion_detected_percent_mean"
              ],
              "show_header_toggle": false,
              "title": "motion_detected_details",
              "type": "entities"
            },
            {
              "entities": [
                "sensor.motion_detected_ago"
              ],
              "show_header_toggle": false,
              "title": "motion_detected_ago",
              "hours_to_show": 24,
              "refresh_interval": 0,
              "type": "history-graph"
            },
            {
              "entities": [
                "sensor.motion_detected_counter"
              ],
              "show_header_toggle": false,
              "title": "motion_detected_counter",
              "hours_to_show": 24,
              "refresh_interval": 0,
              "type": "history-graph"
            },
            {
              "entities": [
                "sensor.motion_detected_count"
              ],
              "show_header_toggle": false,
              "title": "motion_detected_count",
              "hours_to_show": 24,
              "refresh_interval": 0,
              "type": "history-graph"
            },
            {
              "entity": "camera.motion_detected_picture",
              "type": "picture-entity"
            }
          ],
          "icon": "mdi:account-search",
          "path": "motion_detected_view",
          "title": "DETECTED"
        },
        {
          "badges": [],
          "cards": [
            {
              "entities": [
                "binary_sensor.motion_detected_entity_webcams",
                "binary_sensor.motion_detected_entity",
                "sensor.motion_detected_entity_status",
                "sensor.motion_detected_entity_when",
                "sensor.motion_detected_entity_count",
                "sensor.motion_detected_entity_counter",
                "sensor.motion_detected_entity_device",
                "sensor.motion_detected_entity_camera",
                "sensor.motion_detected_entity_ago",
                "sensor.motion_detected_entity_percent_mean",
                "input_select.motion_detect_entity"
              ],
              "show_header_toggle": false,
              "title": "motion_detected_entity_details",
              "type": "entities"
            },
            {
              "entities": [
                "sensor.motion_detected_entity_ago"
              ],
              "show_header_toggle": false,
              "title": "motion_detected_entity_ago",
              "hours_to_show": 24,
              "refresh_interval": 0,
              "type": "history-graph"
            },
            {
              "entities": [
                "sensor.motion_detected_entity_counter"
              ],
              "show_header_toggle": false,
              "title": "motion_detected_entity_counter",
              "hours_to_show": 24,
              "refresh_interval": 0,
              "type": "history-graph"
            },
            {
              "entities": [
                "sensor.motion_detected_entity_count"
              ],
              "show_header_toggle": false,
              "title": "motion_detected_entity_count",
              "hours_to_show": 24,
              "refresh_interval": 0,
              "type": "history-graph"
            },
            {
              "entity": "camera.motion_detected_entity_picture",
              "type": "picture-entity"
            }
          ],
          "icon": "mdi:motion-sensor",
          "path": "motion_detected_entity_view",
          "title": "DETECTED ENTITY"
        },
        {
          "badges": [],
          "cards": [
            {
              "entities": [
                "sensor.motion_detected_entity_status",
                "sensor.motion_detected_entity_ago",
                "sensor.motion_detected_status",
                "sensor.motion_detected_ago",
                "sensor.motion_annotated_status",
                "sensor.motion_annotated_ago",
                "sensor.motion_end_status",
                "sensor.motion_end_ago",
                "sensor.motion_annotated_delay_mean",
                "binary_sensor.motion_detected_person",
                "binary_sensor.motion_detected_vehicle",
                "binary_sensor.motion_detected_animal",
                "sensor.motion_face_detected_status",
                "sensor.motion_face_detected_ago"
              ],
              "show_header_toggle": false,
              "title": "motion_brief",
              "type": "entities"
            },
            {
              "entity": "camera.motion_detected_entity_picture",
              "type": "picture-entity"
            },
            {
              "entity": "camera.motion_detected_picture",
              "type": "picture-entity"
            },
            {
              "entity": "camera.motion_annotated_picture",
              "type": "picture-entity"
            },
            {
              "entity": "camera.motion_end_picture",
              "type": "picture-entity"
            },
            {
              "entities": [
                "sensor.motion_end_count",
                "sensor.motion_annotated_count",
                "sensor.motion_detected_count",
                "sensor.motion_detected_entity_count",
                "sensor.motion_face_count",
                "sensor.motion_face_detected_count"
              ],
              "hours_to_show": 24,
              "refresh_interval": 0,
              "title": "motion_count",
              "type": "history-graph"
            },
            {
              "entities": [
                "sensor.motion_end_counter",
                "sensor.motion_annotated_counter",
                "sensor.motion_detected_counter",
                "sensor.motion_detected_entity_counter",
                "sensor.motion_face_counter",
                "sensor.motion_face_detected_counter"
              ],
              "hours_to_show": 24,
              "refresh_interval": 0,
              "title": "motion_counter",
              "type": "history-graph"
            },
            {
              "entities": [
                "sensor.motion_annotated_percent",
                "sensor.motion_detected_percent",
                "sensor.motion_detected_entity_percent",
                "sensor.motion_face_percent",
                "sensor.motion_face_detected_percent"
              ],
              "hours_to_show": 24,
              "refresh_interval": 0,
              "title": "motion_percent",
              "type": "history-graph"
            },
            {
              "entity": "camera.motion_face_detected_picture",
              "type": "picture-entity"
            },
            {
              "entities": [
                "binary_sensor.motion_detected_person",
                "binary_sensor.motion_detected_animal",
                "binary_sensor.motion_detected_vehicle"
              ],
              "show_header_toggle": false,
              "title": "motion_end_summary",
              "type": "entities"
            },
            {
              "entity": "camera.motion_event_end",
              "type": "picture-entity"
            },
            {
              "entity": "camera.motion_event_annotated",
              "type": "picture-entity"
            },
            {
              "entities": [
                "binary_sensor.motion_end",
                "binary_sensor.motion_end_webcams",
                "binary_sensor.motion_annotated",
                "binary_sensor.motion_annotated_webcams",
                "binary_sensor.motion_detected",
                "binary_sensor.motion_detected_webcams",
                "binary_sensor.motion_detected_entity",
                "binary_sensor.motion_detected_entity_webcams"
              ],
              "show_header_toggle": false,
              "title": "motion_end_summary_state",
              "type": "entities"
            },
            {
              "entities": [
                "sensor.motion_annotated_camera",
                "sensor.motion_detected_camera",
                "sensor.motion_detected_entity_camera"
              ],
              "show_header_toggle": false,
              "title": "motion_end_summary_camera",
              "type": "entities"
            },
            {
              "entities": [
                "sensor.motion_annotated_when",
                "sensor.motion_detected_when",
                "sensor.motion_detected_entity_when"
              ],
              "show_header_toggle": false,
              "title": "motion_end_summary_when",
              "type": "entities"
            },
            {
              "entities": [
                "sensor.motion_annotated_count",
                "sensor.motion_annotated_list",
                "sensor.motion_annotated_count_entity",
                "sensor.motion_detected_count",
                "sensor.motion_detected_list",
                "sensor.motion_detected_entity_count",
                "sensor.motion_detected_entity_list",
                "sensor.motion_end_counter",
                "sensor.motion_annotated_counter",
                "sensor.motion_detected_counter",
                "sensor.motion_detected_entity_counter"
              ],
              "show_header_toggle": false,
              "title": "motion_end_summary_count",
              "type": "entities"
            },
            {
              "entities": [
                "sensor.motion_annotated_delay",
                "sensor.motion_annotated_percent"
              ],
              "show_header_toggle": false,
              "title": "motion_end_summary_yolo",
              "type": "entities"
            },
            {
              "entities": [
                "sensor.motion_detected_entity_ago"
              ],
              "hours_to_show": 24,
              "refresh_interval": 30,
              "title": "motion_detected_entity_ago_webcams",
              "type": "history-graph"
            }
          ],
          "icon": "mdi:lastpass",
          "path": "motion_end_view",
          "title": "END"
        },
        {
          "badges": [],
          "cards": [
            {
              "entities": [
                "binary_sensor.motion_face_detected_webcams",
                "binary_sensor.motion_face_detected",
                "sensor.motion_face_detected_status",
                "sensor.motion_face_detected_when",
                "sensor.motion_face_detected_count",
                "sensor.motion_face_detected_counter",
                "sensor.motion_face_detected_device",
                "sensor.motion_face_detected_camera",
                "sensor.motion_face_detected_ago",
                "sensor.motion_face_percent_mean",
                "sensor.motion_face_detected_percent_mean",
                "input_number.motion_face_detected_percent"
              ],
              "show_header_toggle": false,
              "title": "motion_face_detected_details",
              "type": "entities"
            },
            {
              "entity": "camera.motion_face_detected_picture",
              "type": "picture-entity"
            }
          ],
          "icon": "mdi:face",
          "path": "motion_face_detected_view",
          "title": "FACE DETECTED"
        },
        {
          "badges": [],
          "cards": [
            {
              "entities": [
                "sensor.motion_status_camera_lost_counter"
              ],
              "hours_to_show": 24,
              "refresh_interval": 0,
              "title": "motion_status_camera_lost_counter",
              "type": "history-graph"
            },
            {
              "entities": [
                "sensor.motion_status_camera_found_counter"
              ],
              "hours_to_show": 24,
              "refresh_interval": 0,
              "title": "motion_status_camera_found_counter",
              "type": "history-graph"
            },
            {
              "entities": [],
              "hours_to_show": 24,
              "refresh_interval": 0,
              "title": "motion_status_camera",
              "type": "history-graph"
            },
            {
              "entities": [
                "sensor.motion_end_counter",
                "sensor.motion_annotated_counter",
                "sensor.motion_detected_counter",
                "sensor.motion_detected_entity_counter",
                "sensor.motion_face_counter",
                "sensor.motion_face_detected_counter"
              ],
              "hours_to_show": 24,
              "refresh_interval": 0,
              "title": "motion_counter",
              "type": "history-graph"
            },
            {
              "entities": [
                "sensor.motion_annotated_percent",
                "sensor.motion_detected_percent",
                "sensor.motion_detected_entity_percent",
                "sensor.motion_face_percent",
                "sensor.motion_face_detected_percent"
              ],
              "hours_to_show": 24,
              "refresh_interval": 0,
              "title": "motion_percent",
              "type": "history-graph"
            },
            {
              "entities": [
                "sensor.motion_end_count",
                "sensor.motion_annotated_count",
                "sensor.motion_detected_count",
                "sensor.motion_detected_entity_count",
                "sensor.motion_face_count",
                "sensor.motion_face_detected_count"
              ],
              "hours_to_show": 24,
              "refresh_interval": 0,
              "title": "motion_count",
              "type": "history-graph"
            },
            {
              "entities": [
                "sensor.motion_detected_entity_ago",
                "sensor.motion_detected_entity_ago_mean",
                "sensor.motion_detected_entity_ago_change",
                "sensor.motion_detected_entity_ago_stdev",
                "sensor.motion_detected_entity_ago_stdev_statistics",
                "sensor.motion_detected_entity_ago_stdev_change"
              ],
              "hours_to_show": 24,
              "refresh_interval": 30,
              "title": "motion_detected_entity_ago",
              "type": "history-graph"
            },
            {
              "entities": [
                "sensor.motion_detected_entity_count",
                "sensor.motion_detected_entity_count_mean",
                "sensor.motion_detected_entity_count_stdev",
                "sensor.motion_detected_entity_count_stdev_statistics",
                "sensor.motion_detected_entity_count_change"
              ],
              "hours_to_show": 24,
              "refresh_interval": 30,
              "title": "motion_detected_entity_count",
              "type": "history-graph"
            },
            {
              "entities": [
                "sensor.motion_detected_entity_counter",
                "sensor.motion_detected_entity_counter_mean",
                "sensor.motion_detected_entity_counter_stdev",
                "sensor.motion_detected_entity_counter_stdev_statistics",
                "sensor.motion_detected_entity_counter_change"
              ],
              "hours_to_show": 24,
              "refresh_interval": 30,
              "title": "motion_detected_entity_counter",
              "type": "history-graph"
            },
            {
              "entities": [
                "sensor.motion_detected_entity_percent",
                "sensor.motion_detected_entity_percent_mean",
                "sensor.motion_detected_entity_percent_stdev",
                "sensor.motion_detected_entity_percent_stdev_statistics",
                "sensor.motion_detected_entity_percent_change"
              ],
              "hours_to_show": 24,
              "refresh_interval": 30,
              "title": "motion_detected_entity_percent",
              "type": "history-graph"
            },
            {
              "entities": [
                "sensor.motion_detected_entity_ago"
              ],
              "hours_to_show": 24,
              "refresh_interval": 30,
              "title": "motion_detected_entity_ago_webcams",
              "type": "history-graph"
            },
            {
              "entities": [
                "sensor.motion_detected_entity_ago_mean"
              ],
              "hours_to_show": 24,
              "refresh_interval": 30,
              "title": "motion_detected_entity_ago_mean_webcams",
              "type": "history-graph"
            },
            {
              "entities": [
                "sensor.motion_detected_entity_ago_stdev"
              ],
              "hours_to_show": 24,
              "refresh_interval": 30,
              "title": "motion_detected_entity_ago_stdev_webcams",
              "type": "history-graph"
            },
            {
              "entities": [
                "sensor.motion_detected_entity_ago_change"
              ],
              "hours_to_show": 24,
              "refresh_interval": 30,
              "title": "motion_detected_entity_ago_change_webcams",
              "type": "history-graph"
            },
            {
              "entities": [
                "sensor.motion_detected_entity_percent"
              ],
              "hours_to_show": 24,
              "refresh_interval": 30,
              "title": "motion_detected_entity_percent_webcams",
              "type": "history-graph"
            },
            {
              "entities": [
                "sensor.motion_detected_entity_counter"
              ],
              "hours_to_show": 24,
              "refresh_interval": 30,
              "title": "motion_detected_entity_counter_webcams",
              "type": "history-graph"
            },
            {
              "entities": [
                "sensor.motion_detected_entity_count"
              ],
              "hours_to_show": 24,
              "refresh_interval": 30,
              "title": "motion_detected_entity_count_webcams",
              "type": "history-graph"
            },
            {
              "entities": [
                "sensor.motion_detected_entity_count_stdev"
              ],
              "hours_to_show": 24,
              "refresh_interval": 30,
              "title": "motion_detected_entity_count_stdev_webcams",
              "type": "history-graph"
            },
            {
              "entities": [
                "sensor.motion_detected_entity_count_change"
              ],
              "hours_to_show": 24,
              "refresh_interval": 30,
              "title": "motion_detected_entity_count_change_webcams",
              "type": "history-graph"
            }
          ],
          "icon": "mdi:file-chart",
          "path": "motion_graphs_view",
          "title": "GRAPHS"
        },
        {
          "badges": [],
          "cards": [],
          "icon": "mdi:cctv",
          "path": "motion_live",
          "title": "LIVE"
        },
        {
          "badges": [],
          "cards": [
            {
              "entities": [
                {
                  "icon": "mdi:source-repository",
                  "type": "weblink",
                  "url": "https://github.com/dcmartin/horizon.dcmartin.com/blob/master/README.md"
                },
                {
                  "icon": "mdi:link",
                  "type": "weblink",
                  "url": "http://horizon-vm.local:3092"
                },
                {
                  "icon": "mdi:link",
                  "type": "weblink",
                  "url": "http://horizon.dcmartin.com:3092"
                }
              ],
              "show_header_toggle": false,
              "title": "info_frontend",
              "type": "entities"
            },
            {
              "entities": [
                {
                  "icon": "mdi:glasses",
                  "type": "weblink",
                  "url": "https://github.com/dcmartin/open-horizon/blob/master/sdr2msghub/README.md"
                }
              ],
              "show_header_toggle": false,
              "title": "info_sdr2msghub",
              "type": "entities"
            },
            {
              "entities": [
                {
                  "icon": "mdi:percent",
                  "type": "weblink",
                  "url": "https://github.com/dcmartin/open-horizon/blob/master/cpu/README.md"
                },
                {
                  "icon": "mdi:wan",
                  "type": "weblink",
                  "url": "https://github.com/dcmartin/open-horizon/blob/master/wan/README.md"
                },
                {
                  "icon": "mdi:eye",
                  "type": "weblink",
                  "url": "https://github.com/dcmartin/open-horizon/blob/master/yolo/README.md"
                },
                {
                  "icon": "mdi:glasses",
                  "type": "weblink",
                  "url": "https://github.com/dcmartin/open-horizon/blob/master/yolo2msghub/README.md"
                }
              ],
              "show_header_toggle": false,
              "title": "info_yolo2msghub",
              "type": "entities"
            },
            {
              "entities": [
                {
                  "icon": "mdi:motion-sensor",
                  "type": "weblink",
                  "url": "https://github.com/dcmartin/hassio-addons/blob/master/motion/README.md"
                },
                {
                  "icon": "mdi:comment-eye-outline",
                  "type": "weblink",
                  "url": "https://github.com/dcmartin/open-horizon/blob/master/yolo4motion/README.md"
                }
              ],
              "show_header_toggle": false,
              "title": "info_motion",
              "type": "entities"
            }
          ],
          "icon": "mdi:information",
          "path": "info_view",
          "title": "INFO"
        }
      ]
    }
  },
  "key": "lovelace",
  "version": 1
}
