{
  "data": {
    "config": {
      "title": "Motion Ã👁 - Vehicle (🚗)",
      "views": [
        {
          "title": "Vehicle",
          "path": "vehicle",
          "icon": "mdi:car",
          "badges": [],
          "cards": [
            {
              "cards": [
                {
                  "type": "picture-elements",
                  "camera_image": "camera.motion_detected_vehicle",
                  "elements": [
                    {
                      "type": "state-label",
                      "entity": "sensor.motion_vehicle_activity_level",
                      "prefix": "",
                      "style": {
                        "top": "10%",
                        "left": "15%",
                        "font-size": "150%",
                        "color": "gold"
                      }
                    },
                    {
                      "type": "state-label",
                      "prefix": "Ago: ",
                      "entity": "sensor.motion_detected_vehicle_ago_relative",
                      "style": {
                        "top": "10%",
                        "left": "80%",
                        "font-size": "150%",
                        "color": "gold"
                      }
                    },
                    {
                      "type": "conditional",
                      "conditions": [
                        {
                          "entity": "sensor.motion_detected_vehicle_where",
                          "state_not": "Pending"
                        }
                      ],
                      "elements": [
                        {
                          "type": "image",
                          "camera_image": "camera.motion_detected_vehicle_animated",
                          "style": {
                            "position": null,
                            "opacity": 0.4,
                            "top": "50%",
                            "left": "50%",
                            "width": "100%",
                            "height": "100%"
                          }
                        },
                        {
                          "type": "state-label",
                          "entity": "sensor.motion_detected_vehicle_where",
                          "prefix": "Vehicle at ",
                          "style": {
                            "top": "75%",
                            "left": "50%",
                            "font-size": "200%",
                            "color": "gold"
                          }
                        },
                        {
                          "type": "state-label",
                          "entity": "sensor.motion_detected_vehicle_when",
                          "style": {
                            "top": "90%",
                            "left": "50%",
                            "font-size": "100%",
                            "color": "gold"
                          }
                        },
                        {
                          "type": "state-label",
                          "entity": "sensor.motion_vehicle_activity_metrics",
                          "prefix": "",
                          "style": {
                            "top": "95%",
                            "left": "50%",
                            "font-size": "80%",
                            "color": "gold"
                          }
                        }
                      ]
                    },
                    {
                      "type": "conditional",
                      "conditions": [
                        {
                          "entity": "sensor.motion_detected_vehicle_where",
                          "state": "Pending"
                        }
                      ],
                      "elements": [
                        {
                          "type": "image",
                          "camera_image": "camera.motion_nosignal_animated",
                          "style": {
                            "top": "50%",
                            "left": "50%",
                            "width": "100%",
                            "height": "100%"
                          }
                        },
                        {
                          "type": "state-label",
                          "entity": "sensor.motion_detected_vehicle_when",
                          "prefix": "Vehicle: ",
                          "style": {
                            "top": "50%",
                            "left": "50%",
                            "font-size": "200%",
                            "color": "gold"
                          }
                        }
                      ]
                    }
                  ]
                },
                {
                  "cards": [
                    {
                      "type": "glance",
                      "entities": [
                        {
                          "name": "Activity",
                          "entity": "sensor.motion_vehicle_activity_level"
                        },
                        {
                          "name": "Where",
                          "icon": "mdi:map-marker",
                          "entity": "sensor.motion_detected_vehicle_where"
                        },
                        {
                          "name": "Ago",
                          "icon": "mdi:av-timer",
                          "entity": "sensor.motion_detected_vehicle_ago_relative"
                        },
                        {
                          "name": "Tune",
                          "icon": "mdi:tune",
                          "entity": "binary_sensor.motion_detected_vehicle_threshold_tune"
                        },
                        {
                          "name": "Confidence",
                          "icon": "mdi:beta",
                          "entity": "sensor.motion_detected_vehicle_confidence"
                        }
                      ],
                      "show_icon": true,
                      "show_state": true,
                      "show_name": true
                    },
                    {
                      "entities": [
                        {
                          "name": "Status",
                          "entity": "sensor.motion_detected_vehicle_status"
                        },
                        {
                          "name": "When",
                          "entity": "sensor.motion_detected_vehicle_when"
                        },
                        {
                          "name": "Camera",
                          "entity": "sensor.motion_detected_vehicle_camera"
                        },
                        {
                          "name": "Threshold",
                          "entity": "sensor.motion_detected_vehicle_threshold"
                        },
                        {
                          "entity": "sensor.motion_detected_vehicle_counter_today"
                        },
                        {
                          "entity": "sensor.motion_detected_vehicle_time_today"
                        },
                        {
                          "entity": "binary_sensor.motion_vehicle_alpr"
                        },
                        {
                          "entity": "sensor.motion_alpr_detected_threshold"
                        }
                      ],
                      "title": "VEHICLE",
                      "type": "entities"
                    },
                    {
                      "title": "Vehicle confidence (β) (24h)",
                      "hours_to_show": 24,
                      "refresh_interval": 30,
                      "type": "history-graph",
                      "entities": [
                        {
                          "entity": "sensor.motion_detected_vehicle_confidence"
                        },
                        {
                          "entity": "sensor.motion_detected_vehicle_threshold"
                        },
                        {
                          "entity": "sensor.motion_detected_vehicle_confidence_mean"
                        },
                        {
                          "entity": "sensor.motion_detected_vehicle_confidence_confirmed_mean"
                        }
                      ]
                    }
                  ],
                  "type": "vertical-stack"
                }
              ],
              "type": "vertical-stack"
            },
            {
              "cards": [
                {
                  "detail": 2,
                  "entity": "sensor.motion_detected_vehicle_count",
                  "graph": "line",
                  "hours_to_show": 24,
                  "name": "Last vehicle count (Σ) (24h)",
                  "type": "sensor"
                },
                {
                  "entities": [
                    {
                      "entity": "sensor.motion_detected_vehicle_count_mean"
                    },
                    {
                      "entity": "sensor.motion_detected_vehicle_count_stdev"
                    },
                    {
                      "entity": "sensor.motion_detected_vehicle_count_stdev_mean"
                    },
                    {
                      "entity": "sensor.motion_detected_vehicle_count_stdev_stdev"
                    },
                    {
                      "entity": "sensor.motion_detected_vehicle_count_stdev_change"
                    },
                    {
                      "entity": "sensor.motion_detected_vehicle_count_change"
                    },
                    {
                      "entity": "sensor.motion_detected_vehicle_count_change_mean"
                    },
                    {
                      "entity": "sensor.motion_detected_vehicle_count_change_stdev"
                    },
                    {
                      "entity": "sensor.motion_detected_vehicle_count_change_change"
                    }
                  ],
                  "hours_to_show": 24,
                  "refresh_interval": 30,
                  "title": "Vehicle count (Σ) (24h)",
                  "type": "history-graph"
                },
                {
                  "entities": [
                    {
                      "entity": "sensor.motion_detected_vehicle_counts"
                    },
                    {
                      "entity": "sensor.motion_detected_vehicle_counts_24h_mean"
                    },
                    {
                      "entity": "sensor.motion_detected_vehicle_counts_1m_mean"
                    },
                    {
                      "entity": "sensor.motion_detected_vehicle_counts_5m_mean"
                    },
                    {
                      "entity": "sensor.motion_detected_vehicle_counts_15m_mean"
                    },
                    {
                      "entity": "sensor.motion_detected_vehicle_counts_30m_mean"
                    },
                    {
                      "entity": "sensor.motion_detected_vehicle_counts_1m_delta"
                    },
                    {
                      "entity": "sensor.motion_detected_vehicle_counts_5m_delta"
                    },
                    {
                      "entity": "sensor.motion_detected_vehicle_counts_15m_delta"
                    },
                    {
                      "entity": "sensor.motion_detected_vehicle_counts_30m_delta"
                    }
                  ],
                  "hours_to_show": 24,
                  "refresh_interval": 30,
                  "title": "Vehicle count (∀Σ) (24h)",
                  "type": "history-graph"
                }
              ],
              "type": "vertical-stack"
            },
            {
              "cards": [
                {
                  "detail": 2,
                  "entity": "sensor.motion_detected_vehicle_ago",
                  "graph": "line",
                  "hours_to_show": 24,
                  "name": "Last vehicle ago (⧖) (24h)",
                  "type": "sensor"
                },
                {
                  "entities": [
                    {
                      "entity": "sensor.motion_detected_vehicle_ago"
                    },
                    {
                      "entity": "sensor.motion_detected_vehicle_ago_mean"
                    },
                    {
                      "entity": "sensor.motion_detected_vehicle_ago_1m_mean"
                    },
                    {
                      "entity": "sensor.motion_detected_vehicle_ago_5m_mean"
                    },
                    {
                      "entity": "sensor.motion_detected_vehicle_ago_15m_mean"
                    },
                    {
                      "entity": "sensor.motion_detected_vehicle_ago_30m_mean"
                    },
                    {
                      "entity": "sensor.motion_detected_vehicle_ago_stdev"
                    },
                    {
                      "entity": "sensor.motion_detected_vehicle_ago_stdev_mean"
                    },
                    {
                      "entity": "sensor.motion_detected_vehicle_ago_stdev_stdev"
                    },
                    {
                      "entity": "sensor.motion_detected_vehicle_ago_stdev_change"
                    },
                    {
                      "entity": "sensor.motion_detected_vehicle_ago_change"
                    },
                    {
                      "entity": "sensor.motion_detected_vehicle_ago_change_mean"
                    },
                    {
                      "entity": "sensor.motion_detected_vehicle_ago_change_stdev"
                    },
                    {
                      "entity": "sensor.motion_detected_vehicle_ago_change_change"
                    }
                  ],
                  "hours_to_show": 24,
                  "refresh_interval": 30,
                  "title": "Vehicle ago (⧖) (24h)",
                  "type": "history-graph"
                },
                {
                  "entities": [
                    {
                      "entity": "sensor.motion_vehicle_today_nominal_ratio"
                    },
                    {
                      "entity": "sensor.motion_vehicle_today_low_ratio"
                    },
                    {
                      "entity": "sensor.motion_vehicle_today_high_ratio"
                    },
                    {
                      "entity": "sensor.motion_vehicle_today_increasing_ratio"
                    },
                    {
                      "entity": "sensor.motion_vehicle_today_decreasing_ratio"
                    }
                  ],
                  "hours_to_show": 24,
                  "refresh_interval": 30,
                  "title": "Vehicle activity level (24h)",
                  "type": "history-graph"
                },
                {
                  "entities": [
                    {
                      "entity": "sensor.motion_vehicle_weeks_nominal_ratio"
                    },
                    {
                      "entity": "sensor.motion_vehicle_weeks_low_ratio"
                    },
                    {
                      "entity": "sensor.motion_vehicle_weeks_high_ratio"
                    },
                    {
                      "entity": "sensor.motion_vehicle_weeks_increasing_ratio"
                    },
                    {
                      "entity": "sensor.motion_vehicle_weeks_decreasing_ratio"
                    }
                  ],
                  "hours_to_show": 24,
                  "refresh_interval": 300,
                  "title": "Vehicle activity level (1w)",
                  "type": "history-graph"
                }
              ],
              "type": "vertical-stack"
            },
            {
              "entities": [
                "sensor.motion_detected_vehicle_ago_mean"
              ],
              "hours_to_show": 24,
              "refresh_interval": 30,
              "title": "Vehicle ago mean (⧖μ) (24h)",
              "type": "history-graph"
            },
            {
              "entities": [
                "sensor.motion_detected_vehicle_count_mean"
              ],
              "hours_to_show": 24,
              "refresh_interval": 30,
              "title": "Vehicle count mean (Σμ) (24h)",
              "type": "history-graph"
            }
          ]
        }
      ]
    }
  },
  "key": "lovelace",
  "version": 1
}
