{
  "version": 1,
  "key": "lovelace_resources",
  "data": {
    "items": [
      {
        "url": "/local/chart-color.js",
        "type": "module",
        "id": "chart-color-js"
      }
    ]
  }
}
