{
  "data": {
    "items": [
      {
        "icon": "mdi:account-supervisor",
        "id": "lovelace_developer",
        "mode": "storage",
        "require_admin": true,
        "show_in_sidebar": true,
        "title": "Administrators",
        "url_path": "lovelace-developer"
      }
    ]
  },
  "key": "lovelace_dashboards",
  "version": 1
}
