{
  "version": 1,
  "minor_version": 1,
  "key": "lovelace.notify_unavailable",
  "data": {
    "config": {
      "icon": "mdi:home-minus",
      "title": "${MOTION_APP} at ${MOTION_SITE}: Unavailable",
      "views": [
        {
          "title": "UNAVAILABLE",
          "path": "all",
          "subview": "true",
          "icon": "mdi:home-minus",
          "type": "sidebar",
          "badges": [],
          "cards": [
            {
              "type": "horizontal-stack",
              "view_layout": {
                "position": "sidebar"
              },
              "cards": [
                {
                  "type": "button",
                  "name": "",
                  "icon": "mdi:view-dashboard",
                  "icon_height": "32px",
                  "tap_action": {
                    "action": "navigate",
                    "navigation_path": "/"
                  }
                },
                {
                  "type": "button",
                  "name": " ",
                  "icon": "mdi:message",
                  "show_state": false,
                  "entity": "binary_sensor.motion_alarm",
                  "icon_height": "32px",
                  "tap_action": {
                    "action": "navigate",
                    "navigation_path": "/lovelace-primary"
                  }
                },
                {
                  "type": "button",
                  "name": "",
                  "icon": "mdi:devices",
                  "icon_height": "32px",
                  "tap_action": {
                    "action": "navigate",
                    "navigation_path": "/notify-devices"
                  }
                },
                {
                  "type": "button",
                  "name": " ",
                  "icon": "mdi:account-supervisor",
                  "icon_height": "32px",
                  "tap_action": {
                    "action": "navigate",
                    "navigation_path": "/lovelace-owner/"
                  }
                },
                {
                  "type": "button",
                  "name": "",
                  "icon": "mdi:home-heart",
                  "icon_height": "32px",
                  "tap_action": {
                    "action": "navigate",
                    "navigation_path": "/notify-system"
                  }
                }
              ]
            },
            {
              "type": "vertical-stack",
              "title": "",
              "view_layout": {
                "position": "main"
              },
              "cards": [
                {
                  "type": "conditional",
                  "conditions": [
                    {
                      "entity": "binary_sensor.motion_alarm_unavailable",
                      "state": "on"
                    }
                  ],
                  "card": {
                    "type": "markdown",
                    "title": "",
                    "entity_id": "binary_sensor.motion_alarm_unavailable",
                    "content": "{{ state_attr(\"binary_sensor.motion_alarm_unavailable\",\"markdown\") }}"
                  }
                },
                {
                  "type": "conditional",
                  "conditions": [
                    {
                      "entity": "binary_sensor.motion_device_class_unavailable",
                      "state": "on"
                    },
                    {
                      "entity": "binary_sensor.motion_alarm_unavailable",
                      "state": "off"
                    }
                  ],
                  "card": {
                    "type": "markdown",
                    "title": "",
                    "entity_id": "binary_sensor.motion_device_class_unavailable",
                    "content": "{{ state_attr(\"binary_sensor.motion_device_class_unavailable\",\"markdown\") }}"
                  }
                },
                {
                  "type": "conditional",
                  "conditions": [
                    {
                      "entity": "binary_sensor.motion_device_class_unavailable",
                      "state": "on"
                    }
                  ],
                  "card": {
                    "type": "horizontal-stack",
                    "cards": [
                      {
                        "type": "conditional",
                        "conditions": [
                          {
                            "entity": "binary_sensor.motion_alarm_unavailable",
                            "state": "on"
                          }
                        ],
                        "card": {
                          "type": "button",
                          "name": " ",
                          "icon": "mdi:bell-sleep",
                          "icon_height": "32px",
                          "tap_action": {
                            "action": "call-service",
                            "service": "automation.trigger",
                            "target": {
                              "entity_id": "automation.motion_device_class_unavailable_dismiss"
                            }
                          }
                        }
                      },
                      {
                        "type": "conditional",
                        "conditions": [
                          {
                            "entity": "automation.motion_device_class_unavailable_approve",
                            "state": "on"
                          },
                          {
                            "entity": "binary_sensor.motion_device_class_unavailable_approve",
                            "state_not": "on"
                          }
                        ],
                        "card": {
                          "type": "button",
                          "name": " ",
                          "icon_height": "32px",
                          "show_state": true,
                          "entity": "sensor.motion_device_class_unavailable_approve",
                          "tap_action": {
                            "action": "call-service",
                            "service": "automation.trigger",
                            "target": {
                              "entity_id": "automation.motion_device_class_unavailable_approve"
                            }
                          }
                        }
                      },
                      {
                        "type": "conditional",
                        "conditions": [
                          {
                            "entity": "automation.motion_device_class_unavailable_deny",
                            "state": "on"
                          },
                          {
                            "entity": "binary_sensor.motion_device_class_unavailable_deny",
                            "state_not": "on"
                          }
                        ],
                        "card": {
                          "type": "button",
                          "name": " ",
                          "icon_height": "32px",
                          "show_state": true,
                          "entity": "sensor.motion_device_class_unavailable_deny",
                          "tap_action": {
                            "action": "call-service",
                            "service": "automation.trigger",
                            "target": {
                              "entity_id": "automation.motion_device_class_unavailable_deny"
                            }
                          }
                        }
                      },
                      {
                        "type": "conditional",
                        "conditions": [
                          {
                            "entity": "automation.motion_device_class_unavailable_help",
                            "state": "on"
                          },
                          {
                            "entity": "binary_sensor.motion_device_class_unavailable_help",
                            "state_not": "on"
                          }
                        ],
                        "card": {
                          "type": "button",
                          "name": " ",
                          "icon_height": "32px",
                          "show_state": true,
                          "entity": "sensor.motion_device_class_unavailable_help",
                          "tap_action": {
                            "action": "call-service",
                            "service": "automation.trigger",
                            "target": {
                              "entity_id": "automation.motion_device_class_unavailable_help"
                            }
                          }
                        }
                      },
                      {
                        "type": "conditional",
                        "conditions": [
                          {
                            "entity": "automation.motion_device_class_unavailable_wait",
                            "state": "on"
                          },
                          {
                            "entity": "binary_sensor.motion_device_class_unavailable_wait",
                            "state_not": "on"
                          }
                        ],
                        "card": {
                          "type": "button",
                          "name": " ",
                          "icon_height": "32px",
                          "show_state": true,
                          "entity": "sensor.motion_device_class_unavailable_wait",
                          "tap_action": {
                            "action": "call-service",
                            "service": "automation.trigger",
                            "target": {
                              "entity_id": "automation.motion_device_class_unavailable_wait"
                            }
                          }
                        }
                      }
                    ]
                  }
                }
              ]
            },
            {
              "type": "conditional",
              "conditions": [
                {
                  "entity": "binary_sensor.motion_device_class_exist",
                  "state": "on"
                },
                {
                  "entity": "binary_sensor.motion_device_class_unavailable_exist",
                  "state_not": "unknown"
                }
              ],
              "card": {
                "title": "Device unavailable",
                "type": "entities",
                "entities": [
                  {
                    "type": "conditional",
                    "conditions": [
                      {
                        "entity": "binary_sensor.motion_device_opening_unavailable",
                        "state_not": "unknown"
                      }
                    ],
                    "row": {
                      "entity": "binary_sensor.motion_device_class_unavailable",
                      "name": "Category(s)",
                      "icon": "mdi:devices",
                      "type": "attribute",
                      "secondary_info": "last-updated",
                      "attribute": "categorys",
                      "tap_action": {
                        "action": "call-service",
                        "service": "automation.trigger",
                        "target": {
                          "entity_id": "automation.motion_device_class_unavailable_notify"
                        }
                      }
                    }
                  },
                  {
                    "type": "conditional",
                    "conditions": [
                      {
                        "entity": "binary_sensor.motion_device_class_unavailable",
                        "state": "on"
                      }
                    ],
                    "row": {
                      "entity": "binary_sensor.motion_device_class_unavailable",
                      "name": "Count",
                      "icon": "mdi:clipboard-text",
                      "type": "attribute",
                      "secondary_info": "last-updated",
                      "attribute": "count"
                    }
                  },
                  {
                    "type": "conditional",
                    "conditions": [
                      {
                        "entity": "binary_sensor.motion_device_battery_unavailable",
                        "state": "on"
                      }
                    ],
                    "row": {
                      "type": "section",
                      "label": "Unavailable"
                    }
                  },
                  {
                    "type": "conditional",
                    "conditions": [
                      {
                        "entity": "binary_sensor.motion_device_battery_unavailable",
                        "state": "on"
                      }
                    ],
                    "row": {
                      "entity": "binary_sensor.motion_device_battery_unavailable",
                      "secondary_info": "last-updated",
                      "type": "attribute",
                      "attribute": "ids",
                      "tap_action": {
                        "action": "call-service",
                        "service": "automation.trigger",
                        "target": {
                          "entity_id": "automation.motion_device_battery_unavailable_notify"
                        }
                      }
                    }
                  },
                  {
                    "type": "conditional",
                    "conditions": [
                      {
                        "entity": "binary_sensor.motion_device_connectivity_unavailable",
                        "state": "on"
                      }
                    ],
                    "row": {
                      "entity": "binary_sensor.motion_device_connectivity_unavailable",
                      "secondary_info": "last-updated",
                      "type": "attribute",
                      "attribute": "ids",
                      "tap_action": {
                        "action": "call-service",
                        "service": "automation.trigger",
                        "target": {
                          "entity_id": "automation.motion_device_connectivity_unavailable_notify"
                        }
                      }
                    }
                  },
                  {
                    "type": "conditional",
                    "conditions": [
                      {
                        "entity": "binary_sensor.motion_device_door_unavailable",
                        "state": "on"
                      }
                    ],
                    "row": {
                      "entity": "binary_sensor.motion_device_door_unavailable",
                      "secondary_info": "last-updated",
                      "type": "attribute",
                      "attribute": "ids",
                      "tap_action": {
                        "action": "call-service",
                        "service": "automation.trigger",
                        "target": {
                          "entity_id": "automation.motion_device_door_unavailable_notify"
                        }
                      }
                    }
                  },
                  {
                    "type": "conditional",
                    "conditions": [
                      {
                        "entity": "binary_sensor.motion_device_energy_unavailable",
                        "state": "on"
                      }
                    ],
                    "row": {
                      "entity": "binary_sensor.motion_device_energy_unavailable",
                      "secondary_info": "last-updated",
                      "type": "attribute",
                      "attribute": "ids",
                      "tap_action": {
                        "action": "call-service",
                        "service": "automation.trigger",
                        "target": {
                          "entity_id": "automation.motion_device_energy_unavailable_notify"
                        }
                      }
                    }
                  },
                  {
                    "type": "conditional",
                    "conditions": [
                      {
                        "entity": "binary_sensor.motion_device_gas_unavailable",
                        "state": "on"
                      }
                    ],
                    "row": {
                      "entity": "binary_sensor.motion_device_gas_unavailable",
                      "secondary_info": "last-updated",
                      "type": "attribute",
                      "attribute": "ids",
                      "tap_action": {
                        "action": "call-service",
                        "service": "automation.trigger",
                        "target": {
                          "entity_id": "automation.motion_device_gas_unavailable_notify"
                        }
                      }
                    }
                  },
                  {
                    "type": "conditional",
                    "conditions": [
                      {
                        "entity": "binary_sensor.motion_device_humidity_unavailable",
                        "state": "on"
                      }
                    ],
                    "row": {
                      "entity": "binary_sensor.motion_device_humidity_unavailable",
                      "secondary_info": "last-updated",
                      "type": "attribute",
                      "attribute": "ids",
                      "tap_action": {
                        "action": "call-service",
                        "service": "automation.trigger",
                        "target": {
                          "entity_id": "automation.motion_device_humidity_unavailable_notify"
                        }
                      }
                    }
                  },
                  {
                    "type": "conditional",
                    "conditions": [
                      {
                        "entity": "binary_sensor.motion_device_illuminance_unavailable",
                        "state": "on"
                      }
                    ],
                    "row": {
                      "entity": "binary_sensor.motion_device_illuminance_unavailable",
                      "secondary_info": "last-updated",
                      "type": "attribute",
                      "attribute": "ids",
                      "tap_action": {
                        "action": "call-service",
                        "service": "automation.trigger",
                        "target": {
                          "entity_id": "automation.motion_device_illuminance_unavailable_notify"
                        }
                      }
                    }
                  },
                  {
                    "type": "conditional",
                    "conditions": [
                      {
                        "entity": "binary_sensor.motion_device_light_unavailable",
                        "state": "on"
                      }
                    ],
                    "row": {
                      "entity": "binary_sensor.motion_device_light_unavailable",
                      "secondary_info": "last-updated",
                      "type": "attribute",
                      "attribute": "ids",
                      "tap_action": {
                        "action": "call-service",
                        "service": "automation.trigger",
                        "target": {
                          "entity_id": "automation.motion_device_light_unavailable_notify"
                        }
                      }
                    }
                  },
                  {
                    "type": "conditional",
                    "conditions": [
                      {
                        "entity": "binary_sensor.motion_device_moisture_unavailable",
                        "state": "on"
                      }
                    ],
                    "row": {
                      "entity": "binary_sensor.motion_device_moisture_unavailable",
                      "secondary_info": "last-updated",
                      "type": "attribute",
                      "attribute": "ids",
                      "tap_action": {
                        "action": "call-service",
                        "service": "automation.trigger",
                        "target": {
                          "entity_id": "automation.motion_device_moisture_unavailable_notify"
                        }
                      }
                    }
                  },
                  {
                    "type": "conditional",
                    "conditions": [
                      {
                        "entity": "binary_sensor.motion_device_motion_unavailable",
                        "state": "on"
                      }
                    ],
                    "row": {
                      "entity": "binary_sensor.motion_device_motion_unavailable",
                      "secondary_info": "last-updated",
                      "type": "attribute",
                      "attribute": "ids",
                      "tap_action": {
                        "action": "call-service",
                        "service": "automation.trigger",
                        "target": {
                          "entity_id": "automation.motion_device_motion_unavailable_notify"
                        }
                      }
                    }
                  },
                  {
                    "type": "conditional",
                    "conditions": [
                      {
                        "entity": "binary_sensor.motion_device_occupancy_unavailable",
                        "state": "on"
                      }
                    ],
                    "row": {
                      "entity": "binary_sensor.motion_device_occupancy_unavailable",
                      "secondary_info": "last-updated",
                      "type": "attribute",
                      "attribute": "ids",
                      "tap_action": {
                        "action": "call-service",
                        "service": "automation.trigger",
                        "target": {
                          "entity_id": "automation.motion_device_occupancy_unavailable_notify"
                        }
                      }
                    }
                  },
                  {
                    "type": "conditional",
                    "conditions": [
                      {
                        "entity": "binary_sensor.motion_device_opening_unavailable",
                        "state": "on"
                      }
                    ],
                    "row": {
                      "entity": "binary_sensor.motion_device_opening_unavailable",
                      "name": "Opening",
                      "icon": "mdi:door",
                      "secondary_info": "last-updated",
                      "type": "attribute",
                      "attribute": "ids",
                      "tap_action": {
                        "action": "call-service",
                        "service": "automation.trigger",
                        "target": {
                          "entity_id": "automation.motion_device_opening_unavailable_notify"
                        }
                      }
                    }
                  },
                  {
                    "type": "conditional",
                    "conditions": [
                      {
                        "entity": "binary_sensor.motion_device_plug_unavailable",
                        "state": "on"
                      }
                    ],
                    "row": {
                      "entity": "binary_sensor.motion_device_plug_unavailable",
                      "secondary_info": "last-updated",
                      "type": "attribute",
                      "attribute": "ids",
                      "tap_action": {
                        "action": "call-service",
                        "service": "automation.trigger",
                        "target": {
                          "entity_id": "automation.motion_device_plug_unavailable_notify"
                        }
                      }
                    }
                  },
                  {
                    "type": "conditional",
                    "conditions": [
                      {
                        "entity": "binary_sensor.motion_device_power_unavailable",
                        "state": "on"
                      }
                    ],
                    "row": {
                      "entity": "binary_sensor.motion_device_power_unavailable",
                      "secondary_info": "last-updated",
                      "type": "attribute",
                      "attribute": "ids",
                      "tap_action": {
                        "action": "call-service",
                        "service": "automation.trigger",
                        "target": {
                          "entity_id": "automation.motion_device_power_unavailable_notify"
                        }
                      }
                    }
                  },
                  {
                    "type": "conditional",
                    "conditions": [
                      {
                        "entity": "binary_sensor.motion_device_presence_unavailable",
                        "state": "on"
                      }
                    ],
                    "row": {
                      "entity": "binary_sensor.motion_device_presence_unavailable",
                      "secondary_info": "last-updated",
                      "type": "attribute",
                      "attribute": "ids",
                      "tap_action": {
                        "action": "call-service",
                        "service": "automation.trigger",
                        "target": {
                          "entity_id": "automation.motion_device_presence_unavailable_notify"
                        }
                      }
                    }
                  },
                  {
                    "type": "conditional",
                    "conditions": [
                      {
                        "entity": "binary_sensor.motion_device_problem_unavailable",
                        "state": "on"
                      }
                    ],
                    "row": {
                      "entity": "binary_sensor.motion_device_problem_unavailable",
                      "secondary_info": "last-updated",
                      "type": "attribute",
                      "attribute": "ids",
                      "tap_action": {
                        "action": "call-service",
                        "service": "automation.trigger",
                        "target": {
                          "entity_id": "automation.motion_device_problem_unavailable_notify"
                        }
                      }
                    }
                  },
                  {
                    "type": "conditional",
                    "conditions": [
                      {
                        "entity": "binary_sensor.motion_device_safety_unavailable",
                        "state": "on"
                      }
                    ],
                    "row": {
                      "entity": "binary_sensor.motion_device_safety_unavailable",
                      "secondary_info": "last-updated",
                      "type": "attribute",
                      "attribute": "ids",
                      "tap_action": {
                        "action": "call-service",
                        "service": "automation.trigger",
                        "target": {
                          "entity_id": "automation.motion_device_safety_unavailable_notify"
                        }
                      }
                    }
                  },
                  {
                    "type": "conditional",
                    "conditions": [
                      {
                        "entity": "binary_sensor.motion_device_smoke_unavailable",
                        "state": "on"
                      }
                    ],
                    "row": {
                      "entity": "binary_sensor.motion_device_smoke_unavailable",
                      "secondary_info": "last-updated",
                      "type": "attribute",
                      "attribute": "ids",
                      "tap_action": {
                        "action": "call-service",
                        "service": "automation.trigger",
                        "target": {
                          "entity_id": "automation.motion_device_smoke_unavailable_notify"
                        }
                      }
                    }
                  },
                  {
                    "type": "conditional",
                    "conditions": [
                      {
                        "entity": "binary_sensor.motion_device_tamper_unavailable",
                        "state": "on"
                      }
                    ],
                    "row": {
                      "entity": "binary_sensor.motion_device_tamper_unavailable",
                      "secondary_info": "last-updated",
                      "type": "attribute",
                      "attribute": "ids",
                      "tap_action": {
                        "action": "call-service",
                        "service": "automation.trigger",
                        "target": {
                          "entity_id": "automation.motion_device_tamper_unavailable_notify"
                        }
                      }
                    }
                  },
                  {
                    "type": "conditional",
                    "conditions": [
                      {
                        "entity": "binary_sensor.motion_device_update_unavailable",
                        "state": "on"
                      }
                    ],
                    "row": {
                      "entity": "binary_sensor.motion_device_update_unavailable",
                      "secondary_info": "last-updated",
                      "type": "attribute",
                      "attribute": "ids",
                      "tap_action": {
                        "action": "call-service",
                        "service": "automation.trigger",
                        "target": {
                          "entity_id": "automation.motion_device_update_unavailable_notify"
                        }
                      }
                    }
                  },
                  {
                    "type": "conditional",
                    "conditions": [
                      {
                        "entity": "binary_sensor.motion_device_vibration_unavailable",
                        "state": "on"
                      }
                    ],
                    "row": {
                      "entity": "binary_sensor.motion_device_vibration_unavailable",
                      "name": "Vibration",
                      "icon": "mdi:vibrate",
                      "type": "attribute",
                      "secondary_info": "last-updated",
                      "attribute": "ids",
                      "tap_action": {
                        "action": "call-service",
                        "service": "automation.trigger",
                        "target": {
                          "entity_id": "automation.motion_device_vibration_unavailable_notify"
                        }
                      }
                    }
                  },
                  {
                    "type": "conditional",
                    "conditions": [
                      {
                        "entity": "binary_sensor.motion_device_voltage_unavailable",
                        "state": "on"
                      }
                    ],
                    "row": {
                      "entity": "binary_sensor.motion_device_voltage_unavailable",
                      "secondary_info": "last-updated",
                      "type": "attribute",
                      "attribute": "ids",
                      "tap_action": {
                        "action": "call-service",
                        "service": "automation.trigger",
                        "target": {
                          "entity_id": "automation.motion_device_voltage_unavailable_notify"
                        }
                      }
                    }
                  },
                  {
                    "type": "conditional",
                    "conditions": [
                      {
                        "entity": "binary_sensor.motion_device_wind_speed_unavailable",
                        "state": "on"
                      }
                    ],
                    "row": {
                      "entity": "binary_sensor.motion_device_wind_speed_unavailable",
                      "secondary_info": "last-updated",
                      "type": "attribute",
                      "attribute": "ids",
                      "tap_action": {
                        "action": "call-service",
                        "service": "automation.trigger",
                        "target": {
                          "entity_id": "automation.motion_device_wind_speed_unavailable_notify"
                        }
                      }
                    }
                  },
                  {
                    "type": "conditional",
                    "conditions": [
                      {
                        "entity": "binary_sensor.motion_device_precipitation_unavailable",
                        "state": "on"
                      }
                    ],
                    "row": {
                      "entity": "binary_sensor.motion_device_precipitation_unavailable",
                      "secondary_info": "last-updated",
                      "type": "attribute",
                      "attribute": "ids",
                      "tap_action": {
                        "action": "call-service",
                        "service": "automation.trigger",
                        "target": {
                          "entity_id": "automation.motion_device_precipitation_unavailable_notify"
                        }
                      }
                    }
                  }
                ]
              },
              "view_layout": {
                "position": "sidebar"
              }
            },
            {
              "chart_type": "line",
              "period": "hour",
              "days_to_show": 7,
              "type": "statistics-graph",
              "title": "Device unavailable alarms",
              "entities": [
                {
                  "name": "Events",
                  "entity": "sensor.motion_alarm_unavailable_measurement"
                }
              ],
              "stat_types": [
                "mean",
                "max"
              ],
              "view_layout": {
                "position": "sidebar"
              }
            }
          ]
        }
      ]
    }
  }
}
