{
  "version": 1,
  "minor_version": 1,
  "key": "lovelace.notify_activity",
  "data": {
    "config": {
      "icon": "mdi:motion-sensor",
      "title": "${MOTION_APP} at ${MOTION_SITE}: Activity",
      "views": [
        {
          "title": "ACTIVITY",
          "path": "all",
          "icon": "mdi:motion-sensor",
          "badges": [],
          "type": "sidebar",
          "cards": [
            {
              "type": "horizontal-stack",
              "view_layout": {
                "position": "sidebar"
              },
              "cards": [
                {
                  "type": "button",
                  "name": "",
                  "icon": "mdi:view-dashboard",
                  "icon_height": "32px",
                  "tap_action": {
                    "action": "navigate",
                    "navigation_path": "/"
                  }
                },
                {
                  "type": "button",
                  "name": " ",
                  "icon": "mdi:message",
                  "show_state": false,
                  "entity": "binary_sensor.motion_alarm",
                  "icon_height": "32px",
                  "tap_action": {
                    "action": "navigate",
                    "navigation_path": "/lovelace-primary"
                  }
                },
                {
                  "type": "button",
                  "name": "",
                  "icon": "mdi:devices",
                  "icon_height": "32px",
                  "tap_action": {
                    "action": "navigate",
                    "navigation_path": "/notify-devices"
                  }
                },
                {
                  "type": "button",
                  "name": " ",
                  "icon": "mdi:account-supervisor",
                  "icon_height": "32px",
                  "tap_action": {
                    "action": "navigate",
                    "navigation_path": "/lovelace-owner/"
                  }
                },
                {
                  "type": "button",
                  "name": "",
                  "icon": "mdi:home-heart",
                  "icon_height": "32px",
                  "tap_action": {
                    "action": "navigate",
                    "navigation_path": "/notify-system"
                  }
                },
                {
                  "type": "button",
                  "name": "",
                  "icon": "mdi:alert-minus-outline",
                  "icon_height": "32px",
                  "tap_action": {
                    "action": "navigate",
                    "navigation_path": "/notify-missing"
                  }
                },
                {
                  "type": "button",
                  "name": "",
                  "icon": "mdi:home-minus",
                  "icon_height": "32px",
                  "tap_action": {
                    "action": "navigate",
                    "navigation_path": "/notify-unavailable"
                  }
                },
                {
                  "type": "button",
                  "name": "",
                  "icon": "mdi:home-plus",
                  "icon_height": "32px",
                  "tap_action": {
                    "action": "navigate",
                    "navigation_path": "/notify-found"
                  }
                }
              ]
            },
            {
              "type": "vertical-stack",
              "title": "",
              "view_layout": {
                "position": "main"
              },
              "cards": [
                {
                  "type": "conditional",
                  "conditions": [
                    {
                      "entity": "binary_sensor.motion_alarm_activity",
                      "state": "on"
                    }
                  ],
                  "card": {
                    "type": "markdown",
                    "title": "",
                    "entity_id": "binary_sensor.motion_alarm_activity",
                    "content": "{{ state_attr(\"binary_sensor.motion_alarm_activity\",\"markdown\") }}"
                  }
                },
                {
                  "type": "conditional",
                  "conditions": [
                    {
                      "entity": "binary_sensor.motion_device_class_activity",
                      "state": "on"
                    },
                    {
                      "entity": "binary_sensor.motion_alarm_activity",
                      "state": "off"
                    }
                  ],
                  "card": {
                    "type": "markdown",
                    "title": "",
                    "entity_id": "binary_sensor.motion_device_class_activity",
                    "content": "{{ state_attr(\"binary_sensor.motion_device_class_activity\",\"markdown\") }}"
                  }
                },
                {
                  "type": "conditional",
                  "conditions": [
                    {
                      "entity": "binary_sensor.motion_device_class_activity",
                      "state": "on"
                    }
                  ],
                  "card": {
                    "type": "horizontal-stack",
                    "cards": [
                      {
                        "type": "conditional",
                        "conditions": [
                          {
                            "entity": "binary_sensor.motion_alarm_activity",
                            "state": "on"
                          }
                        ],
                        "card": {
                          "type": "button",
                          "name": " ",
                          "icon": "mdi:bell-sleep",
                          "icon_height": "32px",
                          "tap_action": {
                            "action": "call-service",
                            "service": "automation.trigger",
                            "target": {
                              "entity_id": "automation.motion_device_class_activity_dismiss"
                            }
                          }
                        }
                      },
                      {
                        "type": "conditional",
                        "conditions": [
                          {
                            "entity": "automation.motion_device_class_activity_approve",
                            "state": "on"
                          },
                          {
                            "entity": "binary_sensor.motion_device_class_activity_approve",
                            "state_not": "on"
                          }
                        ],
                        "card": {
                          "type": "button",
                          "name": " ",
                          "icon_height": "32px",
                          "show_state": true,
                          "entity": "sensor.motion_device_class_activity_approve",
                          "tap_action": {
                            "action": "call-service",
                            "service": "automation.trigger",
                            "target": {
                              "entity_id": "automation.motion_device_class_activity_approve"
                            }
                          }
                        }
                      },
                      {
                        "type": "conditional",
                        "conditions": [
                          {
                            "entity": "automation.motion_device_class_activity_deny",
                            "state": "on"
                          },
                          {
                            "entity": "binary_sensor.motion_device_class_activity_deny",
                            "state_not": "on"
                          }
                        ],
                        "card": {
                          "type": "button",
                          "name": " ",
                          "icon_height": "32px",
                          "show_state": true,
                          "entity": "sensor.motion_device_class_activity_deny",
                          "tap_action": {
                            "action": "call-service",
                            "service": "automation.trigger",
                            "target": {
                              "entity_id": "automation.motion_device_class_activity_deny"
                            }
                          }
                        }
                      },
                      {
                        "type": "conditional",
                        "conditions": [
                          {
                            "entity": "automation.motion_device_class_activity_help",
                            "state": "on"
                          },
                          {
                            "entity": "binary_sensor.motion_device_class_activity_help",
                            "state_not": "on"
                          }
                        ],
                        "card": {
                          "type": "button",
                          "name": " ",
                          "icon_height": "32px",
                          "show_state": true,
                          "entity": "sensor.motion_device_class_activity_help",
                          "tap_action": {
                            "action": "call-service",
                            "service": "automation.trigger",
                            "target": {
                              "entity_id": "automation.motion_device_class_activity_help"
                            }
                          }
                        }
                      },
                      {
                        "type": "conditional",
                        "conditions": [
                          {
                            "entity": "automation.motion_device_class_activity_wait",
                            "state": "on"
                          },
                          {
                            "entity": "binary_sensor.motion_device_class_activity_wait",
                            "state_not": "on"
                          }
                        ],
                        "card": {
                          "type": "button",
                          "name": " ",
                          "icon_height": "32px",
                          "show_state": true,
                          "entity": "sensor.motion_device_class_activity_wait",
                          "tap_action": {
                            "action": "call-service",
                            "service": "automation.trigger",
                            "target": {
                              "entity_id": "automation.motion_device_class_activity_wait"
                            }
                          }
                        }
                      }
                    ]
                  }
                }
              ]
            },
            {
              "type": "conditional",
              "view_layout": {
                "position": "sidebar"
              },
              "conditions": [
                {
                  "entity": "binary_sensor.motion_device_class",
                  "state": "on"
                },
                {
                  "entity": "binary_sensor.motion_device_class_activity_exist",
                  "state_not": "unknown"
                }
              ],
              "card": {
                "title": "Device activity",
                "type": "entities",
                "entities": [
                  {
                    "type": "conditional",
                    "conditions": [
                      {
                        "entity": "binary_sensor.motion_device_class_activity",
                        "state_not": "unknown"
                      }
                    ],
                    "row": {
                      "entity": "binary_sensor.motion_device_class_activity",
                      "name": "Device(s)",
                      "icon": "mdi:devices",
                      "type": "attribute",
                      "secondary_info": "last-updated",
                      "attribute": "ids",
                      "tap_action": {
                        "action": "call-service",
                        "service": "automation.trigger",
                        "target": {
                          "entity_id": "automation.motion_device_class_activity_notify"
                        }
                      }
                    }
                  },
                  {
                    "type": "conditional",
                    "conditions": [
                      {
                        "entity": "binary_sensor.motion_device_class_activity",
                        "state": "on"
                      }
                    ],
                    "row": {
                      "entity": "binary_sensor.motion_device_class_activity",
                      "name": "Details",
                      "icon": "mdi:clipboard-text",
                      "type": "attribute",
                      "secondary_info": "last-updated",
                      "attribute": "details"
                    }
                  },
                  {
                    "type": "section",
                    "label": "Settings"
                  },
                  {
                    "entity": "binary_sensor.motion_device_class_activity",
                    "name": "ON",
                    "icon": "mdi:thumb-up",
                    "type": "attribute",
                    "attribute": "good"
                  },
                  {
                    "entity": "binary_sensor.motion_device_class_activity",
                    "name": "OFF",
                    "icon": "mdi:thumb-down",
                    "type": "attribute",
                    "attribute": "bad"
                  },
                  {
                    "type": "conditional",
                    "conditions": [
                      {
                        "entity": "binary_sensor.motion_device_battery_activity",
                        "state": "on"
                      }
                    ],
                    "row": {
                      "type": "section",
                      "label": "Activity"
                    }
                  },
                  {
                    "type": "conditional",
                    "conditions": [
                      {
                        "entity": "binary_sensor.motion_device_battery_activity",
                        "state": "on"
                      }
                    ],
                    "row": {
                      "entity": "binary_sensor.motion_device_battery_activity",
                      "secondary_info": "last-updated",
                      "type": "attribute",
                      "attribute": "ids",
                      "tap_action": {
                        "action": "call-service",
                        "service": "automation.trigger",
                        "target": {
                          "entity_id": "automation.motion_device_battery_activity_notify"
                        }
                      }
                    }
                  },
                  {
                    "type": "conditional",
                    "conditions": [
                      {
                        "entity": "binary_sensor.motion_device_connectivity_activity",
                        "state": "on"
                      }
                    ],
                    "row": {
                      "entity": "binary_sensor.motion_device_connectivity_activity",
                      "secondary_info": "last-updated",
                      "type": "attribute",
                      "attribute": "ids",
                      "tap_action": {
                        "action": "call-service",
                        "service": "automation.trigger",
                        "target": {
                          "entity_id": "automation.motion_device_connectivity_activity_notify"
                        }
                      }
                    }
                  },
                  {
                    "type": "conditional",
                    "conditions": [
                      {
                        "entity": "binary_sensor.motion_device_door_activity",
                        "state": "on"
                      }
                    ],
                    "row": {
                      "entity": "binary_sensor.motion_device_door_activity",
                      "secondary_info": "last-updated",
                      "type": "attribute",
                      "attribute": "ids",
                      "tap_action": {
                        "action": "call-service",
                        "service": "automation.trigger",
                        "target": {
                          "entity_id": "automation.motion_device_door_activity_notify"
                        }
                      }
                    }
                  },
                  {
                    "type": "conditional",
                    "conditions": [
                      {
                        "entity": "binary_sensor.motion_device_energy_activity",
                        "state": "on"
                      }
                    ],
                    "row": {
                      "entity": "binary_sensor.motion_device_energy_activity",
                      "secondary_info": "last-updated",
                      "type": "attribute",
                      "attribute": "ids",
                      "tap_action": {
                        "action": "call-service",
                        "service": "automation.trigger",
                        "target": {
                          "entity_id": "automation.motion_device_energy_activity_notify"
                        }
                      }
                    }
                  },
                  {
                    "type": "conditional",
                    "conditions": [
                      {
                        "entity": "binary_sensor.motion_device_gas_activity",
                        "state": "on"
                      }
                    ],
                    "row": {
                      "entity": "binary_sensor.motion_device_gas_activity",
                      "secondary_info": "last-updated",
                      "type": "attribute",
                      "attribute": "ids",
                      "tap_action": {
                        "action": "call-service",
                        "service": "automation.trigger",
                        "target": {
                          "entity_id": "automation.motion_device_gas_activity_notify"
                        }
                      }
                    }
                  },
                  {
                    "type": "conditional",
                    "conditions": [
                      {
                        "entity": "binary_sensor.motion_device_humidity_activity",
                        "state": "on"
                      }
                    ],
                    "row": {
                      "entity": "binary_sensor.motion_device_humidity_activity",
                      "secondary_info": "last-updated",
                      "type": "attribute",
                      "attribute": "ids",
                      "tap_action": {
                        "action": "call-service",
                        "service": "automation.trigger",
                        "target": {
                          "entity_id": "automation.motion_device_humidity_activity_notify"
                        }
                      }
                    }
                  },
                  {
                    "type": "conditional",
                    "conditions": [
                      {
                        "entity": "binary_sensor.motion_device_illuminance_activity",
                        "state": "on"
                      }
                    ],
                    "row": {
                      "entity": "binary_sensor.motion_device_illuminance_activity",
                      "secondary_info": "last-updated",
                      "type": "attribute",
                      "attribute": "ids",
                      "tap_action": {
                        "action": "call-service",
                        "service": "automation.trigger",
                        "target": {
                          "entity_id": "automation.motion_device_illuminance_activity_notify"
                        }
                      }
                    }
                  },
                  {
                    "type": "conditional",
                    "conditions": [
                      {
                        "entity": "binary_sensor.motion_device_light_activity",
                        "state": "on"
                      }
                    ],
                    "row": {
                      "entity": "binary_sensor.motion_device_light_activity",
                      "secondary_info": "last-updated",
                      "type": "attribute",
                      "attribute": "ids",
                      "tap_action": {
                        "action": "call-service",
                        "service": "automation.trigger",
                        "target": {
                          "entity_id": "automation.motion_device_light_activity_notify"
                        }
                      }
                    }
                  },
                  {
                    "type": "conditional",
                    "conditions": [
                      {
                        "entity": "binary_sensor.motion_device_moisture_activity",
                        "state": "on"
                      }
                    ],
                    "row": {
                      "entity": "binary_sensor.motion_device_moisture_activity",
                      "secondary_info": "last-updated",
                      "type": "attribute",
                      "attribute": "ids",
                      "tap_action": {
                        "action": "call-service",
                        "service": "automation.trigger",
                        "target": {
                          "entity_id": "automation.motion_device_moisture_activity_notify"
                        }
                      }
                    }
                  },
                  {
                    "type": "conditional",
                    "conditions": [
                      {
                        "entity": "binary_sensor.motion_device_motion_activity",
                        "state": "on"
                      }
                    ],
                    "row": {
                      "entity": "binary_sensor.motion_device_motion_activity",
                      "secondary_info": "last-updated",
                      "type": "attribute",
                      "attribute": "ids",
                      "tap_action": {
                        "action": "call-service",
                        "service": "automation.trigger",
                        "target": {
                          "entity_id": "automation.motion_device_motion_activity_notify"
                        }
                      }
                    }
                  },
                  {
                    "type": "conditional",
                    "conditions": [
                      {
                        "entity": "binary_sensor.motion_device_occupancy_activity",
                        "state": "on"
                      }
                    ],
                    "row": {
                      "entity": "binary_sensor.motion_device_occupancy_activity",
                      "secondary_info": "last-updated",
                      "type": "attribute",
                      "attribute": "ids",
                      "tap_action": {
                        "action": "call-service",
                        "service": "automation.trigger",
                        "target": {
                          "entity_id": "automation.motion_device_occupancy_activity_notify"
                        }
                      }
                    }
                  },
                  {
                    "type": "conditional",
                    "conditions": [
                      {
                        "entity": "binary_sensor.motion_device_opening_activity",
                        "state": "on"
                      }
                    ],
                    "row": {
                      "entity": "binary_sensor.motion_device_opening_activity",
                      "name": "Opening",
                      "icon": "mdi:door",
                      "secondary_info": "last-updated",
                      "type": "attribute",
                      "attribute": "ids",
                      "tap_action": {
                        "action": "call-service",
                        "service": "automation.trigger",
                        "target": {
                          "entity_id": "automation.motion_device_opening_activity_notify"
                        }
                      }
                    }
                  },
                  {
                    "type": "conditional",
                    "conditions": [
                      {
                        "entity": "binary_sensor.motion_device_plug_activity",
                        "state": "on"
                      }
                    ],
                    "row": {
                      "entity": "binary_sensor.motion_device_plug_activity",
                      "secondary_info": "last-updated",
                      "type": "attribute",
                      "attribute": "ids",
                      "tap_action": {
                        "action": "call-service",
                        "service": "automation.trigger",
                        "target": {
                          "entity_id": "automation.motion_device_plug_activity_notify"
                        }
                      }
                    }
                  },
                  {
                    "type": "conditional",
                    "conditions": [
                      {
                        "entity": "binary_sensor.motion_device_power_activity",
                        "state": "on"
                      }
                    ],
                    "row": {
                      "entity": "binary_sensor.motion_device_power_activity",
                      "secondary_info": "last-updated",
                      "type": "attribute",
                      "attribute": "ids",
                      "tap_action": {
                        "action": "call-service",
                        "service": "automation.trigger",
                        "target": {
                          "entity_id": "automation.motion_device_power_activity_notify"
                        }
                      }
                    }
                  },
                  {
                    "type": "conditional",
                    "conditions": [
                      {
                        "entity": "binary_sensor.motion_device_presence_activity",
                        "state": "on"
                      }
                    ],
                    "row": {
                      "entity": "binary_sensor.motion_device_presence_activity",
                      "secondary_info": "last-updated",
                      "type": "attribute",
                      "attribute": "ids",
                      "tap_action": {
                        "action": "call-service",
                        "service": "automation.trigger",
                        "target": {
                          "entity_id": "automation.motion_device_presence_activity_notify"
                        }
                      }
                    }
                  },
                  {
                    "type": "conditional",
                    "conditions": [
                      {
                        "entity": "binary_sensor.motion_device_problem_activity",
                        "state": "on"
                      }
                    ],
                    "row": {
                      "entity": "binary_sensor.motion_device_problem_activity",
                      "secondary_info": "last-updated",
                      "type": "attribute",
                      "attribute": "ids",
                      "tap_action": {
                        "action": "call-service",
                        "service": "automation.trigger",
                        "target": {
                          "entity_id": "automation.motion_device_problem_activity_notify"
                        }
                      }
                    }
                  },
                  {
                    "type": "conditional",
                    "conditions": [
                      {
                        "entity": "binary_sensor.motion_device_safety_activity",
                        "state": "on"
                      }
                    ],
                    "row": {
                      "entity": "binary_sensor.motion_device_safety_activity",
                      "secondary_info": "last-updated",
                      "type": "attribute",
                      "attribute": "ids",
                      "tap_action": {
                        "action": "call-service",
                        "service": "automation.trigger",
                        "target": {
                          "entity_id": "automation.motion_device_safety_activity_notify"
                        }
                      }
                    }
                  },
                  {
                    "type": "conditional",
                    "conditions": [
                      {
                        "entity": "binary_sensor.motion_device_smoke_activity",
                        "state": "on"
                      }
                    ],
                    "row": {
                      "entity": "binary_sensor.motion_device_smoke_activity",
                      "secondary_info": "last-updated",
                      "type": "attribute",
                      "attribute": "ids",
                      "tap_action": {
                        "action": "call-service",
                        "service": "automation.trigger",
                        "target": {
                          "entity_id": "automation.motion_device_smoke_activity_notify"
                        }
                      }
                    }
                  },
                  {
                    "type": "conditional",
                    "conditions": [
                      {
                        "entity": "binary_sensor.motion_device_tamper_activity",
                        "state": "on"
                      }
                    ],
                    "row": {
                      "entity": "binary_sensor.motion_device_tamper_activity",
                      "secondary_info": "last-updated",
                      "type": "attribute",
                      "attribute": "ids",
                      "tap_action": {
                        "action": "call-service",
                        "service": "automation.trigger",
                        "target": {
                          "entity_id": "automation.motion_device_tamper_activity_notify"
                        }
                      }
                    }
                  },
                  {
                    "type": "conditional",
                    "conditions": [
                      {
                        "entity": "binary_sensor.motion_device_update_activity",
                        "state": "on"
                      }
                    ],
                    "row": {
                      "entity": "binary_sensor.motion_device_update_activity",
                      "secondary_info": "last-updated",
                      "type": "attribute",
                      "attribute": "ids",
                      "tap_action": {
                        "action": "call-service",
                        "service": "automation.trigger",
                        "target": {
                          "entity_id": "automation.motion_device_update_activity_notify"
                        }
                      }
                    }
                  },
                  {
                    "type": "conditional",
                    "conditions": [
                      {
                        "entity": "binary_sensor.motion_device_vibration_activity",
                        "state": "on"
                      }
                    ],
                    "row": {
                      "entity": "binary_sensor.motion_device_vibration_activity",
                      "name": "Vibration",
                      "icon": "mdi:vibrate",
                      "type": "attribute",
                      "secondary_info": "last-updated",
                      "attribute": "ids",
                      "tap_action": {
                        "action": "call-service",
                        "service": "automation.trigger",
                        "target": {
                          "entity_id": "automation.motion_device_vibration_activity_notify"
                        }
                      }
                    }
                  },
                  {
                    "type": "conditional",
                    "conditions": [
                      {
                        "entity": "binary_sensor.motion_device_voltage_activity",
                        "state": "on"
                      }
                    ],
                    "row": {
                      "entity": "binary_sensor.motion_device_voltage_activity",
                      "secondary_info": "last-updated",
                      "type": "attribute",
                      "attribute": "ids",
                      "tap_action": {
                        "action": "call-service",
                        "service": "automation.trigger",
                        "target": {
                          "entity_id": "automation.motion_device_voltage_activity_notify"
                        }
                      }
                    }
                  }
                ]
              }
            },
            {
              "chart_type": "line",
              "period": "hour",
              "days_to_show": 7,
              "type": "statistics-graph",
              "title": "Device activity alarms",
              "entities": [
                {
                  "name": "Events",
                  "entity": "sensor.motion_alarm_activity_measurement"
                }
              ],
              "stat_types": [
                "mean",
                "max"
              ],
              "view_layout": {
                "position": "sidebar"
              }
            }
          ]
        },
        {
          "visible": [],
          "subview": "true",
          "theme": "Backend-selected",
          "title": "Inactive Day",
          "path": "inactive-day",
          "icon": "mdi:weather-sunny-off",
          "type": "sidebar",
          "badges": [],
          "cards": [
            {
              "type": "horizontal-stack",
              "view_layout": {
                "position": "sidebar"
              },
              "cards": [
                {
                  "type": "button",
                  "name": "",
                  "icon": "mdi:view-dashboard",
                  "icon_height": "32px",
                  "tap_action": {
                    "action": "navigate",
                    "navigation_path": "/"
                  }
                },
                {
                  "type": "button",
                  "name": " ",
                  "icon": "mdi:message",
                  "show_state": false,
                  "entity": "binary_sensor.motion_alarm",
                  "icon_height": "32px",
                  "tap_action": {
                    "action": "navigate",
                    "navigation_path": "/lovelace-primary"
                  }
                },
                {
                  "type": "button",
                  "name": "",
                  "icon": "mdi:motion-sensor",
                  "icon_height": "32px",
                  "tap_action": {
                    "action": "navigate",
                    "navigation_path": "/notify-activity"
                  }
                },
                {
                  "type": "button",
                  "name": "",
                  "icon": "mdi:home-heart",
                  "icon_height": "32px",
                  "tap_action": {
                    "action": "navigate",
                    "navigation_path": "/notify-system"
                  }
                }
              ]
            },
            {
              "type": "statistics-graph",
              "title": "Active (1d)",
              "chart_type": "line",
              "days_to_show": 1,
              "period": "5minute",
              "stat_types": [
                "mean",
                "min",
                "max"
              ],
              "entities": [
                {
                  "name": "15m",
                  "entity": "sensor.motion_person_active_average_15m"
                },
                {
                  "name": "1h",
                  "entity": "sensor.motion_person_active_average_1h"
                },
                {
                  "name": "1d",
                  "entity": "sensor.motion_person_active_average_1d"
                },
                {
                  "name": "1w",
                  "entity": "sensor.motion_person_active_average_1w"
                }
              ]
            },
            {
              "type": "glance",
              "title": "",
              "show_icon": true,
              "show_state": true,
              "show_name": true,
              "view_layout": {
                "position": "sidebar"
              },
              "entities": [
                {
                  "name": "Active",
                  "icon": "mdi:tune-vertical",
                  "entity": "binary_sensor.motion_person_active"
                },
                {
                  "name": "15m",
                  "entity": "binary_sensor.motion_person_active_15m"
                },
                {
                  "name": "1h",
                  "entity": "binary_sensor.motion_person_active_1h"
                },
                {
                  "name": "1d",
                  "entity": "binary_sensor.motion_person_active_1d"
                }
              ]
            }
          ]
        },
        {
          "visible": [],
          "subview": "true",
          "theme": "Backend-selected",
          "title": "Away Night",
          "path": "away-night",
          "icon": "mdi:home-export-outline",
          "type": "sidebar",
          "badges": [],
          "cards": [
            {
              "type": "horizontal-stack",
              "view_layout": {
                "position": "sidebar"
              },
              "cards": [
                {
                  "type": "button",
                  "name": "",
                  "icon": "mdi:view-dashboard",
                  "icon_height": "32px",
                  "tap_action": {
                    "action": "navigate",
                    "navigation_path": "/"
                  }
                },
                {
                  "type": "button",
                  "name": " ",
                  "icon": "mdi:message",
                  "show_state": false,
                  "entity": "binary_sensor.motion_alarm",
                  "icon_height": "32px",
                  "tap_action": {
                    "action": "navigate",
                    "navigation_path": "/lovelace-primary"
                  }
                },
                {
                  "type": "button",
                  "name": "",
                  "icon": "mdi:motion-sensor",
                  "icon_height": "32px",
                  "tap_action": {
                    "action": "navigate",
                    "navigation_path": "/notify-activity"
                  }
                },
                {
                  "type": "button",
                  "name": "",
                  "icon": "mdi:home-heart",
                  "icon_height": "32px",
                  "tap_action": {
                    "action": "navigate",
                    "navigation_path": "/notify-system"
                  }
                }
              ]
            },
            {
              "type": "horizontal-stack",
              "cards": [
                {
                  "title": "Activity (1h)",
                  "type": "map",
                  "default_zoom": 19,
                  "hours_to_show": 1,
                  "entities": [
                    {
                      "entity": "sensor.motion_person_smartphone"
                    },
                    {
                      "entity": "sensor.motion_person_detected"
                    },
                    {
                      "entity": "sensor.motion_person_occupancy"
                    },
                    {
                      "entity": "zone.home"
                    }
                  ]
                },
                {
                  "title": "Location (8h)",
                  "type": "map",
                  "default_zoom": 18,
                  "hours_to_show": 8,
                  "entities": [
                    {
                      "entity": "zone.home"
                    },
                    {
                      "entity": "sensor.motion_person_smartphone"
                    }
                  ]
                }
              ]
            }
          ]
        },
        {
          "visible": [],
          "subview": "true",
          "theme": "Backend-selected",
          "title": "Wakeup",
          "path": "wakeup",
          "icon": "mdi:bed-empty",
          "type": "sidebar",
          "badges": [],
          "cards": [
            {
              "type": "horizontal-stack",
              "view_layout": {
                "position": "sidebar"
              },
              "cards": [
                {
                  "type": "button",
                  "name": "",
                  "icon": "mdi:view-dashboard",
                  "icon_height": "32px",
                  "tap_action": {
                    "action": "navigate",
                    "navigation_path": "/"
                  }
                },
                {
                  "type": "button",
                  "name": " ",
                  "icon": "mdi:message",
                  "show_state": false,
                  "entity": "binary_sensor.motion_alarm",
                  "icon_height": "32px",
                  "tap_action": {
                    "action": "navigate",
                    "navigation_path": "/lovelace-primary"
                  }
                },
                {
                  "type": "button",
                  "name": "",
                  "icon": "mdi:motion-sensor",
                  "icon_height": "32px",
                  "tap_action": {
                    "action": "navigate",
                    "navigation_path": "/notify-activity"
                  }
                },
                {
                  "type": "button",
                  "name": "",
                  "icon": "mdi:home-heart",
                  "icon_height": "32px",
                  "tap_action": {
                    "action": "navigate",
                    "navigation_path": "/notify-system"
                  }
                }
              ]
            },
            {
              "type": "entities",
              "title": "Schedule",
              "view_layout": {
                "position": "sidebar"
              },
              "entities": [
                {
                  "entity": "input_datetime.motion_schedule_breakfast_begin"
                },
                {
                  "entity": "input_datetime.motion_schedule_breakfast_end"
                },
                {
                  "entity": "input_datetime.motion_schedule_lunch_begin"
                },
                {
                  "entity": "input_datetime.motion_schedule_lunch_end"
                },
                {
                  "entity": "input_datetime.motion_schedule_dinner_begin"
                },
                {
                  "entity": "input_datetime.motion_schedule_dinner_end"
                },
                {
                  "entity": "input_datetime.motion_schedule_away_begin"
                },
                {
                  "entity": "input_datetime.motion_schedule_away_end"
                }
              ]
            },
            {
              "type": "horizontal-stack",
              "cards": [
                {
                  "title": "Person Day",
                  "show_header_toggle": false,
                  "state_color": true,
                  "type": "entities",
                  "entities": [
                    {
                      "entity": "binary_sensor.motion_person_day"
                    },
                    {
                      "entity": "sensor.motion_person_day"
                    },
                    {
                      "name": "Detection",
                      "entity": "automation.motion_schedule_wakeup_detected"
                    },
                    {
                      "type": "divider"
                    },
                    {
                      "name": "Begin",
                      "entity": "sensor.motion_person_day",
                      "icon": "mdi:clock",
                      "type": "attribute",
                      "attribute": "begin"
                    },
                    {
                      "name": "End",
                      "entity": "sensor.motion_person_day",
                      "icon": "mdi:clock",
                      "type": "attribute",
                      "attribute": "end"
                    },
                    {
                      "name": "Count",
                      "entity": "sensor.motion_person_day",
                      "icon": "mdi:sigma",
                      "type": "attribute",
                      "attribute": "count"
                    },
                    {
                      "name": "Time",
                      "entity": "sensor.motion_person_day",
                      "type": "attribute",
                      "icon": "mdi:calendar-range",
                      "attribute": "time"
                    },
                    {
                      "name": "Oldest",
                      "entity": "sensor.motion_person_day",
                      "icon": "mdi:chart-bell-curve",
                      "type": "attribute",
                      "attribute": "oldest"
                    }
                  ]
                },
                {
                  "title": "Person Night",
                  "show_header_toggle": false,
                  "state_color": true,
                  "type": "entities",
                  "entities": [
                    {
                      "entity": "binary_sensor.motion_person_night"
                    },
                    {
                      "entity": "sensor.motion_person_night"
                    },
                    {
                      "name": "Detection",
                      "entity": "automation.motion_schedule_bedtime_detected"
                    },
                    {
                      "type": "divider"
                    },
                    {
                      "name": "Begin",
                      "entity": "sensor.motion_person_night",
                      "icon": "mdi:clock",
                      "type": "attribute",
                      "attribute": "begin"
                    },
                    {
                      "name": "End",
                      "entity": "sensor.motion_person_night",
                      "icon": "mdi:clock",
                      "type": "attribute",
                      "attribute": "end"
                    },
                    {
                      "name": "Count",
                      "entity": "sensor.motion_person_night",
                      "icon": "mdi:sigma",
                      "type": "attribute",
                      "attribute": "count"
                    },
                    {
                      "name": "Time",
                      "entity": "sensor.motion_person_night",
                      "type": "attribute",
                      "icon": "mdi:calendar-range",
                      "attribute": "time"
                    },
                    {
                      "name": "Oldest",
                      "entity": "sensor.motion_person_night",
                      "icon": "mdi:chart-bell-curve",
                      "type": "attribute",
                      "attribute": "oldest"
                    }
                  ]
                }
              ]
            },
            {
              "type": "vertical-stack",
              "title": "",
              "view_layout": {
                "position": "sidebar"
              },
              "cards": [
                {
                  "type": "glance",
                  "title": "",
                  "show_icon": true,
                  "show_state": true,
                  "show_name": true,
                  "entities": [
                    {
                      "name": "Ago",
                      "icon": "mdi:av-timer",
                      "entity": "sensor.motion_person_active_ago_status"
                    },
                    {
                      "name": "Level",
                      "entity": "sensor.motion_person_active_level"
                    },
                    {
                      "name": "Today",
                      "icon": "mdi:numeric-1-box-multiple-outline",
                      "entity": "sensor.motion_person_active_time_today"
                    },
                    {
                      "name": "Average",
                      "icon": "mdi:numeric-7-box-multiple-outline",
                      "entity": "sensor.motion_person_active_time_week"
                    },
                    {
                      "name": "Period",
                      "icon": "mdi:calendar-week",
                      "entity": "sensor.motion_person_active_time_oldest_1w"
                    }
                  ]
                },
                {
                  "type": "glance",
                  "title": "",
                  "show_icon": true,
                  "show_state": true,
                  "show_name": true,
                  "entities": [
                    {
                      "name": "Home",
                      "entity": "binary_sensor.motion_person_home"
                    },
                    {
                      "name": "Ratio (1w)",
                      "icon": "mdi:percent",
                      "entity": "sensor.motion_person_home_ratio_week"
                    },
                    {
                      "name": "Time (1w)",
                      "icon": "mdi:av-timer",
                      "entity": "sensor.motion_person_home_time_week"
                    },
                    {
                      "name": "Period",
                      "icon": "mdi:calendar-week",
                      "entity": "sensor.motion_person_home",
                      "type": "attribute",
                      "attribute": "oldest"
                    }
                  ]
                },
                {
                  "type": "glance",
                  "title": "",
                  "show_icon": true,
                  "show_state": true,
                  "show_name": true,
                  "entities": [
                    {
                      "name": "Seen",
                      "icon": "mdi:eye",
                      "entity": "binary_sensor.motion_person_detected"
                    },
                    {
                      "name": "Where",
                      "icon": "mdi:map-marker",
                      "entity": "sensor.motion_person_detected_where"
                    },
                    {
                      "name": "Ago",
                      "icon": "mdi:av-timer",
                      "entity": "sensor.motion_person_detected_ago_status"
                    }
                  ]
                },
                {
                  "type": "glance",
                  "title": "",
                  "show_icon": true,
                  "show_state": true,
                  "show_name": true,
                  "entities": [
                    {
                      "name": "Wakeup",
                      "entity": "sensor.motion_schedule_wakeup_detected_time"
                    },
                    {
                      "name": "Ago",
                      "entity": "sensor.motion_schedule_wakeup_ago_relative"
                    },
                    {
                      "name": "Typical",
                      "entity": "sensor.motion_schedule_wakeup_detected_mean_time"
                    },
                    {
                      "name": "Period",
                      "entity": "sensor.motion_schedule_wakeup_detected_days"
                    },
                    {
                      "name": "Alert",
                      "entity": "binary_sensor.motion_schedule_wakeup_undetected_notify"
                    }
                  ]
                },
                {
                  "type": "glance",
                  "show_icon": true,
                  "show_name": true,
                  "title": "",
                  "entities": [
                    {
                      "name": "Steps",
                      "entity": "sensor.motion_person_device_steps"
                    },
                    {
                      "name": "Stationary",
                      "entity": "binary_sensor.motion_person_stationary_today"
                    },
                    {
                      "name": "Sedentary",
                      "entity": "binary_sensor.motion_person_occupancy_movement_low_1d"
                    },
                    {
                      "name": "Active",
                      "entity": "binary_sensor.motion_person_occupancy_movement_high_1d"
                    }
                  ]
                }
              ]
            },
            {
              "type": "horizontal-stack",
              "cards": [
                {
                  "type": "vertical-stack",
                  "cards": [
                    {
                      "title": "Wakeup",
                      "show_header_toggle": false,
                      "state_color": true,
                      "type": "entities",
                      "entities": [
                        {
                          "name": "Wakeup detected",
                          "entity": "sensor.motion_schedule_wakeup_detected_time"
                        },
                        {
                          "name": "Wakeup interval",
                          "entity": "sensor.motion_schedule_wakeup_interval"
                        },
                        {
                          "type": "divider"
                        },
                        {
                          "name": "Notify on wakeup",
                          "entity": "input_boolean.motion_schedule_wakeup_detected_notify",
                          "icon": "mdi:alarm-check"
                        },
                        {
                          "entity": "input_boolean.motion_schedule_wakeup_undetected_notify",
                          "name": "Notify if wakeup undetected"
                        },
                        {
                          "entity": "input_datetime.motion_schedule_wakeup_begin"
                        },
                        {
                          "entity": "input_datetime.motion_schedule_wakeup_end"
                        },
                        {
                          "type": "conditional",
                          "conditions": [
                            {
                              "entity": "binary_sensor.motion_schedule_wakeup_notifying",
                              "state": "on"
                            }
                          ],
                          "row": {
                            "entity": "persistent_notification.wakeup_notify",
                            "secondary_info": "last-updated",
                            "name": "Wakeup",
                            "icon": "mdi:alarm"
                          }
                        },
                        {
                          "type": "divider"
                        },
                        {
                          "entity": "binary_sensor.motion_schedule_wakeup_interval_detect"
                        },
                        {
                          "entity": "binary_sensor.motion_schedule_wakeup_detected"
                        },
                        {
                          "entity": "binary_sensor.motion_schedule_wakeup_detected_notify"
                        },
                        {
                          "entity": "binary_sensor.motion_schedule_wakeup_undetected"
                        },
                        {
                          "entity": "binary_sensor.motion_schedule_wakeup_undetected_notify"
                        },
                        {
                          "entity": "sensor.motion_schedule_wakeup_detected_days"
                        },
                        {
                          "entity": "sensor.motion_schedule_wakeup_detected_time"
                        },
                        {
                          "entity": "sensor.motion_schedule_wakeup_detected_min_time"
                        },
                        {
                          "entity": "sensor.motion_schedule_wakeup_detected_median_time"
                        },
                        {
                          "entity": "sensor.motion_schedule_wakeup_detected_mean_time"
                        },
                        {
                          "entity": "sensor.motion_schedule_wakeup_detected_max_time"
                        },
                        {
                          "name": "Wakeup detected mean (s)",
                          "entity": "sensor.motion_schedule_wakeup_detected_mean"
                        },
                        {
                          "name": "Wakeup detected stdev (s)",
                          "entity": "sensor.motion_schedule_wakeup_detected_stdev"
                        }
                      ]
                    },
                    {
                      "type": "history-graph",
                      "entities": [
                        {
                          "entity": "sensor.motion_schedule_wakeup_detected_stdev",
                          "name": "Stdev"
                        },
                        {
                          "entity": "sensor.motion_schedule_wakeup_detected_mean",
                          "name": "Mean"
                        },
                        {
                          "entity": "sensor.motion_schedule_wakeup_detected_time"
                        }
                      ],
                      "hours_to_show": 672,
                      "refresh_interval": 0,
                      "title": "Wakeup (1m)"
                    }
                  ]
                },
                {
                  "type": "vertical-stack",
                  "cards": [
                    {
                      "title": "Bedtime",
                      "show_header_toggle": false,
                      "state_color": true,
                      "type": "entities",
                      "entities": [
                        {
                          "name": "Bedtime detected",
                          "entity": "sensor.motion_schedule_bedtime_detected_time"
                        },
                        {
                          "name": "Bedtime interval",
                          "entity": "sensor.motion_schedule_bedtime_interval"
                        },
                        {
                          "type": "divider"
                        },
                        {
                          "name": "Notify on bedtime",
                          "entity": "input_boolean.motion_schedule_bedtime_detected_notify",
                          "icon": "mdi:alarm-check"
                        },
                        {
                          "entity": "input_boolean.motion_schedule_bedtime_undetected_notify",
                          "name": "Notify if bedtime undetected"
                        },
                        {
                          "entity": "input_datetime.motion_schedule_bedtime_begin"
                        },
                        {
                          "entity": "input_datetime.motion_schedule_bedtime_end"
                        },
                        {
                          "type": "conditional",
                          "conditions": [
                            {
                              "entity": "binary_sensor.motion_schedule_bedtime_notifying",
                              "state": "on"
                            }
                          ],
                          "row": {
                            "entity": "persistent_notification.bedtime_notify",
                            "secondary_info": "last-updated",
                            "name": "Bedtime",
                            "icon": "mdi:alarm"
                          }
                        },
                        {
                          "type": "divider"
                        },
                        {
                          "entity": "binary_sensor.motion_schedule_bedtime_interval_detect"
                        },
                        {
                          "entity": "binary_sensor.motion_schedule_bedtime_detected"
                        },
                        {
                          "entity": "binary_sensor.motion_schedule_bedtime_detected_notify"
                        },
                        {
                          "entity": "binary_sensor.motion_schedule_bedtime_undetected"
                        },
                        {
                          "entity": "binary_sensor.motion_schedule_bedtime_undetected_notify"
                        },
                        {
                          "entity": "sensor.motion_schedule_bedtime_detected_days"
                        },
                        {
                          "entity": "sensor.motion_schedule_bedtime_detected_time"
                        },
                        {
                          "entity": "sensor.motion_schedule_bedtime_detected_min_time"
                        },
                        {
                          "entity": "sensor.motion_schedule_bedtime_detected_median_time"
                        },
                        {
                          "entity": "sensor.motion_schedule_bedtime_detected_mean_time"
                        },
                        {
                          "entity": "sensor.motion_schedule_bedtime_detected_max_time"
                        },
                        {
                          "name": "Bedtime detected mean (s)",
                          "entity": "sensor.motion_schedule_bedtime_detected_mean"
                        },
                        {
                          "name": "Bedtime detected stdev (s)",
                          "entity": "sensor.motion_schedule_bedtime_detected_stdev"
                        }
                      ]
                    },
                    {
                      "type": "history-graph",
                      "entities": [
                        {
                          "entity": "sensor.motion_schedule_bedtime_detected_stdev",
                          "name": "Stdev"
                        },
                        {
                          "entity": "sensor.motion_schedule_bedtime_detected_mean",
                          "name": "Mean"
                        },
                        {
                          "entity": "sensor.motion_schedule_bedtime_detected_time"
                        }
                      ],
                      "hours_to_show": 672,
                      "refresh_interval": 0,
                      "title": "Bedtime (1m)"
                    }
                  ]
                }
              ]
            }
          ]
        },
        {
          "visible": [],
          "subview": "true",
          "theme": "Backend-selected",
          "title": "Intruder alert",
          "path": "alarm",
          "icon": "mdi:alarm-light",
          "type": "sidebar",
          "badges": [],
          "cards": [
            {
              "type": "entities",
              "title": "",
              "view_layout": {
                "position": "sidebar"
              },
              "show_header_toggle": false,
              "entities": [
                {
                  "name": "Enable when away",
                  "entity": "automation.motion_person_detect_alert_when_away"
                },
                {
                  "name": "Notify when detected",
                  "entity": "input_boolean.motion_person_detect_alert_when_away"
                }
              ]
            },
            {
              "type": "horizontal-stack",
              "cards": [
                {
                  "title": "Person Home",
                  "show_header_toggle": false,
                  "state_color": true,
                  "type": "entities",
                  "entities": [
                    {
                      "entity": "binary_sensor.motion_person_home"
                    },
                    {
                      "entity": "sensor.motion_person_home"
                    },
                    {
                      "type": "divider"
                    },
                    {
                      "name": "Home count (1d)",
                      "entity": "sensor.motion_person_home",
                      "icon": "mdi:calendar-today",
                      "type": "attribute",
                      "attribute": "day"
                    },
                    {
                      "name": "Home count (1w)",
                      "entity": "sensor.motion_person_home",
                      "icon": "mdi:calendar-week",
                      "type": "attribute",
                      "attribute": "week"
                    },
                    {
                      "name": "Home count oldest (1w)",
                      "entity": "sensor.motion_person_home",
                      "icon": "mdi:calendar-range",
                      "type": "attribute",
                      "attribute": "oldest"
                    },
                    {
                      "name": "Daily average (1w)",
                      "entity": "sensor.motion_person_home",
                      "icon": "mdi:chart-bell-curve",
                      "type": "attribute",
                      "attribute": "mean"
                    },
                    {
                      "type": "divider"
                    },
                    {
                      "name": "Home time (1d)",
                      "entity": "sensor.motion_person_home",
                      "icon": "mdi:calendar-today",
                      "type": "attribute",
                      "attribute": "day"
                    },
                    {
                      "name": "Home time (1w)",
                      "entity": "sensor.motion_person_home",
                      "icon": "mdi:calendar-week",
                      "type": "attribute",
                      "attribute": "week"
                    },
                    {
                      "name": "Home time oldest (1w)",
                      "entity": "sensor.motion_person_home",
                      "type": "attribute",
                      "icon": "mdi:calendar-range",
                      "attribute": "oldest"
                    },
                    {
                      "name": "Daily average (1w)",
                      "entity": "sensor.motion_person_home",
                      "icon": "mdi:chart-bell-curve",
                      "type": "attribute",
                      "attribute": "mean"
                    }
                  ]
                },
                {
                  "title": "Person Away",
                  "show_header_toggle": false,
                  "state_color": true,
                  "type": "entities",
                  "entities": [
                    {
                      "entity": "binary_sensor.motion_person_away"
                    },
                    {
                      "entity": "sensor.motion_person_away"
                    },
                    {
                      "type": "divider"
                    },
                    {
                      "name": "Away count (1d)",
                      "entity": "sensor.motion_person_away",
                      "icon": "mdi:calendar-today",
                      "type": "attribute",
                      "attribute": "day"
                    },
                    {
                      "name": "Away count (1w)",
                      "entity": "sensor.motion_person_away",
                      "icon": "mdi:calendar-week",
                      "type": "attribute",
                      "attribute": "week"
                    },
                    {
                      "name": "Away count oldest (1w)",
                      "entity": "sensor.motion_person_away",
                      "icon": "mdi:calendar-range",
                      "type": "attribute",
                      "attribute": "oldest"
                    },
                    {
                      "name": "Daily average (1w)",
                      "entity": "sensor.motion_person_away",
                      "icon": "mdi:chart-bell-curve",
                      "type": "attribute",
                      "attribute": "mean"
                    },
                    {
                      "type": "divider"
                    },
                    {
                      "name": "Away time (1d)",
                      "entity": "sensor.motion_person_away",
                      "icon": "mdi:calendar-today",
                      "type": "attribute",
                      "attribute": "day"
                    },
                    {
                      "name": "Away time (1w)",
                      "entity": "sensor.motion_person_away",
                      "icon": "mdi:calendar-week",
                      "type": "attribute",
                      "attribute": "week"
                    },
                    {
                      "name": "Away time oldest (1w)",
                      "entity": "sensor.motion_person_away",
                      "type": "attribute",
                      "icon": "mdi:calendar-range",
                      "attribute": "oldest"
                    },
                    {
                      "name": "Daily average (1w)",
                      "entity": "sensor.motion_person_away",
                      "icon": "mdi:chart-bell-curve",
                      "type": "attribute",
                      "attribute": "mean"
                    }
                  ]
                }
              ]
            }
          ]
        }
      ]
    }
  }
}
