{
  "version": 1,
  "minor_version": 1,
  "key": "lovelace.notify_missing",
  "data": {
    "config": {
      "icon": "mdi:cancel",
      "title": "${MOTION_APP} at ${MOTION_SITE}: Missing",
      "views": [
        {
          "title": "MISSING",
          "path": "all",
          "icon": "mdi:cancel",
          "type": "sidebar",
          "subview": "true",
          "badges": [],
          "cards": [
            {
              "type": "horizontal-stack",
              "view_layout": {
                "position": "sidebar"
              },
              "cards": [
                {
                  "type": "button",
                  "name": "",
                  "icon": "mdi:view-dashboard",
                  "icon_height": "32px",
                  "tap_action": {
                    "action": "navigate",
                    "navigation_path": "/"
                  }
                },
                {
                  "type": "button",
                  "name": " ",
                  "icon": "mdi:message",
                  "show_state": false,
                  "entity": "binary_sensor.motion_alarm",
                  "icon_height": "32px",
                  "tap_action": {
                    "action": "navigate",
                    "navigation_path": "/lovelace-primary"
                  }
                },
                {
                  "type": "button",
                  "name": "",
                  "icon": "mdi:devices",
                  "icon_height": "32px",
                  "tap_action": {
                    "action": "navigate",
                    "navigation_path": "/notify-devices"
                  }
                },
                {
                  "type": "button",
                  "name": " ",
                  "icon": "mdi:account-supervisor",
                  "icon_height": "32px",
                  "tap_action": {
                    "action": "navigate",
                    "navigation_path": "/lovelace-owner/"
                  }
                },
                {
                  "type": "button",
                  "name": "",
                  "icon": "mdi:home-heart",
                  "icon_height": "32px",
                  "tap_action": {
                    "action": "navigate",
                    "navigation_path": "/notify-system"
                  }
                }
              ]
            },
            {
              "type": "vertical-stack",
              "title": "",
              "view_layout": {
                "position": "main"
              },
              "cards": [
                {
                  "type": "conditional",
                  "conditions": [
                    {
                      "entity": "binary_sensor.motion_alarm_missing",
                      "state": "on"
                    }
                  ],
                  "card": {
                    "type": "markdown",
                    "title": "",
                    "entity_id": "binary_sensor.motion_alarm_missing",
                    "content": "{{ state_attr(\"binary_sensor.motion_alarm_missing\",\"markdown\") }}"
                  }
                },
                {
                  "type": "conditional",
                  "conditions": [
                    {
                      "entity": "binary_sensor.motion_device_class_missing",
                      "state": "on"
                    },
                    {
                      "entity": "binary_sensor.motion_alarm_missing",
                      "state": "off"
                    }
                  ],
                  "card": {
                    "type": "markdown",
                    "title": "",
                    "entity_id": "binary_sensor.motion_device_class_missing",
                    "content": "{{ state_attr(\"binary_sensor.motion_device_class_missing\",\"markdown\") }}"
                  }
                },
                {
                  "type": "conditional",
                  "conditions": [
                    {
                      "entity": "binary_sensor.motion_device_class_missing",
                      "state": "on"
                    }
                  ],
                  "card": {
                    "type": "horizontal-stack",
                    "cards": [
                      {
                        "type": "conditional",
                        "conditions": [
                          {
                            "entity": "binary_sensor.motion_alarm_missing",
                            "state": "on"
                          }
                        ],
                        "card": {
                          "type": "button",
                          "name": " ",
                          "icon": "mdi:bell-sleep",
                          "icon_height": "32px",
                          "tap_action": {
                            "action": "call-service",
                            "service": "automation.trigger",
                            "target": {
                              "entity_id": "automation.motion_device_class_missing_dismiss"
                            }
                          }
                        }
                      },
                      {
                        "type": "conditional",
                        "conditions": [
                          {
                            "entity": "automation.motion_device_class_missing_approve",
                            "state": "on"
                          },
                          {
                            "entity": "binary_sensor.motion_device_class_missing_approve",
                            "state_not": "on"
                          }
                        ],
                        "card": {
                          "type": "button",
                          "name": " ",
                          "icon_height": "32px",
                          "show_state": true,
                          "entity": "sensor.motion_device_class_missing_approve",
                          "tap_action": {
                            "action": "call-service",
                            "service": "automation.trigger",
                            "target": {
                              "entity_id": "automation.motion_device_class_missing_approve"
                            }
                          }
                        }
                      },
                      {
                        "type": "conditional",
                        "conditions": [
                          {
                            "entity": "automation.motion_device_class_missing_deny",
                            "state": "on"
                          },
                          {
                            "entity": "binary_sensor.motion_device_class_missing_deny",
                            "state_not": "on"
                          }
                        ],
                        "card": {
                          "type": "button",
                          "name": " ",
                          "icon_height": "32px",
                          "show_state": true,
                          "entity": "sensor.motion_device_class_missing_deny",
                          "tap_action": {
                            "action": "call-service",
                            "service": "automation.trigger",
                            "target": {
                              "entity_id": "automation.motion_device_class_missing_deny"
                            }
                          }
                        }
                      },
                      {
                        "type": "conditional",
                        "conditions": [
                          {
                            "entity": "automation.motion_device_class_missing_help",
                            "state": "on"
                          },
                          {
                            "entity": "binary_sensor.motion_device_class_missing_help",
                            "state_not": "on"
                          }
                        ],
                        "card": {
                          "type": "button",
                          "name": " ",
                          "icon_height": "32px",
                          "show_state": true,
                          "entity": "sensor.motion_device_class_missing_help",
                          "tap_action": {
                            "action": "call-service",
                            "service": "automation.trigger",
                            "target": {
                              "entity_id": "automation.motion_device_class_missing_help"
                            }
                          }
                        }
                      },
                      {
                        "type": "conditional",
                        "conditions": [
                          {
                            "entity": "automation.motion_device_class_missing_wait",
                            "state": "on"
                          },
                          {
                            "entity": "binary_sensor.motion_device_class_missing_wait",
                            "state": "off"
                          }
                        ],
                        "card": {
                          "type": "button",
                          "name": " ",
                          "icon_height": "32px",
                          "show_state": true,
                          "entity": "sensor.motion_device_class_missing_wait",
                          "tap_action": {
                            "action": "call-service",
                            "service": "automation.trigger",
                            "target": {
                              "entity_id": "automation.motion_device_class_missing_wait"
                            }
                          }
                        }
                      }
                    ]
                  }
                }
              ]
            },
            {
              "type": "conditional",
              "conditions": [
                {
                  "entity": "binary_sensor.motion_device_class",
                  "state": "on"
                },
                {
                  "entity": "binary_sensor.motion_device_class_missing_exist",
                  "state_not": "unknown"
                }
              ],
              "card": {
                "type": "vertical-stack",
                "title": "",
                "cards": [
                  {
                    "title": "Device missing",
                    "type": "entities",
                    "entities": [
                      {
                        "type": "conditional",
                        "conditions": [
                          {
                            "entity": "binary_sensor.motion_device_class_missing",
                            "state_not": "unknown"
                          }
                        ],
                        "row": {
                          "entity": "binary_sensor.motion_device_class_missing",
                          "name": "Device(s)",
                          "icon": "mdi:devices",
                          "type": "attribute",
                          "secondary_info": "last-updated",
                          "attribute": "ids",
                          "tap_action": {
                            "action": "call-service",
                            "service": "automation.trigger",
                            "target": {
                              "entity_id": "automation.motion_device_class_missing_notify"
                            }
                          }
                        }
                      }
                    ]
                  },
                  {
                    "type": "markdown",
                    "title": "",
                    "entity_id": "binary_sensor.motion_device_class_missing",
                    "content": "{{ state_attr(\"binary_sensor.motion_device_class_missing\",\"markdown\") }}"
                  }
                ]
              },
              "view_layout": {
                "position": "sidebar"
              }
            },
            {
              "type": "statistics-graph",
              "title": "Missing",
              "period": "hour",
              "chart_type": "line",
              "entities": [
                {
                  "name": "Alarms",
                  "entity": "sensor.motion_alarm_missing_measurement"
                }
              ],
              "days_to_show": 7,
              "stat_types": [
                "mean",
                "max"
              ],
              "view_layout": {
                "position": "sidebar"
              }
            }
          ]
        }
      ]
    }
  }
}
