{
  "version": 1,
  "minor_version": 1,
  "key": "lovelace.notify_found",
  "data": {
    "config": {
      "icon": "mdi:cancel",
      "title": "${MOTION_APP} at ${MOTION_SITE}: Found",
      "views": [
        {
          "title": "FOUND",
          "path": "all",
          "icon": "mdi:cancel",
          "subview": "true",
          "type": "sidebar",
          "badges": [],
          "cards": [
            {
              "type": "horizontal-stack",
              "view_layout": {
                "position": "sidebar"
              },
              "cards": [
                {
                  "type": "button",
                  "name": "",
                  "icon": "mdi:view-dashboard",
                  "icon_height": "32px",
                  "tap_action": {
                    "action": "navigate",
                    "navigation_path": "/"
                  }
                },
                {
                  "type": "button",
                  "name": " ",
                  "icon": "mdi:message",
                  "show_state": false,
                  "entity": "binary_sensor.motion_alarm",
                  "icon_height": "32px",
                  "tap_action": {
                    "action": "navigate",
                    "navigation_path": "/lovelace-primary"
                  }
                },
                {
                  "type": "button",
                  "name": "",
                  "icon": "mdi:devices",
                  "icon_height": "32px",
                  "tap_action": {
                    "action": "navigate",
                    "navigation_path": "/notify-devices"
                  }
                },
                {
                  "type": "button",
                  "name": " ",
                  "icon": "mdi:account-supervisor",
                  "icon_height": "32px",
                  "tap_action": {
                    "action": "navigate",
                    "navigation_path": "/lovelace-owner/"
                  }
                },
                {
                  "type": "button",
                  "name": "",
                  "icon": "mdi:home-heart",
                  "icon_height": "32px",
                  "tap_action": {
                    "action": "navigate",
                    "navigation_path": "/notify-system"
                  }
                }
              ]
            },
            {
              "type": "vertical-stack",
              "title": "",
              "view_layout": {
                "position": "main"
              },
              "cards": [
                {
                  "type": "conditional",
                  "conditions": [
                    {
                      "entity": "binary_sensor.motion_alarm_found",
                      "state": "on"
                    }
                  ],
                  "card": {
                    "type": "markdown",
                    "title": "",
                    "entity_id": "binary_sensor.motion_alarm_found",
                    "content": "{{ state_attr(\"binary_sensor.motion_alarm_found\",\"markdown\") }}"
                  }
                },
                {
                  "type": "conditional",
                  "conditions": [
                    {
                      "entity": "binary_sensor.motion_device_class_found",
                      "state": "on"
                    },
                    {
                      "entity": "binary_sensor.motion_alarm_found",
                      "state": "off"
                    }
                  ],
                  "card": {
                    "type": "markdown",
                    "title": "",
                    "entity_id": "binary_sensor.motion_device_class_found",
                    "content": "{{ state_attr(\"binary_sensor.motion_device_class_found\",\"markdown\") }}"
                  }
                },
                {
                  "type": "conditional",
                  "conditions": [
                    {
                      "entity": "binary_sensor.motion_device_class_found",
                      "state": "on"
                    }
                  ],
                  "card": {
                    "type": "horizontal-stack",
                    "cards": [
                      {
                        "type": "conditional",
                        "conditions": [
                          {
                            "entity": "binary_sensor.motion_alarm_found",
                            "state": "on"
                          }
                        ],
                        "card": {
                          "type": "button",
                          "name": " ",
                          "icon": "mdi:bell-sleep",
                          "icon_height": "32px",
                          "tap_action": {
                            "action": "call-service",
                            "service": "automation.trigger",
                            "target": {
                              "entity_id": "automation.motion_device_class_found_dismiss"
                            }
                          }
                        }
                      },
                      {
                        "type": "conditional",
                        "conditions": [
                          {
                            "entity": "automation.motion_device_class_found_approve",
                            "state": "on"
                          },
                          {
                            "entity": "binary_sensor.motion_device_class_found_approve",
                            "state_not": "on"
                          }
                        ],
                        "card": {
                          "type": "button",
                          "name": " ",
                          "icon_height": "32px",
                          "show_state": true,
                          "entity": "sensor.motion_device_class_found_approve",
                          "tap_action": {
                            "action": "call-service",
                            "service": "automation.trigger",
                            "target": {
                              "entity_id": "automation.motion_device_class_found_approve"
                            }
                          }
                        }
                      },
                      {
                        "type": "conditional",
                        "conditions": [
                          {
                            "entity": "automation.motion_device_class_found_deny",
                            "state": "on"
                          },
                          {
                            "entity": "binary_sensor.motion_device_class_found_deny",
                            "state_not": "on"
                          }
                        ],
                        "card": {
                          "type": "button",
                          "name": " ",
                          "icon_height": "32px",
                          "show_state": true,
                          "entity": "sensor.motion_device_class_found_deny",
                          "tap_action": {
                            "action": "call-service",
                            "service": "automation.trigger",
                            "target": {
                              "entity_id": "automation.motion_device_class_found_deny"
                            }
                          }
                        }
                      },
                      {
                        "type": "conditional",
                        "conditions": [
                          {
                            "entity": "automation.motion_device_class_found_help",
                            "state": "on"
                          },
                          {
                            "entity": "binary_sensor.motion_device_class_found_help",
                            "state_not": "on"
                          }
                        ],
                        "card": {
                          "type": "button",
                          "name": " ",
                          "icon_height": "32px",
                          "show_state": true,
                          "entity": "sensor.motion_device_class_found_help",
                          "tap_action": {
                            "action": "call-service",
                            "service": "automation.trigger",
                            "target": {
                              "entity_id": "automation.motion_device_class_found_help"
                            }
                          }
                        }
                      },
                      {
                        "type": "conditional",
                        "conditions": [
                          {
                            "entity": "automation.motion_device_class_found_wait",
                            "state": "on"
                          },
                          {
                            "entity": "binary_sensor.motion_device_class_found_wait",
                            "state_not": "on"
                          }
                        ],
                        "card": {
                          "type": "button",
                          "name": " ",
                          "icon_height": "32px",
                          "show_state": true,
                          "entity": "sensor.motion_device_class_found_wait",
                          "tap_action": {
                            "action": "call-service",
                            "service": "automation.trigger",
                            "target": {
                              "entity_id": "automation.motion_device_class_found_wait"
                            }
                          }
                        }
                      }
                    ]
                  }
                }
              ]
            },
            {
              "type": "conditional",
              "conditions": [
                {
                  "entity": "binary_sensor.motion_device_class",
                  "state": "on"
                },
                {
                  "entity": "binary_sensor.motion_device_class_found_exist",
                  "state_not": "unknown"
                }
              ],
              "card": {
                "title": "Device found",
                "type": "entities",
                "entities": [
                  {
                    "type": "conditional",
                    "conditions": [
                      {
                        "entity": "binary_sensor.motion_device_opening_found",
                        "state_not": "unknown"
                      }
                    ],
                    "row": {
                      "entity": "binary_sensor.motion_device_class_found",
                      "name": "Device(s)",
                      "icon": "mdi:devices",
                      "type": "attribute",
                      "secondary_info": "last-updated",
                      "attribute": "ids",
                      "tap_action": {
                        "action": "call-service",
                        "service": "automation.trigger",
                        "target": {
                          "entity_id": "automation.motion_device_class_found_notify"
                        }
                      }
                    }
                  },
                  {
                    "type": "conditional",
                    "conditions": [
                      {
                        "entity": "binary_sensor.motion_device_class_found",
                        "state": "on"
                      }
                    ],
                    "row": {
                      "entity": "binary_sensor.motion_device_class_found",
                      "name": "Details",
                      "icon": "mdi:clipboard-text",
                      "type": "attribute",
                      "secondary_info": "last-updated",
                      "attribute": "details"
                    }
                  },
                  {
                    "type": "conditional",
                    "conditions": [
                      {
                        "entity": "binary_sensor.motion_device_battery_found",
                        "state": "on"
                      }
                    ],
                    "row": {
                      "type": "section",
                      "label": "Found"
                    }
                  },
                  {
                    "type": "conditional",
                    "conditions": [
                      {
                        "entity": "binary_sensor.motion_device_battery_found",
                        "state": "on"
                      }
                    ],
                    "row": {
                      "entity": "binary_sensor.motion_device_battery_found",
                      "secondary_info": "last-updated",
                      "type": "attribute",
                      "attribute": "ids",
                      "tap_action": {
                        "action": "call-service",
                        "service": "automation.trigger",
                        "target": {
                          "entity_id": "automation.motion_device_battery_found_notify"
                        }
                      }
                    }
                  },
                  {
                    "type": "conditional",
                    "conditions": [
                      {
                        "entity": "binary_sensor.motion_device_connectivity_found",
                        "state": "on"
                      }
                    ],
                    "row": {
                      "entity": "binary_sensor.motion_device_connectivity_found",
                      "secondary_info": "last-updated",
                      "type": "attribute",
                      "attribute": "ids",
                      "tap_action": {
                        "action": "call-service",
                        "service": "automation.trigger",
                        "target": {
                          "entity_id": "automation.motion_device_connectivity_found_notify"
                        }
                      }
                    }
                  },
                  {
                    "type": "conditional",
                    "conditions": [
                      {
                        "entity": "binary_sensor.motion_device_door_found",
                        "state": "on"
                      }
                    ],
                    "row": {
                      "entity": "binary_sensor.motion_device_door_found",
                      "secondary_info": "last-updated",
                      "type": "attribute",
                      "attribute": "ids",
                      "tap_action": {
                        "action": "call-service",
                        "service": "automation.trigger",
                        "target": {
                          "entity_id": "automation.motion_device_door_found_notify"
                        }
                      }
                    }
                  },
                  {
                    "type": "conditional",
                    "conditions": [
                      {
                        "entity": "binary_sensor.motion_device_energy_found",
                        "state": "on"
                      }
                    ],
                    "row": {
                      "entity": "binary_sensor.motion_device_energy_found",
                      "secondary_info": "last-updated",
                      "type": "attribute",
                      "attribute": "ids",
                      "tap_action": {
                        "action": "call-service",
                        "service": "automation.trigger",
                        "target": {
                          "entity_id": "automation.motion_device_energy_found_notify"
                        }
                      }
                    }
                  },
                  {
                    "type": "conditional",
                    "conditions": [
                      {
                        "entity": "binary_sensor.motion_device_gas_found",
                        "state": "on"
                      }
                    ],
                    "row": {
                      "entity": "binary_sensor.motion_device_gas_found",
                      "secondary_info": "last-updated",
                      "type": "attribute",
                      "attribute": "ids",
                      "tap_action": {
                        "action": "call-service",
                        "service": "automation.trigger",
                        "target": {
                          "entity_id": "automation.motion_device_gas_found_notify"
                        }
                      }
                    }
                  },
                  {
                    "type": "conditional",
                    "conditions": [
                      {
                        "entity": "binary_sensor.motion_device_humidity_found",
                        "state": "on"
                      }
                    ],
                    "row": {
                      "entity": "binary_sensor.motion_device_humidity_found",
                      "secondary_info": "last-updated",
                      "type": "attribute",
                      "attribute": "ids",
                      "tap_action": {
                        "action": "call-service",
                        "service": "automation.trigger",
                        "target": {
                          "entity_id": "automation.motion_device_humidity_found_notify"
                        }
                      }
                    }
                  },
                  {
                    "type": "conditional",
                    "conditions": [
                      {
                        "entity": "binary_sensor.motion_device_illuminance_found",
                        "state": "on"
                      }
                    ],
                    "row": {
                      "entity": "binary_sensor.motion_device_illuminance_found",
                      "secondary_info": "last-updated",
                      "type": "attribute",
                      "attribute": "ids",
                      "tap_action": {
                        "action": "call-service",
                        "service": "automation.trigger",
                        "target": {
                          "entity_id": "automation.motion_device_illuminance_found_notify"
                        }
                      }
                    }
                  },
                  {
                    "type": "conditional",
                    "conditions": [
                      {
                        "entity": "binary_sensor.motion_device_light_found",
                        "state": "on"
                      }
                    ],
                    "row": {
                      "entity": "binary_sensor.motion_device_light_found",
                      "secondary_info": "last-updated",
                      "type": "attribute",
                      "attribute": "ids",
                      "tap_action": {
                        "action": "call-service",
                        "service": "automation.trigger",
                        "target": {
                          "entity_id": "automation.motion_device_light_found_notify"
                        }
                      }
                    }
                  },
                  {
                    "type": "conditional",
                    "conditions": [
                      {
                        "entity": "binary_sensor.motion_device_moisture_found",
                        "state": "on"
                      }
                    ],
                    "row": {
                      "entity": "binary_sensor.motion_device_moisture_found",
                      "secondary_info": "last-updated",
                      "type": "attribute",
                      "attribute": "ids",
                      "tap_action": {
                        "action": "call-service",
                        "service": "automation.trigger",
                        "target": {
                          "entity_id": "automation.motion_device_moisture_found_notify"
                        }
                      }
                    }
                  },
                  {
                    "type": "conditional",
                    "conditions": [
                      {
                        "entity": "binary_sensor.motion_device_motion_found",
                        "state": "on"
                      }
                    ],
                    "row": {
                      "entity": "binary_sensor.motion_device_motion_found",
                      "secondary_info": "last-updated",
                      "type": "attribute",
                      "attribute": "ids",
                      "tap_action": {
                        "action": "call-service",
                        "service": "automation.trigger",
                        "target": {
                          "entity_id": "automation.motion_device_motion_found_notify"
                        }
                      }
                    }
                  },
                  {
                    "type": "conditional",
                    "conditions": [
                      {
                        "entity": "binary_sensor.motion_device_occupancy_found",
                        "state": "on"
                      }
                    ],
                    "row": {
                      "entity": "binary_sensor.motion_device_occupancy_found",
                      "secondary_info": "last-updated",
                      "type": "attribute",
                      "attribute": "ids",
                      "tap_action": {
                        "action": "call-service",
                        "service": "automation.trigger",
                        "target": {
                          "entity_id": "automation.motion_device_occupancy_found_notify"
                        }
                      }
                    }
                  },
                  {
                    "type": "conditional",
                    "conditions": [
                      {
                        "entity": "binary_sensor.motion_device_opening_found",
                        "state": "on"
                      }
                    ],
                    "row": {
                      "entity": "binary_sensor.motion_device_opening_found",
                      "name": "Opening",
                      "icon": "mdi:door",
                      "secondary_info": "last-updated",
                      "type": "attribute",
                      "attribute": "ids",
                      "tap_action": {
                        "action": "call-service",
                        "service": "automation.trigger",
                        "target": {
                          "entity_id": "automation.motion_device_opening_found_notify"
                        }
                      }
                    }
                  },
                  {
                    "type": "conditional",
                    "conditions": [
                      {
                        "entity": "binary_sensor.motion_device_plug_found",
                        "state": "on"
                      }
                    ],
                    "row": {
                      "entity": "binary_sensor.motion_device_plug_found",
                      "secondary_info": "last-updated",
                      "type": "attribute",
                      "attribute": "ids",
                      "tap_action": {
                        "action": "call-service",
                        "service": "automation.trigger",
                        "target": {
                          "entity_id": "automation.motion_device_plug_found_notify"
                        }
                      }
                    }
                  },
                  {
                    "type": "conditional",
                    "conditions": [
                      {
                        "entity": "binary_sensor.motion_device_power_found",
                        "state": "on"
                      }
                    ],
                    "row": {
                      "entity": "binary_sensor.motion_device_power_found",
                      "secondary_info": "last-updated",
                      "type": "attribute",
                      "attribute": "ids",
                      "tap_action": {
                        "action": "call-service",
                        "service": "automation.trigger",
                        "target": {
                          "entity_id": "automation.motion_device_power_found_notify"
                        }
                      }
                    }
                  },
                  {
                    "type": "conditional",
                    "conditions": [
                      {
                        "entity": "binary_sensor.motion_device_presence_found",
                        "state": "on"
                      }
                    ],
                    "row": {
                      "entity": "binary_sensor.motion_device_presence_found",
                      "secondary_info": "last-updated",
                      "type": "attribute",
                      "attribute": "ids",
                      "tap_action": {
                        "action": "call-service",
                        "service": "automation.trigger",
                        "target": {
                          "entity_id": "automation.motion_device_presence_found_notify"
                        }
                      }
                    }
                  },
                  {
                    "type": "conditional",
                    "conditions": [
                      {
                        "entity": "binary_sensor.motion_device_problem_found",
                        "state": "on"
                      }
                    ],
                    "row": {
                      "entity": "binary_sensor.motion_device_problem_found",
                      "secondary_info": "last-updated",
                      "type": "attribute",
                      "attribute": "ids",
                      "tap_action": {
                        "action": "call-service",
                        "service": "automation.trigger",
                        "target": {
                          "entity_id": "automation.motion_device_problem_found_notify"
                        }
                      }
                    }
                  },
                  {
                    "type": "conditional",
                    "conditions": [
                      {
                        "entity": "binary_sensor.motion_device_safety_found",
                        "state": "on"
                      }
                    ],
                    "row": {
                      "entity": "binary_sensor.motion_device_safety_found",
                      "secondary_info": "last-updated",
                      "type": "attribute",
                      "attribute": "ids",
                      "tap_action": {
                        "action": "call-service",
                        "service": "automation.trigger",
                        "target": {
                          "entity_id": "automation.motion_device_safety_found_notify"
                        }
                      }
                    }
                  },
                  {
                    "type": "conditional",
                    "conditions": [
                      {
                        "entity": "binary_sensor.motion_device_smoke_found",
                        "state": "on"
                      }
                    ],
                    "row": {
                      "entity": "binary_sensor.motion_device_smoke_found",
                      "secondary_info": "last-updated",
                      "type": "attribute",
                      "attribute": "ids",
                      "tap_action": {
                        "action": "call-service",
                        "service": "automation.trigger",
                        "target": {
                          "entity_id": "automation.motion_device_smoke_found_notify"
                        }
                      }
                    }
                  },
                  {
                    "type": "conditional",
                    "conditions": [
                      {
                        "entity": "binary_sensor.motion_device_tamper_found",
                        "state": "on"
                      }
                    ],
                    "row": {
                      "entity": "binary_sensor.motion_device_tamper_found",
                      "secondary_info": "last-updated",
                      "type": "attribute",
                      "attribute": "ids",
                      "tap_action": {
                        "action": "call-service",
                        "service": "automation.trigger",
                        "target": {
                          "entity_id": "automation.motion_device_tamper_found_notify"
                        }
                      }
                    }
                  },
                  {
                    "type": "conditional",
                    "conditions": [
                      {
                        "entity": "binary_sensor.motion_device_update_found",
                        "state": "on"
                      }
                    ],
                    "row": {
                      "entity": "binary_sensor.motion_device_update_found",
                      "secondary_info": "last-updated",
                      "type": "attribute",
                      "attribute": "ids",
                      "tap_action": {
                        "action": "call-service",
                        "service": "automation.trigger",
                        "target": {
                          "entity_id": "automation.motion_device_update_found_notify"
                        }
                      }
                    }
                  },
                  {
                    "type": "conditional",
                    "conditions": [
                      {
                        "entity": "binary_sensor.motion_device_vibration_found",
                        "state": "on"
                      }
                    ],
                    "row": {
                      "entity": "binary_sensor.motion_device_vibration_found",
                      "name": "Vibration",
                      "icon": "mdi:vibrate",
                      "type": "attribute",
                      "secondary_info": "last-updated",
                      "attribute": "ids",
                      "tap_action": {
                        "action": "call-service",
                        "service": "automation.trigger",
                        "target": {
                          "entity_id": "automation.motion_device_vibration_found_notify"
                        }
                      }
                    }
                  },
                  {
                    "type": "conditional",
                    "conditions": [
                      {
                        "entity": "binary_sensor.motion_device_voltage_found",
                        "state": "on"
                      }
                    ],
                    "row": {
                      "entity": "binary_sensor.motion_device_voltage_found",
                      "secondary_info": "last-updated",
                      "type": "attribute",
                      "attribute": "ids",
                      "tap_action": {
                        "action": "call-service",
                        "service": "automation.trigger",
                        "target": {
                          "entity_id": "automation.motion_device_voltage_found_notify"
                        }
                      }
                    }
                  }
                ]
              },
              "view_layout": {
                "position": "sidebar"
              }
            },
            {
              "type": "statistics-graph",
              "title": "Found",
              "period": "hour",
              "chart_type": "line",
              "entities": [
                {
                  "name": "Alarms",
                  "entity": "sensor.motion_alarm_found_measurement"
                }
              ],
              "days_to_show": 7,
              "stat_types": [
                "mean",
                "max"
              ],
              "view_layout": {
                "position": "sidebar"
              }
            }
          ]
        }
      ]
    }
  }
}
