{
  "version": 1,
  "minor_version": 1,
  "key": "lovelace",
  "data": {
    "config": {
      "icon": "mdi:home-minus",
      "title": "${MOTION_APP} at ${MOTION_SITE}: Unavailable",
      "views": [
        {
          "title": "UNAVAILABLE",
          "path": "all",
          "icon": "mdi:home-minus",
          "type": "sidebar",
          "badges": [],
          "cards": [
            {
              "type": "conditional",
              "conditions": [
                {
                  "entity": "binary_sensor.motion_device_class_unavailable",
                  "state_not": "unknown"
                }
              ],
              "card": {
                "type": "markdown",
                "title": "",
                "entity_id": "binary_sensor.motion_device_class_unavailable",
                "content": "{{ state_attr(\"binary_sensor.motion_device_class_unavailable\",\"markdown\") }}"
              }
            },
            {
              "type": "conditional",
              "conditions": [
                {
                  "entity": "binary_sensor.motion_device_class_unavailable",
                  "state": "on"
                }
              ],
              "card": {
                "type": "horizontal-stack",
                "cards": [
                  {
                    "type": "conditional",
                    "conditions": [
                      {
                        "entity": "automation.motion_device_class_unavailable_approve",
                        "state": "on"
                      }
                    ],
                    "card": {
                      "type": "button",
                      "name": " ",
                      "icon": "mdi:thumb-up",
                      "icon_height": "32px",
                      "show_state": true,
                      "entity": "sensor.motion_device_class_unavailable_approve",
                      "tap_action": {
                        "action": "call-service",
                        "service": "automation.trigger",
                        "target": {
                          "entity_id": "automation.motion_device_class_unavailable_approve"
                        }
                      }
                    }
                  },
                  {
                    "type": "conditional",
                    "conditions": [
                      {
                        "entity": "automation.motion_device_class_unavailable_deny",
                        "state": "on"
                      }
                    ],
                    "card": {
                      "type": "button",
                      "name": " ",
                      "icon": "mdi:thumb-down",
                      "icon_height": "32px",
                      "show_state": true,
                      "entity": "sensor.motion_device_class_unavailable_deny",
                      "tap_action": {
                        "action": "call-service",
                        "service": "automation.trigger",
                        "target": {
                          "entity_id": "automation.motion_device_class_unavailable_deny"
                        }
                      }
                    }
                  },
                  {
                    "type": "conditional",
                    "conditions": [
                      {
                        "entity": "automation.motion_device_class_unavailable_help",
                        "state": "on"
                      }
                    ],
                    "card": {
                      "type": "button",
                      "name": " ",
                      "icon": "mdi:message-text",
                      "icon_height": "32px",
                      "show_state": true,
                      "entity": "sensor.motion_device_class_unavailable_help",
                      "tap_action": {
                        "action": "call-service",
                        "service": "automation.trigger",
                        "target": {
                          "entity_id": "automation.motion_device_class_unavailable_help"
                        }
                      }
                    }
                  },
                  {
                    "type": "conditional",
                    "conditions": [
                      {
                        "entity": "automation.motion_device_class_unavailable_wait",
                        "state": "on"
                      }
                    ],
                    "card": {
                      "type": "button",
                      "name": " ",
                      "icon": "mdi:reminder",
                      "icon_height": "32px",
                      "show_state": true,
                      "entity": "sensor.motion_device_class_unavailable_wait",
                      "tap_action": {
                        "action": "call-service",
                        "service": "automation.trigger",
                        "target": {
                          "entity_id": "automation.motion_device_class_unavailable_wait"
                        }
                      }
                    }
                  }
                ]
              }
            },
            {
              "type": "statistics-graph",
              "title": "Unavailable",
              "period": "hour",
              "chart_type": "line",
              "entities": [
                {
                  "name": "Events",
                  "entity": "sensor.motion_alarm_unavailable_measurement"
                }
              ],
              "days_to_show": 7,
              "stat_types": [
                "mean",
                "max"
              ]
            }
          ]
        }
      ]
    }
  }
}
