{
  "version": 1,
  "minor_version": 1,
  "key": "lovelace",
  "data": {
    "config": {
      "icon": "mdi:home-minus",
      "title": "${MOTION_APP} at ${MOTION_SITE}: Unavailable",
      "views": [
        {
          "title": "UNAVAILABLE",
          "path": "all",
          "icon": "mdi:home-minus",
          "type": "sidebar",
          "badges": [],
          "cards": [
            {
              "type": "conditional",
              "conditions": [
                {
                  "entity": "binary_sensor.motion_device_class_unavailable",
                  "state_not": "unknown"
                }
              ],
              "card": {
                "type": "markdown",
                "title": "",
                "entity_id": "binary_sensor.motion_device_class_unavailable",
                "content": "{{ state_attr(\"binary_sensor.motion_device_class_unavailable\",\"markdown\") }}"
              }
            }
          ]
        }
      ]
    }
  }
}
