{
  "version": 1,
  "minor_version": 1,
  "key": "lovelace.notify_system",
  "data": {
    "config": {
      "icon": "mdi:home-assistant",
      "title": "${MOTION_APP} at ${MOTION_SITE}: System",
      "views": [
        {
          "title": "HUB",
          "path": "hub",
          "icon": "mdi:home-assistant",
          "badges": [],
          "cards": [
            {
              "type": "conditional",
              "conditions": [
                {
                  "entity": "binary_sensor.motion_restarting",
                  "state": "on"
                }
              ],
              "card": {
                "type": "markdown",
                "title": "System restarting",
                "entity_id": "binary_sensor.motion_restarting",
                "content": "{{ state_attr(\"binary_sensor.motion_restarting\",\"markdown\") }}"
              }
            },
            {
              "type": "conditional",
              "conditions": [
                {
                  "entity": "binary_sensor.motion_rebooting",
                  "state": "on"
                }
              ],
              "card": {
                "type": "markdown",
                "title": "System rebooting",
                "entity_id": "binary_sensor.motion_rebooting",
                "content": "{{ state_attr(\"binary_sensor.motion_rebooting\",\"markdown\") }}"
              }
            },
            {
              "type": "conditional",
              "conditions": [
                {
                  "entity": "sensor.motion_name",
                  "state_not": "unknown"
                }
              ],
              "card": {
                "type": "vertical-stack",
                "cards": [
                  {
                    "title": "",
                    "type": "entities",
                    "show_icon": true,
                    "show_name": true,
                    "state_color": true,
                    "entities": [
                      {
                        "name": "Name",
                        "entity": "sensor.motion_name"
                      },
                      {
                        "entity": "sensor.motion_uptime",
                        "icon": "mdi:clock-outline",
                        "type": "attribute",
                        "attribute": "relative"
                      },
                      {
                        "entity": "sensor.internet_good",
                        "secondary_info": "last-updated"
                      },
                      {
                        "name": "Load 5m",
                        "icon": "mdi:numeric-5-box",
                        "entity": "sensor.load_5m"
                      },
                      {
                        "name": "Storage used",
                        "entity": "sensor.disk_use_percent"
                      },
                      {
                        "name": "Memory free",
                        "icon": "mdi:memory",
                        "entity": "sensor.memory_free"
                      },
                      {
                        "type": "conditional",
                        "conditions": [
                          {
                            "entity": "binary_sensor.motion_power_status",
                            "state_not": "unknown"
                          }
                        ],
                        "row": {
                          "name": "Power supply",
                          "entity": "binary_sensor.motion_power_status"
                        }
                      },
                      {
                        "type": "conditional",
                        "conditions": [
                          {
                            "entity": "update.home_assistant_supervisor_update",
                            "state": "on"
                          }
                        ],
                        "row": {
                          "entity": "update.home_assistant_supervisor_update",
                          "name": "Supervisor update available",
                          "icon": "mdi:home-assistant",
                          "type": "attribute",
                          "attribute": "latest_version"
                        }
                      },
                      {
                        "type": "conditional",
                        "conditions": [
                          {
                            "entity": "update.age_home_update",
                            "state": "on"
                          }
                        ],
                        "row": {
                          "entity": "update.age_home_update",
                          "name": "Age@Home update available",
                          "icon": "mdi:home-heart",
                          "type": "attribute",
                          "attribute": "latest_version"
                        }
                      },
                      {
                        "type": "conditional",
                        "conditions": [
                          {
                            "entity": "update.home_assistant_core_update",
                            "state": "on"
                          }
                        ],
                        "row": {
                          "entity": "update.home_assistant_core_update",
                          "name": "Core update available",
                          "icon": "mdi:home-assistant",
                          "type": "attribute",
                          "attribute": "latest_version"
                        }
                      },
                      {
                        "type": "conditional",
                        "conditions": [
                          {
                            "entity": "update.motion_classic_update",
                            "state": "on"
                          }
                        ],
                        "row": {
                          "entity": "update.motion_classic_update",
                          "name": "Motion Ã👁 update available",
                          "icon": "mdi:eye",
                          "type": "attribute",
                          "attribute": "latest_version"
                        }
                      },
                      {
                        "name": "Detail",
                        "entity": "input_boolean.motion_lovelace_support_hub_detail",
                        "tap_action": {
                          "action": "toggle"
                        }
                      }
                    ]
                  },
                  {
                    "type": "conditional",
                    "conditions": [
                      {
                        "entity": "input_boolean.motion_lovelace_support_hub_detail",
                        "state": "on"
                      }
                    ],
                    "card": {
                      "type": "vertical-stack",
                      "cards": [
                        {
                          "show_header_toggle": false,
                          "title": "",
                          "type": "entities",
                          "entities": [
                            {
                              "name": "Last boot",
                              "entity": "sensor.last_boot"
                            },
                            {
                              "name": "Uptime μ (s)",
                              "entity": "sensor.uptime_ago_mean"
                            }
                          ]
                        },
                        {
                          "type": "vertical-stack",
                          "title": "",
                          "cards": [
                            {
                              "type": "entities",
                              "show_header_toggle": false,
                              "entities": [
                                "sensor.motion_domain_device_tracker_status",
                                "sensor.motion_domain_light_status",
                                "sensor.motion_domain_switch_status",
                                "sensor.motion_domain_media_player_status",
                                "sensor.motion_domain_camera_status",
                                "sensor.motion_domain_automation_status"
                              ]
                            }
                          ]
                        }
                      ]
                    }
                  }
                ]
              }
            },
            {
              "type": "conditional",
              "conditions": [
                {
                  "entity": "sensor.motion_name",
                  "state": "unknown"
                }
              ],
              "card": {
                "title": "Hub pending",
                "type": "glance",
                "entities": []
              }
            },
            {
              "type": "conditional",
              "conditions": [
                {
                  "entity": "binary_sensor.motion_notification",
                  "state": "on"
                }
              ],
              "card": {
                "type": "vertical-stack",
                "cards": [
                  {
                    "title": "",
                    "show_header_toggle": false,
                    "type": "entities",
                    "entities": [
                      {
                        "type": "conditional",
                        "conditions": [
                          {
                            "entity": "binary_sensor.motion_notification_critical",
                            "state": "on"
                          }
                        ],
                        "row": {
                          "entity": "binary_sensor.motion_notification_critical",
                          "secondary_info": "last-updated",
                          "name": "Critical notifications",
                          "icon": "mdi:alarm-light",
                          "type": "attribute",
                          "attribute": "count"
                        }
                      },
                      {
                        "type": "conditional",
                        "conditions": [
                          {
                            "entity": "binary_sensor.motion_notification_alert",
                            "state": "on"
                          }
                        ],
                        "row": {
                          "entity": "binary_sensor.motion_notification_alert",
                          "secondary_info": "last-updated",
                          "name": "Alerts",
                          "icon": "mdi:alert",
                          "type": "attribute",
                          "attribute": "count"
                        }
                      },
                      {
                        "type": "conditional",
                        "conditions": [
                          {
                            "entity": "binary_sensor.motion_notification_notice",
                            "state": "on"
                          }
                        ],
                        "row": {
                          "entity": "binary_sensor.motion_notification_notice",
                          "secondary_info": "last-updated",
                          "name": "Notices",
                          "icon": "mdi:alert-box",
                          "type": "attribute",
                          "attribute": "count"
                        }
                      },
                      {
                        "type": "conditional",
                        "conditions": [
                          {
                            "entity": "binary_sensor.motion_notification_info",
                            "state": "on"
                          }
                        ],
                        "row": {
                          "entity": "binary_sensor.motion_notification_info",
                          "secondary_info": "last-updated",
                          "name": "Informational",
                          "icon": "mdi:comment-alert",
                          "type": "attribute",
                          "attribute": "count"
                        }
                      }
                    ]
                  },
                  {
                    "type": "markdown",
                    "title": "",
                    "entity_id": "sensor.motion_notification_count",
                    "content": "{{ state_attr(\"sensor.motion_notification_count\",\"message\") }}"
                  }
                ]
              }
            },
            {
              "type": "statistics-graph",
              "title": "Alarms",
              "chart_type": "line",
              "entities": [
                {
                  "name": "Bad",
                  "entity": "sensor.motion_alarm_measurement_bad"
                },
                {
                  "name": "Good",
                  "entity": "sensor.motion_alarm_measurement_good"
                },
                {
                  "name": "High",
                  "entity": "sensor.motion_alarm_measurement_high"
                },
                {
                  "name": "Low",
                  "entity": "sensor.motion_alarm_measurement_low"
                },
                {
                  "name": "Unavailable",
                  "entity": "sensor.motion_alarm_measurement_unavailable"
                },
                {
                  "name": "Missing",
                  "entity": "sensor.motion_alarm_measurement_missing"
                },
                {
                  "name": "Found",
                  "entity": "sensor.motion_alarm_measurement_found"
                },
                {
                  "name": "Activity",
                  "entity": "sensor.motion_alarm_measurement_activity"
                }
              ],
              "days_to_show": 7,
              "stat_types": [
                "mean",
                "min",
                "max"
              ]
            },
            {
              "type": "conditional",
              "conditions": [
                {
                  "entity": "binary_sensor.motion_alarm",
                  "state": "off"
                }
              ],
              "card": {
                "type": "entities",
                "title": "No alarms",
                "entities": [
                  {
                    "entity": "binary_sensor.motion_alarm_exist",
                    "name": "Out-standing Alarm(s)"
                  },
                  {
                    "entity": "binary_sensor.motion_alarm_exist",
                    "type": "attribute",
                    "attribute": "when",
                    "secondary_info": "last-updated",
                    "name": "Last alarm"
                  }
                ]
              }
            }
          ]
        },
        {
          "theme": "Backend-selected",
          "icon": "mdi:wan",
          "path": "internet",
          "title": "INTERNET",
          "type": "sidebar",
          "badges": [],
          "cards": [
            {
              "type": "conditional",
              "conditions": [
                {
                  "entity": "binary_sensor.uptimerobot_feed",
                  "state_not": "unknown"
                }
              ],
              "card": {
                "type": "vertical-stack",
                "title": "",
                "cards": [
                  {
                    "type": "markdown",
                    "title": "",
                    "entity_id": "binary_sensor.uptimerobot_feed",
                    "content": "{{ state_attr(\"binary_sensor.uptimerobot_feed\",\"markdown\") }}"
                  }
                ]
              },
              "view_layout": {
                "position": "sidebar"
              }
            },
            {
              "type": "vertical-stack",
              "title": "",
              "cards": [
                {
                  "type": "conditional",
                  "conditions": [
                    {
                      "entity": "sensor.internet_receive_measurement",
                      "state_not": "unknown"
                    }
                  ],
                  "card": {
                    "type": "statistics-graph",
                    "title": "Download (1 week)",
                    "chart_type": "line",
                    "entities": [
                      {
                        "name": "Mbps",
                        "entity": "sensor.internet_receive_measurement"
                      }
                    ],
                    "days_to_show": 7,
                    "stat_types": [
                      "min",
                      "mean",
                      "max"
                    ]
                  }
                },
                {
                  "type": "conditional",
                  "conditions": [
                    {
                      "entity": "sensor.internet_send_measurement",
                      "state_not": "unknown"
                    }
                  ],
                  "card": {
                    "type": "statistics-graph",
                    "title": "Upload (1 week)",
                    "chart_type": "line",
                    "entities": [
                      {
                        "name": "Mbps",
                        "entity": "sensor.internet_send_measurement"
                      }
                    ],
                    "days_to_show": 7,
                    "stat_types": [
                      "min",
                      "mean",
                      "max"
                    ]
                  }
                }
              ],
              "view_layout": {
                "position": "main"
              }
            },
            {
              "type": "conditional",
              "conditions": [
                {
                  "entity": "binary_sensor.uptimerobot_feed",
                  "state_not": "unknown"
                }
              ],
              "card": {
                "type": "vertical-stack",
                "title": "",
                "cards": [
                  {
                    "show_header_toggle": false,
                    "title": "Internet",
                    "type": "entities",
                    "entities": [
                      {
                        "name": "Status",
                        "entity": "sensor.internet_good"
                      },
                      {
                        "type": "conditional",
                        "conditions": [
                          {
                            "entity": "binary_sensor.uptimerobot",
                            "state": "off"
                          }
                        ],
                        "row": {
                          "name": "Last on-line",
                          "entity": "binary_sensor.uptimerobot_feed",
                          "type": "attribute",
                          "attribute": "online"
                        }
                      },
                      {
                        "type": "conditional",
                        "conditions": [
                          {
                            "entity": "binary_sensor.uptimerobot_feed",
                            "state": "on"
                          }
                        ],
                        "row": {
                          "name": "Last off-line",
                          "entity": "binary_sensor.uptimerobot_feed",
                          "type": "attribute",
                          "attribute": "offline"
                        }
                      },
                      {
                        "type": "conditional",
                        "conditions": [
                          {
                            "entity": "binary_sensor.uptimerobot_feed",
                            "state_not": "off"
                          }
                        ],
                        "row": {
                          "name": "NabuCasa monitor",
                          "entity": "binary_sensor.uptimerobot_nabucasa"
                        }
                      },
                      {
                        "type": "conditional",
                        "conditions": [
                          {
                            "entity": "sensor.uptimerobot_online_percent",
                            "state_not": "null"
                          }
                        ],
                        "row": {
                          "name": "Remote monitoring",
                          "entity": "sensor.uptimerobot_online_percent"
                        }
                      }
                    ]
                  },
                  {
                    "type": "conditional",
                    "conditions": [
                      {
                        "entity": "binary_sensor.uptimerobot_feed",
                        "state_not": "on"
                      },
                      {
                        "entity": "binary_sensor.uptimerobot_nabucasa",
                        "state_not": "on"
                      },
                      {
                        "entity": "binary_sensor.uptimerobot_feed",
                        "state_not": "unknown"
                      },
                      {
                        "entity": "binary_sensor.uptimerobot_nabucasa",
                        "state_not": "unknown"
                      }
                    ],
                    "card": {
                      "type": "vertical-stack",
                      "title": "",
                      "cards": [
                        {
                          "type": "conditional",
                          "conditions": [
                            {
                              "entity": "binary_sensor.uptimerobot_feed",
                              "state": "off"
                            }
                          ],
                          "card": {
                            "type": "entities",
                            "title": "Monitor off-line",
                            "show_header_toggle": false,
                            "entities": [
                              {
                                "name": "Last on-line",
                                "icon": "mdi:clock",
                                "entity": "binary_sensor.uptimerobot",
                                "type": "attribute",
                                "attribute": "relative"
                              },
                              {
                                "type": "section",
                                "label": "Feed URL"
                              },
                              {
                                "name": "RSS feed from uptimerobot.com",
                                "entity": "input_text.uptimerobot_feed_rssurl"
                              }
                            ]
                          }
                        },
                        {
                          "type": "button",
                          "name": "Update",
                          "icon": "mdi:update",
                          "icon_height": "32px",
                          "tap_action": {
                            "action": "call-service",
                            "service": "homeassistant.update_entity",
                            "target": {
                              "entity_id": "sensor.uptimerobot_feed"
                            },
                            "confirmation": {
                              "text": "Update the UptimeRobot monitor?",
                              "exemptions": null
                            }
                          }
                        }
                      ]
                    }
                  }
                ]
              },
              "view_layout": {
                "position": "sidebar"
              }
            },
            {
              "type": "conditional",
              "conditions": [
                {
                  "entity": "binary_sensor.uptimerobot_feed",
                  "state_not": "unknown"
                }
              ],
              "card": {
                "type": "vertical-stack",
                "title": "",
                "cards": [
                  {
                    "type": "conditional",
                    "conditions": [
                      {
                        "entity": "sensor.uptimerobot_online_percent",
                        "state_not": "null"
                      }
                    ],
                    "card": {
                      "type": "history-graph",
                      "title": "On-line (1 week)",
                      "hours_to_show": 168,
                      "refresh_interval": 300,
                      "entities": [
                        {
                          "name": "Monitor up",
                          "entity": "sensor.uptimerobot_online_percent"
                        }
                      ]
                    }
                  }
                ]
              },
              "view_layout": {
                "position": "sidebar"
              }
            },
            {
              "type": "conditional",
              "conditions": [
                {
                  "entity": "sensor.motion_router_name",
                  "state_not": "Pending"
                },
                {
                  "entity": "sensor.motion_router_name",
                  "state_not": "unknown"
                }
              ],
              "card": {
                "type": "vertical-stack",
                "cards": [
                  {
                    "type": "glance",
                    "show_icon": true,
                    "show_name": true,
                    "title": "Router",
                    "entities": [
                      {
                        "name": "Name",
                        "entity": "sensor.motion_router_name"
                      },
                      {
                        "entity": "sensor.motion_router_bits_sent"
                      },
                      {
                        "entity": "sensor.motion_router_bits_received"
                      },
                      {
                        "entity": "sensor.motion_router_kbs_sent"
                      },
                      {
                        "entity": "sensor.motion_router_kbs_received"
                      }
                    ]
                  },
                  {
                    "entity": "sensor.motion_router_kbs_received",
                    "graph": "line",
                    "hours_to_show": 24,
                    "icon": "mdi:ip-network",
                    "name": "Router IN (24h)",
                    "type": "sensor"
                  },
                  {
                    "detail": 2,
                    "entity": "sensor.motion_router_kbs_sent",
                    "graph": "line",
                    "hours_to_show": 24,
                    "icon": "mdi:ip-network-outline",
                    "name": "Router OUT (24h)",
                    "type": "sensor"
                  }
                ]
              },
              "view_layout": {
                "position": "sidebar"
              }
            }
          ]
        },
        {
          "icon": "mdi:ip-network",
          "path": "intranet",
          "title": "INTRANET",
          "badges": [],
          "cards": [
            {
              "type": "conditional",
              "conditions": [
                {
                  "entity": "sensor.intranet_good",
                  "state_not": "Pending"
                }
              ],
              "card": {
                "type": "vertical-stack",
                "cards": [
                  {
                    "show_header_toggle": false,
                    "title": "Intranet",
                    "type": "entities",
                    "entities": [
                      {
                        "entity": "sensor.intranet_good"
                      },
                      {
                        "entity": "sensor.intranet_receive"
                      },
                      {
                        "entity": "sensor.intranet_send"
                      },
                      {
                        "entity": "binary_sensor.intranet_test"
                      },
                      {
                        "entity": "sensor.intranet_ago"
                      },
                      {
                        "entity": "sensor.intranet_counter"
                      },
                      {
                        "entity": "sensor.intranet_iperf_host"
                      },
                      {
                        "entity": "input_number.intranet_deviation"
                      }
                    ]
                  },
                  {
                    "hours_to_show": 168,
                    "refresh_interval": 300,
                    "title": "Down (1w)",
                    "type": "history-graph",
                    "entities": [
                      {
                        "entity": "sensor.intranet_receive_mean",
                        "name": "Mean"
                      },
                      {
                        "entity": "sensor.intranet_receive_min",
                        "name": "Min"
                      },
                      {
                        "entity": "sensor.intranet_receive_max",
                        "name": "Max"
                      }
                    ]
                  },
                  {
                    "hours_to_show": 168,
                    "refresh_interval": 30,
                    "title": "Up (1w)",
                    "type": "history-graph",
                    "entities": [
                      {
                        "entity": "sensor.intranet_send_mean",
                        "name": "Mean"
                      },
                      {
                        "entity": "sensor.intranet_send_min",
                        "name": "Min"
                      },
                      {
                        "entity": "sensor.intranet_send_max",
                        "name": "Max"
                      }
                    ]
                  }
                ]
              }
            },
            {
              "type": "vertical-stack",
              "cards": [
                {
                  "type": "glance",
                  "entities": [
                    {
                      "entity": "sensor.motion_mqtt_broker"
                    },
                    {
                      "entity": "sensor.motion_mqtt_port"
                    },
                    {
                      "name": "Sent (1m)",
                      "entity": "sensor.motion_mqtt_load_messages_sent_1min"
                    },
                    {
                      "name": "Sent (5m)",
                      "entity": "sensor.motion_mqtt_load_messages_sent_5min"
                    },
                    {
                      "name": "Sent (15m)",
                      "entity": "sensor.motion_mqtt_load_messages_sent_15min"
                    }
                  ],
                  "show_icon": true,
                  "show_name": true,
                  "title": "MQTT status"
                }
              ]
            }
          ]
        },
        {
          "title": "RELOAD",
          "path": "reload",
          "icon": "mdi:restart",
          "badges": [],
          "cards": [
            {
              "type": "conditional",
              "conditions": [
                {
                  "entity": "binary_sensor.motion_restarting",
                  "state": "on"
                }
              ],
              "card": {
                "type": "markdown",
                "title": "System restarting",
                "entity_id": "binary_sensor.motion_restarting",
                "content": "{{ state_attr(\"binary_sensor.motion_restarting\",\"markdown\") }}"
              }
            },
            {
              "type": "conditional",
              "conditions": [
                {
                  "entity": "binary_sensor.motion_rebooting",
                  "state": "on"
                }
              ],
              "card": {
                "type": "markdown",
                "title": "System rebooting",
                "entity_id": "binary_sensor.motion_rebooting",
                "content": "{{ state_attr(\"binary_sensor.motion_rebooting\",\"markdown\") }}"
              }
            },
            {
              "type": "vertical-stack",
              "title": "",
              "cards": [
                {
                  "type": "conditional",
                  "conditions": [
                    {
                      "entity": "binary_sensor.motion_addon_installed",
                      "state": "on"
                    }
                  ],
                  "card": {
                    "show_header_toggle": false,
                    "type": "entities",
                    "title": "",
                    "entities": [
                      {
                        "name": "Add-on",
                        "entity": "binary_sensor.motion_addon_update",
                        "icon": "mdi:apps",
                        "type": "attribute",
                        "attribute": "title"
                      },
                      {
                        "name": "Version",
                        "entity": "binary_sensor.motion_addon_update",
                        "icon": "mdi:play-protected-content",
                        "type": "attribute",
                        "attribute": "version"
                      },
                      {
                        "name": "Started",
                        "entity": "binary_sensor.motion_addon_status",
                        "icon": "mdi:restart",
                        "type": "attribute",
                        "suffix": "ago",
                        "attribute": "relative"
                      },
                      {
                        "type": "conditional",
                        "conditions": [
                          {
                            "entity": "binary_sensor.motion_addon_update",
                            "state": "on"
                          }
                        ],
                        "row": {
                          "name": "Update",
                          "entity": "binary_sensor.motion_addon_update",
                          "icon": "mdi:download",
                          "type": "attribute",
                          "attribute": "latest",
                          "tap_action": {
                            "action": "call-service",
                            "service": "automation.trigger",
                            "target": {
                              "entity_id": "automation.motion_addon_update"
                            },
                            "confirmation": {
                              "text": "Update the Age@Home add-on?",
                              "exemptions": null
                            }
                          }
                        }
                      },
                      {
                        "name": "Last check",
                        "entity": "sensor.motion_reload_updates",
                        "icon": "mdi:cloud-refresh",
                        "suffix": "ago",
                        "type": "attribute",
                        "attribute": "relative"
                      }
                    ]
                  }
                },
                {
                  "show_header_toggle": false,
                  "type": "entities",
                  "title": "",
                  "entities": [
                    {
                      "name": "Reload required",
                      "entity": "binary_sensor.motion_reload"
                    },
                    {
                      "type": "section",
                      "label": "Status"
                    },
                    {
                      "type": "conditional",
                      "conditions": [
                        {
                          "entity": "binary_sensor.motion_reload_enabled",
                          "state": "on"
                        }
                      ],
                      "row": {
                        "name": "Auto-update",
                        "entity": "binary_sensor.motion_reload_enabled",
                        "tap_action": {
                          "action": "call-service",
                          "service": "input_boolean.turn_off",
                          "target": {
                            "entity_id": "input_boolean.motion_reload"
                          },
                          "confirmation": {
                            "text": "Turn OFF automatic updates",
                            "exemptions": null
                          }
                        }
                      }
                    },
                    {
                      "type": "conditional",
                      "conditions": [
                        {
                          "entity": "binary_sensor.motion_reload_enabled",
                          "state": "off"
                        }
                      ],
                      "row": {
                        "name": "Auto-update",
                        "entity": "binary_sensor.motion_reload_enabled",
                        "tap_action": {
                          "action": "call-service",
                          "service": "input_boolean.turn_on",
                          "target": {
                            "entity_id": "input_boolean.motion_reload"
                          }
                        }
                      }
                    },
                    {
                      "type": "conditional",
                      "conditions": [
                        {
                          "entity": "input_boolean.motion_reload",
                          "state": "on"
                        }
                      ],
                      "row": {
                        "name": "Restarting",
                        "entity": "binary_sensor.motion_restarting"
                      }
                    },
                    {
                      "type": "conditional",
                      "conditions": [
                        {
                          "entity": "input_boolean.motion_reload",
                          "state": "on"
                        }
                      ],
                      "row": {
                        "name": "Reloaded",
                        "entity": "binary_sensor.motion_reloaded"
                      }
                    }
                  ]
                },
                {
                  "type": "conditional",
                  "conditions": [
                    {
                      "entity": "binary_sensor.motion_addon_installed",
                      "state_not": "on"
                    }
                  ],
                  "card": {
                    "type": "entities",
                    "title": "Add-on pending",
                    "entities": []
                  }
                },
                {
                  "type": "horizontal-stack",
                  "cards": [
                    {
                      "type": "conditional",
                      "conditions": [
                        {
                          "entity": "binary_sensor.motion_addon_update",
                          "state": "on"
                        },
                        {
                          "entity": "binary_sensor.motion_restarting",
                          "state": "off"
                        }
                      ],
                      "card": {
                        "type": "button",
                        "name": "Update",
                        "icon": "mdi:update",
                        "icon_height": "32px",
                        "tap_action": {
                          "action": "call-service",
                          "service": "automation.trigger",
                          "target": {
                            "entity_id": "automation.motion_addon_update"
                          },
                          "confirmation": {
                            "text": "Update the Age@Home add-on?",
                            "exemptions": null
                          }
                        }
                      }
                    },
                    {
                      "type": "conditional",
                      "conditions": [
                        {
                          "entity": "binary_sensor.motion_addon_installed",
                          "state": "on"
                        },
                        {
                          "entity": "binary_sensor.motion_restarting",
                          "state": "off"
                        },
                        {
                          "entity": "binary_sensor.motion_rebooting",
                          "state": "off"
                        }
                      ],
                      "card": {
                        "type": "button",
                        "name": "Refresh",
                        "icon": "mdi:refresh",
                        "icon_height": "32px",
                        "tap_action": {
                          "action": "call-service",
                          "service": "automation.trigger",
                          "target": {
                            "entity_id": "automation.motion_addon_restart"
                          },
                          "confirmation": {
                            "text": "Restart the Age@Home add-on?",
                            "exemptions": null
                          }
                        }
                      }
                    },
                    {
                      "type": "conditional",
                      "conditions": [
                        {
                          "entity": "binary_sensor.motion_addon_reload",
                          "state": "on"
                        },
                        {
                          "entity": "binary_sensor.motion_restarting",
                          "state": "off"
                        },
                        {
                          "entity": "binary_sensor.motion_rebooting",
                          "state": "off"
                        }
                      ],
                      "card": {
                        "type": "button",
                        "name": "Reload",
                        "icon": "mdi:reload-alert",
                        "icon_height": "32px",
                        "tap_action": {
                          "action": "call-service",
                          "service": "homeassistant.reload_core_config",
                          "confirmation": {
                            "text": "Add-on refreshed; reload Age@Home configuration?",
                            "exemptions": null
                          }
                        }
                      }
                    },
                    {
                      "type": "conditional",
                      "conditions": [
                        {
                          "entity": "binary_sensor.motion_restarting",
                          "state_not": "unknown"
                        },
                        {
                          "entity": "input_boolean.motion_restart",
                          "state_not": "on"
                        }
                      ],
                      "card": {
                        "type": "button",
                        "name": "Restart",
                        "icon": "hass:restart",
                        "icon_height": "32px",
                        "show_state": true,
                        "entity": "binary_sensor.motion_restarting",
                        "tap_action": {
                          "action": "call-service",
                          "service": "input_boolean.turn_on",
                          "target": {
                            "entity_id": "input_boolean.motion_restart"
                          },
                          "confirmation": {
                            "text": "Confirm restart Age@Home?",
                            "exemptions": null
                          }
                        }
                      }
                    },
                    {
                      "type": "conditional",
                      "conditions": [
                        {
                          "entity": "binary_sensor.motion_rebooting",
                          "state_not": "unknown"
                        },
                        {
                          "entity": "input_boolean.motion_reboot",
                          "state_not": "on"
                        }
                      ],
                      "card": {
                        "type": "button",
                        "name": "Reboot",
                        "icon": "mdi:power",
                        "icon_height": "32px",
                        "show_state": true,
                        "entity": "binary_sensor.motion_rebooting",
                        "tap_action": {
                          "action": "call-service",
                          "service": "input_boolean.turn_on",
                          "target": {
                            "entity_id": "input_boolean.motion_reboot"
                          },
                          "confirmation": {
                            "text": "Confirm hub reboot?",
                            "exemptions": null
                          }
                        }
                      }
                    }
                  ]
                }
              ]
            }
          ]
        },
        {
          "title": "LOCATION",
          "path": "location",
          "icon": "mdi:map-marker",
          "badges": [],
          "cards": [
            {
              "type": "map",
              "entities": [
                {
                  "entity": "zone.home"
                },
                {
                  "entity": "binary_sensor.what3words_location"
                }
              ],
              "hours_to_show": 0,
              "default_zoom": 18
            },
            {
              "show_header_toggle": false,
              "title": "Home",
              "type": "entities",
              "entities": [
                {
                  "name": "Latitude",
                  "entity": "sensor.zone_home_latitude"
                },
                {
                  "name": "Longitude",
                  "entity": "sensor.zone_home_longitude"
                },
                {
                  "name": "Radius",
                  "entity": "sensor.zone_home_radius"
                },
                {
                  "type": "section",
                  "label": "What3Words"
                },
                {
                  "name": "Active",
                  "entity": "binary_sensor.what3words_location",
                  "hold_action": {
                    "action": "call-service",
                    "service": "homeassistant.update_entity",
                    "target": {
                      "entity_id": "sensor.what3words_location_rest"
                    },
                    "confirmation": {
                      "text": "Refresh What3Words location?",
                      "exemptions": null
                    }
                  }
                },
                {
                  "type": "conditional",
                  "conditions": [
                    {
                      "entity": "binary_sensor.what3words_location",
                      "state": "on"
                    }
                  ],
                  "row": {
                    "name": "Location",
                    "entity": "binary_sensor.what3words_location",
                    "type": "attribute",
                    "attribute": "words"
                  }
                },
                {
                  "type": "conditional",
                  "conditions": [
                    {
                      "entity": "binary_sensor.what3words_location",
                      "state": "on"
                    }
                  ],
                  "row": {
                    "name": "Updated",
                    "entity": "binary_sensor.what3words_location",
                    "type": "attribute",
                    "attribute": "relative",
                    "suffix": "ago"
                  }
                },
                {
                  "type": "conditional",
                  "conditions": [
                    {
                      "entity": "binary_sensor.what3words_location",
                      "state": "off"
                    }
                  ],
                  "row": {
                    "type": "section",
                    "label": "Configuration"
                  }
                },
                {
                  "type": "conditional",
                  "conditions": [
                    {
                      "entity": "binary_sensor.what3words_location",
                      "state": "off"
                    }
                  ],
                  "row": {
                    "name": "Words",
                    "entity": "input_text.what3words_location"
                  }
                },
                {
                  "type": "conditional",
                  "conditions": [
                    {
                      "entity": "binary_sensor.what3words_location",
                      "state": "off"
                    }
                  ],
                  "row": {
                    "name": "APIKEY",
                    "entity": "input_text.what3words_apikey"
                  }
                }
              ]
            },
            {
              "type": "button",
              "name": "Change home location",
              "show_state": false,
              "entity": "zone.home",
              "icon": "mdi:map-marker",
              "icon_height": "32px",
              "tap_action": {
                "action": "navigate",
                "navigation_path": "/config/zone/home?edit=1"
              }
            }
          ]
        },
        {
          "title": "SETTINGS",
          "path": "settings",
          "icon": "mdi:cog",
          "badges": [],
          "cards": [
            {
              "show_header_toggle": false,
              "title": "",
              "type": "entities",
              "entities": [
                {
                  "name": "Name",
                  "entity": "input_text.motion_app"
                },
                {
                  "name": "Site",
                  "entity": "input_text.motion_site"
                },
                {
                  "name": "Log level",
                  "entity": "sensor.motion_log_level",
                  "tap_action": {
                    "action": "call-service",
                    "service": "input_select.select_next",
                    "data": {
                      "cycle": false
                    },
                    "target": {
                      "entity_id": "input_select.motion_log_level"
                    }
                  },
                  "hold_action": {
                    "action": "call-service",
                    "service": "input_select.select_option",
                    "data": {
                      "option": "debug"
                    },
                    "target": {
                      "entity_id": "input_select.motion_log_level"
                    }
                  }
                },
                {
                  "type": "section",
                  "label": "Internet"
                },
                {
                  "name": "Warning level",
                  "entity": "input_number.internet_deviation"
                }
              ]
            },
            {
              "type": "entities",
              "title": "",
              "show_header_toggle": false,
              "entities": [
                {
                  "name": "People",
                  "entity": "sensor.motion_domain_person_status",
                  "secondary_info": "last-updated",
                  "icon": "mdi:account-check"
                },
                {
                  "name": "Active",
                  "entity": "sensor.motion_domain_person_status",
                  "icon": "mdi:account-clock",
                  "type": "attribute",
                  "attribute": "active"
                },
                {
                  "name": "On-line",
                  "entity": "sensor.motion_domain_person_status",
                  "icon": "mdi:account-group",
                  "type": "attribute",
                  "attribute": "online"
                },
                {
                  "name": "Off-line",
                  "entity": "sensor.motion_domain_person_status",
                  "icon": "mdi:account-group-outline",
                  "type": "attribute",
                  "attribute": "offline"
                }
              ]
            }
          ]
        }
      ]
    }
  }
}
