{
  "visible": [],
  "theme": "Backend-selected",
  "title": "<DEVICECLASS>",
  "path": "<deviceclass>",
  "icon": "mdi:<deviceclass>",
  "type": "sidebar",
  "badges": [],
  "cards": [
    {
      "type": "horizontal-stack",
      "view_layout": {
        "position": "sidebar"
      },
      "cards": [
        {
          "type": "button",
          "name": "",
          "icon": "mdi:view-dashboard",
          "icon_height": "32px",
          "tap_action": {
            "action": "navigate",
            "navigation_path": "/"
          }
        },
        {
          "type": "button",
          "name": " ",
          "icon": "mdi:message",
          "show_state": false,
          "entity": "binary_sensor.motion_alarm",
          "icon_height": "32px",
          "tap_action": {
            "action": "navigate",
            "navigation_path": "/lovelace-primary"
          }
        },
        {
          "type": "button",
          "name": "",
          "icon": "mdi:devices",
          "icon_height": "32px",
          "tap_action": {
            "action": "navigate",
            "navigation_path": "/notify-devices/<deviceclass>"
          }
        }
      ]
    },
    {
      "type": "vertical-stack",
      "title": "",
      "view_layout": {
        "position": "main"
      },
      "cards": [
        {
          "type": "conditional",
          "conditions": [
            {
              "entity": "binary_sensor.motion_alarm_<deviceclass>",
              "state": "on"
            }
          ],
          "card": {
            "type": "markdown",
            "title": "",
            "entity_id": "binary_sensor.motion_alarm_<deviceclass>",
            "content": "{{ state_attr(\"binary_sensor.motion_alarm_<deviceclass>\",\"markdown\") }}"
          }
        },
        {
          "type": "conditional",
          "conditions": [
            {
              "entity": "binary_sensor.motion_device_<deviceclass>",
              "state": "on"
            },
            {
              "entity": "binary_sensor.motion_alarm_<deviceclass>",
              "state": "off"
            }
          ],
          "card": {
            "type": "markdown",
            "title": "",
            "entity_id": "binary_sensor.motion_device_<deviceclass>",
            "content": "{{ state_attr(\"binary_sensor.motion_device_<deviceclass>\",\"markdown\") }}"
          }
        },
        {
          "type": "conditional",
          "conditions": [
            {
              "entity": "binary_sensor.motion_device_<deviceclass>",
              "state": "on"
            }
          ],
          "card": {
            "type": "horizontal-stack",
            "cards": [
              {
                "type": "conditional",
                "conditions": [
                  {
                    "entity": "binary_sensor.motion_alarm_<deviceclass>",
                    "state": "on"
                  }
                ],
                "card": {
                  "type": "button",
                  "name": " ",
                  "icon": "mdi:bell-sleep",
                  "icon_height": "32px",
                  "tap_action": {
                    "action": "call-service",
                    "service": "automation.trigger",
                    "target": {
                      "entity_id": "automation.motion_device_<deviceclass>_dismiss"
                    }
                  }
                }
              },
              {
                "type": "conditional",
                "conditions": [
                  {
                    "entity": "automation.motion_device_<deviceclass>_approve",
                    "state": "on"
                  }
                ],
                "card": {
                  "type": "button",
                  "name": " ",
                  "icon": "mdi:thumb-up",
                  "icon_height": "32px",
                  "show_state": true,
                  "entity": "sensor.motion_device_<deviceclass>_approve",
                  "tap_action": {
                    "action": "call-service",
                    "service": "automation.trigger",
                    "target": {
                      "entity_id": "automation.motion_device_<deviceclass>_approve"
                    }
                  }
                }
              },
              {
                "type": "conditional",
                "conditions": [
                  {
                    "entity": "automation.motion_device_<deviceclass>_deny",
                    "state": "on"
                  }
                ],
                "card": {
                  "type": "button",
                  "name": " ",
                  "icon": "mdi:thumb-down",
                  "icon_height": "32px",
                  "show_state": true,
                  "entity": "sensor.motion_device_<deviceclass>_deny",
                  "tap_action": {
                    "action": "call-service",
                    "service": "automation.trigger",
                    "target": {
                      "entity_id": "automation.motion_device_<deviceclass>_deny"
                    }
                  }
                }
              },
              {
                "type": "conditional",
                "conditions": [
                  {
                    "entity": "automation.motion_device_<deviceclass>_help",
                    "state": "on"
                  }
                ],
                "card": {
                  "type": "button",
                  "name": " ",
                  "icon": "mdi:message-text",
                  "icon_height": "32px",
                  "show_state": true,
                  "entity": "sensor.motion_device_<deviceclass>_help",
                  "tap_action": {
                    "action": "call-service",
                    "service": "automation.trigger",
                    "target": {
                      "entity_id": "automation.motion_device_<deviceclass>_help"
                    }
                  }
                }
              },
              {
                "type": "conditional",
                "conditions": [
                  {
                    "entity": "automation.motion_device_<deviceclass>_wait",
                    "state": "on"
                  }
                ],
                "card": {
                  "type": "button",
                  "name": " ",
                  "icon": "mdi:reminder",
                  "icon_height": "32px",
                  "show_state": true,
                  "entity": "sensor.motion_device_<deviceclass>_wait",
                  "tap_action": {
                    "action": "call-service",
                    "service": "automation.trigger",
                    "target": {
                      "entity_id": "automation.motion_device_<deviceclass>_wait"
                    }
                  }
                }
              }
            ]
          }
        }
      ]
    }
  ]
}
