# 
motion-app: ${MOTION_APP}
motion-site: ${MOTION_SITE}
motion-repository: ${MOTION_REPOSITORY}
uptimerobot-rssurl: ${UPTIMEROBOT_RSSURL}
#consul-url: ${CONSUL_URL}
#couchdb-url: ${COUCHDB_URL}
#digits-url: ${DIGITS_URL}
#edgex-url: ${EDGEX_URL}
#grafana-url: ${GRAFANA_URL}
netdata-url: ${NETDATA_URL}
jupyter-url: ${JUPYTER_URL}
#exchange-apikey: ${EXCHANGE_APIKEY} 
#exchange-api-status: ${EXCHANGE_URL}/v1/admin/status
#exchange-api-version: ${EXCHANGE_URL}/v1/admin/version
#exchange-username: ${EXCHANGE_ORG}/${EXCHANGE_ORG_ADMIN}
ha-local-or-remote: local
ha-latitude: ${HOST_LATITUDE}
ha-longitude: ${HOST_LONGITUDE}
ha-ip: ${HOST_IPADDR}
ha-name: ${HOST_NAME}
ha-port: ${HOST_PORT}
ha-theme: ${HOST_THEME}
ha-timezone: ${HOST_TIMEZONE}
ha-url: http://${HOST_NAME}:${HOST_PORT}
hznmonitor-exchange: ${HZNMONITOR_URL}/cgi-bin/exchange
#hznmonitor-nodes: ${HZNMONITOR_URL}/cgi-bin/nodes
#hznmonitor-patterns: ${HZNMONITOR_URL}/cgi-bin/patterns
#hznmonitor-services: ${HZNMONITOR_URL}/cgi-bin/services
#hznmonitor-url: ${HZNMONITOR_URL}/
influxdb-host: ${INFLUXDB_HOST}
influxdb-database: ${INFLUXDB_DATABASE}
influxdb-username: ${INFLUXDB_USERNAME}
influxdb-password: ${INFLUXDB_PASSWORD}
mqtt-broker: ${MQTT_HOST}
mqtt-password: ${MQTT_PASSWORD}
mqtt-port: ${MQTT_PORT}
mqtt-username: ${MQTT_USERNAME}
shelly-enable: off
shelly-username: ${MQTT_USERNAME}
shelly-password: ${MQTT_PASSWORD}
netcam-password: ${NETCAM_PASSWORD}
netcam-username: ${NETCAM_USERNAME}
netcam-userpass: ${NETCAM_USERNAME}:${NETCAM_PASSWORD}
motioncam-password: ${MOTIONCAM_PASSWORD}
motioncam-username: ${MOTIONCAM_USERNAME}
motioncam-userpass: ${MOTIONCAM_USERNAME}:${MOTIONCAM_PASSWORD}
motion-user: ${MOTION_USER}
motion-primary: ${MOTION_PRIMARY}
motion-secondary: ${MOTION_SECONDARY}
motion-tertiary: ${MOTION_TERTIARY}
motion-person-device: ${MOTION_USER_DEVICE}
motion-primary-device: ${MOTION_PRIMARY_DEVICE}
motion-secondary-device: ${MOTION_SECONDARY_DEVICE}
motion-tertiary-device: ${MOTION_TERTIARY_DEVICE}

# OMADA
omada-username: ${OMADA_USERNAME}
omada-password: ${OMADA_PASSWORD}
omada-url: ${OMADA_URL}

# restart via tplink
motion-addon-camera-restart: ${MOTION_CAMERA_RESTART}

# mariadb
mariadb-url: mysql://homeassistant:${MARIADB_PASSWORD}@${MARIADB_HOST}/homeassistant?charset=utf8mb4
mariadb-password: ${MARIADB_PASSWORD}
mariadb-host: ${MARIADB_HOST}

# KASA/tplink discovery: true/false
tplink-discovery: ${TPLINK_DISCOVERY}

# nmap-tracker
nmap-tracker-hosts: ${HOST_NETWORK}/${HOST_NETWORK_MASK}
nmap-tracker-exclude: ${HOST_IPADDR}

# startup
internet-automations: ${AUTOMATION_INTERNET}
intranet-automations: ${AUTOMATION_INTRANET}
startup-automations: ${AUTOMATION_startup}
sdr2msghub-automations: ${AUTOMATION_sdr2msghub}
yolo2msghub-automations: ${AUTOMATION_yolo2msghub}
highlow-automations: ${AUTOMATION_highlow}

## system monitoring notifications
sysmon-notifications: on

## network
internet-notifications: on
intranet-notifications: on
internet-scan-interval: ${INTERNET_SCAN_INTERVAL}
intranet-scan-interval: ${INTRANET_SCAN_INTERVAL}
intranet-iperf-host: ${IPERF_HOST}

detected-entity-count-notifications: on
detected-person-count-notifications: on
detected-animal-count-notifications: on
detected-vehicle-count-notifications: on

detected-entity-activity-notifications: on
detected-person-activity-notifications: on
detected-animal-activity-notifications: on
detected-vehicle-activity-notifications: on

detected-entity-ago-notifications: off
detected-person-ago-notifications: on
detected-animal-ago-notifications: on
detected-vehicle-ago-notifications: on

## yolo
yolo-ip: ${MOTION_YOLO_IP}
yolo-scan-interval: 1800
yolo4motion-service: 'service/yolo4motion/+'

## alpr
alpr-ip: ${MOTION_YOLO_IP}
alpr-scan-interval: 1800
alpr4motion-service: 'service/alpr4motion/+'

## face
face-ip: ${MOTION_YOLO_IP}
face-scan-interval: 1800
face4motion-service: 'service/face4motion/+'

## pose
pose-ip: ${MOTION_YOLO_IP}
pose-scan-interval: 1800
pose4motion-service: 'service/pose4motion/+'

###
# motion
###

motion-group: ${MOTION_GROUP}
motion-device: ${MOTION_DEVICE}
motion-client: ${MOTION_CLIENT}
motion-version: 0.10.4
motion-detect-entity: ${MOTION_DETECT_ENTITY}
motion-camera-autoselect: true
limit-refetch-to-url-change: false

motion-snapshot-save: true
motion-snapshot: true

motion-media-save: ${MOTION_MEDIA_SAVE}
motion-media-mask: ${MOTION_MEDIA_MASK}

motion-w3w-apikey: ${MOTION_W3W_APIKEY}
motion-w3w-words: ${MOTION_W3W_WORDS}

motion-overview-apikey: ${MOTION_OVERVIEW_APIKEY}
motion-overview-zoom: ${MOTION_OVERVIEW_ZOOM}
motion-overview-mode: ${MOTION_OVERVIEW_MODE}
motion-overview-image: ${MOTION_OVERVIEW_IMAGE}

# expiration
motion-expire-after: ${MOTION_EXPIRE_AFTER}
motion-annotated-expire-after: ${MOTION_EXPIRE_AFTER}
motion-end-expire-after: ${MOTION_EXPIRE_AFTER}
motion-face-expire-after: ${MOTION_EXPIRE_AFTER}
motion-alpr-expire-after: ${MOTION_EXPIRE_AFTER}
motion-pose-expire-after: ${MOTION_EXPIRE_AFTER}

#
motion-force-update: ${MOTION_FORCE_UPDATE}
motion-end-force-update: ${MOTION_FORCE_UPDATE}
motion-annotated-force-update: ${MOTION_FORCE_UPDATE}
motion-face-force-update: ${MOTION_FORCE_UPDATE}
motion-alpr-force-update: ${MOTION_FORCE_UPDATE}
motion-pose-force-update: ${MOTION_FORCE_UPDATE}

#
motion-start-ago: 30
motion-end-ago: 30
motion-annotated-ago: ${MOTION_ANNOTATED_AGO}
motion-face-ago: ${MOTION_ANNOTATED_AGO}
motion-alpr-ago: ${MOTION_ANNOTATED_AGO}
motion-pose-ago: ${MOTION_ANNOTATED_AGO}
motion-detected-ago: ${MOTION_DETECTED_AGO}

#
motion-detected-notify: false
motion-notify-speaker: false
motion-notify-smartphone: ${MOTION_NOTIFY_SMARTPHONE}

motion-schedule-wakeup-detected-notify: false
motion-schedule-wakeup-undetected-notify: true
motion-schedule-bedtime-detected-notify: false
motion-schedule-bedtime-undetected-notify: true

#
motion-complete: 120

# minimum confidence
motion-entity-detected-percent: 25
motion-person-detected-percent: 25
motion-vehicle-detected-percent: 25
motion-animal-detected-percent: 25
motion-face-detected-percent: 25
motion-alpr-detected-percent: 25
motion-pose-detected-percent: 25

motion-detected-entity-ago: ${MOTION_DETECTED_ENTITY_AGO}
motion-detected-person-ago: ${MOTION_DETECTED_PERSON_AGO}
motion-detected-vehicle-ago: ${MOTION_DETECTED_VEHICLE_AGO}
motion-detected-animal-ago: ${MOTION_DETECTED_ANIMAL_AGO}
motion-face-detected-ago: ${MOTION_DETECTED_AGO}
motion-alpr-detected-ago: ${MOTION_DETECTED_AGO}
motion-pose-detected-ago: ${MOTION_DETECTED_AGO}
motion-person-face-ago: 60
motion-vehicle-alpr-ago: 60

motion-detect-entity-notify-webcam: false
motion-detect-entity-speak-webcam: false
motion-detect-entity-alert-webcam: false
motion-person-detect-alert-when-away: false

motion-detected-animal-notify: ${MOTION_DETECTED_ANIMAL_NOTIFY}
motion-detected-vehicle-notify: ${MOTION_DETECTED_VEHICLE_NOTIFY}
motion-detected-person-notify: ${MOTION_DETECTED_PERSON_NOTIFY}
motion-detected-entity-notify: ${MOTION_DETECTED_ENTITY_NOTIFY}
motion-face-detected-notify: false
motion-alpr-detected-notify: false
motion-pose-detected-notify: false
motion-person-face-notify: false
motion-vehicle-alpr-notify: false

# alert
motion-detected-entity-alert: false
motion-detected-person-alert: false
motion-detected-animal-alert: false
motion-detected-vehicle-alert: false
motion-face-detected-alert: false
motion-alpr-detected-alert: false
motion-pose-detected-alert: false
motion-person-face-alert: false
motion-vehicle-alpr-alert: false

# speak
motion-detected-entity-speak: ${MOTION_DETECTED_ENTITY_SPEAK}
motion-detected-person-speak: ${MOTION_DETECTED_PERSON_SPEAK}
motion-detected-animal-speak: ${MOTION_DETECTED_ANIMAL_SPEAK}
motion-detected-vehicle-speak: ${MOTION_DETECTED_VEHICLE_SPEAK}
motion-face-detected-speak: false
motion-alpr-detected-speak: false
motion-pose-detected-speak: false
motion-person-face-speak: false
motion-vehicle-alpr-speak: false

#
motion-detected-entity-tune: ${MOTION_DETECTED_ENTITY_TUNE}
motion-detected-person-tune: ${MOTION_DETECTED_PERSON_TUNE}
motion-detected-vehicle-tune: ${MOTION_DETECTED_VEHICLE_TUNE}
motion-detected-animal-tune: ${MOTION_DETECTED_ANIMAL_TUNE}
motion-face-detected-tune: ${MOTION_FACE_DETECTED_TUNE}
motion-alpr-detected-tune: ${MOTION_ALPR_DETECTED_TUNE}
motion-pose-detected-tune: ${MOTION_POSE_DETECTED_TUNE}

#
motion-detect-entity-confirmed: false
motion-detect-person-confirmed: false
motion-detect-vehicle-confirmed: false
motion-detect-animal-confirmed: false

#
motion-detected-entity-deviation: ${MOTION_DETECTED_ENTITY_DEVIATION}
motion-detected-person-deviation: ${MOTION_DETECTED_PERSON_DEVIATION}
motion-detected-animal-deviation: ${MOTION_DETECTED_ANIMAL_DEVIATION}
motion-detected-vehicle-deviation: ${MOTION_DETECTED_VEHICLE_DEVIATION}
motion-face-detected-deviation: ${MOTION_FACE_DETECTED_DEVIATION}
motion-alpr-detected-deviation: ${MOTION_ALPR_DETECTED_DEVIATION}
motion-pose-detected-deviation: ${MOTION_POSE_DETECTED_DEVIATION}

# motion log
motion-log-level: ${MOTION_LOG_LEVEL}

# logger
logger-core: info
logger-loader: error
logger-camera: fatal
logger-default: ${LOGGER_DEFAULT}
logger-mqtt-sensor: ${LOGGER_MQTT}
logger-automation: ${LOGGER_AUTOMATION}
logger-binary_sensor: ${LOGGER_DEFAULT}
logger-components: ${LOGGER_DEFAULT}
logger-counter: ${LOGGER_DEFAULT}
logger-device_tracker: ${LOGGER_DEFAULT}
logger-input_boolean: ${LOGGER_DEFAULT}
logger-input_number: ${LOGGER_DEFAULT}
logger-input_select: ${LOGGER_DEFAULT}
logger-input_text: ${LOGGER_DEFAULT}
logger-recorder: ${LOGGER_DEFAULT}
logger-recorder-util: ${LOGGER_DEFAULT}
logger-sensor: ${LOGGER_DEFAULT}
logger-setup: ${LOGGER_DEFAULT}
logger-template-binary_sensor: ${LOGGER_DEFAULT}
logger-template-sensor: ${LOGGER_DEFAULT}

# twilio
twilio-notify-name: ${MOTION_TWILIO_NAME}
twilio-notify-from-number: ${MOTION_TWILIO_NUMBER}
twilio-account-sid: ${MOTION_TWILIO_SID}
twilio-auth-token: ${MOTION_TWILIO_TOKEN}

# use any camera registered or not
motion-status-camera-any: ${MOTION_CAMERA_ANY}

#
weather-ambient-mac: ${WEATHER_AMBIENT_MAC}
weather-ambient-apikey: ${WEATHER_AMBIENT_APIKEY}
weather-ambient-appkey: ${WEATHER_AMBIENT_APPKEY}

#
logger-python-script-set_state: ${LOGGER_SET_STATE}
