consul-url: ${CONSUL_URL}
couchdb-url: ${COUCHDB_URL}
digits-url: ${DIGITS_URL}
edgex-url: ${EDGEX_URL}
grafana-url: ${GRAFANA_URL}
netdata-url: ${NETDATA_URL}
exchange-apikey: ${EXCHANGE_APIKEY} 
exchange-api-status: ${EXCHANGE_URL}/v1/admin/status
exchange-api-version: ${EXCHANGE_URL}/v1/admin/version
exchange-username: ${EXCHANGE_ORG}/${EXCHANGE_ORG_ADMIN}
ha-local-or-remote: local
ha-latitude: ${HOST_LATITUDE}
ha-longitude: ${HOST_LONGITUDE}
ha-ip: ${HOST_IPADDR}
ha-name: ${HOST_NAME}
ha-port: ${HOST_PORT}
ha-theme: ${HOST_THEME}
ha-timezone: America/Los_Angeles
ha-url: http://${HOST_NAME}:${HOST_PORT}
hznmonitor-exchange: ${HZNMONITOR_URL}/cgi-bin/exchange
hznmonitor-nodes: ${HZNMONITOR_URL}/cgi-bin/nodes
hznmonitor-patterns: ${HZNMONITOR_URL}/cgi-bin/patterns
hznmonitor-services: ${HZNMONITOR_URL}/cgi-bin/services
hznmonitor-url: ${HZNMONITOR_URL}/
influxdb-host: ${INFLUXDB_HOST}
influxdb-database: ${INFLUXDB_DATABASE}
influxdb-username: ${INFLUXDB_USERNAME}
influxdb-password: ${INFLUXDB_PASSWORD}
mqtt-broker: ${MQTT_HOST}
mqtt-password: ${MQTT_PASSWORD}
mqtt-port: ${MQTT_PORT}
mqtt-username: ${MQTT_USERNAME}
netcam-password: ${NETCAM_PASSWORD}
netcam-username: ${NETCAM_USERNAME}
netcam-userpass: ${NETCAM_USERNAME}:${NETCAM_PASSWORD}
motioncam-password: ${MOTIONCAM_PASSWORD}
motioncam-username: ${MOTIONCAM_USERNAME}
motioncam-userpass: ${MOTIONCAM_USERNAME}:${MOTIONCAM_PASSWORD}

# KASA/tplink discovery: true/false
tplink-discovery: ${TPLINK_DISCOVERY}

# nmap-tracker
nmap-tracker-hosts: ${HOST_NETWORK}/${HOST_NETWORK_MASK}
nmap-tracker-exclude: ${HOST_IPADDR}

# startup
internet-automations: ${AUTOMATION_INTERNET}
intranet-automations: ${AUTOMATION_INTRANET}
startup-automations: ${AUTOMATION_startup}
sdr2msghub-automations: ${AUTOMATION_sdr2msghub}
yolo2msghub-automations: ${AUTOMATION_yolo2msghub}
highlow-automations: ${AUTOMATION_highlow}

## network
internet-notifications: on
intranet-notifications: on
internet-scan-interval: ${INTERNET_SCAN_INTERVAL}
intranet-scan-interval: ${INTRANET_SCAN_INTERVAL}
intranet-iperf-host: ${MQTT_HOST}

###
# motion
###

motion-group: ${MOTION_GROUP}
motion-device: ${MOTION_DEVICE}
motion-client: ${MOTION_CLIENT}
motion-version: 0.10.4
motion-detect-entity: ${MOTION_DETECT_ENTITY}
motion-camera-autoselect: true
limit-refetch-to-url-change: false

motion-snapshot-save: true
motion-snapshot: true

motion-media-save: ${MOTION_MEDIA_SAVE}
motion-media-mask: ${MOTION_MEDIA_MASK}

motion-overview-apikey: ${MOTION_OVERVIEW_APIKEY}
motion-overview-zoom: ${MOTION_OVERVIEW_ZOOM}
motion-overview-mode: ${MOTION_OVERVIEW_MODE}

# expiration
motion-expire-after: ${MOTION_EXPIRE_AFTER}
motion-annotated-expire-after: ${MOTION_EXPIRE_AFTER}
motion-end-expire-after: ${MOTION_EXPIRE_AFTER}
motion-face-expire-after: ${MOTION_EXPIRE_AFTER}
motion-alpr-expire-after: ${MOTION_EXPIRE_AFTER}
#
motion-force-update: ${MOTION_FORCE_UPDATE}
motion-end-force-update: false
motion-annotated-force-update: false
motion-face-force-update: false
motion-alpr-force-update: false

#
motion-annotated-ago: 30
motion-detected-entity-ago: 30
motion-detected-ago: 30
motion-face-ago: 30
motion-face-detected-ago: 30
motion-end-ago: 30
motion-alpr-ago: 30
motion-alpr-detected-ago: 30

#
motion-complete: 60

#
motion-face-detected-percent: 95
motion-alpr-detected-percent: 75
motion-person-detected-percent: 50
motion-vehicle-detected-percent: 50
motion-animal-detected-percent: 50

#
motion-detected-entity-notify: true
motion-detected-person-notify: true
motion-detected-animal-notify: true
motion-detected-vehicle-notify: true
motion-detected-notify: false

# logger
logger-default: ${LOGGER_DEFAULT}
logger-statistics-sensor: fatal
logger-mqtt-sensor: error
logger-automation: ${LOGGER_AUTOMATION}
logger-binary_sensor: ${LOGGER_DEFAULT}
logger-camera: ${LOGGER_DEFAULT}
logger-components: ${LOGGER_DEFAULT}
logger-core: ${LOGGER_DEFAULT}
logger-counter: ${LOGGER_DEFAULT}
logger-device_tracker: ${LOGGER_DEFAULT}
logger-input_boolean: ${LOGGER_DEFAULT}
logger-input_number: ${LOGGER_DEFAULT}
logger-input_select: ${LOGGER_DEFAULT}
logger-input_text: ${LOGGER_DEFAULT}
logger-loader: ${LOGGER_DEFAULT}
logger-recorder: ${LOGGER_DEFAULT}
logger-recorder-util: ${LOGGER_DEFAULT}
logger-sensor: ${LOGGER_DEFAULT}
logger-setup: ${LOGGER_DEFAULT}
logger-template-binary_sensor: ${LOGGER_DEFAULT}
logger-template-sensor: ${LOGGER_DEFAULT}

