      {
        "id": "visitor",
        "name": "Visitor",
        "policy": {
          "entities": {
            "domains": {
              "automation": true,
              "binary_sensor": true,
              "camera": true,
              "counter": true,
              "group": true,
              "input_boolean": true,
              "input_number": true,
              "input_select": true,
              "media_player": true,
              "media_source": false,
              "persistent_notification": false,
              "sun": true,
              "sensor": true,
              "updater": true,
              "weather": true
            },
            "device_ids": true,
            "area_ids": true,
            "entity_ids": true
          }
        }
      }
