alpr_detected-*.yaml
detected_animal-*.yaml
detected_entity-*.yaml
detected_person-*.yaml
detected_vehicle-*.yaml
device_start.yaml
event_alpr.yaml
event_annotated.yaml
event_end.yaml
event_face.yaml
event_image.yaml
event_start.yaml
face_detected-*.yaml
found.yaml
intranet_test.yaml
lost.yaml
person_face-*.yaml
pose_detected-*.yaml
router.yaml
vehicle_alpr-*.yaml
